#errorMessageDiv {
  color: #ff1818;
  font-weight: bold;
  font-size: 16px;
  position: absolute;
  padding: 8px;
  top: 10vh;
  left: 0;
  width: calc(100vw - 16px);
  text-align: center;
  visibility: collapse;
  user-select: text;
}
.landingPage_LicenseDiv {
  display: inline-block;
  color: #636363;
  background-color: #e1e1e1;
  border: 2px #e1e1e1 solid;
  border-radius: 999px;
  padding: 3px;
  padding-left: 7px;
  padding-right: 7px;
}
.biAutomationLink {
  display: block;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
.landingPageHeader {
  display: flex;
  align-items: center;
  margin: 10px;
}
.landingPageHeader h1 {
  margin: 0;
  margin-left: 5px;
}
.landingPageTitle {
  margin: 0;
  margin-left: 5px;
  margin-bottom: 10px;
  font-size: 26px;
}
.landingPageDiv {
  overflow-y: auto;
  max-height: 100%;
  margin: 5px;
}
.gotToOurWebsiteParagraph {
  margin-top: 7px;
}
.gotToOurWebsiteParagraph span,
.gotToOurWebsiteParagraph a {
  display: inline;
}
.carouselContainer {
  display: flex;
  align-items: center;
  vertical-align: middle;
}
.carousel {
  flex-grow: 1;
  margin: 5px;
  overflow: hidden;
}
.carousel-content {
  display: flex;
  transition: transform 0.5s ease;
}
.carousel-item {
  min-width: 100%;
}
.carouselContainer button {
  height: 80px;
  width: 24px;
  border-radius: 999px;
  border: none;
  background-color: rgba(211, 211, 211, 0.3);
  font-size: 40px;
  padding: 0;
  text-align: center;
  text-overflow: visible;
  margin: 5px;
  padding: 1px;
  padding-top: 0;
  padding-bottom: 4px;
}
.carouselContainer button:hover {
  background-color: rgba(211, 211, 211, 0.5);
}
.carousel-content h1 {
  font-size: 26px;
}
.carousel-content h2 {
  font-size: 16px;
}

/* Containt Variables */
:root {
  --selectedFontSize: 13px;
  --selectedPadding: 4px;
  --tooltipFontSize: 13px;
  --tooltipMaxWidth: 300px;
  --selectedFontFamiliy: Arial, sans-serif;
  --heightOfHeaderRow: 0px;
  --selectedDataColor: #f0f0f0;
  --selectedDataColor_Hover: #dbdbdb;
  --selectedDataColor_Alternate: #e0e0e0;
  --selectedDataColor_Alternate_Hover: #cccccc;
}
table {
  display: inline-block;
  font-family: var(--selectedFontFamiliy);
  border-collapse: collapse;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100vw;
  height: 100vh;
}
tr {
  display: table;
  table-layout: fixed;
}
thead {
  display: inline-block;
  overflow-y: scroll;
  overflow-x: hidden;
}
tbody {
  display: inline-block;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: calc(100vh - var(--heightOfHeaderRow));
}
tr * {
  font-size: var(--selectedFontSize);
}
td,
th {
  padding-top: var(--selectedPadding);
  padding-bottom: var(--selectedPadding);
  padding-left: 3px;
  padding-right: 3px;
  vertical-align: middle;
  user-select: text;
}
td div {
  text-align: start;
}
th {
  text-align: start;
}
tbody tr:nth-child(odd):hover {
  background-color: #dddddd;
}
tbody tr:nth-child(odd).selectedRow {
  background-color: var(--selectedDataColor_Alternate);
}
tbody tr:nth-child(odd).selectedRow:hover {
  background-color: var(--selectedDataColor_Alternate_Hover);
}
tbody tr:nth-child(odd) {
  background-color: #eaeaea;
}
tr:hover {
  background-color: #dfdfdf;
}
tr.selectedRow {
  background-color: var(--selectedDataColor);
}
tr.selectedRow:hover {
  background-color: var(--selectedDataColor_Hover);
}
.alignRight {
  text-align: right;
}
.duplicateDataSourceRow {
  color: red;
}
.tableRowButton {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 13px;
  height: 13px;
  font-size: 13px;
  padding: 0;
  background-color: white;
  box-shadow: 0px 0px 2px lightgrey;
  border: 1px solid lightgrey;
}
.tooltip {
  position: absolute;
  background-color: white;
  box-shadow: 0px 0px 10px lightgray;
  padding: 10px;
  pointer-events: none;
  font-size: var(--tooltipFontSize);
  max-width: var(--tooltipMaxWidth);
}
.sizeMeasureCanvas {
  font-family: var(--selectedFontFamiliy);
  font-size: var(--selectedFontSize);
  display: none;
}
.loaderContainer {
  position: absolute;
  display: flex;
  pointer-events: none;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.loader {
  border: 9px solid #f3f3f3;
  /* Light grey */
  border-top: 9px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1.8s linear infinite, fadeInOppacity 0.75s linear;
  pointer-events: none;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeInOppacity {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

