.ryco-container {
  overflow: auto;
  max-height: 800px;
  height: 100%;
  width: 100%;
}
.ryco-table {
  --table-bg-color: #fff;
  --header-color: #000;
  --header-bg-color: transparent;
  --header-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --header-font-size: 12px;
  --header-align: right;
  --header-border-color: #000;
  --row-color: #000;
  --row-bg-color: transparent;
  --row-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --row-font-size: 12px;
  --row-padding-x: 8px;
  --row-padding-y: 2px;
  --row-align: left;
  --value-color: #000;
  --value-bg-color: transparent;
  --value-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --value-font-size: 12px;
  --value-align: right;
  --margin-color: #444;
  --margin-bg-color: transparent;
  --total-color: #000;
  --total-bg-color: transparent;
  --total-border-t: 1px solid #000;
  --total-border-b: none;
  --subtotal-color: #000;
  --subtotal-bg-color: transparent;
  --subtotal-border-t: 1px solid #000;
  --subtotal-border-b: none;
  border-collapse: collapse;
  width: 100%;
  background-color: var(--table-bg-color);
}
.ryco-table th {
  min-height: 20px;
  position: relative;
}
.ryco-table .ryco-head {
  color: var(--header-color);
  background-color: var(--header-bg-color);
  font-family: var(--header-font-family);
  font-size: var(--header-font-size);
  font-weight: bold;
  border-bottom: 2px solid var(--header-border-color);
  text-align: var(--header-align);
}
.ryco-table .ryco-body {
  padding: 0;
}
.ryco-table .ryco-row {
  padding: 0;
}
.ryco-table .ryco-rowheader {
  font-family: var(--row-font-family);
  font-size: var(--row-font-size);
  text-align: var(--row-align);
  padding: 0;
  position: relative;
}
.ryco-table .color-rowheader {
  color: var(--row-color);
  background-color: var(--row-bg-color);
}
.ryco-table .ryco-cell {
  font-family: var(--value-font-family);
  font-size: var(--value-font-size);
  text-align: var(--value-align);
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
}
.ryco-table .color-cell:nth-child(odd) {
  color: var(--value-color-even);
  background-color: var(--value-bg-even);
}
.ryco-table .color-cell:nth-child(even) {
  color: var(--value-color-odd);
  background-color: var(--value-bg-odd);
}
.ryco-table .cell-selected ::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.1;
}
.ryco-table .cell-unselected ::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.3;
}
.ryco-table .result {
  font-weight: bold;
}
.ryco-table .sectionstart {
  padding-top: 1rem !important;
}
.ryco-table .inner-header {
  padding: 2px 8px;
}
.ryco-table .inner-value {
  padding: var(--row-padding-y) var(--row-padding-x);
}
.ryco-table .margin {
  font-style: italic;
}
.ryco-table .color-margin {
  color: var(--margin-color);
}
.ryco-table .bg-margin {
  background-color: var(--margin-bg-color);
}
.ryco-table .subtotal {
  border-top: var(--subtotal-border-t);
  border-bottom: var(--subtotal-border-b);
}
.ryco-table .color-subtotal {
  color: var(--subtotal-color);
}
.ryco-table .bg-subtotal {
  background-color: var(--subtotal-bg-color);
}
.ryco-table .total {
  border-top: var(--total-border-t);
  border-bottom: var(--total-border-b);
}
.ryco-table .color-total {
  color: var(--total-color);
}
.ryco-table .bg-total {
  background-color: var(--total-bg-color);
}
.warning {
  display: inline-block;
  color: #ff0000;
  margin-right: 4px;
}

