.popper,
.tooltip {
  position: absolute;
  z-index: 9999;
  background: #ffffff;
  color: #030303;
  width: 20%;
  box-shadow: 0 0 2px #030303;
  padding: 10px;
  text-align: left;
  white-space: pre-wrap;
  border-color: #030303;
  font-size: 0.85em;
}
.style5 .tooltip {
  background: #1e252b;
  color: #ffffff;
  max-width: 200px;
  width: auto;
  font-size: 0.8rem;
  padding: 0.5em 1em;
}
.popper .popper__arrow,
.tooltip .tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
}
.tooltip .tooltip-arrow,
.popper .popper__arrow {
  border-color: #030303;
}
.style5 .tooltip .tooltip-arrow {
  border-color: #1e252b;
}
.popper[x-placement^="top"],
.tooltip[x-placement^="top"] {
  margin-bottom: 5px;
}
.popper[x-placement^="top"] .popper__arrow,
.tooltip[x-placement^="top"] .tooltip-arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}
.popper[x-placement^="bottom"],
.tooltip[x-placement^="bottom"] {
  margin-top: 5px;
}
.tooltip[x-placement^="bottom"] .tooltip-arrow,
.popper[x-placement^="bottom"] .popper__arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}
.tooltip[x-placement^="right"],
.popper[x-placement^="right"] {
  margin-left: 5px;
}
.popper[x-placement^="right"] .popper__arrow,
.tooltip[x-placement^="right"] .tooltip-arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}
.popper[x-placement^="left"],
.tooltip[x-placement^="left"] {
  margin-right: 5px;
}
.popper[x-placement^="left"] .popper__arrow,
.tooltip[x-placement^="left"] .tooltip-arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}
.fc-daygrid-event {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.clearMessage {
  font-size: 16px;
  text-align: center;
  font-family: "cortado", sans-serif;
}
.fc-event-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.legend {
  fill: #ffffff;
}
.navArrow {
  fill: #030303;
}
.fc-button-active {
  background-color: #cccccc;
  background-image: none;
  box-shadow: inset 0 2px 4px #00000015, 0 1px 2px #00000015;
}
.fc .fc-scroller-liquid-absolute {
  left: auto;
  right: auto;
}
.Calendar {
  cursor: default;
}
.event-details {
  max-width: 20%;
  padding: 0px 10px;
  word-wrap: break-word;
}
.event-header {
  margin: 0px -10px;
}
.fc-button,
.fc-button-group,
.fc-toolbar-chunk,
.fc-event-title {
  direction: ltr;
}
.visuals-container {
  margin-top: 35px;
}
.link {
  color: #03039e;
  text-decoration: underline;
  cursor: pointer;
}
#maq {
  font-weight: 600;
}
.visuals-container > .flex-grid {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  margin: 0px auto;
  flex-wrap: wrap;
  text-align: center;
}
.icon-container {
  border: 1px solid #969696;
  cursor: pointer;
}
.clicked {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.45) !important;
  border: 2.5px solid #565656 !important;
}

