.instruction-title {
  font-weight: bold;
  font-size: medium;
  margin: 15px;
  padding: 5px;
}
.instruction-step {
  margin: 15px;
  padding: 5px;
}
.instruction-step2 {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 0px;
  padding: 5px;
}
.note-step {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  padding: 5px;
}
.input-token {
  height: 20px;
  margin: 15px;
  padding: 10px;
  width: 50%;
}
.button-submit {
  background-color: Black;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  margin: 5px;
  padding: 10px;
  text-align: center;
}
.show-env-bg-button .adsk-button-icon {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMi41MzUgOS4xOTQ5M0w1LjE5IDYuNTU0OTNMMTEuOTg1IDEzLjM0OTlMMTguNzk1IDYuNTU0OTNMMjEuNDM1IDkuMTk0OTNMMTEuOTg1IDE4LjY1OTlMMi41MzUgOS4xOTQ5M1Y5LjE5NDkzWiIgZmlsbD0iI0Y0RjRGNCIvPg0KPC9zdmc+DQo=);
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}
.restore-toolbar-btn {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  z-index: 1000;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTMiIGhlaWdodD0iMTMiIHZpZXdCb3g9IjAgMCAxMyAxMyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMTEuNTg0MiA4LjE4NjI2TDEwLjIyOTYgOS41MzMyTDYuNzYyOCA2LjA2NjM3TDMuMjg4MzEgOS41MzMyTDEuOTQxMzcgOC4xODYyNkw2Ljc2MjggMy4zNTcxOEwxMS41ODQyIDguMTg2MjZaIiBmaWxsPSIjRjRGNEY0Ii8+DQo8L3N2Zz4NCg==);
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000000d9;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.button-submit:disabled,
.button-submit[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}
#forge-viewer {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #F0F8FF;
}
#loader {
  background-color: #F0F8FF;
  width: 100%;
  height: 100%;
  margin: 0;
}
.spinner {
  background-color: #F0F8FF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid #eee;
  border-top-color: #666;
  animation: spinner 0.8s linear infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1turn);
  }
}
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(1turn);
  }
}

