p {
  font-size: 20px;
  font-weight: bold;
}
p em {
  background: yellow;
  padding: 5px;
}

body {
  margin: 0;
  padding: 0;
}
.hanginMargin {
  padding-top: 100px;
}
.TextWithEllipsis {
  display: none !important;
}
.preTextWithEllipsis {
  display: none !important;
}
.line-tooltip {
  width: 8px;
  /* Set the width as desired */
}
/* Tooltip styles */
.tooltip {
  position: absolute;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 12px;
  border-radius: 4px;
  pointer-events: none;
  /* Ensure tooltip doesn't interfere with mouse events */
}
/* SVG container styles */
svg {
  font-family: Arial, sans-serif;
}
.axis text {
  font-size: 10px;
}
.axis path,
.axis line {
  fill: none;
  stroke: #ccc;
  shape-rendering: crispEdges;
}
.line-tooltip {
  fill: none;
  stroke: none;
}
.line-tooltip:hover {
  fill: steelblue;
}
.select-wrap {
  display: flex;
  justify-content: flex-start;
  gap: 12px;
  width: 100%;
}
.select-wrapper,
.select-wrapperr {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.custom-dropdown {
  /* width:150px; */
  padding: 2px;
}
.select-wrapper label,
.select-wrapperr label {
  margin-bottom: 0.5rem;
}
.legend_wrap {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  padding-left: 20px;
}
.legenditem .circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: blue;
  outline: none;
  border: none;
}
.legenditem {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 94px;
}
.legenditem span {
  display: inline-block;
}
.margin {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.select-wrapper {
  padding: 5px;
  height: 20px;
}

