p {
  font-size: 20px;
  font-weight: bold;
}
p em {
  background: yellow;
  padding: 5px;
}
.legend-top-center-svg {
  margin-left: 10px !important;
}
.legend-bottom-center-svg {
  margin-top: 0px !important;
}

