p {
  font-size: 20px;
  font-weight: bold;
}
p em {
  background: yellow;
  padding: 5px;
}
.ufb-setupline {
  font-style: italic;
  color: red;
  font-size: 16px;
}
.ufb-divctr {
  transform: translateZ(0);
  background: #fff;
  padding: 4px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.ufb-bottompad {
  display: none;
  background-color: transparent;
}
.ufb-space {
  width: 15px;
  height: 15px;
}
.ufb-btns {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
  width: auto;
}
.ufb-genctr {
  display: flex;
  flex: 1;
  vertical-align: middle;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4px;
  margin-bottom: 4px;
}
.ufb-btnimg {
  height: 20px;
  width: 20px;
  position: relative;
  vertical-align: middle;
  text-align: center;
}
.ufb-textentry {
  align-self: center;
  display: inline-block;
  padding: 4px;
}
.ufb-spinner {
  align-self: center;
  padding: 4px;
}
.ufb-btnstd {
  align-self: center;
  display: inline-block;
  padding: 4px;
}
.ufb-counter {
  color: #202020;
  align-self: center;
}
.ufb-ctrhost {
  display: block;
  width: 100%;
  height: auto;
}
.ufb-t1host {
  display: block;
  width: 100%;
  overflow: auto;
}
.ufb-t1 {
  display: table;
  width: 100%;
  height: auto;
}
.ufb-msgroot {
  display: block;
  width: 100%;
  height: auto;
  cursor: default;
  margin-top: 8px;
}
.ufb-msgtext {
  font-size: 18px;
  color: crimson;
  font-weight: bold;
  text-align: center;
  height: auto;
  margin-left: 6px;
  margin-right: 6px;
}
.ufb-loadtext {
  font-size: small;
  font-weight: bold;
  color: darkslateblue;
  display: none;
  margin-right: 8px;
}
.ufb-counttext {
  float: right;
  font-size: small;
  margin-left: 8px;
}
.ufb-entryroot {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.ufb-copymsg {
  font-size: 0.6em;
  font-style: italic;
  color: #404040;
}
.ufb-listhost {
  display: flex;
  height: 100%;
  padding: 4px;
}
.ufb-listctrl {
  flex: 1 0;
  padding: 4px;
  z-index: 1999;
  resize: none;
}

