#div-container {
  position: relative;
  height: 100%;
  width: 100%;
}
.hide {
  display: none !important;
}
#chart-placeholder {
  display: flex;
  flex-flow: column;
  height: 100%;
}
#placeholder-messages {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
  margin: 0 auto;
  padding: 10px;
  background-color: lightsteelblue;
}
#placeholder-messages p {
  font-size: 0.7em;
  line-height: 0.8;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}
#placeholder-image-flex {
  flex: 1;
  background-color: #F8F8F8;
  overflow: hidden;
}
#placeholder-image {
  height: 100%;
  width: 100%;
  opacity: 35%;
  object-fit: contain;
}

