svg * {
  shape-rendering: geometricPrecision;
}
.gaugeContainer::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.gaugeContainer::-webkit-scrollbar-track {
  background-color: #eeeeee;
  border-radius: 10%;
}
.gaugeContainer::-webkit-scrollbar-thumb {
  background-color: #b3b0ad;
  border-radius: 10%;
}
.gauges::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.gauges::-webkit-scrollbar-track {
  background-color: #eeeeee;
  border-radius: 10%;
}
.gauges::-webkit-scrollbar-thumb {
  background-color: #b3b0ad;
  border-radius: 10%;
}
.gauge-axis > svg {
  cursor: auto;
}
.category-container:hover {
  background-color: #80a2ff !important;
  color: #ffffff !important;
  cursor: pointer;
}
.gauge-container {
  cursor: pointer;
}
.comparison-bar {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.errorMessage {
  padding: 10px 15px;
}
.initial-opacity {
  opacity: 1;
}
.high-opacity {
  opacity: 1;
}
.low-opacity {
  opacity: 0.4;
}
.visuals-container {
  margin-top: 35px;
}
.link {
  color: #03039e;
  text-decoration: underline;
  cursor: pointer;
}
#maq {
  font-weight: 600;
}
.visuals-container > .flex-grid {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  margin: 0px auto;
  flex-wrap: wrap;
  text-align: center;
}
.icon-container {
  border: 1px solid #969696;
  cursor: pointer;
}
.icon-container:hover {
  background-color: #fccaca;
}
.landing-page::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.landing-page::-webkit-scrollbar-track {
  background-color: #eeeeee;
  border-radius: 10%;
}
.landing-page::-webkit-scrollbar-thumb {
  background-color: #b3b0ad;
  border-radius: 10%;
}
.category-axis-label {
  position: relative;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}
.axis-label-container {
  position: absolute;
  top: 0px;
  z-index: 100;
}

