/* dropdown.css */
select {
  padding: 4px 8px ;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
label {
  margin-left: 8px;
  margin-right: 4px;
  font-weight: normal;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  /* Allow items to wrap onto the next line if necessary */
}
.legendContainer {
  margin-left: 20px;
  /* Adjust the margin between the dropdowns and the legend if needed */
}
.dropdonws {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

