p {
  font-size: 20px;
  font-weight: bold;
}
p em {
  background: yellow;
  padding: 5px;
}
/*
.yAxis path {
    display: none;
}
*/
.xAxis path {
  stroke-width: 1;
  fill: none;
}
/*
.xaxisdiv {
    background-color: grey;
}
*/
/*
.chartdiv {
    overflow-y: scroll;
    //height: 200px;
    //width:1000px;
}
*/
.helpLink {
  position: absolute;
  top: 0px;
  right: 12px;
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid #80B0E0;
  border-radius: 20px;
  color: #80B0E0;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
}
.helpLink.hidden {
  display: none;
}
.LandingPage {
  position: absolute;
  text-align: center;
  top: 12px;
  font-size: 12pt;
  right: 15px;
}
.LandingPageHelpLink {
  position: absolute;
  text-decoration: underline;
  top: 50px;
  font-size: 12pt;
  right: 15px;
}
.rect {
  margin: auto;
}
.sphere {
  margin: auto;
}
.graticule {
  fill: none;
}
.country {
  stroke-width: 0.5px;
}

