* {
  font-family: Montserrat, Arial, sans-serif !important;
}
body div.versionDiv {
  position: absolute;
  width: 100%;
  background-color: #159587;
  opacity: 0.75;
  color: white;
  padding: 18px 24px;
  font-size: 22px;
  display: flex;
  align-items: center;
  bottom: 0;
}
body div.versionDiv > div.textVersionDiv {
  flex: 1;
}
body div.versionDiv > a.closeVersionDiv {
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
  color: white;
  float: right;
  font-family: Comic Sans MS, Comic Sans, cursive;
}
body.visual-sandbox {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  cursor: default;
}
body.visual-sandbox #sandbox-host {
  display: flex;
  flex-direction: column;
  overflow: auto;
  gap: 4px;
  flex: 1;
}
.errorDiv {
  color: red;
}
.errorDiv > .errorDivTitle {
  font-size: large;
  font-weight: bold;
}
.errorDiv > .errorDivText > code {
  background-color: black;
  padding: 12px;
  margin: 8px;
  display: block;
  border-radius: 8px;
  color: white;
}
.welcomeDiv {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 6px;
  max-width: 100%;
  background-color: #f5f5f5;
  color: #092a67;
  padding: 0px 24px;
}
.welcomeDivText {
  display: block;
}
.welcomeDivText.title {
  font-size: larger;
  font-weight: bold;
}
.link {
  cursor: pointer;
  color: #159587;
}
.link:hover {
  text-decoration: underline;
}
.welcomeDivText.bottom {
  margin-top: auto;
  padding-bottom: 24px;
}
.welcomeDiv,
.infoDiv {
  font-size: 16px;
  font-weight: 500;
  color: #092a67;
}
.cardDivBox {
  display: flex;
  margin: auto;
  pointer-events: all;
  cursor: auto;
}
.cardsDivWrapper {
  display: flex;
  width: 100%;
  gap: 64px;
  padding: 0px 32px;
  justify-content: center;
}
.cardDivBoxContent {
  background-color: white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08), 0 4px 6px 0 rgba(50, 50, 93, 0.11);
  border-radius: 6px;
  padding: 10px;
  color: #525f7f;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.cardDivBoxContent > .title {
  font-size: larger;
  font-weight: bold;
}
.cardDivBoxContent.noWidth {
  width: 100%;
}
@media (max-width: 600px) {
  .cardDivBox {
    flex-direction: column;
    gap: 6px;
    flex-basis: auto;
  }
}
.demoBannerDiv {
  background-color: rgba(186, 186, 186, 0.73);
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  z-index: 999999;
}
.countdownDisplay {
  padding: 8px 12px;
  background-color: #159587;
  border-radius: 50em;
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 12px;
  right: 12px;
  font-size: larger;
  color: white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08), 0 4px 6px 0 rgba(50, 50, 93, 0.11);
}
.countdownDisplay:before {
  content: "🕑 ";
  margin-top: -4px;
}
.emailInput {
  padding: 8px;
  border-radius: 0px;
  border: none;
  border-bottom: 2px solid grey;
  font-family: 'Montserrat', sans-serif !important;
  background-color: #EEEEEE00;
  font-size: larger;
}
.emailInput:focus {
  border-bottom: 2px solid #159587;
  outline: none;
  background-color: #EEEEEE;
}
.submitButton {
  height: 36px;
  min-width: 64px;
  align-items: center;
  background-color: #159587;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 3px 6px 0px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  direction: ltr;
  display: flex;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  float: right;
  font-family: Montserrat, Arial, sans-serif;
  justify-content: center;
  padding: 11px 7px;
}
.submitButton:hover {
  background-color: #159587CC;
}
.submitButton > span {
  align-items: center;
  color: inherit;
  display: flex;
  flex: 1 0 auto;
  justify-content: inherit;
  line-height: normal;
  position: relative;
  transition: inherit;
  font-size: larger;
}
.submitButton.disabled {
  background-color: grey;
  cursor: default;
  pointer-events: none;
}
.greenBtn {
  align-items: center;
  appearance: button;
  background-color: #159587;
  border-radius: 4px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.08);
  text-transform: capitalize;
  color: #fff !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 12px!important;
  cursor: pointer;
  border: none;
  text-decoration: none;
}
.greenBtn:hover {
  opacity: 0.9;
}
.topRight {
  font-size: 16px;
  position: fixed;
  top: 4px;
  right: 4px;
  padding: 6px 8px;
  z-index: 99999;
}
.noChanges {
  background-color: #777;
}
svg#waterfallSvg {
  max-height: 400px;
}
.errorDiv {
  color: red;
}
.welcomeDiv,
.infoDiv {
  font-size: 20px;
  font-weight: 500;
  color: #092a67;
}
.padding {
  padding: 0 20px;
}
.slide .slide-title {
  font-size: 24px;
  letter-spacing: 0.25px;
}
.slide .slide-tab-title {
  font-size: 20px;
  letter-spacing: 0.25px;
  padding-left: 12px;
}
.slide .slide-tab-comment {
  font-size: 14px;
  padding-left: 12px;
}
.separator {
  width: calc(100% - 64px);
  height: 1px;
  background-color: lightgrey;
  margin: 32px;
}
.dotsMenuDiv {
  position: absolute;
  right: 16px;
  top: 0;
  z-index: 99999;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
}
.dotsMenuDiv > .dotsMenuButtonDiv {
  font-size: X-LARGE;
  cursor: pointer;
}
.dotsMenuDiv > .dotsMenuButtonWrapperDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background: white;
  border: 1px solid lightgrey;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08), 0 4px 6px 0 rgba(50, 50, 93, 0.11) !important;
  border-radius: 12px;
  overflow: hidden;
}
.dotsMenuDiv > .dotsMenuButtonWrapperDiv > .dotsMenuRowDiv {
  width: -webkit-fill-available;
  padding: 8px 12px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  background-color: white;
}
.dotsMenuDiv > .dotsMenuButtonWrapperDiv > .dotsMenuRowDiv:hover {
  background-color: #f3f3f3;
}
.dotsMenuDiv > .dotsMenuButtonWrapperDiv > .dotsMenuRowDiv.disabled {
  color: #A1A1A1;
  pointer-events: none;
}
.dotsMenuDiv > .dotsMenuButtonWrapperDiv > .dotsMenuRowDiv > .dotsMenuRowDivText > .subtext {
  font-size: small;
  color: grey;
}
.dotsMenuDiv > .dotsMenuButtonWrapperDiv > .dotsMenuRowDiv > .dotsMenuRowDivText > sup.tag {
  font-size: small;
  color: grey;
}
.dotsMenuDiv > .dotsMenuButtonWrapperDiv > .dotsMenuRowDiv > .dotsMenuRowDivIcon {
  margin-left: 24px;
  border: 1px solid grey;
  border-radius: 50em;
  color: grey;
  pointer-events: all;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
}
.dotsMenuDiv > .dotsMenuButtonWrapperDiv > .dotsMenuRowDiv > .dotsMenuRowDivTooltip {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 8px 16px;
  border-radius: 12px;
  position: absolute;
  margin-top: 32px;
  right: 0;
  width: max-content;
  max-width: 90vw;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s linear, opacity 0.3s linear;
}
.dotsMenuDiv > .dotsMenuButtonWrapperDiv > .dotsMenuRowDiv > .dotsMenuRowDivIcon:hover + .dotsMenuRowDivTooltip {
  visibility: visible;
  opacity: 1;
}
.disabled {
  color: grey;
  cursor: default;
  pointer-events: none;
}
.toastDiv {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 8px 12px;
  margin: 4px 4px;
  background-color: white;
  border-radius: 6px;
  border-width: 1px 1px 1px 6px;
  border-style: solid;
  z-index: 999999999999999999999;
}
html,
body {
  font-family: 'Montserrat', sans-serif !important;
}
.dropdownSelect {
  font-size: 16px;
  display: block;
  margin-left: auto;
  margin-top: 4px;
  margin-right: 4px;
  padding: 6px 8px;
  z-index: 99999;
  font-family: 'Montserrat';
  border: 1px solid #159587;
  border-radius: 4px;
}
.retryBtn {
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 500;
  background-color: #159587;
  border-radius: 4px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  color: #fff;
  border: none;
  padding: 12px 14px;
  cursor: pointer;
  margin: 12px;
}
/* COMPARE WATERFALL COLOR */
text.lockButton {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-style: normal;
  pointer-events: all;
  cursor: pointer;
  opacity: 0;
  fill: #777;
  font-size: 13px;
  transition: 0.2s ease-out;
}
text.lockButton.show {
  opacity: 1;
  transition: 0.2s ease-in;
}
text.lockButton.locked {
  fill: #070707;
  stroke: url(#lockRadial);
  stroke-width: 8px;
}
.waterfall-oos {
  opacity: 0.5;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.d3-wf-bar.expandable,
rect.new.expandable,
.d3-wf-bar-coc.expandable {
  cursor: zoom-in;
}
.d3-wf-bar.hidden,
rect.new.hidden,
.d3-wf-bar-coc.hidden {
  opacity: 0;
}
.d3-wf-bar.d3-wf-container,
rect.new.d3-wf-container,
.d3-wf-bar-coc.d3-wf-container {
  fill: white;
  border-radius: 5px;
  cursor: zoom-out;
}
.d3-wf-bar.d3-wf-container.out.d3-wf-hide,
rect.new.d3-wf-container.out.d3-wf-hide,
.d3-wf-bar-coc.d3-wf-container.out.d3-wf-hide {
  stroke: #dd4b39;
  stroke-width: 1px;
}
.d3-wf-bar.d3-wf-container.in.d3-wf-hide,
rect.new.d3-wf-container.in.d3-wf-hide,
.d3-wf-bar-coc.d3-wf-container.in.d3-wf-hide {
  stroke: #499e95;
  stroke-width: 1px;
}
.d3-wf-bar.d3-wf-container:not(.d3-wf-hide).in,
rect.new.d3-wf-container:not(.d3-wf-hide).in,
.d3-wf-bar-coc.d3-wf-container:not(.d3-wf-hide).in {
  stroke-dasharray: 5, 5;
  stroke: rgba(0, 0, 0, 0.5);
  fill: white;
}
.d3-wf-bar.d3-wf-container:not(.d3-wf-hide).out,
rect.new.d3-wf-container:not(.d3-wf-hide).out,
.d3-wf-bar-coc.d3-wf-container:not(.d3-wf-hide).out {
  stroke-dasharray: 5, 5;
  stroke: rgba(0, 0, 0, 0.5);
  fill: white;
}
.d3-wf-bar.d3-wf-container.level-1.out,
rect.new.d3-wf-container.level-1.out,
.d3-wf-bar-coc.d3-wf-container.level-1.out {
  stroke: transparent;
}
.d3-wf-bar.d3-wf-container.level-1.in,
rect.new.d3-wf-container.level-1.in,
.d3-wf-bar-coc.d3-wf-container.level-1.in {
  stroke: transparent;
}
.d3-wf-bar.locked,
rect.new.locked,
.d3-wf-bar-coc.locked {
  cursor: not-allowed !important;
}
.d3-wf-bar[height="0"],
rect.new[height="0"],
.d3-wf-bar-coc[height="0"] {
  height: 1px !important;
}
.d3-wf-label {
  pointer-events: none;
}
.d3-wf-bar-coc {
  transform: translate(15px, 0);
  opacity: 0.25 !important;
}
.x.axis g.tick {
  display: none;
}
.waterfall.tips {
  position: absolute;
  display: block;
  padding: 10px 20px;
  padding-top: 25px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.05);
  font-weight: 300;
  pointer-events: none;
  background: white;
  border-radius: 5px;
}
.waterfall.tips > header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 20px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: right;
  padding: 0 5px;
}
.waterfall.tips > header > button {
  background: transparent;
  border: none;
  margin: 0;
  margin-left: 5px;
  font-size: 12px;
  line-height: 20px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  pointer-events: all;
}
.waterfall.tips > p {
  pointer-events: all;
}
.waterfall.tips.locked > header > button.lock {
  color: #149588;
}
.top-label.null {
  fill: #333;
}
.top-label-coc {
  font-style: italic;
  font-weight: 500 !important;
}
.bar-label,
.bar-label-oos {
  font-weight: 400;
}
.top-label-oos,
.bar-label-oos {
  opacity: 0.5;
}
.d3-wf-right-click {
  position: fixed;
  background: white;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 200px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  z-index: 99;
}
.d3-wf-right-click a {
  text-decoration: none;
}
.d3-wf-right-click > li {
  padding-bottom: 0;
  display: inline-block;
  width: 100%;
  position: relative;
}
.d3-wf-right-click > li:hover > ul {
  display: block;
}
.d3-wf-right-click > li a {
  width: calc(100% - 40px);
  text-align: left;
  transition: 0.2s ease-out;
  display: inline-block;
  color: #333;
  padding: 5px 10px 5px 30px;
  position: relative;
}
.d3-wf-right-click > li a > i {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.d3-wf-right-click > li a:hover {
  background: rgba(0, 0, 0, 0.05);
  transition: 0.2s ease-in;
  text-decoration: none;
}
.d3-wf-right-click > li > ul {
  display: none;
  list-style: none;
  position: absolute;
  left: 100%;
  top: 0;
  padding: 0;
  margin: 0;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 999;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  width: 300px;
}
.d3-wf-right-click > li > ul > li {
  padding: 0;
  position: relative;
  width: 100%;
}
.d3-wf-right-click > li > ul > li.selected::before {
  transform: translateY(-50%);
  content: "";
  position: absolute;
  left: 3px;
  top: 50%;
  width: 4px;
  height: 15px;
  border-radius: 5px;
  background: #149588;
}
.d3-wf-right-click > li > ul > li > a {
  display: block;
  border: none;
  height: 30px;
  line-height: 30px;
  background: transparent;
  text-align: left;
  padding: 0 150px 0 10px;
  position: relative;
  width: 100%;
  font-size: 14px;
  z-index: 1;
  max-width: 350px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.d3-wf-right-click > li > ul > li > a > .figure {
  display: block;
  position: absolute;
  width: 135px;
  top: 3px;
  bottom: 2px;
  right: 5px;
  pointer-events: none;
}
.d3-wf-right-click > li > ul > li > a > .figure > .bar {
  height: 10px;
  background: #149588;
  display: block;
  border-radius: 15px;
}
.d3-wf-right-click > li > ul > li > a > .figure > .datama-label {
  position: absolute;
  display: none;
  font-size: 10px;
  font-weight: 300;
  right: 0;
  bottom: 0;
  line-height: 15px;
  left: 0;
}
.d3-wf-right-click > li > ul > li > a > .figure > .datama-label > .datama-label-text {
  max-width: 70px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.d3-wf-right-click > li > ul > li > a > .figure > .datama-label > .value {
  position: absolute;
  right: 0;
  font-weight: 600;
  max-width: 50px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.d3-wf-right-click > li > ul:not(:hover) .selected .datama-label {
  display: block !important;
}
.d3-wf-right-click > li > ul:hover.selected .datama-label {
  display: none !important;
}
.d3-wf-right-click > li > ul a:hover .datama-label {
  display: block !important;
}
.d3-wf-right-click > li > ul.d3-wf-list-icon > li > a {
  padding-left: 30px !important;
  padding-right: 10px !important;
  position: relative;
}
.d3-wf-right-click > li > ul.d3-wf-list-icon > li > a::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 14px;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  /* Check */
  content: "\f00c";
}
.d3-wf-right-click > li > ul.d3-wf-list-icon > li > a.skipped::before {
  /* Times */
  content: "\f00d";
}
.bar-label,
.top-label,
.d3-wf-label {
  font-family: 'Montserrat', sans-serif;
}
.hidden-force {
  display: none !important;
}
.loadingDiv {
  width: 100%;
  height: 3px;
  position: relative;
  overflow: hidden;
  background-color: #ddd;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  position: fixed;
}
.loadingDiv:before {
  content: "";
  position: absolute;
  left: -50%;
  height: 3px;
  width: 40%;
  background-color: #159587;
  -webkit-animation: lineAnim 1s linear infinite;
  -moz-animation: lineAnim 1s linear infinite;
  animation: lineAnim 1s linear infinite;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
@keyframes lineAnim {
  0% {
    left: -40%;
  }
  50% {
    left: 20%;
    width: 80%;
  }
  100% {
    left: 100%;
    width: 100%;
  }
}
ul > li {
  list-style: inherit;
  font-size: inherit;
}
.datama-sunburst-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  padding-top: 40px;
  width: 100%;
  min-height: 400px;
  padding-left: 240px;
  padding-bottom: 40px;
}
.datama-sunburst-container > .datama-legend {
  direction: rtl;
  order: 0;
  margin-left: -220px;
  margin-right: 20px;
  max-height: 400px;
  overflow-y: auto;
}
.datama-sunburst-container > .datama-legend::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: transparent;
}
.datama-sunburst-container > .datama-legend::-webkit-scrollbar-thumb {
  background: transparent;
}
.datama-sunburst-container > .datama-legend:hover::-webkit-scrollbar {
  background-color: rgba(20, 149, 136, 0);
}
.datama-sunburst-container > .datama-legend:hover::-webkit-scrollbar-thumb {
  background-color: #149588;
  border-radius: 5px;
}
.datama-sunburst-container > .datama-legend > * {
  direction: ltr;
}
.datama-sunburst-container > .datama-legend > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 200px;
}
.datama-sunburst-container > .datama-legend > ul > li {
  margin-bottom: 5px;
}
.datama-sunburst-container > .datama-legend > ul > li > span {
  display: inline-block;
  border-radius: 20px;
  padding: 5px 10px;
  width: 100%;
}
.datama-sunburst-container > .datama-sunburst-breadcrumb {
  visibility: hidden;
  margin-left: auto;
  margin-right: 0;
  width: 25%;
  min-width: 200px;
  position: relative;
  pointer-events: none;
  order: 2;
  background: rgba(255, 255, 255, 0.75);
  z-index: 1;
  border-radius: 10px;
}
.datama-sunburst-container > .datama-sunburst-breadcrumb.comparison {
  order: unset;
  position: absolute;
  margin-left: 0;
  margin-right: 0;
  left: calc(50% + 200px);
  transform: translateX(calc(-50% - 100px));
}
.datama-sunburst-container > .datama-sunburst-breadcrumb > table > tbody > tr:not(:last-child) a > td.journey::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 5px;
  width: 10px;
  height: 10px;
  transform: translateX(-50%) rotate(45deg);
  border-right: 1px solid rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
.datama-sunburst-container > .datama-sunburst-breadcrumb > table tr > td {
  max-width: 120px;
  white-space: nowrap;
  padding: 5px 10px 20px;
}
.datama-sunburst-container > .datama-sunburst-breadcrumb > table tr > td > span.journey {
  padding: 5px 10px;
  border-radius: 20px;
}
.datama-sunburst-container > .datama-sunburst-breadcrumb > table tr > td.value,
.datama-sunburst-container > .datama-sunburst-breadcrumb > table tr > td.delta {
  text-align: right;
}
.datama-sunburst-container > .datama-sunburst-breadcrumb > table tr > td.journey {
  position: relative;
  text-align: center;
}
.datama-sunburst-container > .datama-sunburst-breadcrumb > table tr > td.journey > span {
  max-width: 100px;
  text-overflow: ellipsis;
  overflow-x: hidden;
}
.datama-sunburst-container > .datama-sunburst-breadcrumb > table thead {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.datama-sunburst-container > .datama-sunburst-breadcrumb > table thead > tr > td {
  font-size: 14px;
  font-weight: 600;
}
.datama-sunburst-container > .datama-sunburst-breadcrumb > ul {
  position: absolute;
  left: 0;
  right: 0;
  top: -40px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.datama-sunburst-container > .datama-sunburst-breadcrumb > ul > li {
  position: relative;
  display: flex;
  justify-content: center;
  margin-right: 25px;
}
.datama-sunburst-container > .datama-sunburst-breadcrumb > ul > li > .name {
  display: inline-block;
  border-radius: 30px;
  line-height: 20px;
  padding: 5px 10px;
  font-size: 14px;
  text-align: center;
}
.datama-sunburst-container > .datama-sunburst-breadcrumb > ul > li:not(:last-child)::after {
  content: "";
  position: absolute;
  right: -20px;
  width: 10px;
  height: 10px;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg) scale(0.5);
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}
.datama-sunburst-container > .datama-sunburst {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  order: 1;
  max-width: 33%;
}
.datama-sunburst-container > .datama-sunburst.comparison {
  margin-right: auto;
  margin-left: auto;
}
.datama-sunburst-container > .datama-sunburst + .datama-sunburst {
  margin-left: auto;
  margin-right: auto;
  order: 3;
}
.datama-sunburst-container > .datama-sunburst > .datama-sunburst-title {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  font-weight: 600;
  transform: translateY(100%);
}
.datama-sunburst-container > .datama-sunburst > .datama-sunburst-plot {
  display: inline-block;
}
.datama-sunburst-container > .datama-sunburst > .datama-context-menu {
  position: fixed;
  background: white;
  z-index: 999;
}
.datama-sunburst-container > .datama-sunburst > .datama-context-menu > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 30px;
  font-size: 16px;
  display: flex;
  flex-flow: column;
  min-width: 150px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  font-family: 'Arial', sans serif;
}
.datama-sunburst-container > .datama-sunburst > .datama-context-menu > ul > li {
  position: relative;
  list-style: none;
  cursor: pointer;
}
.datama-sunburst-container > .datama-sunburst > .datama-context-menu > ul > li > * {
  position: relative;
  z-index: 1;
}
.datama-sunburst-container > .datama-sunburst > .datama-context-menu > ul > li > a {
  text-decoration: none;
  color: initial;
  font-weight: 500;
  display: inline-block;
  padding: 5px 10px;
}
.datama-sunburst-container > .datama-sunburst > .datama-context-menu > ul > li.icon > a {
  padding-left: 45px;
}
.datama-sunburst-container > .datama-sunburst > .datama-context-menu > ul > li.icon > a > i {
  width: 30px;
  height: 30px;
  line-height: 30px;
  position: absolute;
  left: 0;
  top: 0;
  padding: 5px 10px;
}
.datama-sunburst-container > .datama-sunburst > .datama-context-menu > ul > li:not(.icon) > a > i {
  display: none;
}
.datama-sunburst-container > .datama-sunburst > .datama-context-menu > ul > li::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: transparent;
  transition: 0.1s ease-out;
  opacity: 0.075;
  z-index: 0;
}
.datama-sunburst-container > .datama-sunburst > .datama-context-menu > ul > li:hover {
  list-style: none;
  cursor: pointer;
}
.datama-sunburst-container > .datama-sunburst > .datama-context-menu > ul > li:hover::before {
  background: currentColor;
  transition: 0.05s ease-in;
}
.datama-sunburst-container > .datama-sunburst > .datama-context-menu > ul > li:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#datama-testing-text {
  position: absolute;
  visibility: hidden;
  height: auto;
  width: auto;
  white-space: nowrap;
}
body .no-click {
  pointer-events: none !important;
}
body .datama-waterfall-context-menu,
body .datama-context-menu {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  background-color: white;
  width: fit-content;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  font-size: 14px;
  line-height: 30px;
  z-index: 999;
  margin-top: -2px;
  margin-bottom: -2px;
}
body .datama-waterfall-context-menu.show,
body .datama-context-menu.show {
  visibility: visible;
  opacity: 1;
}
body .datama-waterfall-context-menu .datama-context-menu-divider,
body .datama-context-menu .datama-context-menu-divider {
  width: 100%;
  position: relative;
  padding: 5px 10px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
body .datama-waterfall-context-menu .datama-context-menu-divider:hover,
body .datama-context-menu .datama-context-menu-divider:hover {
  background: transparent !important;
}
body .datama-waterfall-context-menu .datama-context-menu-divider > span,
body .datama-context-menu .datama-context-menu-divider > span {
  font-size: 10px;
  line-height: 10px;
}
body .datama-waterfall-context-menu .datama-context-menu-divider + .datama-context-menu-divider,
body .datama-context-menu .datama-context-menu-divider + .datama-context-menu-divider {
  display: none;
}
body .datama-waterfall-context-menu .datama-context-menu-icon,
body .datama-context-menu .datama-context-menu-icon {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0;
  top: 50%;
  line-height: 30px;
  font-size: 14px;
  text-align: center;
  transform: translateY(-50%);
}
body .datama-waterfall-context-menu li,
body .datama-context-menu li {
  display: inline-block;
  position: relative;
  width: 100%;
  transition: 0.2s ease-out;
}
body .datama-waterfall-context-menu li.figured li,
body .datama-context-menu li.figured li {
  padding-right: 150px;
}
body .datama-waterfall-context-menu li > ul,
body .datama-context-menu li > ul {
  border: 1px solid rgba(0, 0, 0, 0.1);
  list-style: none;
  position: absolute;
  padding: 0;
  left: 100%;
  top: 0;
  display: none;
  flex-wrap: wrap;
  width: fit-content;
  background-color: white;
}
body .datama-waterfall-context-menu li > ul.scrollable,
body .datama-context-menu li > ul.scrollable {
  max-height: 240px;
  overflow-y: auto;
}
body .datama-waterfall-context-menu li > ul:not(:hover) .selected .bar,
body .datama-context-menu li > ul:not(:hover) .selected .bar {
  margin-top: 5px;
  transition: 0.1s ease-in;
}
body .datama-waterfall-context-menu li > ul:not(:hover) .selected .datama-label,
body .datama-context-menu li > ul:not(:hover) .selected .datama-label {
  opacity: 1;
  transition: 0.1s ease-in;
  bottom: 5px;
}
body .datama-waterfall-context-menu li > ul:hover > li:hover .figure .bar,
body .datama-context-menu li > ul:hover > li:hover .figure .bar {
  margin-top: 5px;
  transition: 0.1s ease-in;
}
body .datama-waterfall-context-menu li > ul:hover > li:hover .figure .datama-label,
body .datama-context-menu li > ul:hover > li:hover .figure .datama-label {
  opacity: 1;
  transition: 0.1s ease-in;
  bottom: 5px;
}
body .datama-waterfall-context-menu li > a,
body .datama-context-menu li > a {
  display: inline;
  white-space: nowrap;
  padding: 0 20px 0 30px;
  color: black;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  text-rendering: geometricprecision;
}
body .datama-waterfall-context-menu li > a.icon,
body .datama-context-menu li > a.icon {
  position: relative;
}
body .datama-waterfall-context-menu li > a.sub::after,
body .datama-context-menu li > a.sub::after {
  content: "";
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  border-left: 3px solid rgba(0, 0, 0, 0.5);
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
}
body .datama-waterfall-context-menu li:hover,
body .datama-context-menu li:hover {
  background: rgba(0, 0, 0, 0.05);
  transition: 0.2s ease-in;
}
body .datama-waterfall-context-menu li:hover > ul,
body .datama-context-menu li:hover > ul {
  display: flex;
}
body .datama-waterfall-context-menu li.selected::after,
body .datama-context-menu li.selected::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 3px;
  bottom: 3px;
  width: 5px;
  background: rgba(0, 0, 0, 0.1);
}
body .datama-waterfall-context-menu.to-right li > ul,
body .datama-context-menu.to-right li > ul {
  left: 100%;
  right: unset;
}
body .datama-waterfall-context-menu.to-left li > ul,
body .datama-context-menu.to-left li > ul {
  left: unset;
  right: 100%;
}
body .datama-waterfall-context-menu.to-top li > ul,
body .datama-context-menu.to-top li > ul {
  top: unset;
  bottom: 0;
}
body .datama-waterfall-context-menu.to-bottom li > ul,
body .datama-context-menu.to-bottom li > ul {
  top: 0;
  bottom: unset;
}
body .datama-waterfall-context-menu.datama-context-menu-show,
body .datama-context-menu.datama-context-menu-show {
  visibility: visible;
  opacity: 1;
  transition: transform 0.1s ease-in, opacity 0.15s ease-in;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transform: translateX(0) !important;
  display: block;
}
body .datama-waterfall-context-menu .figure,
body .datama-context-menu .figure {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 135px;
  top: 0;
  bottom: 0;
  right: 5px;
  pointer-events: none;
}
body .datama-waterfall-context-menu .figure > .bar,
body .datama-context-menu .figure > .bar {
  height: 10px;
  display: block;
  border-radius: 15px;
  margin-top: 10px;
  transition: 0.1s ease-out;
  order: 1;
}
body .datama-waterfall-context-menu .figure > .datama-label,
body .datama-context-menu .figure > .datama-label {
  width: 100%;
  opacity: 0;
  height: 15px;
  font-size: 10px;
  font-weight: 300;
  line-height: 15px;
  transition: 0.1s ease-out;
  order: 2;
}
body .datama-waterfall-context-menu .figure > .datama-label > .datama-label-text,
body .datama-context-menu .figure > .datama-label > .datama-label-text {
  max-width: 70px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
body .datama-waterfall-context-menu .figure > .datama-label > .value,
body .datama-context-menu .figure > .datama-label > .value {
  position: absolute;
  right: 0;
  font-weight: 600;
  max-width: 50px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
body .datama-waterfall-context-menu .steps .figure .bar,
body .datama-context-menu .steps .figure .bar {
  background: #FEDA6A;
}
body .datama-waterfall-context-menu .dimensions .figure .bar,
body .datama-context-menu .dimensions .figure .bar {
  background: #159587;
}
body .datama-waterfall-context-menu .datama-context-menu-input,
body .datama-context-menu .datama-context-menu-input {
  display: flex !important;
  flex-wrap: nowrap;
  padding-right: 60px;
  padding-left: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
}
body .datama-waterfall-context-menu .datama-context-menu-input > span,
body .datama-context-menu .datama-context-menu-input > span {
  line-height: 30px;
  white-space: nowrap;
}
body .datama-waterfall-context-menu .datama-context-menu-input > input,
body .datama-context-menu .datama-context-menu-input > input {
  position: absolute;
  right: 5px;
  width: 30px;
  height: 20px;
  margin: 5px 0 0;
  line-height: 30px;
  padding: 0 5px;
  text-align: center;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.1) !important;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  min-height: unset;
  font-size: 12px;
  -moz-appearance: textfield;
}
body .datama-waterfall-context-menu .datama-context-menu-input > input::-webkit-inner-spin-button,
body .datama-context-menu .datama-context-menu-input > input::-webkit-inner-spin-button,
body .datama-waterfall-context-menu .datama-context-menu-input > input::-webkit-outer-spin-button,
body .datama-context-menu .datama-context-menu-input > input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body .datama-waterfall-context-menu .datama-context-menu .dimensions,
body .datama-context-menu .datama-context-menu .dimensions,
body .datama-waterfall-context-menu .datama-context-menu .steps,
body .datama-context-menu .datama-context-menu .steps {
  padding: 0 !important;
  padding-right: 150px !important;
  margin: 0 !important;
}
body .datama-waterfall-context-menu .dimensions > a,
body .datama-context-menu .dimensions > a,
body .datama-waterfall-context-menu .steps > a,
body .datama-context-menu .steps > a {
  display: flex !important;
}
body .datama-waterfall-context-menu .dimensions > a > .figure-label,
body .datama-context-menu .dimensions > a > .figure-label,
body .datama-waterfall-context-menu .steps > a > .figure-label,
body .datama-context-menu .steps > a > .figure-label {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
body .datama-waterfall-context-menu .dimensions > a > .figure-label > .text,
body .datama-context-menu .dimensions > a > .figure-label > .text,
body .datama-waterfall-context-menu .steps > a > .figure-label > .text,
body .datama-context-menu .steps > a > .figure-label > .text {
  width: 100%;
  height: 20px;
  line-height: 20px;
  margin: 0;
  padding: 0;
  font-size: 14px;
}
body .datama-waterfall-context-menu .dimensions > a > .figure-label > .detailed,
body .datama-context-menu .dimensions > a > .figure-label > .detailed,
body .datama-waterfall-context-menu .steps > a > .figure-label > .detailed,
body .datama-context-menu .steps > a > .figure-label > .detailed {
  width: 100%;
  height: 10px;
  line-height: 10px;
  font-size: 10px;
  margin: 0;
  padding: 0;
  opacity: 0;
  transition: 0.1s ease-out;
}
body .datama-waterfall-context-menu .dimensions.selected > a > .figure-label > .detailed,
body .datama-context-menu .dimensions.selected > a > .figure-label > .detailed,
body .datama-waterfall-context-menu .steps.selected > a > .figure-label > .detailed,
body .datama-context-menu .steps.selected > a > .figure-label > .detailed {
  opacity: 1;
  transition: 0.2s ease-int;
}
body .datama-waterfall-context-menu ul:hover li:not(:hover) .figure-label .detailed,
body .datama-context-menu ul:hover li:not(:hover) .figure-label .detailed {
  opacity: 0 !important;
  transition: 0.1s ease-out;
}
body .datama-waterfall-context-menu ul:hover li:hover .figure-label .detailed,
body .datama-context-menu ul:hover li:hover .figure-label .detailed {
  opacity: 1 !important;
  transition: 0.2s ease-int;
}
body .datama-hover {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  background-color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  z-index: 999;
  pointer-events: none;
}
body .datama-hover > p {
  font-family: "Montserrat", "Arial";
  margin: 0;
  padding: 0;
}
body .datama-hover > header {
  font-size: 12px;
  line-height: 18px;
  display: flex;
  flex-wrap: wrap;
}
body .datama-hover > header > div {
  display: flex;
  flex-wrap: wrap;
  width: 25%;
}
body .datama-hover > header > div > * {
  width: 100%;
}
body .datama-hover > main {
  padding: 0;
}
body .datama-hover > main,
body .datama-hover > main * {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  font-family: Montserrat, sans-serif;
  text-align: justify;
}
body .datama-hover > main strong,
body .datama-hover > main b {
  font-weight: 600;
}
body .datama-hover.datama-hover-show {
  visibility: visible;
  opacity: 1;
  transition: transform 0.1s ease-in, opacity 0.15s ease-in;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transform: translateX(0) !important;
}
body .datama-hover.datama-hover-left.datama-hover-top {
  box-shadow: -10px 0 15px 3px rgba(0, 0, 0, 0.1);
  transform: translateX(-10px);
}
body .datama-hover.datama-hover-left.datama-hover-bottom {
  box-shadow: -10px 0 15px 3px rgba(0, 0, 0, 0.1);
  transform: translateX(-10px);
}
body .datama-hover.datama-hover-right.datama-hover-top {
  box-shadow: 10px 0 15px 3px rgba(0, 0, 0, 0.1);
  transform: translateX(10px);
}
body .datama-hover.datama-hover-right.datama-hover-bottom {
  box-shadow: 10px 0 15px 3px rgba(0, 0, 0, 0.1);
  transform: translateX(10px);
}
body .datama-waterfall-bar {
  transition: 0.1s ease-out;
}
body .datama-waterfall-bar:hover,
body .datama-waterfall-bar.hover {
  -webkit-filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
  stroke-width: 1.5px;
  stroke-opacity: 1;
  transition: 0.2s ease-in;
  shape-rendering: geometricPrecision;
  text-rendering: geometricPrecision;
  /*fill-opacity: 0.75;*/
}
body .datama-waterfall-bar[data-depth="0"]:not(body .datama-waterfall-bar[data-expanded="true"]),
body .datama-waterfall-bar[data-depth="1"]:not(body .datama-waterfall-bar[data-expanded="true"]) {
  cursor: zoom-in;
}
body .datama-waterfall-bar.has-children,
body .datama-waterfall-bar[data-type="net"],
body .datama-waterfall-bar[data-depth="2"] {
  cursor: zoom-out;
}
body .datama-waterfall-annotations {
  transition: 0.2s ease-in;
}
.loader {
  border: 4px solid transparent;
  border-top: 4px solid #159587;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  animation: spin 0.8s ease-in-out infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

