:root {
  --project1-count: 1;
  --project2-count: 1;
  --line-color: black;
  --padding: 10px;
}
/* PROJECT 1 */
.project1-wrapper-horizontal {
  position: relative;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(var(--project1-count), 1fr);
}
.project1-horizontal {
  position: relative;
}
/* PROJECT 2 */
.project2-wrapper-horizontal {
  position: relative;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(var(--project2-count), 1fr);
}
.project2-horizontal {
  position: relative;
}
/* VERTICAL */
/* PROJECT 1 */
.project1-wrapper-vertical {
  position: relative;
}
.project1-vertical {
  position: relative;
  margin-top: 10px;
}
/* PROJECT 2 */
.project2-wrapper-vertical {
  position: relative;
}
.project2-vertical {
  position: relative;
}

