*:focus {
  outline: 1px solid transparent;
}
.visual-container {
  width: var(--visualWidth);
  height: var(--visualHeight);
  margin: 5px 5px 0 5px;
  font-family: var(--fontFamily);
  font-size: var(--fontSize);
  color: var(--inputFieldFontColor);
}
.input-container {
  display: flex;
  width: 100%;
  border-style: solid;
  border-width: var(--inputFieldBorderThickness);
  border-color: var(--inputFieldBorderColor);
  border-radius: var(--inputFieldBorderRadius);
  color: var(--inputFieldFontColor);
  background: var(--inputFieldBackgroundColor);
  box-sizing: border-box;
  align-items: stretch;
}
.input-field {
  width: 100%;
  padding: var(--inputFieldPadding);
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: var(--inputFieldFontColor);
  background: transparent;
}
.input-button {
  display: block;
  width: fit-content;
  margin: -0.5px 0 0 0;
  padding: 0 3px;
  border: 0px;
  font-size: inherit;
  color: var(--inputActionFontColor);
  background: transparent;
  text-align: center;
}
.input-button:hover {
  color: var(--inputActionHoverFontColor);
  background: transparent;
}
.input-button:active {
  color: var(--inputActionActiveFontColor);
  background: transparent;
}
.target-container {
  display: flex;
  margin: 2px 0 0 0 ;
  flex-wrap: wrap;
  gap: 2px;
}
.target-button {
  padding: var(--targetButtonPadding);
  border: none;
  border-radius: var(--targetButtonBorderRadius);
  font-family: inherit;
  font-size: 0.9em;
  color: var(--targetButtonFontColor);
  background: var(--targetButtonBackgroundColor);
}
.target-button:hover {
  color: var(--targetButtonHoverFontColor);
  background: var(--targetButtonHoverBackgroundColor);
}
.target-button__active {
  color: var(--targetButtonActiveFontColor);
  background: var(--targetButtonActiveBackgroundColor);
}
::placeholder {
  color: var(--placeholderFontColor);
  opacity: 1;
  /* Firefox */
}
:-ms-input-placeholder {
  color: var(--placeholderFontColor);
}
::-ms-input-placeholder {
  color: var(--placeholderFontColor);
}

.input-icon {
  width: 1.4em;
  height: auto;
  display: block;
}

.nofields-image {
  width: 100%;
  height: auto;
  display: block;
}

