div {
  font-weight: normal;
}
div em {
  background: yellow;
  padding: 5px;
}
.text-filter-search {
  position: relative;
  min-width: 92px;
  width: 100%;
  display: inline-block;
}
.text-filter-search input {
  line-height: normal;
}
.text-filter-search button,
.text-filter-search input {
  color: inherit;
  font: inherit;
  margin: 0;
}
.text-filter-search input[type="text"] {
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.text-filter-search input[type="text"],
.text-filter-search button.search-button {
  float: left;
  height: 100%;
  outline: 0;
  background-color: #fff;
}
.text-filter-search input[type="text"] {
  box-sizing: border-box;
  height: 100%;
  padding: 7px 10px;
  border: 1px solid rgba(0, 0, 0, 0.6);
}
.text-filter-search button {
  text-transform: none;
  overflow: visible;
}
.text-filter-search .x-screen-reader {
  position: absolute !important;
  overflow: hidden !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  width: 1px !important;
  height: 1px !important;
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}
.text-filter-search button {
  -webkit-appearance: button;
  cursor: pointer;
}
.text-filter-search button.search-button {
  position: absolute;
  top: 0;
  margin: 2px 1px 1px;
  padding: 9px;
  transition: color 0.1s, background-color 0.1s;
  border: 0;
}
.text-filter-search .clear-button {
  border: 0;
  background-color: white;
  display: inline-block;
  transition: color 0.1s, background-color 0.1s;
  outline: none;
}
.text-filter-search .c-glyph:before,
.c-glyph:after {
  display: inline-block;
  text-decoration: underline;
}
.text-filter-search .c-glyph:before,
.c-glyph:after,
.c-glyph:hover:before,
.c-glyph:hover:after {
  text-decoration: none;
}
.text-filter-search button:hover {
  background-color: lightblue;
}
.text-filter-search button.search-button:before {
  content: "";
  width: 1em;
  height: 1em;
  background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNTEyIDUxMjsiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDUxMiA1MTIiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxwYXRoIGZpbGw9IiM3NTc1NzUiIGQ9Ik0zNDQuNSwyOThjMTUtMjMuNiwyMy44LTUxLjYsMjMuOC04MS43YzAtODQuMS02OC4xLTE1Mi4zLTE1Mi4xLTE1Mi4zQzEzMi4xLDY0LDY0LDEzMi4yLDY0LDIxNi4zICBjMCw4NC4xLDY4LjEsMTUyLjMsMTUyLjEsMTUyLjNjMzAuNSwwLDU4LjktOSw4Mi43LTI0LjRsNi45LTQuOEw0MTQuMyw0NDhsMzMuNy0zNC4zTDMzOS41LDMwNS4xTDM0NC41LDI5OHogTTMwMS40LDEzMS4yICBjMjIuNywyMi43LDM1LjIsNTIuOSwzNS4yLDg1YzAsMzIuMS0xMi41LDYyLjMtMzUuMiw4NWMtMjIuNywyMi43LTUyLjksMzUuMi04NSwzNS4yYy0zMi4xLDAtNjIuMy0xMi41LTg1LTM1LjIgIGMtMjIuNy0yMi43LTM1LjItNTIuOS0zNS4yLTg1YzAtMzIuMSwxMi41LTYyLjMsMzUuMi04NWMyMi43LTIyLjcsNTIuOS0zNS4yLDg1LTM1LjJDMjQ4LjUsOTYsMjc4LjcsMTA4LjUsMzAxLjQsMTMxLjJ6Ii8+PC9zdmc+);
  text-indent: 0;
}
.text-filter-search .clear-button:before {
  content: " ";
  width: 1em;
  height: 1em;
  background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjNzU3NTc1IiB2aWV3Qm94PSIwIDAgMTc5MiAxNzkyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik04MzIgMTQwOGwzMzYtMzg0aC03NjhsLTMzNiAzODRoNzY4em0xMDEzLTEwNzdxMTUgMzQgOS41IDcxLjV0LTMwLjUgNjUuNWwtODk2IDEwMjRxLTM4IDQ0LTk2IDQ0aC03NjhxLTM4IDAtNjkuNS0yMC41dC00Ny41LTU0LjVxLTE1LTM0LTkuNS03MS41dDMwLjUtNjUuNWw4OTYtMTAyNHEzOC00NCA5Ni00NGg3NjhxMzggMCA2OS41IDIwLjV0NDcuNSA1NC41eiIvPjwvc3ZnPg==);
}
.accessibility-compliant::placeholder {
  color: #757575;
}
.accessibility-compliant::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #757575;
  opacity: 1;
}
.border-on-focus:focus {
  border: solid 2px black !important;
}

