/*!*******************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/sass-loader/dist/cjs.js!./src_viz/css/pbi.scss ***!
  \*******************************************************************************************************************************************/
#pbi-ui {
  position: absolute;
  max-height: calc(100% - 36px);
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 10px;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  border-radius: 4px;
  box-shadow: 5px 5px 15px rgba(119, 119, 119, 0.25);
  background-color: #ffffff;
}
#pbi-ui #json-toggle {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: row;
  position: relative;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: left;
  padding: 8px 16px;
  white-space: nowrap;
  cursor: pointer;
  z-index: 500;
  border-radius: 4px;
}
#pbi-ui #json-toggle span {
  font-weight: 700;
  background-color: #ffffff;
  color: #000000;
  padding: 4px;
}
#pbi-ui #json-toggle.inactive span.edit-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 12px;
  padding: 12px;
  background-color: #375d9a;
  border-radius: 30px;
}
#pbi-ui #json-toggle.active span.edit-icon {
  display: none;
}
#pbi-ui #json-textarea {
  display: none;
  border-radius: 4px;
  border: 1px solid #375d9a;
  margin: 15px 0 15px;
  padding: 0;
  width: 75vw;
  min-width: 300px;
  max-width: 800px;
  min-height: 150px;
}
#pbi-ui .action-bar {
  display: none;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
#pbi-ui .action-bar #validate-button {
  display: none;
  cursor: pointer;
  position: relative;
  padding: 12px 20px;
  margin-left: 5px;
  background-color: #375d9a;
  color: #ffffff;
  border-radius: 4px;
}
#pbi-ui .action-bar #close-button {
  display: none;
  cursor: pointer;
  position: relative;
  border: none;
  color: #375d9a;
  padding: 12px 20px;
  margin-left: 5px;
}
#pbi-ui .action-bar #json-result {
  display: none;
  width: 100%;
  position: relative;
  padding: 5px 20px 5px 0;
  margin-left: 5px;
}
#pbi-ui .action-bar #json-result.valid {
  font-weight: 700;
  color: #375d9a;
}
#pbi-ui .action-bar #json-result.valid::before {
  visibility: hidden;
}
#pbi-ui .action-bar #json-result.invalid {
  color: #845e2c;
  font-weight: 400;
  margin-left: 8px;
}
#splash,
#power-feature {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  position: absolute;
  z-index: 10;
}
#splash #splash-container,
#splash #power-feature-container,
#power-feature #splash-container,
#power-feature #power-feature-container {
  position: relative;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
}
#splash #splash-container #splash-content,
#splash #splash-container #power-feature-content,
#splash #power-feature-container #splash-content,
#splash #power-feature-container #power-feature-content,
#power-feature #splash-container #splash-content,
#power-feature #splash-container #power-feature-content,
#power-feature #power-feature-container #splash-content,
#power-feature #power-feature-container #power-feature-content {
  position: relative;
  max-width: 350px;
  margin: 0 auto;
}
#splash #splash-container #splash-content p,
#splash #splash-container #power-feature-content p,
#splash #power-feature-container #splash-content p,
#splash #power-feature-container #power-feature-content p,
#power-feature #splash-container #splash-content p,
#power-feature #splash-container #power-feature-content p,
#power-feature #power-feature-container #splash-content p,
#power-feature #power-feature-container #power-feature-content p {
  font-size: 18px;
  line-height: 28px;
  padding-left: 54px;
  margin: 20px 0 0;
}
#splash #splash-container #splash-content p.link,
#splash #splash-container #splash-content p.power-feature-link,
#splash #splash-container #power-feature-content p.link,
#splash #splash-container #power-feature-content p.power-feature-link,
#splash #power-feature-container #splash-content p.link,
#splash #power-feature-container #splash-content p.power-feature-link,
#splash #power-feature-container #power-feature-content p.link,
#splash #power-feature-container #power-feature-content p.power-feature-link,
#power-feature #splash-container #splash-content p.link,
#power-feature #splash-container #splash-content p.power-feature-link,
#power-feature #splash-container #power-feature-content p.link,
#power-feature #splash-container #power-feature-content p.power-feature-link,
#power-feature #power-feature-container #splash-content p.link,
#power-feature #power-feature-container #splash-content p.power-feature-link,
#power-feature #power-feature-container #power-feature-content p.link,
#power-feature #power-feature-container #power-feature-content p.power-feature-link {
  color: #e01b2a;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

