svg {
  cursor: default;
}
.root {
  cursor: default;
}
.container::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.container::-webkit-scrollbar-thumb {
  border-radius: 2.5px;
  opacity: 0.4;
  background-color: #868686;
}

