p {
  font-size: 20px;
  font-weight: bold;
}
p em {
  background: yellow;
  padding: 5px;
}
.tic-canvas {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  z-index: -1;
  height: 100%;
}
.tic-divctr {
  transform: translateZ(0);
  background: #fff;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.tic-bottompad {
  display: none;
  background-color: transparent;
}
.tic-msgroot {
  display: block;
  margin-bottom: 4px;
  margin-top: 4px;
  width: 100%;
  cursor: default;
}
.tic-msgtext {
  font-size: small;
  color: crimson;
  height: auto;
  margin-right: 8px;
}
.tic-loadtext {
  font-size: small;
  font-weight: bold;
  color: darkslateblue;
  display: none;
  margin-right: 8px;
}
.tic-counttext {
  float: right;
  font-size: small;
  margin-left: 8px;
}
.tic-entryline {
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 2px;
  margin-bottom: 6px;
  flex: 0 1;
  z-index: 9999;
}
.tic-entryroot {
  flex: 1 1 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.tic-markuphost {
  flex: 1 0;
  width: 100%;
  padding: 2px;
  display: flex;
}
.tic-markupctrl {
  flex: 1 0;
  margin-right: 4px;
  width: 100%;
  overflow: auto;
  z-index: 1999;
  display: none;
}
.tic-marquee1 {
  display: inline;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1999;
}
.tic-copiedmsg {
  font-size: 0.75em;
  color: #505050;
  float: right;
}
.tic-unsignal {
  font-size: 0.9em;
  color: #202020;
  margin-right: 10px;
}
.tic-copylink {
  font-size: 0.9em;
  color: #202020;
  margin-right: 4px;
}
.tic-copymsg {
  font-size: 0.6em;
  font-style: italic;
  color: #404040;
}
.tic-listhost {
  display: flex;
  flex: 1 1 auto;
  width: 100%;
  padding: 2px;
  overflow: clip;
}
.tic-listctrl {
  margin-right: 4px;
  width: 100%;
  z-index: 1999;
  resize: none;
}
.tic-curtain1 {
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.tic-curtain1__wrapper {
  width: 100%;
}
.tic-curtain1__wrapper input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 0;
  top: 0;
  left: 0;
}
.tic-curtain1__wrapper input[type=checkbox]:checked ~ div.tic-curtain1__panel--left {
  transform: translateX(0);
}
.tic-curtain1__wrapper input[type=checkbox]:checked ~ div.tic-curtain1__panel--right {
  transform: translateX(0);
}
.tic-curtain1__panel {
  display: flex;
  align-items: center;
  background: orange;
  color: #fff;
  float: left;
  position: relative;
  width: 50%;
  height: 100vh;
  transition: all 1s ease-out;
  z-index: 2;
}
.tic-curtain1__panel--left {
  justify-content: flex-end;
  transform: translateX(-100%);
}
.tic-curtain1__panel--right {
  justify-content: flex-start;
  transform: translateX(100%);
}
.tic-curtain1__content {
  align-items: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 0;
  position: absolute;
  text-align: center;
  z-index: 1;
  width: 100%;
}
.tic-curtain1__content img {
  width: 20%;
}

