.visual-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100%;
  width: 100%;
  cursor: default;
  overflow: auto;
}
.visual-container .list-item {
  display: block;
  cursor: pointer;
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--font-color);
  background: var(--background-color);
  text-align: var(--text-align);
  padding: var(--rowPadding) 0;
}
.visual-container .list-item.grid-lines {
  border-bottom: var(--grid-lines-color) var(--grid-lines-thickness) solid;
}
.visual-container .list-item.grid-lines:first-child {
  border-top: var(--grid-lines-color) var(--grid-lines-thickness) solid;
}
.visual-container .list-item.grid-lines:last-child {
  border-bottom: var(--grid-lines-color) var(--grid-lines-thickness) solid;
}
.dialog {
  display: flex;
  flex-direction: column;
}

