/*
 Buttons style by http://nicolasgallagher.com/lab/css3-github-buttons/
 Changed by Afshin Mehrabani
*/
/* overrides extra padding on button elements in Firefox */
@-webkit-keyframes introjspulse {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  25% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0.1;
  }
  50% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0.3;
  }
  75% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
@keyframes introjspulse {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  25% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0.1;
  }
  50% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0.3;
  }
  75% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
.introjs-overlay {
  position: absolute;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  z-index: 999999;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.introjs-showElement {
  z-index: 9999999 !important;
}
tr.introjs-showElement > td {
  z-index: 9999999 !important;
  position: relative;
}
tr.introjs-showElement > th {
  z-index: 9999999 !important;
  position: relative;
}
.introjs-disableInteraction {
  z-index: 99999999 !important;
  position: absolute;
  background-color: #ffffff;
  opacity: 0;
  filter: alpha(opacity=0);
}
.introjs-relativePosition {
  position: relative;
}
.introjs-helperLayer {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  position: absolute;
  z-index: 9999998;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.introjs-helperLayer * {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.introjs-helperLayer *:before {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.introjs-helperLayer *:after {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.introjs-tooltipReferenceLayer {
  font-family: "Helvetica Neue", Inter, ui-sans-serif, "Apple Color Emoji", Helvetica, Arial, sans-serif;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  position: absolute;
  visibility: hidden;
  z-index: 100000000;
  background-color: transparent;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.introjs-tooltipReferenceLayer * {
  font-family: "Helvetica Neue", Inter, ui-sans-serif, "Apple Color Emoji", Helvetica, Arial, sans-serif;
}
.introjs-helperNumberLayer {
  font-family: "Helvetica Neue", Inter, ui-sans-serif, "Apple Color Emoji", Helvetica, Arial, sans-serif;
  color: #9e9e9e;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.introjs-arrow {
  border: 5px solid transparent;
  content: "";
  position: absolute;
}
.introjs-arrow.top {
  top: -10px;
  left: 10px;
  border-bottom-color: #ffffff;
}
.introjs-arrow.top-right {
  top: -10px;
  right: 10px;
  border-bottom-color: #ffffff;
}
.introjs-arrow.top-middle {
  top: -10px;
  left: 50%;
  margin-left: -5px;
  border-bottom-color: #ffffff;
}
.introjs-arrow.right {
  right: -10px;
  top: 10px;
  border-left-color: #ffffff;
}
.introjs-arrow.right-bottom {
  bottom: 10px;
  right: -10px;
  border-left-color: #ffffff;
}
.introjs-arrow.bottom {
  bottom: -10px;
  left: 10px;
  border-top-color: #ffffff;
}
.introjs-arrow.bottom-right {
  bottom: -10px;
  right: 10px;
  border-top-color: #ffffff;
}
.introjs-arrow.bottom-middle {
  bottom: -10px;
  left: 50%;
  margin-left: -5px;
  border-top-color: #ffffff;
}
.introjs-arrow.left {
  left: -10px;
  top: 10px;
  border-right-color: #ffffff;
}
.introjs-arrow.left-bottom {
  left: -10px;
  bottom: 10px;
  border-right-color: #ffffff;
}
.introjs-tooltip {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  position: absolute;
  visibility: visible;
  background-color: #ffffff;
  min-width: 250px;
  max-width: 300px;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 30px rgba(33, 33, 33, 0.3);
  box-shadow: 0 3px 30px rgba(33, 33, 33, 0.3);
  -webkit-transition: opacity 0.1s ease-out;
  -o-transition: opacity 0.1s ease-out;
  transition: opacity 0.1s ease-out;
}
.introjs-tooltiptext {
  padding: 20px;
}
.introjs-tooltip-title {
  font-size: 18px;
  margin: 0;
  padding: 0;
  font-weight: 700;
  float: left;
  line-height: 32px;
}
.introjs-tooltip-header {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}
.introjs-tooltip-header:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.introjs-tooltipbuttons {
  border-top: 1px solid #e0e0e0;
  padding: 10px;
  text-align: right;
  white-space: nowrap;
}
.introjs-tooltipbuttons:after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.introjs-button {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  position: relative;
  overflow: visible;
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 1px solid #bdbdbd;
  text-decoration: none;
  text-shadow: 1px 1px 0 #ffffff;
  font-size: 14px;
  color: #424242;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  background-color: #f4f4f4;
  border-radius: 0.2em;
  zoom: 1;
  *display: inline;
}
.introjs-button:hover {
  outline: none;
  text-decoration: none;
  border-color: #9e9e9e;
  background-color: #e0e0e0;
  color: #212121;
}
.introjs-button:focus {
  outline: none;
  text-decoration: none;
  background-color: #eeeeee;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.5);
  border: 1px solid #616161;
  color: #212121;
}
.introjs-button:active {
  outline: none;
  text-decoration: none;
  background-color: #e0e0e0;
  border-color: #9e9e9e;
  color: #212121;
}
.introjs-button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.introjs-skipbutton {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  color: #616161;
  float: right;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  padding: 7px 10px;
}
.introjs-skipbutton:hover,
.introjs-skipbutton:focus {
  color: #212121;
  outline: none;
  text-decoration: none;
}
.introjs-prevbutton {
  float: left;
}
.introjs-nextbutton {
  float: right;
}
.introjs-disabled {
  color: #9e9e9e;
  border-color: #bdbdbd;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: default;
  background-color: #f4f4f4;
  background-image: none;
  text-decoration: none;
}
.introjs-disabled:hover,
.introjs-disabled:focus {
  color: #9e9e9e;
  border-color: #bdbdbd;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: default;
  background-color: #f4f4f4;
  background-image: none;
  text-decoration: none;
}
.introjs-hidden {
  display: none;
}
.introjs-bullets {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.introjs-bullets ul {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  clear: both;
  margin: 0 auto 0;
  padding: 0;
  display: inline-block;
}
.introjs-bullets ul li {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  list-style: none;
  float: left;
  margin: 0 2px;
}
.introjs-bullets ul li a {
  -webkit-transition: width 0.1s ease-in;
  -o-transition: width 0.1s ease-in;
  transition: width 0.1s ease-in;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  display: block;
  width: 6px;
  height: 6px;
  background: #ccc;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
}
.introjs-bullets ul li a:hover,
.introjs-bullets ul li a:focus {
  width: 15px;
  background: #999;
  text-decoration: none;
  outline: none;
}
.introjs-bullets ul li a.active {
  width: 15px;
  background: #999;
}
.introjs-progress {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  overflow: hidden;
  height: 10px;
  margin: 10px;
  border-radius: 4px;
  background-color: #e0e0e0;
}
.introjs-progressbar {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  float: left;
  width: 0%;
  height: 100%;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  background-color: #08c;
}
.introjsFloatingElement {
  position: absolute;
  height: 0;
  width: 0;
  left: 50%;
  top: 50%;
}
.introjs-fixedTooltip {
  position: fixed;
}
.introjs-hint {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  position: absolute;
  background: transparent;
  width: 20px;
  height: 15px;
  cursor: pointer;
}
.introjs-hint:focus {
  border: 0;
  outline: 0;
}
.introjs-hint:hover > .introjs-hint-pulse {
  border: 5px solid rgba(60, 60, 60, 0.57);
}
.introjs-hidehint {
  display: none;
}
.introjs-fixedhint {
  position: fixed;
}
.introjs-hint-pulse {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  width: 10px;
  height: 10px;
  border: 5px solid rgba(60, 60, 60, 0.27);
  border-radius: 30px;
  background-color: rgba(136, 136, 136, 0.24);
  z-index: 10;
  position: absolute;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.introjs-hint-no-anim .introjs-hint-dot {
  -webkit-animation: none;
  animation: none;
}
.introjs-hint-dot {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  border: 10px solid rgba(146, 146, 146, 0.36);
  background: transparent;
  border-radius: 60px;
  height: 50px;
  width: 50px;
  -webkit-animation: introjspulse 3s ease-out;
  animation: introjspulse 3s ease-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  position: absolute;
  top: -25px;
  left: -25px;
  z-index: 1;
  opacity: 0;
}

@charset "UTF-8";
body,
input,
textarea,
select,
text {
  font-family: "Segoe UI Web Regular", "wf_segoe-ui_normal", "Segoe UI", "Segoe UI Symbol", "Myriad", "Calibri", "UnDotum", "Optima", "Tahoma", "Century Gothic", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", "Arial", sans-serif;
  margin: 0px;
}
a {
  text-decoration: none;
  color: #626262;
}
a:hover {
  text-decoration: underline;
}
.img_btn_enabled {
  filter: grayscale(0%);
  cursor: pointer;
  opacity: 1;
  transition: all 0.3s ease;
  border: 1px solid #CCCCCC;
  margin: 2px;
  border-radius: 5px;
  -webkit-box-shadow: #FEFFFF 0px 1px 1px;
  -moz-box-shadow: #FEFFFF 0px 1px 1px;
  box-shadow: #FEFFFF 0px 1px 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  display: inline-block;
  background-color: #f4f5f5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f5f5), to(#dfdddd));
  background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);
  background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd);
  background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);
  background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
  background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f4f5f5, endColorstr=#dfdddd);
  user-select: none;
}
.img_btn_enabled:hover {
  border: 1px solid #ff0000;
  background-color: #d9dddd;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d9dddd), to(#c6c3c3));
  background-image: -webkit-linear-gradient(top, #d9dddd, #c6c3c3);
  background-image: -moz-linear-gradient(top, #d9dddd, #c6c3c3);
  background-image: -ms-linear-gradient(top, #d9dddd, #c6c3c3);
  background-image: -o-linear-gradient(top, #d9dddd, #c6c3c3);
  background-image: linear-gradient(to bottom, #d9dddd, #c6c3c3);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#d9dddd, endColorstr=#c6c3c3);
}
.import-button-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 2px;
}
.import-button {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 6px;
  position: relative;
}
.import-button:hover {
  cursor: pointer;
}
.import-button:hover img {
  border: 1px solid #f00;
  background-color: #d9dddd;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d9dddd), to(#c6c3c3));
  background-image: -webkit-linear-gradient(top, #d9dddd, #c6c3c3);
  background-image: -moz-linear-gradient(top, #d9dddd, #c6c3c3);
  background-image: -ms-linear-gradient(top, #d9dddd, #c6c3c3);
  background-image: -o-linear-gradient(top, #d9dddd, #c6c3c3);
  background-image: linear-gradient(to bottom, #d9dddd, #c6c3c3);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#d9dddd, endColorstr=#c6c3c3);
}
.img_btn_disabled {
  filter: grayscale(100%);
  cursor: default;
  border: 1px solid #cccccc;
  border-radius: 5px;
  -webkit-box-shadow: #FEFFFF 0px 1px 1px;
  -moz-box-shadow: #FEFFFF 0px 1px 1px;
  box-shadow: #FEFFFF 0px 1px 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px5px;
  margin: 2px;
  user-select: none;
}
.filter_header_icon {
  cursor: default;
  border: 1px solid transparent;
  user-select: none;
  border-radius: 5px;
  -webkit-box-shadow: #FEFFFF 0px 1px 1px;
  -moz-box-shadow: #FEFFFF 0px 1px 1px;
  box-shadow: #FEFFFF 0px 1px 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px5px;
  margin: 2px;
}
.intro_btn {
  width: 36px;
  height: 36px;
  float: left;
}
.text_input {
  margin: 0px ;
  line-height: 18px;
  font-size: 14px;
  padding: 9px;
  border: 0;
}
/* This css rule is TOO broad, it makes it difficult to add new elements */
input {
  display: block;
  float: left;
}
/* Undo global input changes */
.offline_image_cb,
.add_image_popup input {
  display: inline;
  float: none;
}
label.option_rb > input,
label.menu_rb > input,
label.nav_cb > input {
  /* HIDE RADIO */
  visibility: hidden;
  /* Makes input not-clickable */
  position: absolute;
  /* Remove input from document flow */
  height: 0px;
  width: 0px;
}
text {
  color: #666;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -ms-user-select: none;
  cursor: default;
}
#footer {
  bottom: 0px;
  left: 0px;
  position: absolute;
  z-index: 1;
  background: #F2F2F2;
  border: 1px solid #999;
  text-align: right;
  vertical-align: middle;
  width: 100%;
  height: 25px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  user-select: none;
}
#footer_left {
  bottom: 0px;
  left: 0px;
  z-index: 1;
  text-align: left;
  vertical-align: middle;
  margin-right: 0px;
  height: 25px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  float: left;
}
#footer_right {
  bottom: 0px;
  right: 0px;
  z-index: 1;
  text-align: right;
  vertical-align: middle;
  margin-left: 0px;
  height: 25px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  float: right;
}
.control_div {
  background: #F2F2F2;
  border: 1px solid #999;
  z-index: 1;
  box-shadow: 2px 2px 2px #888888;
  border-radius: 10px;
  text-align: center;
  vertical-align: middle;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}
.ui_label {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  text-align: center;
  vertical-align: top;
  font-size: 12px;
}
#menu_div {
  left: -50px;
  top: 50%;
  width: 34px;
  margin-top: -166px;
  position: absolute;
  padding: 5px;
}
.menu_label {
  font-weight: normal;
  font-size: 10px;
}
.menu_hr {
  margin-bottom: 0px;
  margin-top: 5px;
}
.menu_rb {
  float: left;
}
.menu_rb > input:disabled + img {
  /* IMAGE STYLES */
  cursor: default;
  opacity: 0.3;
}
.menu_rb > input:enabled + img {
  /* (RADIO CHECKED) IMAGE STYLES */
  border: 2px solid #ccc;
  cursor: pointer;
  opacity: 1;
}
.menu_rb > input:enabled:hover + img {
  /* (RADIO CHECKED) IMAGE STYLES */
  border-bottom: 2px solid #666;
  border-right: 2px solid #666;
}
.menu_rb > input:enabled:checked + img {
  /* (RADIO CHECKED) IMAGE STYLES */
  border-bottom: 2px solid #f00;
  border-right: 2px solid #f00;
}
.menu_rb > input:enabled:checked:hover + img {
  /* (RADIO CHECKED) IMAGE STYLES */
  border-bottom: 2px solid #f00;
  border-right: 2px solid #f00;
}
#menu_div input {
  margin-top: 5px;
  margin-bottom: 5px;
}
#export_formats .img_btn_disabled,
#control_panel .img_btn_disabled {
  opacity: 0.3;
}
#filter_div {
  left: 56px;
  top: 50%;
  margin-top: -166px;
  padding: 5px;
  position: absolute;
  min-width: 280px;
}
.filter_div_section {
  position: relative;
  clear: both;
}
.filter_div_header {
  float: left;
  width: 44px;
  margin: 5px;
  top: 50%;
  transform: translate(0%, 50%);
}
.filter_div_header text {
  margin-left: -5px;
}
.filter_label {
  display: block;
}
.filter_select {
  margin-top: 5px;
  width: 225px;
  font-size: 10px;
  border: solid #999 1px;
  cursor: pointer;
}
.filter_select option:focus {
  background-color: #000;
}
select > option:focus:active {
  background-color: #000;
}
select > option {
  background-color: #fff;
  color: black;
}
select > option:hover {
  background-color: #999;
  color: white;
}
#option_div {
  top: 10px;
  left: 50%;
  width: 712px;
  margin-left: -356px;
  position: absolute;
  padding-bottom: 5px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 5px;
  user-select: none;
}
.option_rb {
  margin-top: 20px;
  vertical-align: top;
  display: inline-block;
  text-align: center;
}
.option_rb > input + img {
  /* IMAGE STYLES */
  cursor: pointer;
  border: 2px solid transparent;
}
.option_rb > input:enabled:checked + img {
  /* (RADIO CHECKED) IMAGE STYLES */
  border-bottom: 2px solid #f00;
  border-right: 2px solid #f00;
}
.option_rb > input:enabled:checked:hover + img {
  /* (RADIO CHECKED) IMAGE STYLES */
  border-bottom: 2px solid #f00;
  border-right: 2px solid #f00;
}
.option_rb > input:enabled:hover + img {
  /* (RADIO CHECKED) IMAGE STYLES */
  border-bottom: 2px solid #666;
  border-right: 2px solid #666;
}
.option_rb > input:enabled + img {
  /* (RADIO CHECKED) IMAGE STYLES */
  border: 2px solid #eee;
  background-color: #fff;
}
.option_rb > .img_btn_enabled {
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background-image: -webkit-linear-gradient(top, #fff, #fff);
  background-image: -moz-linear-gradient(top, #fff, #fff);
  background-image: -ms-linear-gradient(top, #fff, #fff);
  background-image: -o-linear-gradient(top, #fff, #fff);
  background-image: linear-gradient(to bottom, #fff, #fff);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#fff, endColorstr=#fff);
}
.option_rb > .img_btn_enabled:hover {
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd));
  background-image: -webkit-linear-gradient(top, #fff, #eee);
  background-image: -moz-linear-gradient(top, #fff, #eee);
  background-image: -ms-linear-gradient(top, #fff, #eee);
  background-image: -o-linear-gradient(top, #fff, #eee);
  background-image: linear-gradient(to bottom, #fff, #eee);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#fff, endColorstr=#eee);
}
.option_rb > input:disabled + img {
  /* (RADIO CHECKED) IMAGE STYLES */
  filter: grayscale(100%);
}
.option_rb_label {
  font-weight: normal;
  font-size: 9px;
  display: block;
  color: #777;
  user-select: none;
}
#rb_hint {
  position: absolute;
  border: 1px solid #444;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  max-width: 220px;
  z-index: 1;
  font-size: 12px;
  padding: 5px;
  font-style: italic;
  background-color: #444;
  color: #fff;
  -webkit-box-shadow: 2px 2px 4px #888;
  -moz-box-shadow: 2px 2px 4px #888;
  box-shadow: 2px 2px 4px #888;
}
.rb_hint_left:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -15px;
  top: 10px;
  border-width: 10px 15px 10px 0;
  border-style: solid;
  border-color: transparent #444;
}
.rb_hint_right:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  right: -15px;
  top: 10px;
  border-width: 10px 0px 10px 15px;
  border-style: solid;
  border-color: transparent #444;
}
.rb_hint_rep_highlight {
  font-weight: bolder;
  color: #2DAAE1;
}
.rb_hint_scale_highlight {
  font-weight: bolder;
  color: #E94E1B;
}
.rb_hint_layout_highlight {
  font-weight: bolder;
  color: #94C11F;
}
#hint_div {
  right: 15px;
  top: 20px;
  height: 34px;
  position: absolute;
  padding: 5px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}
.introjs-hints a {
  margin-left: -15px;
  margin-top: -30px;
}
.introjs-hint-dot {
  border: 10px solid rgba(255, 165, 0, 0.7);
}
#export_div {
  text-align: center;
  position: absolute;
  padding: 5px 5px 5px 5px;
  vertical-align: middle;
  top: -70px;
  left: 50%;
  width: 650px;
  margin-left: -325px;
  user-select: none;
}
#export_formats {
  text-align: center;
  display: inline-flex;
}
#opt_out_div {
  margin-top: 10px;
}
#import_div {
  text-align: center;
  position: absolute;
  top: -70px;
  left: 50%;
  width: 650px;
  margin-left: -325px;
  user-select: none;
}
#boilerplate {
  justify-content: center;
  height: 25px;
}
#disclaimer {
  justify-content: center;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  padding: 5px;
  clear: both;
}
.boilerplate_title {
  text-align: center;
  font-weight: 600;
  font-stretch: ultra-expanded;
  font-size: 16px;
  color: #000;
  bottom: 0px;
  margin-left: -17px;
}
.disclaimer_title {
  text-align: center;
  font-size: 12px;
  color: #333;
  margin-left: -17px;
}
.metadata_title {
  font-weight: bold;
  font-size: 12px;
  color: #333;
  vertical-align: sub;
}
.boilerplate_text {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: #777;
  bottom: 0px;
  text-decoration: none;
}
.disclaimer_text {
  font-weight: normal;
  font-size: 10px;
  text-align: center;
  color: #333;
}
.metadata_content {
  font-weight: normal;
  font-size: 12px;
  text-align: left;
  color: #333;
  margin-right: 10px;
}
.category_element {
  width: auto;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
}
input[type="color"]::-moz-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-moz-color-swatch {
  border: none;
}
.colorpicker_wrapper {
  float: left;
  width: 12px;
  height: 12px;
  margin-right: 5px;
  margin-top: 2px;
  cursor: pointer;
  border: 1px solid #999;
  padding: 0;
  box-shadow: #999 0px 1px 1px;
  -webkit-box-shadow: #999 0px 1px 1px;
  -moz-box-shadow: #999 0px 1px 1px;
}
.colorpicker {
  /*width: 10px;
  height: 10px;*/
  width: 100%;
  height: 100%;
  cursor: pointer;
  /*margin-right: 5px;
  margin-top: 2px;*/
  padding: 0;
  /*opacity: 0;*/
}
.colorpicker:hover {
  border: 1px solid #f00;
}
.colorpicker_wrapper:hover {
  border: 1px solid #f00;
}
.footer_text_left {
  text-align: left;
  font-size: 0.8em;
  margin-left: 24px;
  color: #626262;
  bottom: 0px;
  text-decoration: none;
}
.footer_text {
  text-align: right;
  font-size: 0.8em;
  margin-right: 24px;
  color: #626262;
  bottom: 0px;
  text-decoration: none;
}
#logo_div {
  left: 10px;
  top: 10px;
  position: absolute;
  width: 34px;
  height: 34px;
  padding: 5px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  user-select: none;
}
.ms-logo {
  height: 23px;
  max-height: 23px;
  display: block;
  vertical-align: baseline;
}
#data_picker {
  width: 650px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  border-top: 1px solid #999;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  display: flex;
}
.data_story_picker {
  /*float: left;*/
  flex: 1;
  display: flex;
  justify-content: center;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  width: 320px;
  border-right: 1px solid #999;
}
#timeline_metadata {
  width: 650px;
  transition: all 0.5s ease;
  border-top: 1px solid #999;
  -webkit-transition: all 0.5s ease;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  float: left;
  font-size: 12px;
}
#timeline_metadata_contents {
  width: 630px;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
}
.timeline_metadata_contents_div {
  width: 630px;
  clear: both;
}
#draw_timeline {
  margin-left: 5px;
  margin-bottom: 5px;
  margin-top: 0px;
  width: 320px;
  padding-top: 15px;
  padding-bottom: 15px;
  height: 25px;
  bottom: 0px;
  right: 0px;
  border-radius: 10px;
  background-color: #ff7f0e;
  border-color: #da6600;
  background: #ff7f0e;
  background-image: -webkit-linear-gradient(top, #ff7f0e, #da6600);
  background-image: -moz-linear-gradient(top, #ff7f0e, #da6600);
  background-image: -ms-linear-gradient(top, #ff7f0e, #da6600);
  background-image: -o-linear-gradient(top, #ff7f0e, #da6600);
  background-image: linear-gradient(to bottom, #ff7f0e, #da6600);
}
#draw_timeline:hover {
  background-color: #da6600;
  border-color: #ff7f0e;
  background: #da6600;
  background-image: -webkit-linear-gradient(top, #da6600, #ff7f0e);
  background-image: -moz-linear-gradient(top, #da6600, #ff7f0e);
  background-image: -ms-linear-gradient(top, #da6600, #ff7f0e);
  background-image: -o-linear-gradient(top, #da6600, #ff7f0e);
  background-image: linear-gradient(to bottom, #da6600, #ff7f0e);
}
#gdocs_info {
  width: 650px;
  height: 0px;
  justify-content: center;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  float: left;
}
.gdocs_info_element {
  display: none;
  vertical-align: middle;
  text-align: center;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  margin: 0px;
  float: left;
  height: 27px;
}
.gdocs_info_element .text_input {
  padding: 0;
  padding-left: 5px;
  margin-bottom: 5px;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  border-right: 1px solid #999;
  border-left: none;
}
#gdoc_spreadsheet_key_input {
  margin-left: 0px;
  width: 319px;
}
#gdoc_worksheet_title_input {
  margin-left: 0px;
  width: 295px;
}
.gdocs_info_element .img_btn_enabled {
  margin-left: 2px;
  margin-top: 0px;
}
.inputfile {
  width: 0px;
  height: 0px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  margin: auto;
}
#demo_dataset_picker {
  width: 40px;
  height: 40px;
  opacity: 0;
  border: 0px solid transparent;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  font-size: 10px;
  background: transparent;
}
.import_label > select + img {
  border: 1px solid #cccccc;
}
.import_label > select:hover + img:hover {
  /* (RADIO CHECKED) IMAGE STYLES */
  border-bottom: 1px solid #f00;
}
.import_label {
  margin-top: 10px;
}
.demo_dataset_label {
  border: 1px solid #cccccc;
  width: 40px;
  height: 40px;
  margin-right: 2px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #f4f5f5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f5f5), to(#dfdddd));
  background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);
  background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd);
  background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);
  background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
  background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f4f5f5, endColorstr=#dfdddd);
}
.demo_dataset_label:hover {
  border: 1px solid #ff0000;
  background-color: #d9dddd;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d9dddd), to(#c6c3c3));
  background-image: -webkit-linear-gradient(top, #d9dddd, #c6c3c3);
  background-image: -moz-linear-gradient(top, #d9dddd, #c6c3c3);
  background-image: -ms-linear-gradient(top, #d9dddd, #c6c3c3);
  background-image: -o-linear-gradient(top, #d9dddd, #c6c3c3);
  background-image: linear-gradient(to bottom, #d9dddd, #c6c3c3);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#d9dddd, endColorstr=#c6c3c3);
}
.annotation_div {
  text-align: center;
  position: absolute;
  padding: 5px 5px 5px 5px;
  vertical-align: middle;
  left: 56px;
  top: 50%;
}
.annotation_circle {
  fill: #fff;
  stroke: #f00;
  stroke-width: 1px;
}
.annotation_line {
  fill: none;
  stroke: #f00;
  stroke-width: 1px;
}
.event_annotation_line {
  stroke: dashed 0.5px #aaa;
}
.annotation_frame {
  fill: #fff;
  stroke-width: 1px;
  stroke: transparent;
}
.annotation_control {
  border: 1px solid #ccc;
  stroke-width: 1px;
  stroke: #ccc;
  cursor: pointer;
  fill: transparent;
}
#caption_div {
  margin-top: -95px;
}
.caption_frame,
.image_frame {
  fill: #fff;
  stroke-width: 1px;
  stroke: transparent;
}
.caption_drag_area,
.annotation_drag_area,
.image_drag_area {
  fill: transparent;
  fill-opacity: 0;
  stroke-width: 1px;
  stroke: transparent;
  cursor: move;
  box-shadow: 2px 2px 2px #888888;
  -webkit-box-shadow: 2px 2px 2px #888888;
  -moz-box-shadow: 2px 2px 2px #888888;
}
.caption_label {
  font-size: 18px;
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  font-weight: normal;
}
#add_caption_text_input {
  resize: vertical;
  display: block;
  float: left;
  padding: 10px;
}
.add_image_popup {
  margin-top: -55px;
}
.onhover {
  opacity: 0.33;
}
.onhover:hover {
  opacity: 1;
}
#playback_bar {
  display: flex;
  align-items: center;
  width: 100%;
}
#navigation_div {
  left: 50%;
  width: 70%;
  margin-left: -35%;
  bottom: -100px;
  position: absolute;
  padding-bottom: 5px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 5px;
}
.playback_mode #navigation_div {
  width: auto;
  left: 10px;
  margin-left: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.nav_cb > input:enabled:checked + img {
  border: 1px solid #f00;
}
#playback_bar .nav_bttn {
  display: flex;
  flex: 0 1 26px;
}
.nav_bttn .nav_cb {
  display: inline-flex;
}
#stepper_container {
  height: 50px;
  padding: 0px;
  margin-right: 5px;
  background-color: white;
  border: 1px solid #999;
  padding: 5px;
  border-radius: 5px;
  vertical-align: middle;
  overflow-y: hidden;
  overflow-x: overlay;
  flex: 1;
}
.playback_mode #stepper_container {
  display: none;
}
#stepper_svg {
  height: 50px;
  padding: 0px;
  float: left;
}
#stepper_svg_placeholder {
  fill: #ccc;
  font-size: 0.8em;
}
.scene_delete rect {
  fill: transparent;
  stroke: #ccc;
  stroke-width: '1px';
}
.frame_hover {
  height: 300px;
  width: 300px;
  background: #fff;
  border: 1px solid #999;
  z-index: 1;
  box-shadow: 2px 2px 2px #888888;
  -webkit-box-shadow: 2px 2px 2px #888888;
  -moz-box-shadow: 2px 2px 2px #888888;
  border-radius: 10px;
  text-align: center;
  position: absolute;
  vertical-align: middle;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}
.option_picker {
  float: left;
  display: flex;
  justify-content: center;
  border-right: 1px solid #999;
  padding-bottom: 0px;
  padding-top: 0px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0px;
}
#main_svg {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}
.legend {
  margin: 0px 0px 0px 0px;
  fill: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}
.legend_rect {
  fill: #fff;
  stroke: #aaa;
  stroke-width: 1px;
}
.legend_title {
  fill: #666;
  font-size: 12px;
  font-weight: bolder;
  font-stretch: expanded;
}
.legend:hover > .legend_rect:hover,
.legend_title:hover {
  cursor: move;
}
.legend:hover > .legend_rect {
  stroke: #f00;
}
.legend_element_g text {
  fill: #666;
  font-size: 12px;
  cursor: pointer;
}
.legend_element rect {
  stroke: #fff;
  stroke-width: 0.25px;
  cursor: pointer;
}
.time_elapsed {
  fill: #aaa;
  stroke: #aaa;
  stroke-width: 0.5px;
}
.timeline_frame {
  fill: transparent;
  opacity: 0.1;
  stroke: none;
}
.timeline_frame:hover {
  stroke: #999;
  stroke-width: 0.5px;
}
.timeline_facet_frame {
  fill: none;
  stroke: #999;
  stroke-width: 0.5px;
}
.timeline_segment_frame {
  fill: none;
  stroke: #999;
  stroke-width: 0.5px;
}
.form-group {
  margin-bottom: 0px;
  display: inline-block;
}
.radio-inline {
  padding-left: 0px;
  margin-left: 0px;
}
.radio-inline label {
  padding-left: 0px;
}
.radio-inline input[type=radio] {
  margin-left: 0px;
}
.unit_circle {
  fill: #fff;
  stroke: #000;
  stroke-width: 1px;
}
.x_axis path,
.interim_duration_axis path,
.timeline_axis path {
  fill: none;
  stroke: #999;
  stroke-width: 1px;
  z-index: -1;
}
.radial_axis_tick path {
  fill: none;
  stroke: #999;
  stroke-width: 1px;
  stroke-dasharray: 2;
  z-index: -1;
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes undash {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: -110%;
  }
}
.x_axis line,
.interim_duration_axis line,
.timeline_axis line {
  fill: none;
  stroke: #999;
  shape-rendering: crispEdges;
  stroke-width: 1px;
  stroke-dasharray: 2;
  z-index: -1;
}
.x_axis text,
.interim_duration_axis text,
.timeline_axis text {
  font-size: 12px;
  z-index: 1;
}
.event_rect {
  fill: #8dd3c7;
  stroke: #fff;
}
.event_rect:hover {
  fill: #8dd3c7;
  stroke: #00f;
}
.event_span,
.event_span_component {
  stroke: #fff;
  stroke-width: 0.25px;
  cursor: pointer;
}
.event_span_selected {
  stroke: #000;
  stroke-width: 1px;
}
.event_dropline {
  stroke: #00f;
  stroke-width: 0px;
}
.frame_resizer:hover {
  cursor: ew-resize;
}
.start_end_label,
.radial_axis_tick,
.weekday_label {
  font-size: 12px;
}
.facet_title,
.segment_title {
  font-size: 13px;
  font-weight: bold;
  font-stretch: extra-expanded;
}
.event_label {
  fill: #f00;
  font-size: 12px;
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  font-weight: normal;
}
.event_date {
  font: 10px sans-serif;
  display: none;
}
.spiral_seq_number {
  font: 10px sans-serif;
  fill: #666;
}
.event_text {
  font: 10px sans-serif;
  display: none;
}
.year_cell,
.day_cell,
.rad_center,
.day_cell_rect {
  stroke: #aaa;
  stroke-width: 0.25px;
  fill: none;
}
.rad_track {
  stroke: #999;
  stroke-width: 0.5px;
  fill: none;
  z-index: -1;
}
.timeline_start_line {
  stroke: #aaa;
  stroke-width: 0.5px;
}
.year_label {
  font-size: 10px;
}
.day_cell_label {
  font-size: 7px;
}
.month {
  fill: none;
  stroke: #999;
  stroke-width: 1px;
}
.time_elapsed {
  stroke: #aaa;
  stroke-width: 0.5px;
  fill: #ccc;
}
.time_elapsed:hover {
  stroke: #00f;
  stroke-width: 0.5px;
  fill: #00f;
  fill-opacity: 0.25;
}
.point_event {
  fill: #000;
  fill-opacity: 0.1;
  stroke: #000;
  stroke-width: 0.5px;
}
.event_start {
  fill: #f00;
  fill-opacity: 0.1;
  stroke: #f00;
  stroke-width: 0.5px;
}
.event_end {
  fill: #00f;
  fill-opacity: 0.1;
  stroke: #00f;
  stroke-width: 0.5px;
}
.non_event {
  display: none;
}
.span_line {
  stroke: #00f;
  stroke-opacity: 0.2;
  stroke-width: 5px;
}
.span_line:hover {
  stroke: #ff0;
  stroke-opacity: 1;
  stroke-width: 5px;
}
.arc {
  fill: #aaa;
}
.line {
  fill: none;
  stroke: #aaa;
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  z-index: -1;
}
.image_div_error {
  color: red;
}
.path_end_indicator {
  fill: none;
  stroke: #fff;
}
#timecurve {
  fill: none;
  stroke-width: 10px;
  stroke: #777777;
  opacity: 0.2;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}
/* introjs overrides */
.introjs-overlay {
  background-color: #999;
  background: -webkit-radial-gradient(center, ellipse cover, rgba(153, 153, 153, 0.4) 0, rgba(153, 153, 153, 0.9) 100%);
}
.introjs-helperLayer {
  border: 1px solid #f00;
  background-color: transparent;
}
.timeline_storyteller-container {
  width: 100%;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
  padding-bottom: 50px;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}
.show-about-bar .timeline_storyteller-container {
  height: calc(100% - 25px);
}
.playback_mode .timeline_storyteller-container {
  padding-left: 0;
  padding-right: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
.timeline_storyteller {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.loading_data_indicator {
  font-weight: bold;
  margin-bottom: 10px;
}
/* Add Image Popup */
.add_image_popup h4 {
  margin: 3px;
}
.add_image_popup h5 {
  margin: 3px;
}
.resize_width,
.resize_height {
  width: 55px;
}
.resize_options {
  margin-bottom: 5px;
}
.add_image_selected_file {
  font-size: 14px;
  cursor: pointer;
}
.add_image_file_chooser {
  margin-bottom: 5px;
}
.selected_file_remove_btn {
  width: 18px;
  height: 18px;
  float: right;
}
.selected_files_container {
  vertical-align: middle;
  margin: 5px;
}
.image_div_container {
  position: relative;
}
.image_div_container .add_image_link {
  width: 100%;
  box-sizing: border-box;
}
.image_local_add_drop_zone {
  border: 2px dashed #bbb;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
  color: #bbb;
  width: 100%;
  box-sizing: border-box;
}
.image_local_add_drop_zone.dragging {
  border-color: #333;
  color: #333;
}
.add_image_btn {
  float: right;
}
.add_image_popup {
  font-size: 14px;
}
.add_image_popup input[type="checkbox"] {
  vertical-align: middle;
}
.timeline_storyteller-error {
  position: absolute;
  top: 150px;
  width: 100%;
  margin: 0 auto;
}

/* Common stuff */
.picker-wrapper,
.slide-wrapper {
  position: relative;
  float: left;
}
.picker-indicator,
.slide-indicator {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}
.picker,
.slide {
  cursor: crosshair;
  float: left;
}
/* Default skin */
.cp-default {
  background-color: gray;
  padding: 12px;
  box-shadow: 0 0 40px #000;
  border-radius: 15px;
  float: left;
}
.cp-default .picker {
  width: 200px;
  height: 200px;
}
.cp-default .slide {
  width: 30px;
  height: 200px;
}
.cp-default .slide-wrapper {
  margin-left: 10px;
}
.cp-default .picker-indicator {
  width: 5px;
  height: 5px;
  border: 2px solid darkblue;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  background-color: white;
}
.cp-default .slide-indicator {
  width: 100%;
  height: 10px;
  left: -4px;
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
  border: 4px solid lightblue;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: white;
}
/* Small skin */
.cp-small {
  padding: 5px;
  background-color: white;
  /*float: left;*/
  border-radius: 5px;
}
.cp-small .picker {
  width: 100px;
  height: 100px;
}
.cp-small .slide {
  width: 15px;
  height: 100px;
}
.cp-small .slide-wrapper {
  margin-left: 5px;
}
.cp-small .picker-indicator {
  width: 1px;
  height: 1px;
  border: 1px solid black;
  background-color: white;
}
.cp-small .slide-indicator {
  width: 100%;
  height: 2px;
  left: 0px;
  background-color: black;
}
/* Fancy skin */
.cp-fancy {
  padding: 10px;
  /*    background-color: #C5F7EA; */
  background: -webkit-linear-gradient(top, #aaa 0%, #222 100%);
  float: left;
  border: 1px solid #999;
  box-shadow: inset 0 0 10px white;
}
.cp-fancy .picker {
  width: 200px;
  height: 200px;
}
.cp-fancy .slide {
  width: 30px;
  height: 200px;
}
.cp-fancy .slide-wrapper {
  margin-left: 10px;
}
.cp-fancy .picker-indicator {
  width: 24px;
  height: 24px;
  background-image: url(http://cdn1.iconfinder.com/data/icons/fugue/bonus/icons-24/target.png);
}
.cp-fancy .slide-indicator {
  width: 30px;
  height: 31px;
  left: 30px;
  background-image: url(http://cdn1.iconfinder.com/data/icons/bluecoral/Left.png);
}
/* Normal skin */
.cp-normal {
  padding: 10px;
  background-color: white;
  float: left;
  border: 4px solid #d6d6d6;
  box-shadow: inset 0 0 10px white;
}
.cp-normal .picker {
  width: 200px;
  height: 200px;
}
.cp-normal .slide {
  width: 30px;
  height: 200px;
}
.cp-normal .slide-wrapper {
  margin-left: 10px;
}
.cp-normal .picker-indicator {
  width: 5px;
  height: 5px;
  border: 1px solid gray;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  background-color: white;
  pointer-events: none;
}
.cp-normal .slide-indicator {
  width: 100%;
  height: 10px;
  left: -4px;
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
  border: 4px solid gray;
  background-color: white;
  pointer-events: none;
}


/*# sourceMappingURL=visual.css.map*/