.wrapper {
  overflow-x: auto;
  height: 100%;
}
.datalabel {
  margin-left: 4px;
}
.chart {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: flex-end;
  height: 100%;
  min-height: 160px;
}
.bubble {
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  border-width: 0.5vh;
  border-style: solid;
  border-color: transparent;
}
.bubble .percent {
  position: relative;
  bottom: 4px;
  left: 6px;
}
.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.chart:has(.selected) .column:not(.selected) {
  opacity: 0.4;
}
.column:has(~ .landing-page) {
  display: none;
}
.columnlabel {
  max-width: 90%;
  text-overflow: ellipsis;
  overflow: hidden;
}

