p {
  font-size: 20px;
  font-weight: bold;
}
p em {
  background: yellow;
  padding: 5px;
}
.lch-setupline {
  font-style: italic;
  color: darkblue;
  font-size: 16px;
}
.lch-divctr {
  transform: translateZ(0);
  background: #fff;
  padding: 4px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.lch-bottompad {
  display: none;
  background-color: transparent;
}
.lch-space {
  width: 15px;
  height: 15px;
}
.lch-btns {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
  width: auto;
}
.lch-genctr {
  display: flex;
  flex: 1;
  vertical-align: middle;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4px;
  margin-bottom: 4px;
}
.lch-btnimg {
  height: 20px;
  width: 20px;
  position: relative;
  vertical-align: middle;
  text-align: center;
}
.lch-textentry {
  align-self: center;
  display: inline-block;
  padding: 4px;
}
.lch-spinner {
  align-self: center;
  justify-content: center;
  padding: 4px;
}
.lch-btnstd {
  align-self: center;
  display: inline-block;
  padding: 4px;
}
.lch-hovertext {
  margin-right: 8px;
  font-style: italic;
  color: black;
  font-size: 0.85em;
}
.lch-hoverwarntext {
  margin-right: 8px;
  color: darkred;
  font-size: 0.8em;
}
.lch-hovercharttypediv {
  display: none;
  flex-wrap: wrap;
  margin-top: 8px;
  margin-left: 4px;
  margin-right: 4px;
}
.lch-hovercharttypeddl {
  margin-left: 6px;
  flex-grow: 1;
  max-width: 300px;
  padding: 2px;
  text-align: left;
  text-align-last: left;
  width: auto;
}
.lch-selectedsummary {
  margin-left: 16px;
  margin-right: 16px;
  color: black;
  font-size: 0.7em;
}
.lch-hoversimdiv {
  display: none;
  flex-wrap: wrap;
  margin-top: 8px;
  margin-left: 4px;
  margin-right: 4px;
}
.lch-secretdiv {
  display: none;
  flex-wrap: wrap;
  margin-top: 8px;
  margin-left: 4px;
  margin-right: 4px;
}
.lch-hoversimtext {
  margin-left: 6px;
  flex-grow: 1;
}
.lch-secrettext {
  margin-left: 6px;
  flex-grow: 1;
  max-width: 280px;
}
.lch-hoverdiv {
  position: absolute;
  height: auto;
  background-color: rgba(245, 230, 197, 0.8);
  border: 2px solid black;
  padding: 6px;
  border-radius: 6px;
  z-index: 5000;
}
.lch-counter {
  color: #202020;
  align-self: center;
}
.lch-ctrhost {
  display: block;
  width: 100%;
  height: auto;
}
.lch-t1host {
  display: block;
  width: 100%;
  overflow: auto;
}
.lch-t1 {
  display: table;
  width: 100%;
  height: auto;
}
.lch-msgroot {
  display: block;
  width: 100%;
  height: auto;
  cursor: default;
  margin-top: 8px;
}
.lch-msgtext {
  font-size: 18px;
  color: crimson;
  font-weight: bold;
  text-align: center;
  height: auto;
  margin-left: 6px;
  margin-right: 6px;
}
.lch-hoverlabel {
  font-style: italic;
  color: black;
  font-size: 0.85em;
}
.lch-loadtext {
  font-size: small;
  font-weight: bold;
  color: darkslateblue;
  display: none;
  margin-right: 8px;
}
.lch-counttext {
  float: right;
  font-size: small;
  margin-left: 8px;
}
.lch-entryroot {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.lch-copymsg {
  font-size: 0.6em;
  font-style: italic;
  color: #404040;
}
.lch-listhost {
  display: flex;
  height: 100%;
  padding: 4px;
}
.lch-listctrl {
  flex: 1 0;
  padding: 4px;
  z-index: 1999;
  resize: none;
}
.lch-setupgen {
  display: inline-block;
  text-align: center;
}
.lch-savesecret {
  margin-left: 4px;
  display: inline-block;
  text-align: center;
}
.lch-refresh {
  margin-top: 12px;
  display: none;
  margin-left: auto;
  margin-right: auto;
}
.lch-gendiff {
  margin: 4px;
  display: none;
}
.lch-waitmsg {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: small;
  justify-content: center;
}
.lch-showhelp {
  margin: 4px;
  display: none;
}
.lch-mainimg {
  display: none;
  width: 100%;
  height: 100%;
  z-index: 3000;
}

