p {
  font-size: 20px;
  font-weight: bold;
}
p em {
  background: yellow;
  padding: 5px;
}
.j-lp-wrapper {
  padding: 2%;
}
.j-lp-wrapper p {
  width: 100%;
  font-size: 0.75em;
}
.landingPageGrid {
  /* display: grid; */
  box-sizing: border-box;
  /* padding-bottom: 5px; */
  grid-template-columns: 100%;
  grid-template-rows: 1em 90%;
}
.landingPageInstruction {
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 80%;
  /* display: block; */
  text-align: center;
  margin-bottom: 1em;
}
.landingPageInstructionURL {
  color: blue;
  text-decoration: underline;
}
.landingPageSVG {
  width: 100%;
}
.landingPagePath {
  opacity: 0.75;
}
.landingPagePolygon {
  opacity: 0.75;
}
.landingPageRect {
  opacity: 0.75;
}
.landingPageLogoG {
  opacity: 0.75;
}
.landingPageCircle {
  opacity: 0.75;
}
.overallWrapper {
  padding-top: 20px;
  float: left;
  vertical-align: top;
}
.spanWrapper {
  float: left;
  text-align: center;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  padding-top: 0.25em;
  padding-bottom: 0.5em;
}
.spanTag {
  display: block;
}
.tagNotSelected {
  opacity: 0.4;
}

