.axisP {
  background-color: transparent !important;
  position: absolute;
  left: 0;
  width: var(--p-width);
  height: 100%;
  border: 0;
  margin: 0;
  padding: 0;
}
g.leftAxis text {
  fill: var(--p-text-color, "#000000");
  font-size: var(--p-text-size, 12px);
  font-family: var(--p-text-family, "Arial Unicode MS");
  font-weight: var(--p-text-bold, "normal");
  font-style: var(--p-text-italic, "normal");
}
g.leftAxis path {
  stroke-width: 1;
  stroke: var(--p-st-color, "#000000");
}
g.leftAxis g.tick line {
  stroke-width: 1;
  stroke: var(--p-st-color, "#000000");
}
.pTitleText {
  fill: var(--p-titleText-color, "#000000");
  font-size: var(--p-titleText-size, 12px);
  font-family: var(--p-titleText-family, "Arial Unicode MS");
  font-weight: var(--p-titleText-bold, "normal");
  font-style: var(--p-titleText-italic, "normal");
  text-anchor: middle;
}
.axisS {
  background-color: transparent !important;
  position: absolute;
  width: var(--s-width);
  right: 0;
  height: 100%;
  border: 0;
  margin: 0;
  padding: 0;
}
g.rightAxis text {
  fill: var(--s-text-color, "#000000");
  font-size: var(--s-text-size, 12px);
  font-family: var(--s-text-family, "Arial Unicode MS");
  font-weight: var(--s-text-bold, "normal");
  font-style: var(--s-text-italic, "normal");
}
g.rightAxis path {
  stroke-width: 1;
  stroke: var(--s-st-color, "#000000");
}
g.rightAxis g.tick line {
  stroke-width: 1;
  stroke: var(--s-st-color, "#000000");
}
.sTitleText {
  fill: var(--s-titleText-color, "#000000");
  font-size: var(--s-titleText-size, 12px);
  font-family: var(--s-titleText-family, "Arial Unicode MS");
  font-weight: var(--s-titleText-bold, "normal");
  font-style: var(--s-titleText-italic, "normal");
  text-anchor: middle;
}
.gX text {
  fill: var(--x-text-color, "#000000");
  font-size: var(--x-text-size, 12px);
  font-family: var(--x-text-family, "Arial Unicode MS");
  font-weight: var(--x-text-bold, "normal");
  font-style: var(--x-text-italic, "normal");
}
.gX path,
.gX line {
  stroke-width: 1;
  stroke: var(--x-st-color, "#000000");
}
#xTip {
  border-radius: 5px;
  background: var(--x-hover-background-color, "#000000");
  color: var(--x-hover-text-color, "#000000");
  font-family: var(--x-hover-family, "Arial Unicode MS");
  font-weight: var(--x-hover-bold, "normal");
  font-style: var(--x-hover-italic, "normal");
}
.arc {
  stroke: var(--arc-line-color, "#000000");
}
.arcMarker {
  fill: var(--arc-text-color, "#000000");
  font-size: var(--arc-text-size, 12px);
  font-family: var(--arc-text-family, "Arial Unicode MS");
  font-weight: var(--arc-text-bold, "normal");
  font-style: var(--arc-text-italic, "normal");
  text-anchor: start;
}
.arcHover {
  position: absolute;
  text-align: center;
  padding: 5px;
  border: 0px;
  margin: 0px;
  pointer-events: none;
  background: var(--arc-hover-background);
  color: var(--arc-hover-color);
  font-size: var(--arc-hover-size, 12px);
  font-family: var(--arc-hover-family, "Arial Unicode MS");
  font-weight: var(--arc-hover-bold, "normal");
  font-style: var(--arc-hover-italic, "normal");
}
#arc {
  fill: none !important;
  shape-rendering: geometricPrecision;
  stroke-width: 1;
  stroke-linejoin: round;
  stroke-linecap: round;
}
#arcTip {
  border-radius: 10px 100px / 120px;
}
.pArc {
  fill: none;
  opacity: 0;
}
.divLegend {
  width: var(--lgd-width);
  height: var(--lgd-height);
  border: var(--lgd-border, "1px solid #000000");
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: transparent !important;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
}
.svgLegend {
  position: "absolute";
  width: 100%;
  height: var(--lgdSVG-height);
  background-color: transparent !important;
}
.lgdCap {
  fill: var(--lgd-cap-color, "#000000");
  font-size: var(--lgd-cap-size, 12px);
  font-family: var(--lgd-cap-family, "Arial Unicode MS");
  font-weight: var(--lgd-cap-bold, "normal");
  font-style: var(--lgd-cap-italic, "normal");
}
.lgdBlockLine {
  fill: none;
  stroke-width: 0.5;
}
.lgdHighlight {
  fill: transparent;
}
.lgdText {
  fill: var(--lgd-text-color, "#000000");
  font-size: var(--lgd-text-size, 12px);
  font-family: var(--lgd-text-family, "Arial Unicode MS");
  font-weight: var(--lgd-text-bold, "normal");
  font-style: var(--lgd-text-italic, "normal");
  text-anchor: start;
}
.divLegend::-webkit-scrollbar {
  background-color: transparent !important;
  width: var(--scrollSize);
}
.divLegend::-webkit-scrollbar-button {
  background-color: transparent !important;
}
.divLegend::-webkit-scrollbar-track {
  background-color: var(--scrollWellBGC);
  border-radius: var(--scrollSize);
}
.divLegend::-webkit-scrollbar-thumb {
  border-radius: var(--scrollSize);
  -webkit-box-shadow: inset 0 0 var(--scrollInset) var(--dsg-scroll-color);
}
.divLegend::-webkit-scrollbar-thumb:hover {
  border: 0;
}
.values {
  fill: var(--v-color, "#000000");
  font-size: var(--v-size, 12px);
  font-family: var(--v-family, "Arial Unicode MS");
  font-weight: var(--v-bold, "normal");
  font-style: var(--v-italic, "normal");
}
.resultBar {
  stroke: var(--result-bar-color, "#000000");
  stroke-linecap: butt;
  stroke-width: 5;
}
.statement {
  fill: var(--result-statement-color, "#000000");
  font-size: var(--result-statement-size, 12px);
  font-family: var(--result-statement-family, "Arial Unicode MS");
  font-weight: var(--result-statement-bold, "normal");
  font-style: var(--result-statement-italic, "normal");
}
.divTable {
  width: var(--tbl-width);
  height: var(--tbl-height);
  border: var(--tbl-border, "1px solid #000000");
  position: absolute;
  bottom: 5px;
  left: 5px;
  background-color: transparent !important;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
}
.tableMatrix {
  margin: auto auto 0 auto;
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: transparent !important;
  width: var(--tbl-matrix-width);
}
.tableCap {
  color: var(--tbl-cap-color, "#000000");
  font-size: var(--tbl-cap-size, 12px);
  font-family: var(--tbl-cap-family, "Arial Unicode MS");
  font-weight: var(--tbl-cap-bold, "normal");
  font-style: var(--tbl-cap-italic, "normal");
  margin-top: 0;
  padding-bottom: 6px;
  padding-top: 0;
  background-color: transparent !important;
  text-align: var(--tbl-cap-align, "left");
  text-decoration-line: var(--tbl-cap-under, "none");
}
.tblHeader {
  color: var(--tbl-head-color, "#000000");
  font-family: var(--tbl-head-family, "Arial Unicode MS");
  font-weight: var(--tbl-head-bold, normal);
  font-style: var(--tbl-head-italic, normal);
  font-size: var(--tbl-head-size, 11px);
  text-align: var(--tbl-head-align, center);
  border: var(--tbl-head-line-color, "1px solid #000000");
}
.tblGrid {
  color: var(--tbl-grid-color, "#000000");
  font-family: var(--tbl-txt-family, "Arial Unicode MS");
  font-weight: var(--tbl-txt-bold, normal);
  font-style: var(--tbl-txt-italic, normal);
  font-size: var(--tbl-txt-size, 10px);
  text-align: var(--tbl-txt-align, center);
  padding: 1px;
  border: var(--tbl-grid-border, "1px solid #000000");
}
.tblButtonBar {
  height: 19px;
  border: 0;
  margin: 0 auto 0 auto;
  padding-top: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: baseline;
  background: var(--tbl-bar-gradient-color);
  opacity: var(--tbl-bar-colorO);
  width: var(--tbl-matrix-width);
}
.tblBarButtons {
  font-size: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  background-color: white;
  border-color: #FBFCF6;
  color: black;
  margin: 0;
}
.exportButton {
  font-size: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  background-color: white;
  border-color: #FBFCF6;
  color: black;
  margin: 0 3px 0 1px;
}
.tblSelect {
  width: 70px;
  font-size: 10px;
  height: 18px;
  margin: 0 0 0 4px;
}
.span1 {
  float: left;
  font-size: 10px;
  color: var(--tbl-bar-text-color);
  margin: 1px 1px 1px 2px;
}
.span2 {
  float: left;
  font-size: 10px;
  color: var(--tbl-bar-text-color);
  margin: 1px 0 1px 1px;
}
.input {
  width: 60px;
  font-size: 10px;
  height: 18px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.divTable::-webkit-scrollbar {
  background-color: transparent !important;
  width: var(--scrollSize);
}
.divTable::-webkit-scrollbar-button {
  background-color: transparent !important;
}
.divTable::-webkit-scrollbar-track {
  background-color: var(--scrollWellBGC);
  border-radius: var(--scrollSize);
}
.divTable::-webkit-scrollbar-thumb {
  border-radius: var(--scrollSize);
  -webkit-box-shadow: inset 0 0 var(--scrollInset) var(--dsg-scroll-color);
}
.divTable::-webkit-scrollbar-thumb:hover {
  border: 0;
}
:root {
  --scrollSize: 10px;
  --scrollInset: 6px;
}
html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-size: 16px;
  background-color: transparent !important;
}
.parent {
  height: 100%;
  width: 100%;
  background-color: transparent !important;
}
.divChart {
  position: absolute;
  width: var(--divChart-width);
  height: var(--divChart-height);
  border: var(--divChart-border);
  top: 5px;
  left: 5px;
  background-color: transparent !important;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: "hidden";
}
.barSVG {
  width: var(--svgBar-width);
  height: 100%;
  overflow-y: hidden;
  background-color: transparent !important;
}
.zGridlines {
  stroke-linecap: butt;
  stroke-width: 0.5;
  stroke: var(--graph-grid-color);
}
rect {
  shape-rendering: crispEdges;
}
path,
line {
  fill: none;
  shape-rendering: crispEdges;
  stroke-width: 1;
  stroke-linecap: butt;
}
text {
  text-rendering: optimizeLegibility;
}
.hover {
  position: absolute;
  text-align: center;
  padding: 5px;
  border: 0px;
  margin: 0px;
  pointer-events: none;
}
.divBar {
  position: absolute;
  width: var(--divBar-width);
  height: 100%;
  left: var(--divBar-left);
  overflow-x: var(--divBar-overflowX);
  overflow-y: hidden;
  background-color: transparent !important;
}
.divBar::-webkit-scrollbar {
  background-color: transparent !important;
  height: var(--scrollSize);
}
.divBar::-webkit-scrollbar-button {
  background-color: transparent !important;
}
.divBar::-webkit-scrollbar-track {
  background-color: var(--dsg-scroll-complement);
  border-radius: var(--scrollSize);
}
.divBar::-webkit-scrollbar-thumb {
  border-radius: var(--scrollSize);
  -webkit-box-shadow: inset 0 0 var(--scrollInset) var(--dsg-scroll-color);
}
.divBar::-webkit-scrollbar-thumb:hover {
  border: 0;
}

