.items-start {
    align-items: flex-start;
}

.items-center {
    align-items: center;
}

.items-end {
    align-items: flex-end;
}

.justify-start {
    justify-content: flex-start;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}
.border {
    border: 1px solid;
}

.border-t {
    border-top: 1px solid;
}

.border-b {
    border-bottom: 1px solid;
}

.border-l {
    border-left: 1px solid;
}

.border-r {
    border-right: 1px solid;
}

.border-x {
    border-inline: 1px solid;
}

.border-y {
    border-block: 1px solid;
}
.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-1 {
    flex: 1;
}

/* Gap */
.gap-0 {
    gap: var(--spacing-0);
}

.gap-1 {
    gap: var(--spacing-1);
}

.gap-2 {
    gap: var(--spacing-2)
}

.gap-3 {
    gap: var(--spacing-3)
}

.gap-4 {
    gap: var(--spacing-4)
}

.gap-5 {
    gap: var(--spacing-5)
}

.gap-6 {
    gap: var(--spacing-6)
}

.gap-7 {
    gap: var(--spacing-7)
}

.gap-8 {
    gap: var(--spacing-8)
}

.gap-9 {
    gap: var(--spacing-9)
}

.gap-10 {
    gap: var(--spacing-10)
}

.gap-11 {
    gap: var(--spacing-11)
}

.gap-12 {
    gap: var(--spacing-12)
}
.m-0 {
    margin: var(--spacing-0);
}

.m-1 {
    margin: var(--spacing-1);
}

.m-2 {
    margin: var(--spacing-2)
}

.m-3 {
    margin: var(--spacing-3)
}

.m-4 {
    margin: var(--spacing-4)
}

.m-5 {
    margin: var(--spacing-5)
}

.m-6 {
    margin: var(--spacing-6)
}

.m-7 {
    margin: var(--spacing-7)
}

.m-8 {
    margin: var(--spacing-8)
}

.m-9 {
    margin: var(--spacing-9)
}

.m-10 {
    margin: var(--spacing-10)
}

.m-11 {
    margin: var(--spacing-11)
}

.m-12 {
    margin: var(--spacing-12)
}

.mt-0 {
    margin-top: var(--spacing-0);
}

.mt-1 {
    margin-top: var(--spacing-1);
}

.mt-2 {
    margin-top: var(--spacing-2)
}

.mt-3 {
    margin-top: var(--spacing-3)
}

.mt-4 {
    margin-top: var(--spacing-4)
}

.mt-5 {
    margin-top: var(--spacing-5)
}

.mt-6 {
    margin-top: var(--spacing-6)
}

.mt-7 {
    margin-top: var(--spacing-7)
}

.mt-8 {
    margin-top: var(--spacing-8)
}

.mt-9 {
    margin-top: var(--spacing-9)
}

.mt-10 {
    margin-top: var(--spacing-10)
}

.mt-11 {
    margin-top: var(--spacing-11)
}

.mt-12 {
    margin-top: var(--spacing-12)
}

.mr-0 {
    margin-right: var(--spacing-0);
}

.mr-1 {
    margin-right: var(--spacing-1);
}

.mr-2 {
    margin-right: var(--spacing-2)
}

.mr-3 {
    margin-right: var(--spacing-3)
}

.mr-4 {
    margin-right: var(--spacing-4)
}

.mr-5 {
    margin-right: var(--spacing-5)
}

.mr-6 {
    margin-right: var(--spacing-6)
}

.mr-7 {
    margin-right: var(--spacing-7)
}

.mr-8 {
    margin-right: var(--spacing-8)
}

.mr-9 {
    margin-right: var(--spacing-9)
}

.mr-10 {
    margin-right: var(--spacing-10)
}

.mr-11 {
    margin-right: var(--spacing-11)
}

.mr-12 {
    margin-right: var(--spacing-12)
}

.mb-0 {
    margin-bottom: var(--spacing-0);
}

.mb-1 {
    margin-bottom: var(--spacing-1);
}

.mb-2 {
    margin-bottom: var(--spacing-2)
}

.mb-3 {
    margin-bottom: var(--spacing-3)
}

.mb-4 {
    margin-bottom: var(--spacing-4)
}

.mb-5 {
    margin-bottom: var(--spacing-5)
}

.mb-6 {
    margin-bottom: var(--spacing-6)
}

.mb-7 {
    margin-bottom: var(--spacing-7)
}

.mb-8 {
    margin-bottom: var(--spacing-8)
}

.mb-9 {
    margin-bottom: var(--spacing-9)
}

.mb-10 {
    margin-bottom: var(--spacing-10)
}

.mb-11 {
    margin-bottom: var(--spacing-11)
}

.mb-12 {
    margin-bottom: var(--spacing-12)
}

.ml-0 {
    margin-left: var(--spacing-0);
}

.ml-1 {
    margin-left: var(--spacing-1);
}

.ml-2 {
    margin-left: var(--spacing-2)
}

.ml-3 {
    margin-left: var(--spacing-3)
}

.ml-4 {
    margin-left: var(--spacing-4)
}

.ml-5 {
    margin-left: var(--spacing-5)
}

.ml-6 {
    margin-left: var(--spacing-6)
}

.ml-7 {
    margin-left: var(--spacing-7)
}

.ml-8 {
    margin-left: var(--spacing-8)
}

.ml-9 {
    margin-left: var(--spacing-9)
}

.ml-10 {
    margin-left: var(--spacing-10)
}

.ml-11 {
    margin-left: var(--spacing-11)
}

.ml-12 {
    margin-left: var(--spacing-12)
}

.mx-0 {
    margin-inline: var(--spacing-0);
}

.mx-1 {
    margin-inline: var(--spacing-1);
}

.mx-2 {
    margin-inline: var(--spacing-2);
}

.mx-3 {
    margin-inline: var(--spacing-3);
}

.mx-4 {
    margin-inline: var(--spacing-4);
}

.mx-5 {
    margin-inline: var(--spacing-5);
}

.mx-6 {
    margin-inline: var(--spacing-6);
}

.mx-7 {
    margin-inline: var(--spacing-7);
}

.mx-8 {
    margin-inline: var(--spacing-8);
}

.mx-9 {
    margin-inline: var(--spacing-9);
}

.mx-10 {
    margin-inline: var(--spacing-10);
}

.mx-11 {
    margin-inline: var(--spacing-11);
}

.mx-12 {
    margin-inline: var(--spacing-12);
}

.my-0 {
    margin-block: var(--spacing-0);
}

.my-1 {
    margin-block: var(--spacing-1);
}

.my-2 {
    margin-block: var(--spacing-2);
}

.my-3 {
    margin-block: var(--spacing-3);
}

.my-4 {
    margin-block: var(--spacing-4);
}

.my-5 {
    margin-block: var(--spacing-5);
}

.my-6 {
    margin-block: var(--spacing-6);
}

.my-7 {
    margin-block: var(--spacing-7);
}

.my-8 {
    margin-block: var(--spacing-8);
}

.my-9 {
    margin-block: var(--spacing-9);
}

.my-10 {
    margin-block: var(--spacing-10);
}

.my-11 {
    margin-block: var(--spacing-11);
}

.my-12 {
    margin-block: var(--spacing-12);
}
.p-0 {
    padding: var(--spacing-0);
}

.p-1 {
    padding: var(--spacing-1);
}

.p-2 {
    padding: var(--spacing-2)
}

.p-3 {
    padding: var(--spacing-3)
}

.p-4 {
    padding: var(--spacing-4)
}

.p-5 {
    padding: var(--spacing-5)
}

.p-6 {
    padding: var(--spacing-6)
}

.p-7 {
    padding: var(--spacing-7)
}

.p-8 {
    padding: var(--spacing-8)
}

.p-9 {
    padding: var(--spacing-9)
}

.p-10 {
    padding: var(--spacing-10)
}

.p-11 {
    padding: var(--spacing-11)
}

.p-12 {
    padding: var(--spacing-12)
}

.pt-0 {
    padding-top: var(--spacing-0);
}

.pt-1 {
    padding-top: var(--spacing-1);
}

.pt-2 {
    padding-top: var(--spacing-2)
}

.pt-3 {
    padding-top: var(--spacing-3)
}

.pt-4 {
    padding-top: var(--spacing-4)
}

.pt-5 {
    padding-top: var(--spacing-5)
}

.pt-6 {
    padding-top: var(--spacing-6)
}

.pt-7 {
    padding-top: var(--spacing-7)
}

.pt-8 {
    padding-top: var(--spacing-8)
}

.pt-9 {
    padding-top: var(--spacing-9)
}

.pt-10 {
    padding-top: var(--spacing-10)
}

.pt-11 {
    padding-top: var(--spacing-11)
}

.pt-12 {
    padding-top: var(--spacing-12)
}

.pr-0 {
    padding-right: var(--spacing-0);
}

.pr-1 {
    padding-right: var(--spacing-1);
}

.pr-2 {
    padding-right: var(--spacing-2)
}

.pr-3 {
    padding-right: var(--spacing-3)
}

.pr-4 {
    padding-right: var(--spacing-4)
}

.pr-5 {
    padding-right: var(--spacing-5)
}

.pr-6 {
    padding-right: var(--spacing-6)
}

.pr-7 {
    padding-right: var(--spacing-7)
}

.pr-8 {
    padding-right: var(--spacing-8)
}

.pr-9 {
    padding-right: var(--spacing-9)
}

.pr-10 {
    padding-right: var(--spacing-10)
}

.pr-11 {
    padding-right: var(--spacing-11)
}

.pr-12 {
    padding-right: var(--spacing-12)
}

.pb-0 {
    padding-bottom: var(--spacing-0);
}

.pb-1 {
    padding-bottom: var(--spacing-1);
}

.pb-2 {
    padding-bottom: var(--spacing-2)
}

.pb-3 {
    padding-bottom: var(--spacing-3)
}

.pb-4 {
    padding-bottom: var(--spacing-4)
}

.pb-5 {
    padding-bottom: var(--spacing-5)
}

.pb-6 {
    padding-bottom: var(--spacing-6)
}

.pb-7 {
    padding-bottom: var(--spacing-7)
}

.pb-8 {
    padding-bottom: var(--spacing-8)
}

.pb-9 {
    padding-bottom: var(--spacing-9)
}

.pb-10 {
    padding-bottom: var(--spacing-10)
}

.pb-11 {
    padding-bottom: var(--spacing-11)
}

.pb-12 {
    padding-bottom: var(--spacing-12)
}

.pl-0 {
    padding-left: var(--spacing-0);
}

.pl-1 {
    padding-left: var(--spacing-1);
}

.pl-2 {
    padding-left: var(--spacing-2)
}

.pl-3 {
    padding-left: var(--spacing-3)
}

.pl-4 {
    padding-left: var(--spacing-4)
}

.pl-5 {
    padding-left: var(--spacing-5)
}

.pl-6 {
    padding-left: var(--spacing-6)
}

.pl-7 {
    padding-left: var(--spacing-7)
}

.pl-8 {
    padding-left: var(--spacing-8)
}

.pl-9 {
    padding-left: var(--spacing-9)
}

.pl-10 {
    padding-left: var(--spacing-10)
}

.pl-11 {
    padding-left: var(--spacing-11)
}

.pl-12 {
    padding-left: var(--spacing-12)
}

.px-0 {
    padding-inline: var(--spacing-0);
}

.px-1 {
    padding-inline: var(--spacing-1);
}

.px-2 {
    padding-inline: var(--spacing-2);
}

.px-3 {
    padding-inline: var(--spacing-3);
}

.px-4 {
    padding-inline: var(--spacing-4);
}

.px-5 {
    padding-inline: var(--spacing-5);
}

.px-6 {
    padding-inline: var(--spacing-6);
}

.px-7 {
    padding-inline: var(--spacing-7);
}

.px-8 {
    padding-inline: var(--spacing-8);
}

.px-9 {
    padding-inline: var(--spacing-9);
}

.px-10 {
    padding-inline: var(--spacing-10);
}

.px-11 {
    padding-inline: var(--spacing-11);
}

.px-12 {
    padding-inline: var(--spacing-12);
}

.py-0 {
    padding-block: var(--spacing-0);
}

.py-1 {
    padding-block: var(--spacing-1);
}

.py-2 {
    padding-block: var(--spacing-2);
}

.py-3 {
    padding-block: var(--spacing-3);
}

.py-4 {
    padding-block: var(--spacing-4);
}

.py-5 {
    padding-block: var(--spacing-5);
}

.py-6 {
    padding-block: var(--spacing-6);
}

.py-7 {
    padding-block: var(--spacing-7);
}

.py-8 {
    padding-block: var(--spacing-8);
}

.py-9 {
    padding-block: var(--spacing-9);
}

.py-10 {
    padding-block: var(--spacing-10);
}

.py-11 {
    padding-block: var(--spacing-11);
}

.py-12 {
    padding-block: var(--spacing-12);
}
.text-xxs {
    font-size: var(--text-xxs);
    line-height: var(--text-xxs--line-height);
}

.text-xs {
    font-size: var(--text-xs);
    line-height: var(--text-xs--line-height);
}

.text-sm {
    font-size: var(--text-sm);
    line-height: var(--text-sm--line-height);
}

.text-base {
    font-size: var(--text-base);
    line-height: var(--text-base--line-height);
}

.font-bold {
    font-weight: bold;
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-ellipsis {
    text-overflow: ellipsis;
}

.text-clip {
    text-overflow: clip;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}
.absolute {
    position: absolute;
}
.relative {
    position: relative;
}
.sticky {
    position: sticky;
}

.right-0 {
    right: 0;
}
.left-0 {
    left: 0;
}
.top-0 {
    top: 0;
}
.bottom-0 {
    bottom: 0;
}

.top-1\/2 {
    top: calc(1/2 * 100%);
}
.left-1\/2 {
    left: calc(1/2 * 100%);
}

.z-1 {
    z-index: 1;
}
.z-10 {
    z-index: 10;
}
.z-20 {
    z-index: 20;
}
* {
    --primary-color: #0E7BFC;
}

.landingPage {
    background-color: white;
    border-width: 2px 5px 5px 2px;
    border-style: solid;
    border-color: var(--primary-color);
    border-radius: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    padding-inline: 8px;
}

.landingPage button {
    cursor: pointer;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    padding: 9px 25px;
    color: white;
    background-color: #10B981;
    text-align: center;
    transition: all 0.5s;
}

.landingPage .title {
    font-size: 32px;
    transition: all 0.5s;
    text-align: center;
}

.landingPage .description {
    color: black;
    text-align: center;
    font-size: 18px;
    max-width: 500px;
    margin-top: 0px;
    margin-bottom: 21.44px;
}

@media (max-width: 250px) {
    .landingPage button:hover {
        text-decoration: underline;
    }

    .landingPage .title {
        font-size: 24px;
    }

    .landingPage .description {
        display: none;
        font-size: 14px;
    }
}

@media (min-width: 251px) {
    .landingPage button:hover {
        transform: scale(1.1);
    }

    .landingPage .description {
        font-size: 14px;
    }
}

@media (min-width: 426px) {
    .landingPage button {
        font-size: 24px;
        padding: 18px 50px;
    }

    .landingPage .description {
        font-size: 16px;
    }
}

@media (max-height: 150px) {
    .landingPage .title {
        display: none;
    }

    .landingPage button:hover {
        text-decoration: underline;
        transform: none;
    }

    .landingPage button {
        font-size: 18px;
        padding: 9px 25px;
    }
}

@media (max-height: 300px) {
    .landingPage .description {
        display: none;
    }
}
* {
  --text-xxs: 0.625rem;
  --text-xxs--line-height: calc(0.75 / 0.625);
  --text-xs: 0.75rem;
  --text-xs--line-height: calc(1 / 0.75);
  --text-sm: 0.875rem;
  --text-sm--line-height: calc(1.25 / 0.875);
  --text-base: 1rem;
  --text-base--line-height: calc(1.5 / 1);
  --spacing-0: 0rem;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-7: 1.75rem;
  --spacing-8: 2rem;
  --spacing-9: 2.25rem;
  --spacing-10: 2.5rem;
  --spacing-11: 2.75rem;
  --spacing-12: 3rem;
}
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /* transform: none !important; */
}
table tr td,
table tr th {
  padding: 0;
  height: inherit;
}
.hidden {
  display: none;
}
.pointer-events-none {
  pointer-events: none;
}
.opacity-0 {
  opacity: 0;
}
.w-auto {
  width: auto;
}
.w-full {
  width: 100%;
}
.w-screen {
  width: 100vw;
}
.max-w-screen {
  max-width: 100vh;
}
.max-w-min {
  max-width: min-content;
}
.max-w-max {
  max-width: max-content;
}
.min-w-screen {
  min-width: 100vh;
}
.min-w-min {
  min-width: min-content;
}
.min-w-max {
  min-width: max-content;
}
.h-full {
  height: 100%;
}
.h-screen {
  height: 100vh;
}
.h-fit {
  height: fit-content;
}
.overflow-auto {
  overflow: auto;
}
.overflow-hidden {
  overflow: hidden;
}
.overflow-x-auto {
  overflow-x: auto;
}
.overflow-y-auto {
  overflow-y: auto;
}
.rounded-xs {
  border-radius: 0.125rem;
}
.rounded-sm {
  border-radius: 0.25rem;
}
.rounded-md {
  border-radius: 0.375rem;
}
.rounded-lg {
  border-radius: 0.5rem;
}
.rounded-xl {
  border-radius: 0.75rem;
}
.rounded-2xl {
  border-radius: 1rem;
}
.rounded-3xl {
  border-radius: 1.5rem;
}
.rounded-none {
  border-radius: 0;
}
.rounded-full {
  border-radius: 9999px;
}
.bg-white {
  background-color: #ffffff;
}
.border-collapse {
  border-collapse: collapse;
}
.border-separate {
  border-collapse: separate;
}

