.tabs_title {
  display: flex;
  height: 60px;
}
.tabs-wrapper {
  width: calc(100%);
  overflow: hidden;
  display: flex;
  align-items: center;
}
.tabs {
  white-space: nowrap;
  overflow-x: auto;
  scrollbar-width: none;
}
.tabs button {
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
  cursor: pointer;
}
.scroll-arrow {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
.scroll-arrow.left {
  margin-right: 5px;
}
.scroll-arrow.right {
  margin-left: 5px;
}
.tabs button {
  padding: 10px 20px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  cursor: pointer;
  font-size: 16px;
}
.tabs-content {
  border-top: 1px solid #ddd;
  background-color: #f9f9f9;
  height: calc(100% - 62px);
}
.tabContent {
  height: 100%;
  width: 100%;
}
.touch {
  cursor: pointer;
  transition: transform 0.3s ease;
  z-index: 2;
  position: relative;
  /* 平滑过渡效果 */
}
.touch:hover {
  /* 鼠标悬浮时的样式 */
  transform: scale(1.05);
  /* 放大1.05倍 */
  background-color: #ddd;
}

