p {
  font-size: 20px;
  font-weight: bold;
}
p em {
  background: yellow;
  padding: 5px;
}
div.vertical {
  display: flex;
  flex-direction: column;
}
div.horizontal {
  display: flex;
  flex-direction: row;
}
div.highlight {
  background-color: blue;
}
div.value {
  background-color: red;
  display: flex;
}

