.tw_bold {
  font-weight: bold;
}
.tw_italic {
  font-style: italic;
}
.tw_underline {
  text-decoration: underline;
}
.tw_value {
  overflow-x: hidden;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
.visual::-webkit-scrollbar-track {
  border-radius: 10px;
}
.visual::-webkit-scrollbar {
  width: 5px;
}
.visual::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #808080;
}

