p {
  text-align: center;
}
h3 {
  text-align: center;
}
.outerContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.noData {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  color: red;
}

