body.visual-sandbox {
  font-size: 14px;
}
div {
  cursor: auto;
}
p {
  font-size: 20px;
  font-weight: bold;
}
p em {
  background: yellow;
  padding: 5px;
}
.modal {
  background-color: black;
  opacity: 0.75;
  position: absolute;
  top: 0;
  left: 0;
}
.modalInner {
  background-color: white;
  position: absolute;
  top: 15px;
  left: 15px;
  overflow-y: auto;
}
.modalClose {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.hide {
  display: none;
}
.mainLevel {
  overflow-y: auto;
}
.mainTable {
  width: 100%;
  border-spacing: 0;
}
.mainTable thead tr td {
  position: sticky;
  top: 0;
}
.mainTable tbody tr:not([data-cat]) {
  cursor: auto;
}
.mainTable tbody tr {
  cursor: pointer;
}
.mainTable tbody td {
  vertical-align: top;
}
.mainTable td {
  padding: 5px;
}
.mainTable td svg {
  width: 20px;
}
.mainTable td.onTarget,
.mainTable td.trend {
  text-align: center;
  vertical-align: middle;
  width: 0px;
}
.mainTable td.onTarget svg {
  width: 15px;
}
.mainTable td:last-child {
  width: 90px;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 0fr;
  grid-gap: 20px;
}
.grid-child-left {
  padding-left: 10px;
}
.grid-child-right {
  width: 200px;
  padding-top: 50px;
  font-size: 12px;
}
.grid-child-right input {
  margin-bottom: 4px;
}
.noLicence {
  background-color: #ffffff;
  padding: 10px;
  margin: auto;
  width: 70%;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
}
.actionsTable {
  width: calc(100% - 40px);
  border-spacing: 0;
  margin: 20px;
  margin-top: 40px;
}
.actionsTable thead tr td {
  position: sticky;
  top: 0;
}
.actionsTable td {
  width: 20%;
}
.actionsTable td:nth-child(1) {
  width: 40%;
}
.actionsTable input {
  width: 90%;
  margin-bottom: 5px;
}
.addAction {
  float: right;
  margin-right: 20px;
}
.SaveAction {
  margin-left: 20px;
}

