/*svg {
        border: 1px solid black;
    }
*/
circle {
  fill-opacity: 0.5;
}
.lasso path {
  stroke: #505050;
  stroke-width: 2px;
}
.lasso .drawn {
  fill-opacity: 0.05;
}
.lasso .loop_close {
  fill: none;
  stroke-dasharray: 4,4;
}
.lasso .origin {
  fill: #3399FF;
  fill-opacity: 0.5;
}
.not_possible {
  fill: #c8c8c8;
}
.possible {
  fill: #EC888C;
}
.selected {
  fill: steelblue;
}
.ToolTipforCalculation {
  fill: steelblue;
  display: inline-block;
  background-color: blue;
}
p {
  font-size: 20px;
  font-weight: bold;
}
p em {
  background: yellow;
  padding: 5px;
}
circle {
  fill-opacity: 0.5;
}
.lasso path {
  stroke: #505050;
  stroke-width: 2px;
}
.lasso .drawn {
  fill-opacity: 0.05;
}
.lasso .loop_close {
  fill: none;
  stroke-dasharray: 4,4;
}
.lasso .origin {
  fill: #3399FF;
  fill-opacity: 0.5;
}
.not_possible {
  fill: #c8c8c8;
}
.possible {
  fill: #EC888C;
}
.selected {
  fill: steelblue;
}
.axis .domain {
  display: none;
}
.axis line {
  stroke: #ccc;
}
.axis.x0 text {
  font-weight: 700;
}
.hover-active rect {
  opacity: 0.67;
}
.hover-active rect.hover {
  opacity: 1;
}
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 20px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #2196F3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 20px;
}
.slider.round:before {
  border-radius: 50%;
}
.buttonDivparent {
  position: relative;
  float: left;
  padding-left: 4px;
  padding-top: 20px;
  margin-left: 0px;
}
.selectOpCls {
  position: relative;
  float: left;
  padding-left: 20px;
  padding-top: 20px;
  margin-left: 25px;
}
select#selectFilterId {
  position: relative;
  float: left;
  width: 50px;
  padding-left: 3px;
  margin-left: 2px;
  border: 1px solid #cccccc;
}
.headerSetBtn {
  position: relative;
  font-size: 12px;
  font-weight: 400;
  float: left;
  margin-right: 6px;
}
.adjustableY {
  position: relative;
  float: left;
  top: 19px;
  margin-left: 4px;
}
div#setting_Cont_main {
  padding-left: 28px;
  overflow: auto;
}
.minusButton {
  position: relative;
  float: left;
  width: 20px;
  height: 20px;
  background: #2196f3;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  border-radius: 50%;
}
.plusButton {
  position: relative;
  float: left;
  width: 20px;
  height: 20px;
  background: #2196f3;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  border-radius: 50%;
  margin-left: 6px;
}
.minusButton span {
  position: relative;
  float: left;
  left: 6px;
  top: -3px;
}
.plusButton span {
  position: relative;
  float: left;
  left: 4px;
  top: -3px;
}
.percLable {
  position: relative;
  float: left;
  margin-left: 6px;
  color: #b9a2a2;
  font-weight: 400;
  font-size: 14px;
  margin-right: 2px;
}
.toolTipBar {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6F257F;
  padding: 14px;
  text-align: center;
}
body.visual-sandbox #sandbox-host {
  margin: 0;
  padding: 0;
  height: 102%;
  overflow: auto !important;
}
.groupConfigContainerCls {
  position: relative;
  float: left;
  /* width: 100%;*/
  margin-top: 6px;
  margin-left: 15px;
}
.groupConfigChild {
  position: relative;
  float: left;
  margin-right: 35px;
}
select.selectConfigCls {
  position: relative;
  float: left;
  width: 63px;
  margin-top: 3px;
}
#legends_container {
  position: relative;
  float: left;
  top: 28px;
}


/*# sourceMappingURL=visual.css.map*/