p {
  padding: 0;
  margin: 0;
}
.panel-container,
.react-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Align horizontal */
  align-items: center;
  /* Align vertical */
}
.story {
  display: flex;
  justify-content: center;
  /* Align horizontal */
  align-items: center;
  /* Align vertical */
  text-align: center;
  padding: 20px;
}
article p {
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
}
.picture {
  width: 250px;
  padding: 20px;
}
img {
  width: 250px;
}
body {
  margin: 0;
  padding: 0;
}
.timeremaining {
  font-family: 'Segoe UI', wf_segoe-ui_normal, helvetica, arial, sans-serif;
}
.nagbar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 40px;
  background-color: #0097C7;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-top: 2px solid white;
}
.nagbar .timeremaining {
  padding: 4px;
  padding-left: 8px;
  text-align: left;
  font-size: 20px;
  color: white;
}
.nagbar .logo {
  padding-top: 0px;
  padding-right: 8px;
}
.nagbar .logo svg {
  height: 40px;
}
p.subtext {
  margin-top: 20px;
  font-size: 0.6em;
}
h1 {
  font-size: 1.5em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 20px;
}
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #FFF #FFF transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #0097C7 #0097C7;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 32px;
  height: 32px;
  border-color: #FFF #FFF transparent transparent;
  animation: rotation 1.5s linear infinite;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

