.errorMessage {
  padding: 30px 0;
  text-align: center;
}
.legend {
  cursor: default;
}
.visuals-container {
  margin-top: 35px;
}
.link {
  color: #03039e;
  text-decoration: underline;
  cursor: pointer;
}
#maq {
  font-weight: 600;
}
.visuals-container > .flex-grid {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  margin: 0px auto;
  flex-wrap: wrap;
  text-align: center;
}
.icon-container {
  border: 1px solid #969696;
  cursor: pointer;
}
.icon-container:hover {
  background-color: #fccaca;
}
.landing-page::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.landing-page::-webkit-scrollbar-track {
  background-color: #eeeeee;
  border-radius: 10%;
}
.landing-page::-webkit-scrollbar-thumb {
  background-color: #80a8ff;
  border-radius: 10%;
}

