input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  text-align: center;
  height: 13px;
  border-color: #bfbfbf;
  font-size: 10px;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  text-align: center;
  height: 13px;
  border-color: #bfbfbf;
  font-size: 12px;
}
.div {
  table-layout: fixed;
  white-space: nowrap;
  text-overflow: initial;
  border-collapse: collapse;
  font-family: "Segoe UI";
}
.table {
  cursor: default;
  table-layout: fixed;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px 2px;
  border-color: #808080;
}
.td {
  text-align: left;
  padding-left: 15px;
  text-overflow: ellipsis;
}
td {
  white-space: nowrap;
  max-height: 10px;
}
.tdData {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
}
.th {
  text-align: left;
  text-overflow: ellipsis;
  background-color: #505050;
}
th {
  max-width: 381px;
  word-wrap: break-word;
}
.td,
.th {
  border-bottom: 1px solid #ebe2e2;
}
.tc {
  border-bottom: 1px solid #808080;
}
.tr {
  height: 10px;
  width: 243px;
  line-height: 25px;
}
hr {
  width: 100%;
  text-align: left;
}
.image,
.image1 {
  width: 9px;
  height: 6px;
  background-repeat: no-repeat;
  float: right;
  cursor: pointer;
  padding-right: 15px;
  padding-top: 5px;
  padding-left: 10px;
  align-content: center;
  white-space: nowrap;
}
.image {
  visibility: hidden;
}
tr:first-child {
  text-align: left;
  height: 30px;
  background-color: #505050;
  color: #ffffff;
  font-style: normal;
  font-family: "Segoe UI";
  cursor: pointer;
  padding: 9px 15px 4px;
  vertical-align: middle;
}
.th_data {
  margin: 5px;
  padding-bottom: 5px;
}
.tr_data {
  border-bottom: 1px solid #f2f2f2;
}
.td_data {
  border-bottom: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
  width: 330px;
  padding-left: 15px;
  padding-right: 8px;
}
.td_data:first-child {
  border-left: 1px solid #f2f2f2;
}
.span {
  padding-left: 6px;
  padding-right: 6px;
  width: 5px;
  height: 5px;
  font-size: 10px;
}
.span:hover {
  border: 1px solid #005999;
}
.footer {
  margin-bottom: 5px;
  border-top: 1px solid #d2d2d2;
}
.innerFooter {
  margin-top: 8px;
  margin-left: 10px;
}
#spanleft {
  display: none;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 600;
}
#spanright {
  padding-right: 30px;
  font-weight: 600;
}
.text {
  padding-right: 5px;
  padding-left: 10px;
  color: #bfbfbf;
}
.text1 {
  padding-right: 10px;
  padding-left: 10px;
  color: #bfbfbf;
  font-style: italic;
}
.check {
  text-align: left;
  width: 30px;
  background-color: #505050;
  color: #ffffff;
  padding-top: 7px;
  font-weight: normal;
  padding-bottom: 5px;
  vertical-align: bottom;
  cursor: pointer;
  word-wrap: break-word;
  position: relative;
}
.urlClass:hover {
  cursor: pointer;
  text-decoration: underline;
}
.headerClass {
  min-width: 100%;
}
#Dropdown {
  box-sizing: border-box;
  border: 1px solid #ccc;
  width: 60px;
  background-color: transparent;
  cursor: pointer;
  height: 17.78px;
}
#img {
  height: 30px;
  width: 30px;
  float: right;
}
.base {
  overflow: auto;
  height: calc(100% - 44.89px);
  width: 100%;
  position: absolute;
}
.base1 {
  overflow: auto;
  height: 100%;
  width: 100%;
  position: absolute;
}
.basecontainer {
  height: 100%;
  width: 100%;
  position: relative;
}
.pageLine {
  background-color: #ffffff;
  width: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
}
#p {
  white-space: nowrap;
}
#primg {
  height: 30px;
  width: 30px;
  float: left;
}
.select {
  vertical-align: middle;
  height: 100%;
  text-align: center;
  padding-top: 10%;
  font-size: 20px;
}
.check2 {
  height: 100%;
  vertical-align: middle;
}
.SortIndicator {
  display: table-cell;
  padding-top: 0;
  width: 1%;
  height: 100%;
  vertical-align: middle;
  line-height: 1;
}
.ColumnText {
  padding-left: 15px;
  display: table-cell;
  word-wrap: break-word;
}

