#div-container {
  position: relative;
  height: 100%;
  width: 100%;
}
.hide {
  display: none !important;
}
#chart-placeholder {
  display: flex;
  flex-flow: column;
  height: 100%;
}
#placeholder-message {
  font-size: small;
}
#placeholder-image-flex {
  flex: 1;
  background-color: #F8F8F8;
  overflow: hidden;
}
#placeholder-image {
  height: 100%;
  width: 100%;
  opacity: 35%;
  object-fit: contain;
}

