.spine {
  stroke-width: 5;
}
.branch {
  stroke-width: 5;
}
.sub-branch {
  stroke-width: 5;
}
.label {
  font-size: 16px;
  text-anchor: start;
  margin: 4px;
}
.selectors {
  padding: 4px;
  margin-right: 8px;
  height: 36px;
}

