p {
  font-size: 20px;
  font-weight: bold;
}
p em {
  background: yellow;
  padding: 5px;
}
div.tooltip {
  position: absolute;
  text-align: center;
  padding: 2px;
  background: white;
  border: 1px solid black;
  pointer-events: none;
  box-shadow: 5px 5px #00000050;
  white-space: nowrap;
}

