.header {
  height: 110px;
  border: 1.2px solid #000000;
  box-sizing: border-box;
}
svg {
  position: relative;
  left: 0px;
  top: 0px;
}
.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 110px;
  border: 1.2px solid #000000;
  box-sizing: border-box;
}
.header img,
.footer img {
  width: 100%;
  height: 100%;
}
p {
  font-size: 20px;
  font-weight: bold;
}
p em {
  background: yellow;
  padding: 5px;
}
.rect {
  font-size: 12px;
}
.regulatory rect {
  -webkit-filter: drop-shadow(-1px 2px 8px rgba(0, 0, 0, 0.75));
  filter: drop-shadow(-1px 2px 8px rgba(0, 0, 0, 0.75));
}
.commercial rect {
  -webkit-filter: drop-shadow(-1px 2px 8px rgba(0, 0, 0, 0.75));
  filter: drop-shadow(-1px 2px 8px rgba(0, 0, 0, 0.75));
}
.clinical-trails rect {
  -webkit-filter: drop-shadow(-1px 2px 8px rgba(0, 0, 0, 0.75));
  filter: drop-shadow(-1px 2px 8px rgba(0, 0, 0, 0.75));
}
.chart-header {
  fill: #444444;
}
.chart-header text {
  font-size: 14px;
  text-anchor: middle;
}
.tick text {
  fill: #000000;
  font-size: 16px;
  font-weight: bold;
}
.border-rect {
  pointer-events: none;
}
a > text {
  text-align: center;
}

