@font-face {
  font-family: 'Michroma';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/michroma/v21/PN_zRfy9qWD8fEagAPg9pTw.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCu173w5aX8.ttf) format('truetype');
}
p {
  font-size: 20px;
  font-weight: bold;
}
p em {
  background: yellow;
  padding: 5px;
}

