* {
  cursor: default;
}
.wead_head_over {
  background-color: #f2f2f2;
}
.wead_head_over::after {
  visibility: visible !important;
}
p {
  font-size: 20px;
  font-weight: bold;
}
p em {
  background: yellow;
  padding: 5px;
}
.transparente {
  opacity: 0.5;
}
.wead_ahp_datatable {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
table {
  padding: 0;
  margin: 0;
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
}
table tr,
table td,
table th {
  padding: 0;
  margin: 0;
  border: 0;
}
table th,
table td {
  padding: 1px 5px 2px 5px;
  box-shadow: inset 0 -6px 0 -5px #E5E5E5;
}
table th {
  padding: 1px 5px 10px 5px;
  box-shadow: inset 0 -6px 0 -5px #118dff;
  background-color: #ffffff;
}
table th::after,
table th.sort_ascend::after {
  content: " ";
  display: block;
  visibility: hidden;
  height: 0px;
  width: 0px;
  border: none;
  border-bottom: 5px solid #000000;
  border-top: 0;
  border-left: 5px solid rgba(0, 0, 0, 0);
  border-right: 5px solid rgba(0, 0, 0, 0);
  margin-top: 2px;
  position: absolute;
}
table th.sort_descend::after {
  border-bottom: 0;
  border-top: 5px solid #000000;
}
.wead_ahp_datatable {
  height: 100%;
  width: 100%;
  overflow: auto;
}
.WeadSampleLandingPage {
  height: 100%;
  width: 100%;
  overflow: auto;
}
.WeadSampleLandingPage p {
  font-size: 15px;
  font-weight: normal;
  display: block;
  clear: both;
}
.WeadSampleLandingPage .WeadSampleLandingPageHeaderImg {
  float: left;
  margin-right: 20px;
}
.WeadSampleLandingPage .WeadSampleLandingPageHeader h3 {
  line-height: 50px;
  color: #54186f;
}
.WeadSampleLandingPage .WeadSampleLandingPageFooterImg {
  float: left;
  margin-left: 20px;
}
.WeadSampleLandingPage .WeadSampleLandingPageFooter a {
  display: block;
  float: right;
  text-decoration: none;
  background-color: #54186f;
  color: #ffffff;
  padding: 5px 10px;
  margin-top: 10px;
  margin-right: 20px;
  border-radius: 10px;
  border: 1px solid #54186f;
  cursor: pointer;
}
.WeadSampleLandingPage .WeadSampleLandingPageFooter a:hover {
  background-color: #ffffff;
  color: #54186f;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #c8c8c8;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #adadad;
}

