.show-class {
  opacity: 0;
  height: 25px;
  width: 15px;
  float: left;
}
.hide-class {
  display: none;
}
table tr:first-child td:nth-child(2n + 1) {
  text-align: right;
  padding-right: 7px;
  position: relative;
}
#dataValue,
#firstcol,
table tr:first-child td:nth-child(2n + 1) {
  border-bottom: 1px solid #808080;
  border-right: 1px solid #ffffff;
}
table tr:first-child td:nth-child(2n + 1),
.firstDiv,
.firstDivCategory,
.categoryFirst,
.category {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.category {
  width: 90px;
  min-width: 24px;
  vertical-align: middle;
  line-height: 26px;
  padding-left: 7px;
}
.categoryFirst {
  width: 240px;
  min-width: 32px;
  text-align: left;
  vertical-align: middle;
  line-height: 26px;
}
.right-grey,
.up-green,
.down-red,
.down-green,
.up-red {
  display: inline-block;
  height: 15px;
  width: 15px;
  background-repeat: no-repeat;
  vertical-align: middle;
  background-size: 70%;
}
.right-grey {
  background-size: 80%;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAMAAAAMCGV4AAAAilBMVEX///9nZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2e80sHzAAAALXRSTlMABggKEB0eIigsSkxNW19hY2lub3mChIaIjI2RlpydoKOqrcDm6PX4+fv8/f5Z66HkAAAAY0lEQVR4AU3BBxbBQABF0acQDNG7YEQR/P1vz1FO8u/lr7dKcHPlLUz/qtjADG/a4mZPTXDHQgHau332tT7ddYaBHCTp9GeUvZRjoi4dSrWoR6CykMZU0kIbzFKHOqYbmny8AdSiCkqBcFSQAAAAAElFTkSuQmCC);
}
.up-green {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAMAAAAMCGV4AAAA9lBMVEX///84nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhj6ChFMAAAAUXRSTlMAAQMGCQoMDQ4PEBETFRYYGR4hIystNjc6PD1FSUxNTk9QUVNUVWJoa3p8goiJjI2bnqKrrK6vsbK0tsHEysvO0NbZ2t7j7O3u7/Dx8/T1+v7+TnUCAAAApElEQVR4ATXKZZqCAACE4WFjl9juQMXGEFvsFhEUnftfRiTef98zA+GlWC/lkh/PT4p8A+DaYMidTVpvAvCzsByPobEIQPrPFqqVpk3fI2LfS5Kn9zgzB9I7MhGlticb5R3VaHXJwdWfSz3ItEP275B3aARnmzRF4HPD2iW3ZE8G8LqmCUGzyK4C3/2KIzz4a0dGYMohfsm2hNDXXMVtShcRU3AGLMkfRdjH3N8AAAAASUVORK5CYII=);
}
.down-red {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAMAAAAMCGV4AAAA81BMVEX////rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx8977hkAAAAUHRSTlMAAQMFCQsODxARExUYGh0eHyAhIiMpKisuNzo8QEFLTE1RUldYW2FnaHB1eoGGiIyRnJ2rrbW9wcLEy83Q0dXX2Nna29ze4OLj5efu8fL6/uuf0Y0AAACfSURBVHjaRczFEsJQEETRDhYkeHB3dw3uLv3/X0NeEYqzmr6LgVJteGGQImYkyFnA2KVrAfY1OfdBMK04AcJbcuEXWzmIjdCOXAYBeI4cQISNHlQgemETQlgPCxX5B1v4B3f8zjKE79Np78k0DKE9yTcz+LGORVABKVasdbqj4Zk6F5C8PV80aDaY6t/zpGn9dlACHNlKLuVWnLJsMQMfEcMe7s7ItMsAAAAASUVORK5CYII=);
}
.down-green {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAMAAAAMCGV4AAAA9lBMVEX///84nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhg4nhj6ChFMAAAAUXRSTlMAAQMGCQoMDQ4PEBETFRYYGR4hIystNjc6PD1FSUxNTk9QUVNUVWJoa3p8goiJjI2bnqKrrK6vsbK0tsHEysvO0NbZ2t7j7O3u7/Dx8/T1+v7+TnUCAAAAp0lEQVQIWzWL5RqCUBiDP0wEu7sDu8XuBEV3/zfjOSj7s717NnKmvAJZsgtUwK1oYbIXJAW4/gvPAQ0Sx7AWmSv6rJ0A9xLnioYmM2kKaGUW6gaqvJdngM4uHSBvHiUVeJapDURNJnEOvBJDIPBjci2A4x26/89kG4BpJ/PsDsVq6ZbBeCMRxben80XTH2/GIwfJez7k+mAdZuvscqV2e0o2F/GJAn0BkucfRYDXZGEAAAAASUVORK5CYII=);
}
.up-red {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAMAAAAMCGV4AAAA81BMVEX////rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx/rHx8977hkAAAAUHRSTlMAAQMFCQsODxARExUYGh0eHyAhIiMpKisuNzo8QEFLTE1RUldYW2FnaHB1eoGGiIyRnJ2rrbW9wcLEy83Q0dXX2Nna29ze4OLj5efu8fL6/uuf0Y0AAACZSURBVHjaPcxTFgNRAATRnhgTT2zbtq3e/2oyeCf1d38K5uJ0Omy1K5ms4rZJQPRO0ZfzECCVN6fz7fV8f0l2zABMsjdWSPSpNrBA5JlpntsFlRU5uRoWPFpHvLh0htbkPowxKWsMqNxFgB7pUelfGUSXTAPBpSDqH+bhW5CHMLRKb1bR1Fd68QdzqHEbgZGUajghJx34Z8IPcY0e7gmrxwwAAAAASUVORK5CYII=);
}
.no-sign {
  display: none;
}
.resizer {
  position: absolute;
  right: 0;
  top: 0;
  width: 5px;
  height: 30px;
  float: left;
  cursor: col-resize;
  border-left: none;
  border-bottom: none;
}
.resizer:hover {
  cursor: col-resize;
}
.img {
  visibility: hidden;
  height: 10px;
}
.firstDiv,
.firstDivCategory {
  right: 5px;
  width: 100%;
  display: inline-block;
  position: absolute;
  vertical-align: middle;
  line-height: 26px;
}
.firstDiv {
  top: 0px;
}
.firstDivCategory {
  bottom: 1px;
}
#baseContainer {
  table-layout: fixed;
  height: 100%;
  overflow-y: auto;
  width: auto;
  white-space: nowrap;
  border-collapse: collapse;
  font-family: "Segoe UI", wf_segoe-ui_normal, helvetica, arial, sans-serif;
  font-size: 12px;
}
#table {
  cursor: default;
  border-spacing: 0px;
}
#icon {
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  margin-left: 7px;
  margin-top: 7px;
  cursor: pointer;
  padding-right: 5px;
  display: inline-block;
  transform: translateY(2px);
}
#dataValue,
#firstcol,
table tr:last-child td:nth-child(2n + 1) {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#dataValue,
table tr:last-child td:nth-child(2n + 3) {
  padding: 5px;
  text-align: right;
  padding-right: 7px;
}
table tr:last-child td:nth-child(2n + 1) {
  vertical-align: middle;
  line-height: 26px;
}
table tr:last-child td:nth-child(2n + 3) {
  height: 30px;
}
#dataLastRow {
  vertical-align: middle;
  line-height: 26px;
  transform: translate(5px, 12px);
  border-top: 1px solid #000000;
  width: 100%;
  padding-right: 8px;
}
#firstcol {
  padding: 2.78px;
  height: 20px;
}


/*# sourceMappingURL=visual.css.map*/