p {
  font-size: 20px;
  font-weight: bold;
}
p em {
  background: yellow;
  padding: 5px;
}

.custom-dropdown {
  padding: 2px;
  /* margin-right: 8px; */
  height: 28px;
}
.custom-dropdowninput {
  padding: 2px;
  height: 24px;
}

