.point {
  fill: #69b3a2;
}
.text-label {
  font-size: 10px;
  fill: black;
  pointer-events: none;
}
.line1 {
  fill: none;
  stroke: #69b3a2;
  stroke-width: 2px;
}
.line2 {
  fill: none;
  stroke: #69b3a2;
  stroke-width: 5px;
}
.selectors {
  padding: 4px;
  margin-right: 8px;
  height: 36px;
}
.options {
  white-space: normal;
  overflow: hidden;
}
.labels {
  position: absolute;
  top: 0px;
  right: 0px;
  margin-right: 20px;
  font-size: 36px;
}
.graph-container {
  width: 100%;
  position: absolute;
  bottom: 0px;
  right: 8px;
}
.text {
  width: 80px;
  font-size: 260px;
  background-color: yellow;
}
.container {
  width: 100%;
}
.info-container {
  width: 100%;
}

