.aquarium {
  width: 100%;
  height: 100%;
  cursor: default;
  position: absolute;
  left: 0;
  top: 0;
}
svg {
  overflow: visible;
}
.logo {
  cursor: pointer;
}
canvas {
  width: 100%;
  height: 100%;
  background-color: white;
}
.nagbar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: #0097C7;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
}
.nagbar div {
  padding-left: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.nagbar img {
  margin-top: 3px;
  margin-right: 40px;
  margin-left: 10px;
  width: 200px;
  height: 17px;
  max-width: fit-content;
}
@media (min-width: 250px) {
  .nagbar img {
    width: 100%;
  }
}

