.cylindricalGaugeBody {
  overflow-x: hidden;
  overflow-y: auto;
  display: block;
  cursor: default;
}
.ErrorMessage {
  text-align: center;
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  top: 45%;
  width: 100%;
  position: absolute;
}
@media only screen and (max-width: 230px) {
  .yLabels {
    display: none;
  }
}

