/*---------- general ----------*/
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
body {
  color: black;
  font-family: sans-serif;
  text-align: center;
}
h1 {
  font-family: 'Raleway', sans-serif;
  text-shadow: 2px 2px 0 #843a3a;
  text-transform: uppercase;
}
p {
  font-size: 1.3em;
}
/*---------- star rating ----------*/
.star-rating {
  display: flex;
  align-items: center;
  font-size: 1em;
  justify-content: center;
}
.back-stars {
  display: flex;
  color: #ccc;
  position: relative;
}
.front-stars {
  display: flex;
  color: #FFBC0B;
  overflow: hidden;
  position: absolute;
  top: 0;
  transition: all 3s;
}
.percent {
  color: #ccc;
  font-size: 0.3em;
}
@media all and (min-height: 50px) {
  .star-rating {
    font-size: 2em;
  }
  .percent {
    margin-top: 40px;
  }
}
@media all and (min-height: 74px) {
  .star-rating {
    font-size: 2.5em;
  }
  .percent {
    margin-top: 48px;
  }
}
@media all and (min-height: 100px) {
  .star-rating {
    font-size: 3em;
  }
  .percent {
    margin-top: 56px;
  }
}
@media all and (min-height: 125px) {
  .star-rating {
    font-size: 3.5em;
  }
  .percent {
    margin-top: 64px;
  }
}
@media all and (min-height: 150px) {
  .star-rating {
    font-size: 4em;
  }
  .percent {
    margin-top: 72px;
  }
}
@media all and (min-height: 175px) {
  .star-rating {
    font-size: 4.5em;
  }
  .percent {
    margin-top: 80px;
  }
}
@media all and (min-height: 200px) {
  .star-rating {
    font-size: 5em;
  }
  .percent {
    margin-top: 88px;
  }
}
@media all and (min-height: 225px) {
  .star-rating {
    font-size: 5.5em;
  }
  .percent {
    margin-top: 96px;
  }
}
@media all and (min-height: 250px) {
  .star-rating {
    font-size: 6em;
  }
  .percent {
    margin-top: 104px;
  }
}
@media all and (min-height: 275px) {
  .star-rating {
    font-size: 6.5em;
  }
  .percent {
    margin-top: 112px;
  }
}
@media all and (min-height: 300px) {
  .star-rating {
    font-size: 7em;
  }
  .percent {
    margin-top: 120px;
  }
}
@media all and (min-height: 325px) {
  .star-rating {
    font-size: 7.5em;
  }
  .percent {
    margin-top: 128px;
  }
}
@media all and (min-height: 350px) {
  .star-rating {
    font-size: 8em;
  }
  .percent {
    margin-top: 136px;
  }
}
@media all and (min-height: 375px) {
  .star-rating {
    font-size: 8.5em;
  }
  .percent {
    margin-top: 144px;
  }
}
@media all and (min-height: 400px) {
  .star-rating {
    font-size: 9em;
  }
  .percent {
    margin-top: 152px;
  }
}
@media all and (min-height: 425px) {
  .star-rating {
    font-size: 9.5em;
  }
  .percent {
    margin-top: 160px;
  }
}
@media all and (min-height: 450px) {
  .star-rating {
    font-size: 10em;
  }
  .percent {
    margin-top: 168px;
  }
}
@media all and (min-height: 475px) {
  .star-rating {
    font-size: 10.5em;
  }
  .percent {
    margin-top: 176px;
  }
}
@media all and (min-height: 500px) {
  .star-rating {
    font-size: 11em;
  }
  .percent {
    margin-top: 184px;
  }
}
@media all and (min-height: 525px) {
  .star-rating {
    font-size: 12em;
  }
  .percent {
    margin-top: 292px;
  }
}
@media all and (min-height: 550px) {
  .star-rating {
    font-size: 12.5em;
  }
  .percent {
    margin-top: 200px;
  }
}
@media all and (min-height: 575px) {
  .star-rating {
    font-size: 13em;
  }
  .percent {
    margin-top: 208px;
  }
}
@media all and (min-height: 600px) {
  .star-rating {
    font-size: 13.5em;
  }
  .percent {
    margin-top: 216px;
  }
}


/*# sourceMappingURL=visual.css.map*/