svg .scroll-draggable {
  cursor: pointer;
  pointer-events: all;
}
svg .graph {
  pointer-events: none;
}
.no-display {
  display: none;
}
.dummy-rect {
  pointer-events: none;
  display: none;
}
.my-visual-root {
  display: flex;
  flex-direction: column;
}
.header-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header-row.is-top {
  margin-top: 4px;
}
.header-row.is-bottom {
  margin-top: 5px;
  margin-bottom: 4px;
}
.header-row.is-bottom .commercial-logo-container {
  justify-content: flex-end;
}
.header-row .header-row-misc-items-container {
  display: flex;
  order: 150;
}
.header-row .header-row-right {
  order: 10000;
}
.header-row .header-row-right .commercial-logo-container {
  margin-right: 4px;
  display: flex;
  flex-direction: column;
}
.warn-hover {
  width: 1000px;
}
.legend {
  flex-grow: 1;
}
.legend .aggregation-toggle {
  order: 50;
  margin-left: 3px;
  margin-right: 3px;
  position: relative;
}
.legend .aggregation-toggle .aggregation-toggle-hover.is-right {
  transform: translate(10px, 0px);
}
.legend .aggregation-toggle .aggregation-toggle-hover.is-left {
  transform: translate(-10px, 0px);
}
.legend .aggregation-toggle .aggregation-toggle-hover.hover .hover-text {
  padding: 5px;
  font-size: 0.7em;
}
.legend .warning-display {
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-left: 5px;
  order: 150;
  position: relative;
}
.arrow-left {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid black;
}
.arrow-right {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid black;
}
.tooltip-box {
  position: absolute;
  background-color: black;
  display: flex;
  flex-direction: column;
  padding: 5px;
  color: white;
}
.tooltip-box .tooltip-box-header {
  margin-bottom: 5px;
  font-weight: bold;
}
.tooltip-box .tooltip-box-groups {
  display: flex;
  flex-direction: row;
}
.tooltip-box .tooltip-box-groups .tooltip-box-group {
  margin-right: 10px;
}
.tooltip-box .tooltip-box-groups .tooltip-box-group .tooltip-box-group-header {
  font-weight: bold;
  padding-top: 3px;
  padding-bottom: 4px;
}
.tooltip-box .tooltip-box-groups .tooltip-box-group .tooltip-box-items {
  display: flex;
}
.tooltip-box .tooltip-box-groups .tooltip-box-group .tooltip-box-items table {
  border-spacing: 0px;
  border-collapse: collapse;
}
.tooltip-box .tooltip-box-groups .tooltip-box-group .tooltip-box-items table tr.has-border {
  border-bottom: 1px solid white;
}
.tooltip-box .tooltip-box-groups .tooltip-box-group .tooltip-box-items .tooltip-box-item .tooltip-box-item-label {
  font-weight: bold;
}
.tooltip-box .tooltip-box-groups .tooltip-box-group .tooltip-box-items .tooltip-box-item td {
  white-space: nowrap;
}
.tooltip-box .tooltip-box-groups .tooltip-box-group .tooltip-box-items .v-tooltip-scrollbar {
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
}
.tooltip-box .tooltip-box-groups .tooltip-box-group .tooltip-box-items .v-tooltip-scrollbar .scrollbar-bg {
  position: absolute;
  border-radius: 4px;
  width: 5px;
  opacity: 0.24;
  background-color: #FFFF;
}
.tooltip-box .tooltip-box-groups .tooltip-box-group .tooltip-box-items .v-tooltip-scrollbar .scrollbar-fg {
  position: absolute;
  border-radius: 4px;
  width: 5px;
  opacity: 0.5;
  background-color: #FFFF;
}
.switch-container {
  position: flex;
}
.switch-container .switch {
  outline: 0;
  user-select: none;
  display: inline-block;
  position: absolute;
  opacity: 0;
  vertical-align: baseline;
  margin-top: -2px;
}
.switch-container .switch + label {
  position: relative;
  display: initial;
  line-height: initial;
  cursor: pointer;
  padding-left: 2.3rem;
  white-space: pre;
}
.switch-container .switch + label::before,
.switch-container .switch + label:before {
  border-radius: 24px;
  position: absolute;
  display: block;
  top: 0.1rem;
  left: 0;
  width: 2rem;
  height: 0.8rem;
  border: 0.1rem solid transparent;
  background: #b5b5b5;
  content: '';
}
.switch-container .switch + label::after,
.switch-container .switch + label:after {
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 0.35rem;
  left: 0.3rem;
  width: 0.5rem;
  height: 0.5rem;
  transform: translate3d(0, 0, 0);
  background: #fff;
  transition: all 0.25s ease-out;
  content: '';
}
.switch-container .switch[checked="true"] + label::after,
.switch-container .switch[checked="true"] + label:after {
  left: 1.4rem;
}
.switch-container .switch[checked="true"] + label::before,
.switch-container .switch[checked="true"] + label:before {
  background-color: #23d160;
}
.header-row.is-top {
  order: 50;
}
.header-row.is-top .legend .aggregation-toggle {
  top: -2px;
}
.header-row.is-bottom {
  order: 150;
}
.legend {
  justify-content: space-between;
  display: flex;
}
.legend.is-left {
  flex-direction: row;
}
.legend.is-right {
  flex-direction: row-reverse;
}
.legend.is-center {
  justify-content: center;
}
.legend .legend-title {
  margin-right: 10px;
  font-weight: bold;
  order: 0;
  white-space: nowrap;
}
.legend .legend-content {
  display: flex;
  flex-direction: row;
  order: 1;
}
.legend .legend-content .next-page {
  order: 10;
  display: flex;
  align-items: center;
  margin-left: 5px;
}
.legend .legend-content .prev-page {
  order: 1;
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.legend .legend-content .legend-items-container {
  display: flex;
  order: 5;
  flex-grow: 0;
}
.legend .legend-content .legend-items-container .legend-item {
  display: flex;
  align-items: center;
  margin-right: 5px;
}
.legend .legend-content .legend-items-container .legend-item.not-visible {
  opacity: 0.5;
}
.legend .legend-content .legend-items-container .legend-item div {
  white-space: nowrap;
}
.legend .legend-content .legend-items-container .legend-item .legend-item-badge {
  margin-right: 5px;
  border-radius: 0.5em;
  width: 1em;
  height: 1em;
}
.spinner {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-items: center;
}
.spinner .spinner-content {
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 100%;
}
.spinner .spinner-content .spinner-text {
  text-align: center;
}
.spinner .spinner-content .loader-container {
  margin-left: auto;
  margin-right: auto;
}
.spinner .spinner-content .loader-container .loader {
  border-radius: 50%;
  width: 10vh;
  height: 10vh;
  border-top: 0.6em solid rgba(0, 0, 0, 0.2);
  border-right: 0.6em solid rgba(0, 0, 0, 0.2);
  border-bottom: 0.6em solid rgba(0, 0, 0, 0.2);
  border-left: 0.6em solid black;
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.hover {
  position: absolute;
  background-color: #ffbf00;
  display: flex;
  max-width: 500px;
  flex-direction: column;
  min-width: 100px;
}
.hover.is-bottom {
  top: 1.7em;
}
.hover.is-top {
  bottom: 1.7em;
}
.hover.is-left {
  right: 0px;
}
.hover.is-right {
  left: 0px;
}
.hover.hidden {
  display: none;
}
.hover .hover-top {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px 0px 0px;
}
.hover .arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 5px solid #ffbf00;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
.hover .arrow.is-right {
  left: 5px;
}
.hover .arrow.is-left {
  right: 5px;
}
.hover .arrow.is-top {
  bottom: -4px;
  transform: rotate(180deg);
}
.hover .arrow.is-bottom {
  top: -4px;
}
.hover .hover-h {
  padding: 5px 10px 0px 10px;
  font-weight: bold;
}
.hover .hover-text {
  padding: 0px 10px 10px 10px;
}
.commercial-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #EEEEEE;
  z-index: 10000;
  padding: 10px;
  cursor: default;
  border: 1px solid darkgray;
  color: #4a4a4a;
}
.commercial-overlay .com-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.commercial-overlay .com-header .com-header-right {
  cursor: pointer;
  padding: 0 0 0 5px;
}
.commercial-overlay .com-header .com-header-left {
  font-size: 1.3em;
  margin-bottom: 0.2em;
  color: #a8a8a8;
}
.commercial-overlay .com-header .com-header-left em {
  color: #040404;
  font-style: normal;
}
.commercial-overlay .com-content li {
  list-style-type: disc;
  font-size: unset;
}
.commercial-overlay .com-content .com-version {
  color: #A5A5A5;
  font-size: 0.8em;
  margin: 0;
}
.commercial-overlay .com-content .com-version-info {
  color: #4444aa;
}
.commercial-overlay .com-content .com-info-link {
  margin-top: 10px;
}
.commercial-overlay .com-content .com-link {
  color: #020202;
}


/*# sourceMappingURL=visual.css.map*/