p {
  /* style/visual.less */
}
p :host {
  overflow: visible !important;
  position: relative !important;
  z-index: 1;
}
p .date-slicer-wrapper {
  overflow: visible !important;
  position: relative;
  z-index: 2;
}
p .flatpickr-calendar {
  z-index: 999999 !important;
}

