@import url(https://atlas.microsoft.com/sdk/javascript/mapcontrol/3/atlas.min.css);
.non-fixed > .azure-maps-drawtoolbar {
  left: 50%;
  margin-top: 10px;
  pointer-events: auto;
  position: absolute;
  transform: translate(-50%);
}
.azure-maps-drawtoolbar-button {
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  display: block;
  height: 32px;
  padding: 0;
  width: 32px;
}
.dark .azure-maps-drawtoolbar-button {
  background-color: #011C2C;
  color: #FFF;
}
.dark .azure-maps-drawtoolbar-button:hover {
  background-color: #43474C;
}
.dark .azure-maps-drawtoolbar-button.active {
  background-color: #5B5F64;
}
.light .azure-maps-drawtoolbar-button {
  background-color: #FFF;
}
.light .azure-maps-drawtoolbar-button:hover {
  background-color: #F2F2F2;
}
.light .azure-maps-drawtoolbar-button.active {
  background-color: #DADADA;
}
.azure-maps-drawtoolbar-button.draw-circle {
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 13.053a6.2 6.2 0 1 1 6.2-6.2 6.207 6.207 0 0 1-6.2 6.2zm0-11.4a5.2 5.2 0 1 0 0 10.4 5.2 5.2 0 0 0 0-10.4z' fill='%2383888D'/%3E%3C/svg%3E");
}
.azure-maps-drawtoolbar-button.draw-circle.active,
.azure-maps-drawtoolbar-button.draw-circle:hover {
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 13.053a6.2 6.2 0 1 1 6.2-6.2 6.207 6.207 0 0 1-6.2 6.2zm0-11.4a5.2 5.2 0 1 0 0 10.4 5.2 5.2 0 0 0 0-10.4z' fill='%2331ACCE'/%3E%3C/svg%3E");
}
.azure-maps-drawtoolbar-button.draw-line {
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.78.982a1.64 1.64 0 0 0-1.148 2.815l-1.59 3.181a1.515 1.515 0 0 0-1.108.223L6.473 5.95a1.645 1.645 0 1 0-2.614.573L2.409 9.71a1.608 1.608 0 0 0-.188-.02 1.659 1.659 0 1 0 1.1.432L4.77 6.934c.063.01.126.016.19.019.303-.001.6-.088.857-.249L7.28 7.957a1.644 1.644 0 1 0 2.66-.535l1.59-3.18c.082.015.166.023.25.025a1.643 1.643 0 0 0 0-3.286zM2.22 11.976a.643.643 0 1 1 0-1.285.643.643 0 0 1 0 1.285zM4.96 5.953a.643.643 0 1 1 0-1.286.643.643 0 0 1 0 1.286zm3.833 3.285a.643.643 0 1 1 0-1.285.643.643 0 0 1 0 1.285zm2.987-5.97a.643.643 0 1 1 0-1.286.643.643 0 0 1 0 1.285z' fill='%2383888D'/%3E%3C/svg%3E");
}
.azure-maps-drawtoolbar-button.draw-line.active,
.azure-maps-drawtoolbar-button.draw-line:hover {
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.78.982a1.64 1.64 0 0 0-1.148 2.815l-1.59 3.181a1.515 1.515 0 0 0-1.108.223L6.473 5.95a1.645 1.645 0 1 0-2.614.573L2.409 9.71a1.608 1.608 0 0 0-.188-.02 1.659 1.659 0 1 0 1.1.432L4.77 6.934c.063.01.126.016.19.019.303-.001.6-.088.857-.249L7.28 7.957a1.644 1.644 0 1 0 2.66-.535l1.59-3.18c.082.015.166.023.25.025a1.643 1.643 0 0 0 0-3.286zM2.22 11.976a.643.643 0 1 1 0-1.285.643.643 0 0 1 0 1.285zM4.96 5.953a.643.643 0 1 1 0-1.286.643.643 0 0 1 0 1.286zm3.833 3.285a.643.643 0 1 1 0-1.285.643.643 0 0 1 0 1.285zm2.987-5.97a.643.643 0 1 1 0-1.286.643.643 0 0 1 0 1.285z' fill='%2331ACCE'/%3E%3C/svg%3E");
}
.azure-maps-drawtoolbar-button.draw-point {
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.01 13.171l-.441-.752c-.177-.301-.41-.681-.674-1.11C2.32 8.742.903 6.336.903 5.092A4.102 4.102 0 0 1 5 .995a4.152 4.152 0 0 1 4.097 4.097c0 1.185-1.276 3.375-2.817 5.905-.337.553-.636 1.043-.844 1.414l-.427.76zM5 1.995a3.1 3.1 0 0 0-3.097 3.097c0 1.063 1.85 4.076 2.844 5.693l.247.402.432-.71c.999-1.64 2.67-4.385 2.67-5.385A3.138 3.138 0 0 0 5 1.995z' fill='%2383888D'/%3E%3C/svg%3E");
}
.azure-maps-drawtoolbar-button.draw-point.active,
.azure-maps-drawtoolbar-button.draw-point:hover {
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.01 13.171l-.441-.752c-.177-.301-.41-.681-.674-1.11C2.32 8.742.903 6.336.903 5.092A4.102 4.102 0 0 1 5 .995a4.152 4.152 0 0 1 4.097 4.097c0 1.185-1.276 3.375-2.817 5.905-.337.553-.636 1.043-.844 1.414l-.427.76zM5 1.995a3.1 3.1 0 0 0-3.097 3.097c0 1.063 1.85 4.076 2.844 5.693l.247.402.432-.71c.999-1.64 2.67-4.385 2.67-5.385A3.138 3.138 0 0 0 5 1.995z' fill='%2331ACCE'/%3E%3C/svg%3E");
}
.azure-maps-drawtoolbar-button.draw-polygon {
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.82 12.018H.18V.607L7.6 5.362 11.821.098v11.92zm-10.64-1h9.64V2.944L7.818 6.689 1.18 2.435v8.583z' fill='%2383888D'/%3E%3C/svg%3E");
}
.azure-maps-drawtoolbar-button.draw-polygon.active,
.azure-maps-drawtoolbar-button.draw-polygon:hover {
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.82 12.018H.18V.607L7.6 5.362 11.821.098v11.92zm-10.64-1h9.64V2.944L7.818 6.689 1.18 2.435v8.583z' fill='%2331ACCE'/%3E%3C/svg%3E");
}
.azure-maps-drawtoolbar-button.draw-rectangle {
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.07 13.07H.93V.93h12.14v12.14zm-11.14-1h10.14V1.93H1.93v10.14z' fill='%2383888D'/%3E%3C/svg%3E");
}
.azure-maps-drawtoolbar-button.draw-rectangle.active,
.azure-maps-drawtoolbar-button.draw-rectangle:hover {
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.07 13.07H.93V.93h12.14v12.14zm-11.14-1h10.14V1.93H1.93v10.14z' fill='%2331ACCE'/%3E%3C/svg%3E");
}
.azure-maps-drawtoolbar-button.edit-geometry {
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.058 12.032H1.79L6.6 2.65l2.183 4.483.748-.748L6.623.415.153 13.031h4.674l.231-1z' fill='%2383888D'/%3E%3Cpath d='M11.482 6.838a1.248 1.248 0 0 0-1.766 0L5.82 10.735l-.531 2.297 2.297-.531 3.896-3.897a1.25 1.25 0 0 0 0-1.766zm-4.401 4.716l-.401.086.087-.4 3.624-3.624a.222.222 0 0 1 .314.314L7.08 11.554z' fill='%2383888D'/%3E%3C/svg%3E");
}
.azure-maps-drawtoolbar-button.edit-geometry.active,
.azure-maps-drawtoolbar-button.edit-geometry:hover {
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.058 12.032H1.79L6.6 2.65l2.183 4.483.748-.748L6.623.415.153 13.031h4.674l.231-1z' fill='%2331ACCE'/%3E%3Cpath d='M11.482 6.838a1.248 1.248 0 0 0-1.766 0L5.82 10.735l-.531 2.297 2.297-.531 3.896-3.897a1.25 1.25 0 0 0 0-1.766zm-4.401 4.716l-.401.086.087-.4 3.624-3.624a.222.222 0 0 1 .314.314L7.08 11.554z' fill='%2331ACCE'/%3E%3C/svg%3E");
}
.azure-maps-drawtoolbar-button.erase-geometry {
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='12' viewBox='0 0 10 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.75889 2.24859H9.00936V10.8682C9.00936 11.0256 8.97938 11.168 8.91942 11.3104C8.85946 11.4453 8.7845 11.5653 8.67957 11.6702C8.57464 11.7751 8.46221 11.8501 8.31979 11.91C8.17738 11.97 8.03497 12 7.87757 12H1.88132C1.72392 12 1.58151 11.97 1.4391 11.91C1.29669 11.8501 1.18426 11.7751 1.07932 11.6702C0.97439 11.5653 0.899437 11.4528 0.839475 11.3104C0.779512 11.1755 0.749531 11.0256 0.749531 10.8682V2.24859H0V1.49906H2.99812V0.749531C2.99812 0.644597 3.02061 0.547158 3.05809 0.457214C3.09556 0.367271 3.14803 0.284828 3.21549 0.21737C3.28295 0.149913 3.36539 0.0974404 3.45534 0.0599639C3.54528 0.0224873 3.64272 0 3.74766 0H5.99625C6.10118 0 6.19862 0.0224873 6.28857 0.0599639C6.37851 0.0974404 6.46096 0.149913 6.52842 0.21737C6.59587 0.284828 6.64834 0.367271 6.68582 0.457214C6.72329 0.547158 6.74578 0.644597 6.74578 0.749531V1.49906H9.7439V2.24859H9.75889ZM8.25983 2.24859H1.51405V10.8682C1.51405 10.9731 1.55153 11.0556 1.62648 11.1305C1.70144 11.2055 1.79138 11.243 1.88882 11.243H7.88507C7.99 11.243 8.07245 11.2055 8.1474 11.1305C8.22236 11.0556 8.25983 10.9656 8.25983 10.8682V2.24859ZM3.76265 9.7439H3.01311V3.74766H3.76265V9.7439ZM3.76265 1.49906H6.01124V0.749531H3.76265V1.49906ZM5.26171 9.7439H4.51218V3.74766H5.26171V9.7439ZM6.76077 9.7439H6.01124V3.74766H6.76077V9.7439Z' fill='%2383888D'/%3E%3C/svg%3E%0A");
}
.azure-maps-drawtoolbar-button.erase-geometry.active,
.azure-maps-drawtoolbar-button.erase-geometry:hover {
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='12' viewBox='0 0 10 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.75889 2.24859H9.00936V10.8682C9.00936 11.0256 8.97938 11.168 8.91942 11.3104C8.85946 11.4453 8.7845 11.5653 8.67957 11.6702C8.57464 11.7751 8.46221 11.8501 8.31979 11.91C8.17738 11.97 8.03497 12 7.87757 12H1.88132C1.72392 12 1.58151 11.97 1.4391 11.91C1.29669 11.8501 1.18426 11.7751 1.07932 11.6702C0.97439 11.5653 0.899437 11.4528 0.839475 11.3104C0.779512 11.1755 0.749531 11.0256 0.749531 10.8682V2.24859H0V1.49906H2.99812V0.749531C2.99812 0.644597 3.02061 0.547158 3.05809 0.457214C3.09556 0.367271 3.14803 0.284828 3.21549 0.21737C3.28295 0.149913 3.36539 0.0974404 3.45534 0.0599639C3.54528 0.0224873 3.64272 0 3.74766 0H5.99625C6.10118 0 6.19862 0.0224873 6.28857 0.0599639C6.37851 0.0974404 6.46096 0.149913 6.52842 0.21737C6.59587 0.284828 6.64834 0.367271 6.68582 0.457214C6.72329 0.547158 6.74578 0.644597 6.74578 0.749531V1.49906H9.7439V2.24859H9.75889ZM8.25983 2.24859H1.51405V10.8682C1.51405 10.9731 1.55153 11.0556 1.62648 11.1305C1.70144 11.2055 1.79138 11.243 1.88882 11.243H7.88507C7.99 11.243 8.07245 11.2055 8.1474 11.1305C8.22236 11.0556 8.25983 10.9656 8.25983 10.8682V2.24859ZM3.76265 9.7439H3.01311V3.74766H3.76265V9.7439ZM3.76265 1.49906H6.01124V0.749531H3.76265V1.49906ZM5.26171 9.7439H4.51218V3.74766H5.26171V9.7439ZM6.76077 9.7439H6.01124V3.74766H6.76077V9.7439Z' fill='%2331ACCE'/%3E%3C/svg%3E%0A");
}
.azure-maps-drawtoolbar-button.edit-properties {
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.428 0v12H.572V0h12.857zm-12 .857v1.714h11.143V.857H1.43zm11.143 10.286V3.429H1.43v7.714h11.143zM9.931 6.53l-.831.343c.057.272.057.552 0 .823l.831.343-.325.797-.832-.351c-.074.114-.16.22-.257.317a2.302 2.302 0 0 1-.317.257l.352.831-.798.326-.342-.831a2.147 2.147 0 0 1-.403.043 2.09 2.09 0 0 1-.412-.043l-.343.831-.797-.326.352-.831a1.882 1.882 0 0 1-.317-.257 2.309 2.309 0 0 1-.258-.317l-.831.351-.326-.797.832-.343a1.995 1.995 0 0 1 0-.823l-.832-.343.326-.797.831.352c.074-.115.16-.221.258-.317.097-.095.204-.181.317-.258l-.352-.831.797-.326.343.832c.272-.057.552-.057.823 0l.343-.832.797.326-.351.831c.114.074.22.16.317.258.095.098.18.204.257.317l.831-.352.318.797zM7 8.571c.171.001.34-.034.497-.102.152-.068.29-.161.412-.275a1.12 1.12 0 0 0 .274-.411c.064-.158.1-.327.103-.497 0-.171-.035-.34-.103-.497a1.502 1.502 0 0 0-.274-.412 1.12 1.12 0 0 0-.412-.274A1.392 1.392 0 0 0 7 6c-.171 0-.34.034-.497.103a1.5 1.5 0 0 0-.411.274 1.12 1.12 0 0 0-.275.412c-.064.158-.1.326-.103.497 0 .17.035.34.103.497.068.151.16.29.275.411.115.121.255.215.41.275.159.065.327.1.498.102z' fill='%2383888D'/%3E%3C/svg%3E");
}
.azure-maps-drawtoolbar-button.edit-properties.active,
.azure-maps-drawtoolbar-button.edit-properties:hover {
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.428 0v12H.572V0h12.857zm-12 .857v1.714h11.143V.857H1.43zm11.143 10.286V3.429H1.43v7.714h11.143zM9.931 6.53l-.831.343c.057.272.057.552 0 .823l.831.343-.325.797-.832-.351c-.074.114-.16.22-.257.317a2.302 2.302 0 0 1-.317.257l.352.831-.798.326-.342-.831a2.147 2.147 0 0 1-.403.043 2.09 2.09 0 0 1-.412-.043l-.343.831-.797-.326.352-.831a1.882 1.882 0 0 1-.317-.257 2.309 2.309 0 0 1-.258-.317l-.831.351-.326-.797.832-.343a1.995 1.995 0 0 1 0-.823l-.832-.343.326-.797.831.352c.074-.115.16-.221.258-.317.097-.095.204-.181.317-.258l-.352-.831.797-.326.343.832c.272-.057.552-.057.823 0l.343-.832.797.326-.351.831c.114.074.22.16.317.258.095.098.18.204.257.317l.831-.352.318.797zM7 8.571c.171.001.34-.034.497-.102.152-.068.29-.161.412-.275a1.12 1.12 0 0 0 .274-.411c.064-.158.1-.327.103-.497 0-.171-.035-.34-.103-.497a1.502 1.502 0 0 0-.274-.412 1.12 1.12 0 0 0-.412-.274A1.392 1.392 0 0 0 7 6c-.171 0-.34.034-.497.103a1.5 1.5 0 0 0-.411.274 1.12 1.12 0 0 0-.275.412c-.064.158-.1.326-.103.497 0 .17.035.34.103.497.068.151.16.29.275.411.115.121.255.215.41.275.159.065.327.1.498.102z' fill='%2331ACCE'/%3E%3C/svg%3E");
}
.azure-maps-drawtoolbar-button.erase {
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.88 2.249h-.75v8.62a1.162 1.162 0 0 1-.33.802 1.08 1.08 0 0 1-.36.24c-.14.06-.29.09-.443.09H2.002A1.131 1.131 0 0 1 .87 10.869V2.25H.12V1.5H3.12V.75c0-.1.02-.2.06-.292A.706.706 0 0 1 3.576.06.754.754 0 0 1 3.868 0h2.249c.1 0 .2.02.292.06a.706.706 0 0 1 .397.397c.04.093.06.192.06.293v.75h2.999v.75l.014-.001zm-1.5 0H1.635v8.62a.352.352 0 0 0 .112.262.364.364 0 0 0 .262.112h5.997a.352.352 0 0 0 .262-.112.364.364 0 0 0 .112-.262v-8.62zM3.883 9.744h-.75V3.748h.75v5.996zm0-8.245h2.249V.75H3.883v.75zm1.5 8.245h-.75V3.748h.75v5.996zm1.498 0h-.75V3.748h.75v5.996z' fill='%2383888D'/%3E%3C/svg%3E");
}
.azure-maps-drawtoolbar-button.erase.active,
.azure-maps-drawtoolbar-button.erase:hover {
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.88 2.249h-.75v8.62a1.162 1.162 0 0 1-.33.802 1.08 1.08 0 0 1-.36.24c-.14.06-.29.09-.443.09H2.002A1.131 1.131 0 0 1 .87 10.869V2.25H.12V1.5H3.12V.75c0-.1.02-.2.06-.292A.706.706 0 0 1 3.576.06.754.754 0 0 1 3.868 0h2.249c.1 0 .2.02.292.06a.706.706 0 0 1 .397.397c.04.093.06.192.06.293v.75h2.999v.75l.014-.001zm-1.5 0H1.635v8.62a.352.352 0 0 0 .112.262.364.364 0 0 0 .262.112h5.997a.352.352 0 0 0 .262-.112.364.364 0 0 0 .112-.262v-8.62zM3.883 9.744h-.75V3.748h.75v5.996zm0-8.245h2.249V.75H3.883v.75zm1.5 8.245h-.75V3.748h.75v5.996zm1.498 0h-.75V3.748h.75v5.996z' fill='%2331ACCE'/%3E%3C/svg%3E");
}
.rotateHandleIcon {
  height: 25px;
  width: 25px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 245 245'%3E%3Cpath d='M110 26c46 0 85 33 93 77h25l-40 69-40-69h23c-7-27-32-47-62-47-35 0-65 29-65 65s29 65 65 65c9 0 19-2 27-6l12 27c-12 5-26 8-40 8C57 217 15 174 15 121s42-95 95-95z' fill='%23fff' stroke='gray' stroke-width='15'/%3E%3C/svg%3E");
  pointer-events: none;
}
.dragHandleCircle:hover {
  cursor: move;
}
p {
  font-size: 20px;
  font-weight: bold;
}
p em {
  background: yellow;
  padding: 5px;
}
.atlas-map .popup-content-container {
  display: block;
  box-shadow: none;
  filter: drop-shadow(0 3.2px 7.2px rgba(0, 0, 0, 0.132)) drop-shadow(0 0.6px 1.8px rgba(0, 0, 0, 0.108));
  min-width: 30px;
  border-radius: 0px;
  white-space: nowrap;
  position: relative;
}
.atlas-map .popup-close:hover {
  color: #A6A6A6;
}
.azure-maps-drawtoolbar {
  z-index: 100;
  box-shadow: rgba(0, 0, 0, 0.16) 0 0 4px;
}

#menuButton {
  border: none;
  outline: none;
  margin: 0;
  background: #f2f2f2;
  display: flex;
}
#menuButton :hover {
  background-color: #d6d6d6;
}
#menuButtonIcon {
  height: 28px;
  display: inline-block;
}
@media (max-width: 600px) {
  #menuButton {
    padding: 1px 3px;
  }
}

.EztHeader {
  padding: 0px;
  width: 100%;
  height: 38px;
  background: #f2f2f2;
  box-sizing: border-box;
}
.EztHeaderDiv {
  display: flex;
  align-items: center;
  height: 38px;
}
.EztHeaderLogo {
  width: 100px;
  vertical-align: middle;
  margin-left: auto;
}
.EztLogo {
  opacity: 1;
  height: 28px;
  vertical-align: middle;
}
.InputBox {
  padding: 6px;
  border: 0.5px solid #FFFF;
  height: 14px;
  width: 270px;
  outline-width: 0;
}
.InputBoxError {
  padding: 6px;
  height: 14px;
  width: 270px;
  outline-width: 0;
  border: 0.5px solid #ed1c24;
}
@media (max-width: 600px) {
  .InputBox {
    width: 148px;
    font-size: 14px;
  }
  .InputBoxError {
    width: 148px;
    font-size: 14px;
  }
}
#InputButton {
  height: 28px;
  width: 28px;
  background-color: #d6d6d6;
  border-style: solid;
  border-color: #d6d6d6;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}
.InputButton :focus {
  outline: none;
}
.searchImg {
  height: 14px;
  vertical-align: inherit;
}
.AutoComplete {
  position: relative;
  margin: 0;
  z-index: 4;
  background-color: #f2f2f2;
  width: 312px;
  padding-bottom: 2px;
  box-shadow: rgb(0 0 0%) 0 2px 4px -2px;
}
@media (max-width: 600px) {
  .EztHeader {
    padding: 0px;
  }
  .AutoComplete {
    font-size: 14px;
    width: 184px;
  }
}

.autoCompleteLi {
  list-style-type: none;
  cursor: pointer;
}
.autoCompleteLi:hover {
  text-decoration: underline;
}
@media (max-width: 600px) {
  /*
    .autoCompleteLi:hover {
        padding-bottom: 4px; 
    }
    */
}

.sideMenuClassify i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.8;
}
.sideMenuClassify {
  line-height: 23px;
}
.iPolygons {
  border-radius: 0;
}
.iPoints {
  border-radius: 50%;
}
.symbolTitle {
  display: flex;
}
.symbolContainer {
  width: 20px;
  height: 20px;
  text-align: center;
  padding-right: 8px;
}

.legendLiTerrs i {
  width: 16px;
  height: 16px;
  float: left;
  margin-right: 8px;
  opacity: 0.8;
}
.iPoints {
  border-radius: 50%;
  border: 1px solid black;
}
.iPolygons {
  border-radius: 0;
}

.pointsLi i {
  width: 16px;
  height: 16px;
  float: left;
  margin-right: 8px;
  opacity: 0.8;
}
.iPoints {
  border-radius: 50%;
  border: 1px solid black;
}
.iPolyons {
  border-radius: 0;
  border: 1px solid black;
}

.sideMenuTerrOverlay i {
  width: 16px;
  height: 16px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}
.iPolygons {
  border-radius: 0;
  /*border: 1px solid black;*/
}

.classifySection {
  height: auto;
}
.primaryLayerSection {
  /*height: 35%; */
  height: auto;
  display: block;
}
.refLayerSection {
  height: auto;
  display: block;
}
.sideMenuSectionTerr {
  /*height: 25%;*/
  height: auto;
}
.sideMenuSectionZip {
  height: 48px;
  /*display: inline-block;*/
  display: inline-grid;
  width: inherit;
  /*padding-top: 4px; */
  padding-bottom: 4px;
}
.sideMenuTravelRingSection {
  height: auto;
}
.sideMenu {
  position: absolute;
  left: 0px;
  width: 224px;
  height: 100%;
  transition: transform 0.3s ease-out;
  background-color: #FFFFFF;
  opacity: 1;
  z-index: 3;
  padding-top: 5px;
}
.legendSectionHeader {
  font-size: 12px;
  height: 18px;
  margin: 0;
  padding: 0;
}
.legendSectionHeader2 {
  font-size: 10px;
  height: auto;
  margin: 0;
  padding: 0 0 0 10px;
  color: #a0a0a0;
}
.sideMenuOpen {
  transform: translateX(0);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 4px;
}
.sideMenuClose {
  transform: translateX(-100%);
}
.legendUlTerritories {
  padding: 0px 10px 5px 10px;
  margin: 0;
  display: grid;
}
.legendUlPoints {
  padding: 0px 10px 5px 10px;
  margin: 0;
  height: auto;
  overflow-y: hidden;
  display: block;
}
.legendEztTileLayers {
  padding: 0px 10px 5px 10px;
  margin: 0;
  height: auto;
  overflow-y: hidden;
  display: block;
}
.legendUlHide {
  display: none;
}
.legendUlClassify {
  padding: 5px 10px 5px 10px;
  margin: 0;
  height: auto;
  overflow-y: hidden;
  display: block;
}
.legendUlClassifyCondensed {
  padding: 5px 10px 5px 10px;
  margin: 0;
  height: 200px;
  overflow-y: scroll;
  display: block;
}
.legendUlClassifyHide {
  padding: 5px 10px 5px 10px;
  margin: 0;
  /*height: 85%;*/
  display: none;
  overflow-y: scroll;
}
.sideMenuUlTerrOverlay {
  padding: 5px 10px 5px 10px;
  margin: 0;
  /*height: 85%;*/
  height: auto;
  /* overflow-y: hidden; */
  display: block;
}
.sideMenuUlTerrOverlayHide {
  display: none;
}
.sideMenuUlTerrOverlayMaxHeight {
  padding: 5px 10px 5px 10px;
  margin: 0;
  /* height: 134px;
  overflow-y: scroll; */
  display: block;
}
.sideMenuMessage {
  padding-left: 10px;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 4px;
  white-space: pre-wrap;
}
.chevronIcon {
  height: 11px;
  padding-left: 3px;
  padding-top: 3px;
  cursor: pointer;
}
.iMdnTileIcon {
  border-radius: 0;
  width: 18px;
  height: 18px;
  float: left;
  margin: 5px 0 0 10px;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f2f2f2;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.legendTravelRing i {
  width: 16px;
  height: 16px;
  float: left;
  margin-right: 8px;
  opacity: 0.8;
}
.lengendTraveRingUl {
  padding: 5px 10px 5px 10px;
  margin: 0;
  /* height: 85%; */
  height: auto;
  overflow-y: hidden;
  display: block;
}
.iTravelRing {
  border-radius: 0;
}

.callout-table {
  max-height: 200px;
  overflow-y: auto;
  width: 100%;
  border-collapse: separate;
  border-spacing: 10px 0px;
  padding: 0px 10px 0px 10px;
}
.callout-table::-webkit-scrollbar-thumb {
  width: 9px;
  background: #cecece;
}
tr {
  line-height: 16px;
}
td {
  text-align: right;
  color: #808080;
}
.table-div {
  color: black;
  border-radius: 0px;
}
.address-callout {
  padding: 16px 14px 8px 14px;
  max-height: 200px;
  overflow-y: auto;
  color: black;
  border-radius: 0px;
  font-size: 14px;
  min-width: 100px;
}
.p-value {
  font: 12px Helvetica Neue, Arial, Helvetica, sans-serif;
  padding: 0px;
  margin: 0px;
  font-weight: bold;
  color: black;
}
.callout-header {
  display: flex;
  justify-content: right;
  padding: 4px 18px 0px 4px;
}
.draggable {
  justify-content: space-between;
}
.callout-expand-div {
  display: flex;
  gap: 2px;
}
.callout-header-btn {
  border: none;
  background: none;
  outline: none;
  height: 12px;
  width: 12px;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
}
.move-popup {
  display: flex;
  height: 14px;
  width: 14px;
}
.move-icon {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMjggNTEyIj48IS0tISBGb250IEF3ZXNvbWUgUHJvIDYuMy4wIGJ5IEBmb250YXdlc29tZSAtIGh0dHBzOi8vZm9udGF3ZXNvbWUuY29tIExpY2Vuc2UgLSBodHRwczovL2ZvbnRhd2Vzb21lLmNvbS9saWNlbnNlIChDb21tZXJjaWFsIExpY2Vuc2UpIENvcHlyaWdodCAyMDIzIEZvbnRpY29ucywgSW5jLiAtLT48cGF0aCBmaWxsPSIjNDQ0NDQ0IiBkPSJNNTYgNDcyYTU2IDU2IDAgMSAxIDAtMTEyIDU2IDU2IDAgMSAxIDAgMTEyem0wLTE2MGE1NiA1NiAwIDEgMSAwLTExMiA1NiA1NiAwIDEgMSAwIDExMnpNMCA5NmE1NiA1NiAwIDEgMSAxMTIgMEE1NiA1NiAwIDEgMSAwIDk2eiIvPjwvc3ZnPg==);
  background-position: center center;
  background-repeat: no-repeat;
}
/* .arrow-left {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTYgNTEyIj48IS0tISBGb250IEF3ZXNvbWUgUHJvIDYuMy4wIGJ5IEBmb250YXdlc29tZSAtIGh0dHBzOi8vZm9udGF3ZXNvbWUuY29tIExpY2Vuc2UgLSBodHRwczovL2ZvbnRhd2Vzb21lLmNvbS9saWNlbnNlIChDb21tZXJjaWFsIExpY2Vuc2UpIENvcHlyaWdodCAyMDIzIEZvbnRpY29ucywgSW5jLiAtLT48cGF0aCBkPSJNOS40IDI3OC42Yy0xMi41LTEyLjUtMTIuNS0zMi44IDAtNDUuM2wxMjgtMTI4YzkuMi05LjIgMjIuOS0xMS45IDM0LjktNi45czE5LjggMTYuNiAxOS44IDI5LjZsMCAyNTZjMCAxMi45LTcuOCAyNC42LTE5LjggMjkuNnMtMjUuNyAyLjItMzQuOS02LjlsLTEyOC0xMjh6Ii8+PC9zdmc+);
    background-position: center center;
    background-repeat: no-repeat;
}
.arrow-right {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTYgNTEyIj48IS0tISBGb250IEF3ZXNvbWUgUHJvIDYuMy4wIGJ5IEBmb250YXdlc29tZSAtIGh0dHBzOi8vZm9udGF3ZXNvbWUuY29tIExpY2Vuc2UgLSBodHRwczovL2ZvbnRhd2Vzb21lLmNvbS9saWNlbnNlIChDb21tZXJjaWFsIExpY2Vuc2UpIENvcHlyaWdodCAyMDIzIEZvbnRpY29ucywgSW5jLiAtLT48cGF0aCBkPSJNMjQ2LjYgMjc4LjZjMTIuNS0xMi41IDEyLjUtMzIuOCAwLTQ1LjNsLTEyOC0xMjhjLTkuMi05LjItMjIuOS0xMS45LTM0LjktNi45cy0xOS44IDE2LjYtMTkuOCAyOS42bDAgMjU2YzAgMTIuOSA3LjggMjQuNiAxOS44IDI5LjZzMjUuNyAyLjIgMzQuOS02LjlsMTI4LTEyOHoiLz48L3N2Zz4=);
    background-position: center center;
    background-repeat: no-repeat;
} */
.arrow-down {
  background-image: url(data:image/svg+xml;base64,PHN2ZyBhcmlhLWhpZGRlbj0idHJ1ZSIgZm9jdXNhYmxlPSJmYWxzZSIgZGF0YS1wcmVmaXg9ImZhcyIgZGF0YS1pY29uPSJjaGV2cm9uLWRvd24iIGNsYXNzPSJzdmctaW5saW5lLS1mYSBmYS1jaGV2cm9uLWRvd24gZmEtdy0xNCIgcm9sZT0iaW1nIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0NDggNTEyIj48cGF0aCBmaWxsPSJjdXJyZW50Q29sb3IiIGQ9Ik0yMDcuMDI5IDM4MS40NzZMMTIuNjg2IDE4Ny4xMzJjLTkuMzczLTkuMzczLTkuMzczLTI0LjU2OSAwLTMzLjk0MWwyMi42NjctMjIuNjY3YzkuMzU3LTkuMzU3IDI0LjUyMi05LjM3NSAzMy45MDEtLjA0TDIyNCAyODQuNTA1bDE1NC43NDUtMTU0LjAyMWM5LjM3OS05LjMzNSAyNC41NDQtOS4zMTcgMzMuOTAxLjA0bDIyLjY2NyAyMi42NjdjOS4zNzMgOS4zNzMgOS4zNzMgMjQuNTY5IDAgMzMuOTQxTDI0MC45NzEgMzgxLjQ3NmMtOS4zNzMgOS4zNzItMjQuNTY5IDkuMzcyLTMzLjk0MiAweiI+PC9wYXRoPjwvc3ZnPg==);
  background-position: center center;
  background-repeat: no-repeat;
}
.arrow-down:hover {
  background-image: url(data:image/svg+xml;base64,PHN2ZyBhcmlhLWhpZGRlbj0idHJ1ZSIgZm9jdXNhYmxlPSJmYWxzZSIgZGF0YS1wcmVmaXg9ImZhcyIgZGF0YS1pY29uPSJjaGV2cm9uLWRvd24iIGNsYXNzPSJzdmctaW5saW5lLS1mYSBmYS1jaGV2cm9uLWRvd24gZmEtdy0xNCIgcm9sZT0iaW1nIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0NDggNTEyIj48cGF0aCBmaWxsPSIjQTZBNkE2IiBkPSJNMjA3LjAyOSAzODEuNDc2TDEyLjY4NiAxODcuMTMyYy05LjM3My05LjM3My05LjM3My0yNC41NjkgMC0zMy45NDFsMjIuNjY3LTIyLjY2N2M5LjM1Ny05LjM1NyAyNC41MjItOS4zNzUgMzMuOTAxLS4wNEwyMjQgMjg0LjUwNWwxNTQuNzQ1LTE1NC4wMjFjOS4zNzktOS4zMzUgMjQuNTQ0LTkuMzE3IDMzLjkwMS4wNGwyMi42NjcgMjIuNjY3YzkuMzczIDkuMzczIDkuMzczIDI0LjU2OSAwIDMzLjk0MUwyNDAuOTcxIDM4MS40NzZjLTkuMzczIDkuMzcyLTI0LjU2OSA5LjM3Mi0zMy45NDIgMHoiPjwvcGF0aD48L3N2Zz4=);
}
.arrow-up {
  background-image: url(data:image/svg+xml;base64,PHN2ZyBhcmlhLWhpZGRlbj0idHJ1ZSIgZm9jdXNhYmxlPSJmYWxzZSIgZGF0YS1wcmVmaXg9ImZhcyIgZGF0YS1pY29uPSJjaGV2cm9uLXVwIiBjbGFzcz0ic3ZnLWlubGluZS0tZmEgZmEtY2hldnJvbi11cCBmYS13LTE0IiByb2xlPSJpbWciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDQ0OCA1MTIiPjxwYXRoIGZpbGw9ImN1cnJlbnRDb2xvciIgZD0iTTI0MC45NzEgMTMwLjUyNGwxOTQuMzQzIDE5NC4zNDNjOS4zNzMgOS4zNzMgOS4zNzMgMjQuNTY5IDAgMzMuOTQxbC0yMi42NjcgMjIuNjY3Yy05LjM1NyA5LjM1Ny0yNC41MjIgOS4zNzUtMzMuOTAxLjA0TDIyNCAyMjcuNDk1IDY5LjI1NSAzODEuNTE2Yy05LjM3OSA5LjMzNS0yNC41NDQgOS4zMTctMzMuOTAxLS4wNGwtMjIuNjY3LTIyLjY2N2MtOS4zNzMtOS4zNzMtOS4zNzMtMjQuNTY5IDAtMzMuOTQxTDIwNy4wMyAxMzAuNTI1YzkuMzcyLTkuMzczIDI0LjU2OC05LjM3MyAzMy45NDEtLjAwMXoiPjwvcGF0aD48L3N2Zz4=);
  background-position: center center;
  background-repeat: no-repeat;
}
.arrow-up:hover {
  background-image: url(data:image/svg+xml;base64,PHN2ZyBhcmlhLWhpZGRlbj0idHJ1ZSIgZm9jdXNhYmxlPSJmYWxzZSIgZGF0YS1wcmVmaXg9ImZhcyIgZGF0YS1pY29uPSJjaGV2cm9uLXVwIiBjbGFzcz0ic3ZnLWlubGluZS0tZmEgZmEtY2hldnJvbi11cCBmYS13LTE0IiByb2xlPSJpbWciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDQ0OCA1MTIiPjxwYXRoIGZpbGw9IiNBNkE2QTYiIGQ9Ik0yNDAuOTcxIDEzMC41MjRsMTk0LjM0MyAxOTQuMzQzYzkuMzczIDkuMzczIDkuMzczIDI0LjU2OSAwIDMzLjk0MWwtMjIuNjY3IDIyLjY2N2MtOS4zNTcgOS4zNTctMjQuNTIyIDkuMzc1LTMzLjkwMS4wNEwyMjQgMjI3LjQ5NSA2OS4yNTUgMzgxLjUxNmMtOS4zNzkgOS4zMzUtMjQuNTQ0IDkuMzE3LTMzLjkwMS0uMDRsLTIyLjY2Ny0yMi42NjdjLTkuMzczLTkuMzczLTkuMzczLTI0LjU2OSAwLTMzLjk0MUwyMDcuMDMgMTMwLjUyNWM5LjM3Mi05LjM3MyAyNC41NjgtOS4zNzMgMzMuOTQxLS4wMDF6Ij48L3BhdGg+PC9zdmc+);
}
.callout-close {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMjAgNTEyIj48IS0tISBGb250IEF3ZXNvbWUgUHJvIDYuMy4wIGJ5IEBmb250YXdlc29tZSAtIGh0dHBzOi8vZm9udGF3ZXNvbWUuY29tIExpY2Vuc2UgLSBodHRwczovL2ZvbnRhd2Vzb21lLmNvbS9saWNlbnNlIChDb21tZXJjaWFsIExpY2Vuc2UpIENvcHlyaWdodCAyMDIzIEZvbnRpY29ucywgSW5jLiAtLT48cGF0aCBkPSJNMzEwLjYgMTUwLjZjMTIuNS0xMi41IDEyLjUtMzIuOCAwLTQ1LjNzLTMyLjgtMTIuNS00NS4zIDBMMTYwIDIxMC43IDU0LjYgMTA1LjRjLTEyLjUtMTIuNS0zMi44LTEyLjUtNDUuMyAwcy0xMi41IDMyLjggMCA0NS4zTDExNC43IDI1NiA5LjQgMzYxLjRjLTEyLjUgMTIuNS0xMi41IDMyLjggMCA0NS4zczMyLjggMTIuNSA0NS4zIDBMMTYwIDMwMS4zIDI2NS40IDQwNi42YzEyLjUgMTIuNSAzMi44IDEyLjUgNDUuMyAwczEyLjUtMzIuOCAwLTQ1LjNMMjA1LjMgMjU2IDMxMC42IDE1MC42eiIvPjwvc3ZnPg==);
  background-position: center center;
  background-repeat: no-repeat;
}
.callout-close:hover {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzODQgNTEyIj48IS0tISBGb250IEF3ZXNvbWUgUHJvIDYuNC4wIGJ5IEBmb250YXdlc29tZSAtIGh0dHBzOi8vZm9udGF3ZXNvbWUuY29tIExpY2Vuc2UgLSBodHRwczovL2ZvbnRhd2Vzb21lLmNvbS9saWNlbnNlIChDb21tZXJjaWFsIExpY2Vuc2UpIENvcHlyaWdodCAyMDIzIEZvbnRpY29ucywgSW5jLiAtLT48cGF0aCBmaWxsPSIjQTZBNkE2IiBkPSJNMzc2LjYgODQuNWMxMS4zLTEzLjYgOS41LTMzLjgtNC4xLTQ1LjFzLTMzLjgtOS41LTQ1LjEgNC4xTDE5MiAyMDYgNTYuNiA0My41QzQ1LjMgMjkuOSAyNS4xIDI4LjEgMTEuNSAzOS40Uy0zLjkgNzAuOSA3LjQgODQuNUwxNTAuMyAyNTYgNy40IDQyNy41Yy0xMS4zIDEzLjYtOS41IDMzLjggNC4xIDQ1LjFzMzMuOCA5LjUgNDUuMS00LjFMMTkyIDMwNiAzMjcuNCA0NjguNWMxMS4zIDEzLjYgMzEuNSAxNS40IDQ1LjEgNC4xczE1LjQtMzEuNSA0LjEtNDUuMUwyMzMuNyAyNTYgMzc2LjYgODQuNXoiLz48L3N2Zz4=);
}
.callout-title {
  text-align: center;
  width: 100%;
}
.ezt-p {
  font: bold 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
  padding: 4px 10px 4px 10px;
  margin: 0px;
  font-weight: bold;
  color: black;
  text-align: center;
}
.footer-div {
  text-align: right;
  padding: 0px 10px 4px 10px;
}
.tRing-btn {
  padding: 0px;
  border: none;
  background: none;
  color: black;
  font-size: 10px;
  text-decoration: underline;
}
.eztDistanceLineBtn {
  padding: 0px;
  border: none;
  background: none;
  color: black;
  font-size: 10px;
  text-decoration: underline;
}
.remove-btn {
  padding: 0px;
  border: none;
  background: none;
  color: black;
  font-size: 10px;
  text-decoration: underline;
}

.eztDrawingToolDiv {
  position: absolute;
  display: inline-flex;
  top: 78px;
  right: 10px;
}
.eztDrawingToolBtn {
  background-color: #FFFFFF;
  /*line-height: 1.2em; */
  z-index: 2;
  cursor: pointer;
  display: block;
  height: 32px;
  padding: 0;
  width: 32px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 4px;
}
#eztDrawingToolBtns button {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 4px;
}
.eztDrawingToolImg {
  height: 18px;
}

.clearTravelRingButton {
  top: 114px;
  right: 10px;
  background-color: #FFFFFF;
  position: absolute;
  /*line-height: 1.2em; */
  z-index: 2;
  cursor: pointer;
  display: block;
  height: 32px;
  padding: 0;
  width: 32px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 4px;
}
.clearTravelRingButton:hover {
  background-color: #F2F2F2;
}
.clearFitlerButtonTerritories {
  top: 114px;
  right: 10px;
  background-color: white;
  position: absolute;
  line-height: 1.2em;
  z-index: 2;
  cursor: pointer;
  display: block;
  height: 32px;
  padding: 0;
  width: 32px;
  border: none;
}
.clearFilterImage {
  padding-top: 3px;
  height: 20px;
  width: 20px;
}

.eztDrillDiv {
  position: absolute;
  display: inline-flex;
  top: 150px;
  right: 10px;
}
.eztDrillBtn {
  background-color: #FFFFFF;
  /*line-height: 1.2em; */
  z-index: 2;
  cursor: pointer;
  display: block;
  height: 32px;
  padding: 0;
  width: 32px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 4px;
}
.eztDrillImg {
  height: 18px;
}

.travelRingContainer {
  position: absolute;
  top: 8px;
  right: 54px;
  z-index: 10000;
  display: block;
  width: 320px;
  overflow-y: auto;
  background-color: #fff;
  font-family: 'Segoe UI Semibold', wf_segoe-ui_semibold, Arial, Helvetica, sans-serif;
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 4px;
  pointer-events: auto;
  border-radius: 2px;
}
.travelRingHeader {
  border-radius: 2px 2px 0 0;
  width: 100%;
}
.travelRingTitle {
  position: static;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-family: 'Segoe UI';
  font-size: 16px;
  color: #252423;
  margin: 16px 6px 16px 6px;
  font-weight: 700;
  display: block;
  text-align: center;
}
.travelRingTitleText {
  display: inline-block;
}
.travelRingClose {
  position: absolute;
  top: 22px;
  right: 22px;
  background-color: #fff;
}
.travelRingOptions {
  display: table;
  border-collapse: collapse;
  font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
  margin-top: 4px;
  margin-left: 25px;
  font-size: 14px;
}
.travelRingOptionsRow {
  display: table-row;
  padding-top: 5px;
  line-height: 32px;
  margin-right: 25px;
}
.travelRingOptionsRowAvoid {
  display: table-row;
  padding-top: 5px;
  line-height: 32px;
  margin-right: 25px;
  transition: transform 0.3s ease-out;
}
.travelRingOptionsCol1 {
  display: table-cell;
  width: 140px;
}
.travelRingOptionsCol2 {
  display: table-cell;
  width: 150px;
}
.distanceLineOptionsCol2 {
  display: table-cell;
  width: auto;
}
.travelRingSelection {
  height: 27px;
  border: 1px solid #8a8886;
  box-sizing: border-box;
  border-radius: 1px;
  display: table-cell;
  width: 100px;
}
.travelTimeInput {
  height: 27px;
  border: 1px solid #8a8886;
  box-sizing: border-box;
  border-radius: 1px;
  display: table-cell;
  width: 80px;
}
.travelDistanceNumberInput {
  height: 27px;
  border: 1px solid #8a8886;
  box-sizing: border-box;
  border-radius: 1px;
  display: table-cell;
  width: 60px;
}
.travelDistanceType {
  height: 27px;
  border: 1px solid #8a8886;
  box-sizing: border-box;
  border-radius: 1px;
  display: table-cell;
  width: 90px;
}
.travelRingSelection,
.travelTimeInput,
.travelDistanceNumberInput,
.travelDistanceType:focus-visible {
  outline: none;
}
.travelTimeCheckBox {
  height: 16px;
  width: 16px;
  font-size: 16px;
  vertical-align: middle;
}
.travelRingAvoid {
  vertical-align: middle;
  background-color: transparent;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin-left: -5px;
  cursor: pointer;
  color: inherit;
}
.travelRingAvoidBtnDown {
  display: inline-block;
  padding-left: 2px;
  height: 12px;
  width: 14px;
  vertical-align: middle;
  background: url(data:image/svg+xml;base64,PHN2ZyBhcmlhLWhpZGRlbj0idHJ1ZSIgZm9jdXNhYmxlPSJmYWxzZSIgZGF0YS1wcmVmaXg9ImZhcyIgZGF0YS1pY29uPSJjaGV2cm9uLWRvd24iIGNsYXNzPSJzdmctaW5saW5lLS1mYSBmYS1jaGV2cm9uLWRvd24gZmEtdy0xNCIgcm9sZT0iaW1nIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0NDggNTEyIj48cGF0aCBmaWxsPSJjdXJyZW50Q29sb3IiIGQ9Ik0yMDcuMDI5IDM4MS40NzZMMTIuNjg2IDE4Ny4xMzJjLTkuMzczLTkuMzczLTkuMzczLTI0LjU2OSAwLTMzLjk0MWwyMi42NjctMjIuNjY3YzkuMzU3LTkuMzU3IDI0LjUyMi05LjM3NSAzMy45MDEtLjA0TDIyNCAyODQuNTA1bDE1NC43NDUtMTU0LjAyMWM5LjM3OS05LjMzNSAyNC41NDQtOS4zMTcgMzMuOTAxLjA0bDIyLjY2NyAyMi42NjdjOS4zNzMgOS4zNzMgOS4zNzMgMjQuNTY5IDAgMzMuOTQxTDI0MC45NzEgMzgxLjQ3NmMtOS4zNzMgOS4zNzItMjQuNTY5IDkuMzcyLTMzLjk0MiAweiI+PC9wYXRoPjwvc3ZnPg==) right center no-repeat;
}
.travelRingAvoidBtnUp {
  display: inline-block;
  padding-left: 2px;
  height: 12px;
  width: 14px;
  vertical-align: middle;
  background: url(data:image/svg+xml;base64,PHN2ZyBhcmlhLWhpZGRlbj0idHJ1ZSIgZm9jdXNhYmxlPSJmYWxzZSIgZGF0YS1wcmVmaXg9ImZhcyIgZGF0YS1pY29uPSJjaGV2cm9uLXVwIiBjbGFzcz0ic3ZnLWlubGluZS0tZmEgZmEtY2hldnJvbi11cCBmYS13LTE0IiByb2xlPSJpbWciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDQ0OCA1MTIiPjxwYXRoIGZpbGw9ImN1cnJlbnRDb2xvciIgZD0iTTI0MC45NzEgMTMwLjUyNGwxOTQuMzQzIDE5NC4zNDNjOS4zNzMgOS4zNzMgOS4zNzMgMjQuNTY5IDAgMzMuOTQxbC0yMi42NjcgMjIuNjY3Yy05LjM1NyA5LjM1Ny0yNC41MjIgOS4zNzUtMzMuOTAxLjA0TDIyNCAyMjcuNDk1IDY5LjI1NSAzODEuNTE2Yy05LjM3OSA5LjMzNS0yNC41NDQgOS4zMTctMzMuOTAxLS4wNGwtMjIuNjY3LTIyLjY2N2MtOS4zNzMtOS4zNzMtOS4zNzMtMjQuNTY5IDAtMzMuOTQxTDIwNy4wMyAxMzAuNTI1YzkuMzcyLTkuMzczIDI0LjU2OC05LjM3MyAzMy45NDEtLjAwMXoiPjwvcGF0aD48L3N2Zz4=) right center no-repeat;
}
.travelRingSearchBtn,
.travelRingCancelBtn {
  vertical-align: middle;
  color: #000000;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
  margin: 10px 5px 0px;
  padding: 6px 18px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  border: 2px solid;
}
.travelRingSearchBtn {
  background-color: #f2c811;
  border-color: #f2c811;
}
.travelRingSearchBtn:hover {
  background-color: #cba80b;
  border-color: #000000;
}
.travelRingCancelBtn {
  background-color: #c8c8c8;
  border-color: #c8c8c8;
}
.travelRingCancelBtn:hover {
  background-color: #ffffff;
  border-color: #000000;
}
.avoidOptionsOpen {
  transform: translateY(0);
}
.avoidOptionsClose {
  transform: translateY(-100%);
}
.travelRingColorPicker {
  -webkit-appearance: none;
  border: none;
  width: 24px;
  height: 25px;
  background: none;
  vertical-align: middle;
}
.travelRingLogging {
  font-size: 12px;
  color: #212121;
  padding: 0 0 2px 2px;
}

#eztMap {
  position: absolute;
  width: 100%;
  height: 100%;
  visibility: visible;
  margin-top: 0;
}
.pin {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: #ED3237;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
}
.pin:after {
  content: "";
  width: 14px;
  height: 14px;
  margin: 8px 0 0 8px;
  background: #e6e6e6;
  position: absolute;
  border-radius: 50%;
}
.bounce {
  animation-name: bounce;
  animation-fill-mode: both;
  animation-duration: 1s;
}
.pulse {
  background: #d6d4d4;
  border-radius: 50%;
  height: 14px;
  width: 14px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 11px 0px 0px -12px;
  transform: rotateX(55deg);
  z-index: -2;
}
.pulse:after {
  content: "";
  border-radius: 50%;
  height: 40px;
  width: 40px;
  position: absolute;
  margin: -13px 0 0 -13px;
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
  opacity: 0;
  box-shadow: 0 0 1px 2px #ED3237;
  animation-delay: 1.1s;
}
@keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}
@keyframes bounce {
  0% {
    opacity: 0;
    transform: translateY(-2000px) rotate(-45deg);
  }
  60% {
    opacity: 1;
    transform: translateY(30px) rotate(-45deg);
  }
  80% {
    transform: translateY(-10px) rotate(-45deg);
  }
  100% {
    transform: translateY(0) rotate(-45deg);
  }
}

.SplashContainer {
  height: 100%;
}
.Splash {
  background-color: #FFFFFF;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.SplashImg {
  /*
    width: 350px;
    height: 80px;
    */
  width: 149pt;
  height: 50pt;
}

.messageConsole {
  position: absolute;
  bottom: 5px;
  width: 80%;
  line-height: 1.2em;
  z-index: 4;
  padding-left: 4px;
}
.messageConsoleTitle {
  margin: 0;
  font-weight: bold;
  font-size: 12px;
}
.messageConsoleUl {
  padding-left: 0px;
  margin: 0px;
}
.messageConsoleLi {
  font-size: 12px;
  padding-left: 0px;
}
/* .messageConsoleUl li:before {
    content: '-';
    position: absolute;
    margin-left: -15px;
  } */
.messageConsole2 {
  position: absolute;
  justify-content: space-between;
  display: flex;
  bottom: 0px;
  width: 100%;
  line-height: 1.5em;
  z-index: 4;
  background-color: white;
  opacity: 0.85;
}
.close {
  padding-right: 5px;
  cursor: pointer;
}

