.lg_DataTotal {
  margin-left: 5px;
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}
.data_totalv {
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}
.lg_DataPercentage {
  color: black;
  margin-right: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}
.lg_trendValue1 {
  color: grey;
  margin-right: 0;
}
.lg_trendValue2 {
  color: grey;
  margin-right: 0;
}
.linearSVG {
  padding-top: 0;
  margin-right: 10px;
  max-width: 100%;
  transform: scale(0.98);
}
.lg_DataTab {
  margin-left: 20px;
  position: absolute;
}
.lg_Imagetab {
  margin-right: 20px;
  position: absolute;
}
.lg_Legendtab {
  margin-left: 20px;
  position: absolute;
}
.lg_ErrorMessage {
  text-align: center;
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  top: 45%;
  width: 100%;
  position: absolute;
}
svg:not(:root) {
  overflow: visible;
}
.linearSVG {
  max-width: 100%;
}
.error {
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #212121;
  margin-left: auto;
  margin-right: auto;
}

