* {
  padding: 0;
  margin: 0;
}
/* width */
::-webkit-scrollbar {
  height: 3px;
  width: 3px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
:root {
  --borderRadius: 0px;
  --cardFill: #fff;
  --cardPadding: 10px;
  --flow: row;
  --cardBorder: solid 1px #fff;
  --cardShadow: null;
  --rowOrientationGap: 0px;
  --columnOrientationGap: 0px;
  --imgContainer: 60px;
  --imgSize: 50px;
  --imgBorderRadius: 50px;
  --textContainer: 200px;
  --textContainerLeftMargin: 20px;
  --mainHeadingFontSize: 21px;
  --mainHeadingFontFamily: Arial, Helvetica, sans-serif;
  --mainHeadingFontWeight: null;
  --mainHeadingFontStyle: null;
  --mainHeadingPaddingBottom: 5px;
  --mainHeadingColor: #000;
  --subHeadingFontSize: 18px;
  --subHeadingFontFamily: Arial, Helvetica, sans-serif;
  --subHeadingFontWeight: null;
  --subHeadingFontStyle: null;
  --subHeadingColor: #000;
  --comparisonHeadingFontSize: 18px;
  --comparisonHeadingFontFamily: Arial, Helvetica, sans-serif;
  --comparisonHeadingFontWeight: null;
  --comparisonHeadingFontStyle: null;
  --comparisonHeadingColor: #000;
  --comparisonHeadingPaddingTop: 5px;
}
.container {
  position: absolute;
  box-shadow: var(--cardShadow);
  overflow: hidden;
  border-radius: var(--borderRadius);
  display: flex;
  flex-direction: var(--flow);
  overflow: auto;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.profile-card {
  display: flex;
  flex-direction: row;
  background: var(--cardFill);
  border-radius: var(--borderRadius);
  padding: var(--cardPadding) var(--cardPadding);
  flex: 1 1 auto;
  align-items: center;
  border: var(--cardBorder);
}
.container .profile-card:not(:first-child) {
  margin-left: var(--rowOrientationGap);
  /*  on all but the first column  */
  margin-top: var(--columnOrientationGap);
}
.image-container {
  text-align: center;
}
.image-container img {
  width: var(--imgSize);
  height: var(--imgSize);
  border-radius: var(--imgBorderRadius);
}
.text-container {
  margin-left: var(--textContainerLeftMargin);
}
.text-container h1 {
  font-family: var(--mainHeadingFontFamily);
  font-size: var(--mainHeadingFontSize);
  font-weight: var(--mainHeadingFontWeight);
  font-style: var(--mainHeadingFontStyle);
  padding-bottom: var(--mainHeadingPaddingBottom);
  color: var(--mainHeadingColor);
}
.text-container h3 {
  font-family: var(--subHeadingFontFamily);
  font-size: var(--subHeadingFontSize);
  font-weight: var(--subHeadingFontWeight);
  color: var(--subHeadingColor);
  font-style: var(--subHeadingFontStyle);
}
.text-container p {
  font-family: var(--comparisonHeadingFontFamily);
  font-size: var(--comparisonHeadingFontSize);
  font-weight: var(--comparisonHeadingFontWeight);
  color: var(--comparisonHeadingColor);
  font-style: var(--comparisonHeadingFontStyle);
  padding-top: var(--comparisonHeadingPaddingTop);
}
.loadMoreItmes {
  display: none;
  justify-content: center;
  height: 30px;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 99;
  position: absolute;
  color: red;
  overflow-y: auto;
  bottom: 0px;
  box-shadow: inset 0px 11px 8px -10px #CCC;
}
.loadTextAndButton {
  flex: 1;
  display: flex;
  justify-content: center;
  font-size: 11px;
  font-family: Calibri;
  margin: 7px;
}
.loadTextAndButton button {
  color: #696969;
  background-color: #f2c811;
  border: 2px solid #f2c811;
  width: 80px;
  height: 20px;
  cursor: pointer;
}


/*# sourceMappingURL=visual.css.map*/