.ChartFlare {
  font-family: "Segoe UI", wf_segoe-ui_normal, helvetica, arial, sans-serif;
  line-height: 0px;
}
.ChartFlare .ChartFlare_Legend {
  font-family: "Segoe UI", wf_segoe-ui_normal, helvetica, arial, sans-serif;
  text-overflow: ellipsis;
  font-weight: 200;
}
.ChartFlare_LandingPage {
  font-family: "Segoe UI", "Segoe UI Web (West European)", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #252423;
}
.ChartFlare_LandingPage .background {
  fill: #f4f4f4;
}

