.container {
  width: auto;
  height: 100%;
}
.unlicensed-text {
  position: absolute;
  right: 45px;
  top: 8px;
  flex-wrap: nowrap;
  color: red;
}
.dialog {
  display: flex;
  position: absolute;
  right: 10px;
  left: 10px;
  top: 10px;
  bottom: 10px;
  flex-direction: column;
  justify-content: center;
  z-index: 10;
}
.dialog-content {
  padding: 1em;
  background: white;
  box-shadow: 0px 0 15px 0 #bbbbbb;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  position: relative;
}
.dialog-action {
  align-self: flex-end;
}
.logo {
  align-self: center;
}
.close {
  width: 75px;
  padding: 5px;
  border: 1px solid gray;
  outline: none;
}
.ccde-input {
  width: 100%;
  height: 32px;
  padding: 7px;
  border-radius: 0;
  border: 1px solid #8A8886;
  box-sizing: border-box;
}
.ccde-input[type='color'] {
  width: 56px;
  height: 32px;
  padding: 3px;
}
.ccde-btn {
  border: 1px solid #8A8886;
  padding: 5px 10px;
  background-color: #eaeaea;
  box-sizing: border-box;
  cursor: pointer;
  height: 32px;
}
.ccde-btn:hover {
  background-color: #8A8886;
}
.ccde-btn:focus {
  outline-offset: -3px;
}
.ccde-btn:disabled {
  background-color: #f4f4f4;
  pointer-events: none;
  cursor: default;
  opacity: 0.6;
}
.ccde-btn-group {
  display: flex;
}
.ccde-btn-group .ccde-btn {
  padding: 5px;
  background-color: transparent;
  width: 32px;
}
.ccde-btn-group .ccde-btn.selected {
  background-color: #8A8886;
}
.ccde-btn-group .ccde-btn:first-child {
  border: 1px solid #8A8886;
  border-right: none;
}
.ccde-btn-group .ccde-btn:not(:last-child):not(:first-child) {
  border: 1px solid #8A8886;
}
.ccde-btn-group .ccde-btn:last-child {
  border: 1px solid #8A8886;
  border-left: none;
}
.ccde-btn-delete {
  width: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAACXBIWXMAAA7DAAAOwwHHb6hkAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAANVJREFUGJVtzzFSAkEQBdD/e46xK3AKdmHWAA9goGUVHkFvYmriEVDBxBMYTJUYeAdqdsk8gjXfhIUR7bRf9+92k0n9NBqVXzF2G/xT3lezsjy5Mwn3KeFxOh2f/UXjU4kL5/Dguq5ri6J8J/k8GBSfbbvdHJAtzTAPYf3Gfrqua2+GF1LXgL5zBADMo3b4FQDNcNEjALAcOpcMAEhA0q8le9g0VbOLuyR1LnHhfTXbL+lRSlz1N8W4jcNhsZYOD/IY5XF5zyTekOnqGAFACB/BDHMJtz9rI2rEwjN2DAAAAABJRU5ErkJggg==);
}
.ccde-btn-down {
  width: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAATCAYAAACk9eypAAAACXBIWXMAAA7DAAAOwwHHb6hkAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAARtJREFUKJHtkDFLw2AQht+7xOjoD5CMjkEESdIEiTi4CEInB8HNSRAUN3+Ag4ibv8DBVRwdQpP2S4U6pJOTQ3FycFKSz5JzCmK06OjgM773PnB3Br7B9909256bH40e8+aMmkEQuCsAX1VVRSK0nGXZ3UQhDENbZNwXwQ0gJkC+YUwtJUny9EWIomhG6zIRwQWRzAKAiFhE7FrW9Focx2MA4FrQujgH5F4pdVZnSvWPACm0Lo7rjAGg1XIPAFkoy7edxkkVs7kFYCMIvG0AYN/3VwE6NE1pDwaD1+YT0jR9FqG2CE48z1tkItlnxmanc/vQLH+spoZE2GXGqdnrZesAZFK5ptvNLh3HuebflGvyPH/hn2uf+Rf+hvAO5sJnhhq80EMAAAAASUVORK5CYII=);
  transform: rotate(180deg);
}
.ccde-btn-up {
  width: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAATCAYAAACk9eypAAAACXBIWXMAAA7DAAAOwwHHb6hkAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAARtJREFUKJHtkDFLw2AQht+7xOjoD5CMjkEESdIEiTi4CEInB8HNSRAUN3+Ag4ibv8DBVRwdQpP2S4U6pJOTQ3FycFKSz5JzCmK06OjgM773PnB3Br7B9909256bH40e8+aMmkEQuCsAX1VVRSK0nGXZ3UQhDENbZNwXwQ0gJkC+YUwtJUny9EWIomhG6zIRwQWRzAKAiFhE7FrW9Focx2MA4FrQujgH5F4pdVZnSvWPACm0Lo7rjAGg1XIPAFkoy7edxkkVs7kFYCMIvG0AYN/3VwE6NE1pDwaD1+YT0jR9FqG2CE48z1tkItlnxmanc/vQLH+spoZE2GXGqdnrZesAZFK5ptvNLh3HuebflGvyPH/hn2uf+Rf+hvAO5sJnhhq80EMAAAAASUVORK5CYII=);
}
.ccde-btn-left {
  width: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAATCAYAAACk9eypAAAACXBIWXMAAA7DAAAOwwHHb6hkAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAARtJREFUKJHtkDFLw2AQht+7xOjoD5CMjkEESdIEiTi4CEInB8HNSRAUN3+Ag4ibv8DBVRwdQpP2S4U6pJOTQ3FycFKSz5JzCmK06OjgM773PnB3Br7B9909256bH40e8+aMmkEQuCsAX1VVRSK0nGXZ3UQhDENbZNwXwQ0gJkC+YUwtJUny9EWIomhG6zIRwQWRzAKAiFhE7FrW9Focx2MA4FrQujgH5F4pdVZnSvWPACm0Lo7rjAGg1XIPAFkoy7edxkkVs7kFYCMIvG0AYN/3VwE6NE1pDwaD1+YT0jR9FqG2CE48z1tkItlnxmanc/vQLH+spoZE2GXGqdnrZesAZFK5ptvNLh3HuebflGvyPH/hn2uf+Rf+hvAO5sJnhhq80EMAAAAASUVORK5CYII=);
  transform: rotate(-90deg);
}
.ccde-btn-right {
  width: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAATCAYAAACk9eypAAAACXBIWXMAAA7DAAAOwwHHb6hkAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAARtJREFUKJHtkDFLw2AQht+7xOjoD5CMjkEESdIEiTi4CEInB8HNSRAUN3+Ag4ibv8DBVRwdQpP2S4U6pJOTQ3FycFKSz5JzCmK06OjgM773PnB3Br7B9909256bH40e8+aMmkEQuCsAX1VVRSK0nGXZ3UQhDENbZNwXwQ0gJkC+YUwtJUny9EWIomhG6zIRwQWRzAKAiFhE7FrW9Focx2MA4FrQujgH5F4pdVZnSvWPACm0Lo7rjAGg1XIPAFkoy7edxkkVs7kFYCMIvG0AYN/3VwE6NE1pDwaD1+YT0jR9FqG2CE48z1tkItlnxmanc/vQLH+spoZE2GXGqdnrZesAZFK5ptvNLh3HuebflGvyPH/hn2uf+Rf+hvAO5sJnhhq80EMAAAAASUVORK5CYII=);
  transform: rotate(90deg);
}
.ccde-select {
  border: 1px solid #8A8886;
  padding: 5px;
  height: 32px;
  outline: none;
}
.ccde-list {
  border: 1px solid #eaeaea;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.ccde-list-item {
  padding: 0px 5px;
  box-sizing: border-box;
  height: 32px;
  line-height: 32px;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
}
.ccde-list-item:hover {
  background-color: #edebe9;
}
.ccde-list-item.selected {
  background-color: #FFD004;
}
tr:nth-child(even) {
  background-color: #edebe9;
}
.toolbar {
  display: flex;
  border-bottom: 1px solid #eaeaea;
}
.toolbar .toolbar-button {
  padding: 5px;
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
}
.toolbar .toolbar-button:hover {
  background-color: #eaeaea;
}
.toolbar .toolbar-button-icon {
  width: 20px;
}
.lp-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
  font-size: inherit;
}
.lp-btn:hover {
  border: 1px solid #8A8886;
  background-color: #eaeaea;
}
.lp-btn:focus {
  outline-offset: -3px;
  background-color: #eaeaea;
}
.visual-info-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid #dadce0;
}
.bi-dialog-content {
  user-select: none;
  font-family: "Segoe UI", "Segoe UI Web (West European)", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", "sans-serif";
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
}
/* simple flex grid*/
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 5px;
}
.flex-column-1 {
  flex: 0 1 10%;
}
.flex-column-2 {
  flex: 0 1 20%;
}
.flex-column-3 {
  flex: 0 1 30%;
}
.flex-column-4 {
  flex: 0 1 40%;
}
.flex-column-5 {
  flex: 0 1 50%;
}
.flex-column-6 {
  flex: 0 1 60%;
}
.flex-column-7 {
  flex: 0 1 70%;
}
.flex-column-8 {
  flex: 0 1 80%;
}
.flex-column-9 {
  flex: 0 1 90%;
}
.flex-column-10 {
  flex: 0 1 100%;
}

.step-bar {
  display: flex;
  margin-bottom: 16px;
  font-size: 14px;
  padding-top: 12px;
}
.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
.step.active {
  font-weight: normal;
}
.step.inactive {
  font-weight: lighter;
}
.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  margin-bottom: 4px;
}
.step-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  z-index: 1;
  font-size: 12px;
}
.left-line {
  border-width: 1px;
  border-style: dotted;
  height: 0;
  position: absolute;
  left: 0;
  top: 50%;
  right: 50%;
  color: #666666;
}
.right-line {
  border-width: 1px;
  border-style: dotted;
  height: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  right: 0;
}

.main-container {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  cursor: auto;
}
.wizard-container {
  background-color: white;
  padding: 8px;
  width: min(90vw, 900px);
  height: min(90vh, 600px);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  box-sizing: border-box;
}
.header-section {
  border-bottom: 1px solid #e1e5e9;
  margin-bottom: 4px;
  margin-top: 4px;
}
.title {
  margin: 0px;
  margin-bottom: 4px;
  font-size: 1.2em;
  font-weight: lighter;
  color: #444444;
}
.wizard-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-y: auto;
  margin-bottom: 4px;
}
.wizard-step-content {
  display: flex;
  gap: 24px;
  flex: 1;
  padding: 8px;
}
.navigation-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 16px;
  border-top: 1px solid #e1e1e1;
}
.navigation-buttons {
  display: flex;
  gap: 8px;
}
.nav-button {
  min-width: 75px;
  border-color: #dddddd;
}
.nav-button.previous {
  color: #333333;
}
.nav-button.previous:disabled {
  color: #999999;
}
.nav-button.next {
  color: #333333;
  background-color: #ffd004;
}
.nav-button.next:hover {
  background-color: #b69401;
}
.nav-button.next:disabled {
  color: #999999;
  background-color: #f5f5f5;
}
.nav-button.close {
  color: black;
}
.nav-button.close.primary {
  background-color: #ffd004;
}
.nav-button.close.primary:hover {
  background-color: #b69401;
}

.container {
  flex: 1;
  color: #444;
  font-weight: lighter;
  display: flex;
  flex-direction: column;
}
.header {
  display: block;
  margin-bottom: 8px;
  font-weight: normal;
}
.advanced-options {
  display: flex;
  gap: 16px;
  align-items: stretch;
  flex: 1;
}
.option-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  border: 1px solid #e9ecef;
}
.option-header {
  padding: 8px;
  border-bottom: 1px solid #f0f0f0;
  text-align: center;
}
.option-title {
  margin: 0;
  font-size: 0.9em;
  font-weight: normal;
}
.option-content {
  flex: 1;
  padding: 8px;
}
.option-description {
  margin: 0 0 4px;
  font-size: 0.8em;
}
.option-link-container {
  text-align: center;
  margin: 0 0 8px;
}
.option-link {
  font-size: 0.8em;
  cursor: pointer;
  text-decoration: underline;
}
.option-image-container {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #f0f0f0;
  min-height: 25%;
  box-sizing: border-box;
}
.option-image {
  max-width: 80%;
  max-height: 80%;
}
.common-step {
  display: flex;
  gap: 24px;
  flex: 1;
  align-items: center;
  color: #444444;
}
.common-step-content {
  flex: 1;
  padding: 8px;
  box-sizing: border-box;
}
.common-step-header {
  display: block;
  margin-bottom: 10px;
  font-weight: normal;
}
.common-step-text {
  font-size: 0.9em;
  font-weight: lighter;
}
.common-step-image-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-left: 1px solid #e1e5e9;
  margin-right: 8px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 8px;
  box-sizing: border-box;
  position: relative;
}
.common-step-image {
  max-width: calc(100% - 4px);
  max-height: calc(100% - 4px);
  object-fit: contain;
  position: absolute;
}

