p {
  font-size: 20px;
  font-weight: bold;
}
p em {
  background: yellow;
  padding: 5px;
}

.innerctr {
  transform: translateZ(0);
}
.milestones__category_label {
  display: inline-block;
  text-align: right;
  font-size: 14px;
  margin-top: -4px;
}
.milestones__horizontal_line {
  position: absolute;
  height: 3px;
  margin-top: 4px;
  margin-left: 5.5px;
  border-radius: 1.5px;
}
.milestones__vertical_line {
  position: absolute;
  width: 3px;
  margin-left: 4px;
  margin-bottom: 5.5px;
  border-radius: 1.5px;
}
.milestones__group {
  position: absolute;
  font-family: sans-serif;
  font-size: 10px;
}
.milestones__group__bullet {
  background-color: #fff;
  border: 3px solid #333;
  border-radius: 50%;
  width: 0px;
  height: 0px;
  padding: 2.5px;
}
.milestones__group__label-horizontal,
.milestones__group__label-vertical {
  position: absolute;
  padding: 0;
  color: #666;
  z-index: -1;
}
.milestones__group__label-horizontal {
  border-left: 1px solid #000;
  margin-left: 5px;
  padding-top: 5px;
}
.milestones__group__label-horizontal div {
  position: relative;
  margin-left: 3px;
  display: inline-block;
}
.milestones__group__label-vertical {
  padding-left: 15px;
  padding-bottom: 0px;
  border-bottom: 1px solid #000;
  margin-bottom: -5.5px;
  margin-left: 12px;
  bottom: 100%;
  overflow: visible;
}
.milestones__group__label-vertical .wrapper {
  min-width: 100px;
  max-width: 300px;
  border-left: 1px solid black;
  border-bottom: 3px solid white;
  margin-bottom: -2px;
  padding-left: 5px;
}
.milestones__group__label-above-horizontal {
  bottom: 100%;
  padding-top: 0px;
  padding-bottom: 5px;
}
.milestones__group__label-above-vertical {
  padding-left: 0px;
  padding-right: 15px;
  margin-right: -10px;
  right: 100%;
  text-align: right;
}
.milestones__group__label-above-vertical .wrapper {
  border-left: 0;
  border-right: 1px solid black;
  padding-left: 0px;
  padding-right: 5px;
}
.milestones__group__label-above-vertical-first {
  position: absolute;
  padding-right: 10px;
  padding-bottom: 0px;
  border-top: 1px solid #000;
  margin-bottom: -5.5px;
  margin-right: -3px;
  margin-top: -6px;
  right: 100%;
  overflow: visible;
  text-align: right;
}
.milestones__group__label-above-vertical-first .wrapper {
  min-width: 100px;
  max-width: 300px;
  border-right: 1px solid black;
  border-top: 3px solid white;
  margin-top: -2px;
  padding-right: 5px;
}
.milestones__group__label-vertical-first {
  padding-left: 10px;
  padding-bottom: 0px;
  border-top: 1px solid #000;
  margin-bottom: -5.5px;
  margin-left: 14px;
  margin-top: -6px;
  bottom: 100%;
  overflow: visible;
}
.milestones__group__label-vertical-first .wrapper {
  min-width: 100px;
  max-width: 300px;
  border-left: 1px solid black;
  border-top: 3px solid white;
  margin-top: -2px;
  padding-right: 5px;
}
.milestones__group__label-last-vertical {
  /*
    right: 100%;
    border-left: 0;
    border-right: 1px solid #000;
    margin-left: 0;
    margin-right: -6px;
    text-align: right;
    div {
        margin-left: 0px;
        margin-right: 3px;
    }
        */
}
.milestones__group__label-last {
  right: 100%;
  border-left: 0;
  border-right: 1px solid #000;
  margin-left: 0;
  margin-right: -6px;
  text-align: right;
}
.milestones__group__label-last div {
  margin-left: 0px;
  margin-right: 3px;
}
.milestones__group__label__text-vertical {
  display: table-cell;
  vertical-align: bottom;
}
.milestones__group__label__text__title {
  color: #000;
  font-weight: bold;
  font-size: 11px;
  white-space: nowrap;
}
.milestones__group__label__text__event {
  cursor: pointer;
}
.milestones__group__label__text__event--hover {
  background: #efefef;
  color: #313131;
}
.ms-helpimg {
  margin: 4px;
}
.ms-helptext1 {
  font-weight: 700;
}
.ms-helptext2 {
  font-weight: 600;
  font-style: italic;
  font-size: 1em;
  color: #036b07;
}
.ms-helptext3 {
  color: #864b02;
  font-size: 1em;
}

