.boxed {
  border: 3px solid #fff;
  padding: 20px;
}
.dynamicText {
  border-radius: 5px;
  overflow-wrap: anywhere;
  white-space: pre-wrap;
  overflow-x: hidden;
  overflow-y: auto;
}
.translate {
  border-radius: 5px;
  overflow-wrap: anywhere;
  white-space: pre-wrap;
}
.errorMsg {
  color: #777777;
  font-family: "Segoe UI Semibold";
}
.float-child {
  float: left;
}
.StaticText {
  border-radius: 5px;
}
.tw_value {
  word-wrap: break-word;
  perspective-origin: center center;
}
.urlStyle {
  background: none;
  border: none;
  padding: 0px;
  cursor: pointer;
  font: inherit;
  outline: inherit;
}
.dynamicText::-webkit-scrollbar-track {
  border-radius: 10px;
}
.dynamicText::-webkit-scrollbar {
  width: 5px;
}
.dynamicText::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #808080;
}

