g {
  position: absolute;
  text-align: left;
  font: 12px sans-serif;
  border: 0px;
  border-radius: 5px;
  shape-rendering: geometricPrecision;
  padding: 10px;
}
#track-style,
.track {
  stroke-linecap: round;
}
.handle {
  position: absolute;
  stroke-width: 2px;
}
.violinPlotContainer {
  cursor: default;
}
.graph,
#play-button,
#play-text {
  cursor: pointer;
}

