.message {
  margin: 0;
  font-size: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 5px;
  border-radius: 0.375rem;
  background: #f7f7f7;
}
#refresh-parent-container {
  width: 100%;
  height: 100%;
}

