p {
  font-size: 20px;
  font-weight: bold;
}
p em {
  background: yellow;
  padding: 5px;
}
.bic-divctr {
  transform: translateZ(0);
  background: #fff;
  padding: 4px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.bic-bottompad {
  display: none;
  background-color: transparent;
}
.bic-msgroot {
  display: block;
  margin-bottom: 5px;
  width: 100%;
  height: auto;
  cursor: default;
}
.bic-msgtext {
  font-size: small;
  color: crimson;
  height: auto;
  margin-right: 8px;
}
.bic-loadtext {
  font-size: small;
  font-weight: bold;
  color: darkslateblue;
  display: none;
  margin-right: 8px;
}
.bic-counttext {
  float: right;
  font-size: small;
  margin-left: 8px;
}
.bic-entryroot {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.bic-btnimg {
  height: 20px;
  width: 20px;
  position: relative;
  left: -4px;
  vertical-align: middle;
  text-align: center;
}
.bic-aclist-clink {
  color: #000;
  float: right;
  padding: 6px;
}
.bic-autocomplist {
  position: absolute;
  display: none;
  background: #fff;
  border: 1px solid #ccc;
  z-index: 2000;
  width: 90%;
  max-height: 80px;
  overflow: auto;
  box-sizing: content-box;
  height: auto;
  left: 12px;
}
.bic-entryline {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2px;
}
.bic-copiedmsg {
  font-size: 0.75em;
  color: #505050;
  float: right;
}
.bic-entryctrl {
  flex: 1 1 auto;
  margin: 2px;
  padding: 4px;
  min-width: 20%;
  width: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.bic-entryadd {
  flex: 0 0 auto;
  width: 28px;
  height: 28px;
  margin: 2px;
}
.bic-entrystyle {
  flex: 0 0 auto;
  width: 28px;
  height: 28px;
  margin: 2px;
}
.bic-entrymode {
  flex: 0 0 auto;
  width: 28px;
  height: 28px;
  margin: 2px;
}
.bic-entrydown {
  flex: 0 0 auto;
  width: 28px;
  height: 28px;
  margin: 2px;
  display: none;
}
.bic-entryclear {
  flex: 0 0 auto;
  width: 28px;
  height: 28px;
  margin: 2px;
}
.bic-entryall {
  flex: 0 0 auto;
  width: 28px;
  height: 28px;
  margin: 2px;
}
.bic-entrycopy {
  flex: 0 0 auto;
  width: 28px;
  height: 28px;
  margin: 2px;
}
.bic-entryrefresh {
  flex: 0 0 auto;
  width: 28px;
  height: 28px;
  margin: 2px;
}
.bic-entryblank {
  flex: 0 0 auto;
  width: 28px;
  height: 28px;
  margin: 2px;
}
.bic-link {
  color: #000;
  margin-left: 4px;
  margin-right: 4px;
}
.bic-listhost {
  display: flex;
  height: 100%;
  padding: 4px;
}
.bic-pillshost {
  display: none;
  flex-wrap: wrap;
  overflow-y: auto;
}
.bic-pill {
  font-size: small;
  border: 1px solid #404040;
  background-color: blanchedalmond;
  border-radius: 0.25rem;
  padding: 3px;
  margin: 3px;
  cursor: default;
}
.bic-pillremoveimg {
  width: 12px;
  height: 12px;
  margin-left: 4px;
  cursor: pointer;
}
.bic-listctrl {
  flex: 1 0;
  padding: 4px;
  z-index: 1999;
  resize: none;
  overflow: auto;
}
.bic-aclist-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.bic-aclist-li {
  padding: 4px;
  cursor: pointer;
}
.bic-aclist-li:hover {
  background-color: var(--bic-lihover-background-color);
}
.bic-aclist-li-span-highlight {
  background-color: #f8dfdf;
}
.bic-aclist-li-span-secondary {
  margin-left: 12px;
  font-style: italic;
  opacity: 0.7;
}

