.top-container {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 20px);
  height: 12%;
  overflow-y: auto;
  padding: 10px;
  box-sizing: border-box;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
}
.image-container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: auto;
}
.image-container img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 85px;
  height: 70px;
}
.border-line {
  position: absolute;
  top: 10px;
  left: 100px;
  width: 7px;
  height: 45px;
  background-color: #222b45;
  border-radius: 24px;
  opacity: 1;
}
.text-container {
  position: absolute;
  top: 10px;
  left: 115px;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 42px;
  color: #151d48;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.dropdown-label {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 19.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 5px;
}
.dropdown-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
}
.category-dropdown {
  width: 200px;
  height: 35px;
  gap: 16px;
  border-radius: 7px 7px 7px 7px;
  opacity: 1;
  background: #c6c6c6;
  border: none;
  padding: 10px;
  font-family: "Poppins", sans-serif;
}
.time-period-container .dropdown-label {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 19.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 5px;
}
.time-period-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 100px;
}
.time-period-dropdown {
  width: 200px;
  height: 35px;
  gap: 16px;
  border-radius: 7px 7px 7px 7px;
  opacity: 1;
  background: #c6c6c6;
  border: none;
  padding: 10px;
  font-family: "Poppins", sans-serif;
}
.offer-dropdown-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 100px;
}
.offer-label {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 19.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 5px;
}
.offer-dropdown {
  width: 200px;
  height: 35px;
  gap: 16px;
  border-radius: 7px;
  opacity: 1;
  background: #c6c6c6;
  border: none;
  padding: 10px;
  font-family: "Poppins", sans-serif;
}
.link {
  stroke-width: 4px;
  fill: none;
  stroke-dasharray: 0, 0;
  /* Start with no visible link */
  transition: stroke-dasharray 10s ease-out;
}
.link-dotted-border {
  stroke-width: 0.53px;
  stroke: black;
  fill: none;
  stroke-dasharray: 0, 0;
  stroke-linecap: round;
  transition: stroke-dasharray 10s ease-out;
  /* Smooth transition for the dotted border */
}
.node-values {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 14px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #030303;
}
.node-values tspan {
  text-anchor: start;
}
.node-label {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.node-label text {
  text-anchor: middle;
}
.bottom-container {
  position: absolute;
  bottom: 1px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 20px);
  max-height: 15%;
  overflow-y: auto;
  padding: 10px;
  box-sizing: border-box;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
}
.slider-container {
  display: inline-block;
  margin-left: 10%;
  margin-top: 10px;
}
.slider-text {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  color: #151d48;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 5px;
}
input[type="range"] {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  background: #ddd;
  border-radius: 5px;
  height: 5px;
  outline: none;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #151d48;
  cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #151d48;
  cursor: pointer;
}
.slider-percentage {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 500;
  color: #151d48;
  margin-left: 10px;
}
.total-sales-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 110px;
  height: 80px;
  background: #ffe2e5;
  border-radius: 16px 16px 16px 16px;
  gap: 0px;
  opacity: 1;
  /* Set to 1 for visibility */
  text-align: center;
  margin-left: 100px;
  padding-top: 5px;
}
.total-sales-icon-container {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 40px;
  height: 30px;
  opacity: 1;
  /* Set to 1 for visibility */
  display: flex;
  align-items: center;
  justify-content: center;
}
.total-sales-icon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #fa5a7d;
  /* Light pink for the circular background */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: -10px;
  margin-left: -20px;
}
.total-sales-value {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #151d48;
  margin-top: 30px;
  /* Adjust space below the icon */
  margin-right: 12px;
  text-decoration-skip-ink: none;
  margin-bottom: 5px;
}
.total-sales-label {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 24px;
  margin-right: 15px;
  color: #425166;
  margin-top: -10px;
  margin-left: -10px;
}
.total-products-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 110px;
  height: 75px;
  background: #fff4de;
  border-radius: 16px 16px 16px 16px;
  gap: 0px;
  opacity: 1;
  /* Set to 1 for visibility */
  text-align: center;
  margin-left: 100px;
  padding-top: 10px;
}
.total-order-icon-container {
  position: absolute;
  top: 10px;
  left: 25px;
  width: 40px;
  height: 30px;
  opacity: 1;
  /* Set to 1 for visibility */
  display: flex;
  align-items: center;
  justify-content: center;
}
.total-order-icon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #ffd6a1;
  /* Light orange for the circular background */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: -25px;
  margin-top: -10px;
}
.total-order-value {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #151d48;
  margin-top: 30px;
  /* Adjust space below the icon */
  margin-right: 12px;
  text-decoration-skip-ink: none;
  margin-top: 25px;
}
.total-order-label {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 24px;
  color: #425166;
  margin-top: -5px;
  margin-left: -15px;
}
.total-orders-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 110px;
  height: 85px;
  background: #dcfce7;
  border-radius: 16px;
  gap: 10px;
  /* Space between elements */
  opacity: 1;
  /* Set to 1 for visibility */
  text-align: center;
  padding: 20px;
  margin-left: 100px;
  box-sizing: border-box;
}
.total-orders-icon-container {
  position: absolute;
  top: 5px;
  left: 20px;
  width: 40px;
  height: 40px;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.total-orders-icon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #3cd856;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -15px;
  margin-top: -10px;
}
.total-orders-value {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #151d48;
  margin-top: 20px;
  margin-right: 15px;
  text-decoration-skip-ink: none;
  margin-top: 15px;
}
.total-orders-label {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 24px;
  color: #425166;
  margin-top: -15px;
  margin-left: -10px;
}
.total-new-customers-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 110px;
  height: 85px;
  background: #f5f5ff;
  border-radius: 16px;
  gap: 10px;
  opacity: 1;
  text-align: center;
  padding: 20px;
  margin-left: 100px;
  box-sizing: border-box;
}
.total-new-customers-icon-container {
  position: absolute;
  top: 1px;
  left: 10px;
  width: 40px;
  height: 40px;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.total-new-customers-icon {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background: #6c5dd3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.total-new-customers-value {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #151d48;
  margin-top: 20px;
  margin-right: 30px;
  text-decoration-skip-ink: none;
  margin-top: 15px;
}
.total-new-customers-label {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 24px;
  color: #425166;
  margin-top: -15px;
  margin-left: -2px;
}
.tooltip {
  position: absolute;
  opacity: 0;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 4px;
  padding: 4px;
  font-family: Arial, sans-serif;
  font-size: 12px;
  color: #000;
  pointer-events: none;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  max-width: 200px;
  white-space: pre-line;
  line-height: 1.8;
}
.tooltip::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #000000;
}
.tooltip-title {
  font-weight: bold;
  margin-bottom: 0.5px;
  text-align: left;
}
.tooltip-content {
  text-align: left;
  line-height: 0.5;
}
.tooltip-content div {
  margin-bottom: 4px;
}

