/* todo: add styles */
.vertical-grid {
  stroke: #ccc;
}
.ordinate-text {
  font-size: 10px;
  transform: translateY(10px);
}
div.tooltipright {
  position: absolute;
  text-align: center;
  width: auto;
  height: auto;
  font: 13px sans-serif;
  background: #ffffff;
  border-radius: 6px;
  pointer-events: none;
  opacity: 0;
  padding: 10px 20px 10px 20px;
  z-index: 1;
  box-shadow: 0px 4px 15px 0px #00000040;
  top: -5px;
  left: 110%;
  color: black;
}
div.tooltipright::after {
  content: "";
  position: absolute;
  top: 40%;
  right: 100%;
  margin-top: -5px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent #ffffff transparent transparent;
}
div.tooltipleft {
  position: absolute;
  text-align: center;
  width: auto;
  height: auto;
  font: 13px sans-serif;
  background: #ffffff;
  border-radius: 6px;
  pointer-events: none;
  opacity: 0;
  box-shadow: 0px 4px 15px 0px #00000040;
  padding: 10px 20px 10px 20px;
  z-index: 1;
  top: -5px;
  color: black;
}
div.tooltipleft::after {
  content: "";
  position: absolute;
  top: 40%;
  left: 100%;
  margin-top: -5px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent #ffffff;
}
.right-align {
  position: absolute;
  right: 100px;
}
.box,
.label {
  display: inline-block;
}
.box {
  width: 10px;
  height: 10px;
  margin: 0px 10px;
}
.YaxisTxtshow {
  font-size: 14px;
  transform: translateY(40%) translateX(-70px) rotate(-450deg) scale(1);
}
.YaxisTxthide {
  display: none;
}
.xyAxisLable {
  font-size: 14px;
  transform: translateY(75px);
}
.xyAxisLableMoveDown {
  transform: translateY(75px);
  font-size: 14px;
}
.xyAxisLableHide {
  display: none;
}
#XaxisTxtRotateby90 {
  writing-mode: vertical-lr;
  transform: translateY(58px) scale(-1);
}
#XaxisTxtRotateby45 {
  writing-mode: vertical-lr;
  transform: translateY(50px) scale(-1) translateX(30px) rotate(45deg);
}
.bubble-fill {
  fill: hsl(268, 100%, 23%);
}
.yAxisTransaform {
  transform: rotate(270deg);
}
.xyAxisTextSize {
  font-size: 14px;
}
bubble-opacity {
  opacity: 0.7;
}
#rotate-text {
  width: 25px;
  transform: rotate(90deg);
}
.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  transform: translate(20%, 12%);
}
#colorLabel {
  font-size: 14px;
}
#legendCircle {
  font-size: 14px;
}
#legendLable {
  font-size: 14px;
}
div.legendtooltip {
  position: absolute;
  text-align: center;
  width: auto;
  height: auto;
  font: 13px sans-serif;
  background: #ffffff;
  border-radius: 6px;
  pointer-events: none;
  opacity: 0;
  padding: 10px 20px 10px 20px;
  z-index: 1;
  box-shadow: 0px 4px 15px 0px #00000040;
  top: -5px;
  left: 110%;
  color: black;
}
div.legendtooltip::after {
  content: "";
  position: absolute;
  top: 40%;
  right: 100%;
  margin-top: -5px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent #ffffff transparent transparent;
}
.warning-icon {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 24px;
  color: red;
}

