.vertical-line {
  width: 7px;
  height: 63px;
  border-radius: 24px 24px 24px 24px;
  background-color: #626262;
  opacity: 0.9;
  /* Adjust the opacity as desired */
  margin: 0 10px;
}
.tooltip {
  font-size: 12px;
  line-height: 1.4;
  color: #333;
  pointer-events: none;
}
.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /* Ensure it fills the parent */
  overflow-x: auto;
  overflow-y: auto;
}
.table-container {
  overflow: auto;
  /* Enable scrolling */
  position: relative;
  height: 550px;
  margin-top: 20px;
}
.elasticity-image {
  width: 90px;
  /* Adjust as needed */
  height: 80px;
  /* Adjust as needed */
}
.slider-container {
  position: relative;
  top: 160px;
  left: 30px;
  width: 100%;
}
.price-scenarios-text {
  position: absolute;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin-top: 1900px;
  bottom: 40px;
  color: #263134;
}
svg {
  overflow: auto;
}
.search-box-container {
  display: flex;
  align-items: center;
  /* Center items vertically */
  margin-bottom: 10px;
  /* Space below search box */
}
.search-box-container svg {
  margin-right: 440px;
  /* Space between icon and input */
  margin-top: 40px;
}
.search-box {
  width: 400px;
  height: 40px;
  border-radius: 24px;
  background: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding-left: 20px;
  /* Padding to make space for the icon */
  border: 1px solid #ccc;
  box-sizing: border-box;
  text-align: left;
}
/* Style for heatmap cells */
.heatmap-cell {
  stroke: #fff;
  /* Border color */
}
.product-label,
.region-label {
  font-family: "Poppins", sans-serif;
  /* Apply Poppins font family */
  font-size: 15px;
  /* Set font size */
  font-weight: 500;
  /* Set font weight */
  line-height: 30px;
  /* Set line height */
  text-align: left;
  /* Align text to the left */
  fill: #263134;
  /* Text color */
}
.cell {
  cursor: pointer;
}
.legend-container {
  display: flex;
  flex-direction: row;
  /* Align items horizontally */
  margin-bottom: 10px;
  /* Space below the legend */
}
.legend-item rect {
  width: 60px;
  height: 16px;
  opacity: 1;
  /* Make sure it’s visible */
  margin-right: 5px;
  /* Add some space between items if needed */
}
.legend-item text {
  fill: #000;
  /* Set text color */
  font-size: 12px;
  /* Adjust font size */
}
.cellText {
  font-family: "Poppins", sans-serif;
  /* Use Poppins instead of Arial */
  font-size: 18px;
  /* Updated font size */
  font-weight: 600;
  /* Bold text */
  line-height: 31.5px;
  /* Adjusted line height */
  text-align: middle;
  /* Align text to the left */
  fill: #263134;
  /* Text color */
}
/* Styles for header text */
.headerText {
  position: absolute;
  font-family: "Poppins", sans-serif;
  /* Font family for header text */
  font-size: 11px;
  /* Font size for header text */
  font-weight: 400;
  /* Font weight for header text */
  line-height: 31.5px;
  /* Line height for header text */
  color: #263134;
  /* Text color for header text */
}
/* slider.css */
.slider-label {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}
.price-scenarios-text {
  font-family: Poppins, sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 21px;
  color: #263134;
}
.heatmap-text {
  font-family: "Poppins", sans-serif;
  /* Ensure you have the Poppins font loaded */
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  margin-left: 20px;
  color: #263134;
  /* Corrected color property */
}
.projected-revenue-text {
  font-family: Poppins, sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 21px;
  color: #263134;
}
.projected-revenue {
  position: relative;
  font-family: Poppins, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  bottom: -17px;
  margin-left: -200px;
  color: #263134;
}
.demand-change-container {
  position: absolute;
  bottom: 35px;
  /* Adjust position for the slider */
  left: 580px;
  /* Adjust left position */
  font-family: Poppins, sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 21px;
  color: #263134;
  left: 690px;
  top: 640px;
  bottom: 15px;
}
.change-in-demand-label {
  font-family: Poppins, sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #263134;
}
.revenue-label {
  font-family: Poppins, sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #263134;
}
.revenue-change-value {
  position: absolute;
  font-family: Poppins, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  margin-left: 860px;
  bottom: 20px;
  color: #263134;
}
.revenue-change-text {
  font-family: Poppins, sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #263134;
}
/* Styles for the "Change in Profit Margin" text */
.profit-margin-text {
  font-family: Poppins, sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #263134;
}
.profit-margin-value {
  font-family: Poppins, sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #263134;
}
.table-container::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for Firefox */
.table-container {
  scrollbar-width: none;
  /* Firefox */
}
/* Hide scrollbar for IE, Edge */
.table-container {
  -ms-overflow-style: none;
  /* IE and Edge */
}
.projected-revenue-item {
  justify-content: center;
}
.original-revenue-text {
  font-family: Poppins, sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #263134;
}

