p {
  font-size: 20px;
  font-weight: bold;
}
p em {
  background: yellow;
  padding: 5px;
}
.hillside {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}
.item {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 5px;
  opacity: 0.3;
}
.item.highlight {
  opacity: 1;
}
.item .mark {
  padding-right: 5px;
}
#sandbox-host {
  overflow: 'auto';
}
.scrollable-container {
  position: relative;
  overflow: auto;
  width: 100%;
  height: 100%;
}

