.visual-target {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.chart-container {
  display: block;
  overflow-y: auto;
}
svg {
  cursor: default;
}
svg .background {
  fill: transparent;
}
svg .category-label {
  font-family: var(--label-font-family);
  font-size: var(--label-font-size);
  fill: var(--label-color);
  alignment-baseline: middle;
  text-anchor: var(--label-text-alignment);
}
svg .change-label {
  text-anchor: middle;
  font-family: var(--change-label-font-family);
  font-size: var(--change-label-font-size);
}
svg .base-value-label,
svg .compared-value-label {
  text-anchor: middle;
  alignment-baseline: hanging;
  font-family: var(--value-label-font-family);
  font-size: var(--value-label-font-size);
}
svg .zero-line {
  stroke: var(--zero-line-color);
  stroke-width: var(--zero-line-width);
}
svg .grid-line {
  stroke: var(--grid-line-color);
  stroke-width: var(--grid-line-width);
  stroke-dasharray: var(--grid-line-dash-array);
}
svg .zero-line {
  stroke: var(--zero-line-color);
  stroke-width: var(--zero-line-width);
  stroke-opacity: var(--zero-line-opacity);
}
svg .x-axis {
  font-family: var(--axis-label-font-family);
  font-size: var(--axis-label-font-size);
  stroke-width: var(--axis-thickness);
}
svg .x-axis .domain {
  stroke: var(--axis-color);
  opacity: var(--axis-opacity);
}
svg .x-axis .tick line {
  stroke: var(--axis-color);
  opacity: var(--axis-ticks-opacity);
}
svg .x-axis .tick text {
  fill: var(--axis-label-color);
}
svg #scroll-track {
  fill: var(--scroll-track-color);
}
svg #scroll-thumb {
  fill: var(--scroll-thumb-color);
}

