#infoContainer {
  position: absolute;
  z-index: 999;
  bottom: 10px;
  right: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 2px 17px 0px;
  display: flex;
  background: #fff;
  line-height: 28px;
  padding: 10px;
}
.info {
  cursor: pointer;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 600;
}
.bnt {
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  color: #547ff5;
}

