p {
  font-size: 20px;
  font-weight: bold;
}
p em {
  background: yellow;
  padding: 5px;
}
.link {
  fill: none;
  stroke-opacity: 1;
  fill-opacity: 0;
  stroke-width: 1.5px;
  filter: none;
}
.node {
  z-index: 1;
}
.tooltipRect {
  z-index: 100;
  position: absolute;
}
.tooltipText {
  z-index: 101;
  position: absolute;
}
.node rect {
  stroke: steelblue;
  stroke-width: 1.5px;
}
.node text {
  font: 10px sans-serif;
}
.tooltipRect {
  position: absolute;
}
.tooltipText {
  position: absolute;
}

