p {
  font-size: 20px;
  font-weight: bold;
}
p em {
  background: yellow;
  padding: 5px;
}
.acl-divctr {
  transform: translateZ(0);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: transparent;
}
.acl-tabular-t1 {
  flex: 1 1 0;
  padding: 8px;
  box-sizing: border-box;
  align-content: center;
  text-align: center;
}
.acl-tabular-t2 {
  flex: 1 1 0;
  padding: 8px;
  width: auto;
  box-sizing: border-box;
}
.acl-tabular-leaftable-th {
  font-size: small;
  font-style: italic;
  padding: 4px;
}
.acl-tabular-leaftable {
  width: 100%;
  text-align: center;
}
.acl-tabular-leaftable-tr {
  width: 100%;
}
.acl-tabular-leaftable-td {
  padding-left: 8px;
  padding-right: 8px;
}
.acl-tabular-t2-leaf {
  flex: 1 1 0;
  padding-top: 4px;
  padding-bottom: 4px;
  width: 100%;
  box-sizing: border-box;
}
.acl-tabular-oc2 {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: flex-start;
  box-sizing: border-box;
}
.acl-tabular-oc1 {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: flex-start;
}
.acl-infocaption {
  font-style: italic;
  margin-right: 8px;
}
.acl-weightcaption {
  margin-top: 6px;
  font-style: italic;
}
.acl-weightdiv {
  margin-left: 8px;
  margin-right: 8px;
}
.acl-quickfindclearbtn {
  margin: 2px;
  width: 24px;
  height: 20px;
  text-align: center;
  line-height: 1em;
}
.acl-quickfinddiv {
  position: absolute;
  display: none;
  width: auto;
  max-width: 40%;
  height: auto;
  padding: 6px;
  border: solid 1px #505050;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #000000;
  font-size: 10px;
}
.acl-quickfindinput {
  margin: 4px;
  width: auto;
}
.acl-hoverdiv {
  position: absolute;
  display: none;
  width: auto;
  max-width: 40%;
  height: auto;
  padding: 6px;
  border: solid 1px #505050;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #000000;
  font-size: 10px;
}
.acl-bottompad {
  display: none;
  background-color: transparent;
}
.acl-msgroot {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 4px;
  margin-top: 4px;
  width: 100%;
  cursor: default;
}
.acl-msgtext {
  flex: 1 1 auto;
  font-size: small;
  color: crimson;
  height: auto;
  margin-right: 8px;
}
.acl-loadtext {
  font-size: small;
  font-weight: bold;
  color: darkslateblue;
  display: none;
  margin-right: 8px;
}
.acl-controlroot {
  flex: 2 1 auto;
  text-align: right;
}
.acl-counttext {
  flex: 1 1 auto;
  font-size: small;
  margin-left: 8px;
  margin-right: 8px;
}
.acl-link {
  flex: 0 0 auto;
  display: none;
  margin-top: 2px;
  margin-left: 8px;
  margin-right: 8px;
}
.acl-btn {
  flex: 0 0 auto;
  width: 28px;
  height: 28px;
  margin-top: 2px;
  margin-left: 8px;
  margin-right: 8px;
  display: none;
}
.acl-btnimg {
  height: 20px;
  width: 20px;
  position: relative;
  left: -4px;
  vertical-align: middle;
  text-align: center;
}
.acl-entryline {
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 2px;
  margin-bottom: 6px;
  flex: 0 1;
}
.acl-spinner {
  align-self: center;
  padding: 10px;
  width: 20%;
  height: 20%;
  max-width: 72px;
  max-height: 72px;
}
.acl-waitcontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.acl-linkctr {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}
.acl-waitpanel {
  text-align: center;
  vertical-align: middle;
  display: none;
  height: 100%;
  width: 100%;
  z-index: 1999;
}
.acl-entryroot {
  flex: 1 1 auto;
  height: 100%;
  width: 100%;
  display: inline;
  overflow-y: auto;
}
.acl-markuphost {
  flex: 1 0;
  width: 100%;
  padding: 2px;
  display: flex;
}
.acl-markupctrl {
  flex: 1 0;
  margin-right: 4px;
  width: 100%;
  overflow: auto;
  z-index: 1999;
  display: none;
}
.acl-copiedmsg {
  font-size: 0.75em;
  color: #505050;
  float: right;
}
.acl-copylink {
  font-size: 0.9em;
  color: #202020;
}
.acl-copymsg {
  font-size: 0.6em;
  font-style: italic;
  color: #404040;
}
.acl-listhost {
  display: flex;
  flex: 1 1 auto;
  width: 100%;
  padding: 2px;
  overflow: clip;
}
.acl-listctrl {
  margin-right: 4px;
  width: 100%;
  z-index: 1999;
  resize: none;
}

