:root {
  --font-family: 'Segoe UI', wf_segoe-ui_normal, helvetica, arial, sans-serif;
  --green: #53AC92;
  --red: #D37676;
  --purple: #DA55A8;
  --orange: #FF9D3D;
  --table-headers-color: none;
  --table-headers-border: #D1D1D1;
  --table-cell-border: #e8e8e8;
  --save-button: #53AC92;
  --save-button-light: color-mix(in srgb, var(--save-button) 30%, transparent);
  --save-button-lighter: color-mix(in srgb, var(--save-button) 20%, transparent);
  --discard-button: #D37676;
  --discard-button-light: color-mix(in srgb, var(--discard-button) 30%, transparent);
  --edited-cell-background: #fff6ee;
  --border-color: #7AB2B2;
  --selected-cell-color: #f2f2f240;
  --button-hover: #9CAFAA;
}
.selected-cell {
  background-color: #e0e0e0;
  font-weight: bold;
}
input.error {
  border-color: red;
  background-color: #ffe6e6;
}
.error-message {
  color: red;
  font-size: 12px;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
}
div {
  cursor: default;
}
input {
  font-family: var(--font-family);
  font-size: 11px;
  border: none;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-left: 10px;
  background: none;
}
.table-cell-container:focus-within,
.input-dropdown-container:focus-within {
  box-sizing: border-box;
  border: 1px solid #d6d6d7;
}
.table-td-cell {
  box-sizing: border-box;
}
input:focus {
  border: none;
  outline: none;
  /* Remove the default focus outline */
}
.sort-button {
  font-size: 12px;
  cursor: pointer;
  width: 15px;
  padding-left: 10px;
  border: none;
  background: var(--table-headers-color);
}
.sort-button:hover {
  background-color: transparent;
}
.table-version-header {
  width: 20px !important;
}
th,
td {
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 35px !important;
  padding: 0;
  box-sizing: 0px 8px 16px 0px rgba(225, 225, 225, 0.2);
  padding-bottom: 1px;
}
td {
  border-bottom: 1px solid var(--table-cell-border);
}
th {
  background-color: #FFF;
  position: sticky;
  top: 0;
  z-index: 2;
  /* Ensures the border stays on top */
}
th::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--table-headers-border);
  z-index: 3;
}
thead {
  position: sticky;
  z-index: 1;
  top: 0;
}
.expand-collapse-btn {
  border: none;
  background: transparent;
  font-size: 14px;
  font-weight: bold;
  color: #555;
  margin-right: 5px;
}
.expand-collapse-btn:hover {
  color: #000;
}
.version-dropdown-button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
}
.version-dropdown-menu {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 100;
  width: 140px;
  font-size: 11px;
  text-align: left;
}
.dropdown-item {
  padding: 8px;
  cursor: pointer;
  font-size: 14px;
}
.dropdown-item:hover {
  background: #f0f0f0;
}
.delete-option {
  color: #d1d1d1;
}
.chevron {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  transition: transform 0.1s ease;
}
.top {
  transform: rotate(-135deg);
  margin-left: 10px;
}
.bottom {
  transform: rotate(45deg);
  margin-bottom: 3px;
  margin-left: 10px;
}
.version-button {
  background-color: transparent;
  color: #2F3E55;
  cursor: pointer;
  margin-right: 5px;
  border-radius: 4px;
  border: none;
  padding: 5px;
}
.version-button i {
  font-size: 14px;
}
.version-button:hover {
  color: #5c769e;
}
.table-version-cell {
  background-color: #F7F7F7;
  text-align: left;
}
.scroll-container {
  overflow: auto;
  position: relative;
  height: 100%;
  margin-bottom: 3px;
}
.table-visual {
  text-align: left;
  background-color: white;
  position: relative;
  flex: 1;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.parent-container {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1000;
  overflow-x: auto;
}
table {
  font-family: var(--font-family);
  width: max-content;
  table-layout: fixed;
  overflow: auto;
  font-size: 11px;
  border-collapse: collapse;
}
.table-row-header {
  font-size: 11px;
  padding-right: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.table-editable-cell {
  box-sizing: border-box;
}
.table-editable-cell:focus {
  outline: none;
}
.table-cell-container {
  margin: 0;
  font-weight: bold;
  text-align: left;
  display: flex;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin-top: 1px;
  margin-bottom: 1px;
}
.ident-container {
  width: 100%;
  display: flex;
  align-items: center;
}
.input-dropdown-container {
  margin: 0;
  justify-content: center;
  font-weight: bold;
  text-align: left;
  display: flex;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.table-reset-button {
  padding: 0 4px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 1;
  margin-right: 4px;
  display: none;
  vertical-align: middle;
}
.table-button-container {
  justify-content: 'flex-end';
  display: flex;
  align-items: center;
  padding: 3px;
  padding-bottom: 12px;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
  left: 0;
  margin-right: 10px;
  margin-bottom: 10px;
  border-bottom: solid 1px #d2d2d2;
}
.table-left-button-container,
.table-right-button-container {
  gap: 3px;
}
.comment-box-container {
  position: absolute;
  left: -2px;
  width: calc(100% - 220px);
  display: inline list-item;
}
.comment-box {
  position: absolute;
  width: calc(100% - 55px);
  left: 4px;
  border-style: solid;
  border-radius: 0.375rem;
  border-color: #EBEBEB;
  outline: none;
  padding-right: 60px;
}
.comment-box::placeholder {
  font-size: 10px;
  font-style: italic;
  font-family: var(--font-family);
  padding-left: 4px;
}
.confirm-button {
  display: none;
  position: absolute;
  right: 5px;
  background: none;
  font-size: 10px;
  height: 100%;
  color: #4cbe83;
  cursor: pointer;
  border: none;
}
.icon-container-class {
  width: 30px;
  height: 20px;
  overflow: hidden;
  cursor: pointer;
}
.tooltip {
  position: fixed;
  padding: 20px 20px;
  background: var(--red);
  color: white;
  border-radius: 4px;
  text-align: center;
  visibility: hidden;
  z-index: 1000;
  width: 300px;
  height: fit-content;
}
.info-icon {
  cursor: pointer;
  color: #b6b6b6;
  font-size: 16px;
  margin-left: 5px;
  position: relative;
}
.custom-tooltip {
  position: absolute;
  left: -100px;
  transform: translateX(-50%);
  background: #fff;
  color: #333;
  padding: 12px 16px;
  border-radius: 6px;
  font-size: 12px;
  white-space: pre-line;
  text-align: left;
  max-width: 280px;
  width: max-content;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  display: none;
  z-index: 1000;
  font-family: Arial, sans-serif;
  font-weight: 500;
  overflow: visible;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out, visibility 0.2s;
}
.tooltip-top {
  bottom: 120%;
}
.tooltip-bottom {
  top: 120%;
}
.info-icon:hover + .custom-tooltip {
  display: block;
  visibility: visible;
  opacity: 1;
}
.info-icon-cell {
  position: relative;
  overflow: visible !important;
}
.tooltip-bottom::before {
  top: auto;
  bottom: 100%;
  border-color: transparent transparent rgba(0, 0, 0, 0.9) transparent;
}
.tooltip-item {
  font-size: 12px;
  margin-bottom: 6px;
}
.tooltip-item strong {
  font-weight: 600;
  color: #333;
}
.icon-button i {
  padding-right: 5px;
}
.icon-button {
  position: relative;
  background: #F5F5F5;
  border-radius: 5px;
  border: none;
  width: 130px;
  height: 25px;
  display: block;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  font-weight: normal;
  font-family: var(--font-family);
  cursor: pointer;
  color: #768397;
  text-decoration: none;
  touch-action: manipulation;
  transition: background-color 0.3s ease, color 0.3s ease;
  user-select: none;
  -webkit-user-select: none;
  padding-bottom: 3px;
}
.icon-button i {
  padding-right: 5px;
}
.icon-button:active {
  transform: scale(0.98);
}
.icon-button:hover,
.icon-button-expand-all:hover {
  background: #e3e3e3;
  color: #2F3E55;
}
.icon-button[data-tooltip]:before {
  content: attr(data-tooltip);
  position: absolute;
  top: 140%;
  left: 50%;
  transform: translateX(-50%) translateY(10px);
  padding: 5px 5px;
  width: 66px;
  background: #606060;
  color: #fff;
  font-size: 9px;
  font-weight: bold;
  text-align: center;
  white-space: inherit;
  border-radius: 5px;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: all 200ms ease-in-out;
}
.icon-button[data-tooltip]:after {
  content: '';
  position: absolute;
  bottom: -9px;
  left: 50%;
  transform: translateX(-50%) translateY(10px);
  border: 6px solid transparent;
  border-bottom-color: #606060;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: all 200ms ease-in-out;
}
.icon-button:hover[data-tooltip]:before,
.icon-button:hover[data-tooltip]:after {
  opacity: 0.85;
  visibility: visible;
  transform: translateX(-50%) translateY(0px);
}
.disable-tooltip[data-tooltip]:before,
.disable-tooltip[data-tooltip]:after {
  display: none;
}
.save-button {
  color: var(--save-button);
  background-color: color-mix(in srgb, var(--save-button) 10%, transparent);
  width: 130px;
}
.save-button:hover {
  color: var(--save-button) !important;
  font-weight: 600;
  background: var(--save-button-light) !important;
  border: none;
}
.save-button.saving {
  color: var(--save-button) !important;
  border: solid 0.5px var(--save-button) !important;
}
.save-button.changed {
  background-color: var(--save-button-lighter);
  color: var(--save-button);
  font-weight: 600;
}
.discard-button {
  color: var(--discard-button) !important;
  background-color: color-mix(in srgb, var(--discard-button) 10%, transparent) !important;
  width: 90px;
  margin-left: 50px;
}
.discard-button:hover {
  color: var(--discard-button) !important;
  font-weight: 600;
  background: var(--discard-button-light) !important;
  border: none;
}
.status-container {
  justify-content: 'flex-start';
  display: flex;
  left: 4px;
  padding: 3px;
  position: sticky;
  z-index: 10;
  height: 15px;
  margin: 2px;
  margin-top: 1px;
  margin-left: 0;
  border: solid 1px #a0a0a0;
}
.status-message-box {
  color: #a0a0a0;
  font-size: 10px;
  font-family: var(--font-family);
  font-style: italic;
}
.toast-warning {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  /* Center the element both horizontally and vertically */
  border-radius: 12px;
  background: #fff;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  overflow: hidden;
  transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: 0 5px 10px -5px #939393;
  z-index: 1000;
  width: 250px;
  height: max-content;
}
.toast-warning .toast-content {
  display: flex;
  align-items: center;
}
.toast {
  position: fixed;
  top: 50px;
  right: 30px;
  border-radius: 14px;
  background: #fff;
  padding-left: 15px;
  padding-right: 30px;
  padding-top: 0;
  padding-bottom: 20px;
  overflow: hidden;
  transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: 0 5px 10px -5px #939393;
  z-index: 1000;
  width: 200px;
  height: max-content;
}
.toast .toast-content {
  display: flex;
  align-items: center;
}
.message-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 15px;
}
.status-message p,
.message p {
  text-align: start;
}
.message-title p {
  font-size: 16px;
  font-family: var(--font-family);
  font-weight: 600;
  color: #333;
  margin-bottom: 5px;
}
.message p {
  color: #666666;
  font-size: 12px;
  margin: 0;
  font-family: var(--font-family);
}
.toast-content .message {
  display: flex;
  flex-direction: column;
  max-width: 220px;
}
.message-popup,
.error-popup,
.warning-popup {
  transform: translateX(0%);
}
.message-popup {
  border: solid 1px var(--green);
}
.error-popup {
  border: solid 1px var(--red);
}
.warning-popup {
  border: solid 1px var(--orange);
}
.toast i.close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  opacity: 0.7;
}
.toast i.close:hover {
  opacity: 1;
}
.toast-warning i.close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  opacity: 0.7;
}
.toast-warning i.close:hover {
  opacity: 1;
}
.message-popup i.check {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  background-color: var(--green);
  color: #fff;
  font-size: 15px;
  border-radius: 50%;
  margin-top: 15px;
}
.error-popup i.check {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  background-color: var(--red);
  color: #fff;
  font-size: 15px;
  border-radius: 50%;
  margin-top: 15px;
}
.warning-popup i.check {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  background-color: var(--orange);
  color: #fff;
  font-size: 15px;
  border-radius: 50%;
  margin-top: 15px;
}
.fa-exclamation::before,
.fa-check::before {
  width: 30px;
  height: 30px;
  text-align: center;
  margin-top: 15px;
}
.column-headers {
  flex-grow: 1;
  display: flex;
}
.column-headers {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-left: 10px;
}
.show {
  display: block;
  overflow: auto;
}
.cell-changed {
  background-color: #ffeb94;
}
.hidden {
  display: none !important;
}
.loading-overlay {
  background-color: rgba(244, 244, 244, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  animation: fadeIn 1s ease-in-out;
}
.dots:after {
  content: '';
  font-family: var(--font-family);
  font-size: 30px;
  color: var(--purple);
  padding-left: 5px;
  animation: dotTyping 1.5s steps(1, end) infinite;
}
@keyframes dotTyping {
  0%,
  20% {
    content: '';
  }
  25%,
  45% {
    content: '.';
  }
  50%,
  70% {
    content: '..';
  }
  75%,
  95% {
    content: '...';
  }
}
.loading_text {
  font-size: 14px;
  margin-bottom: 1rem;
  color: #5B656E;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  overflow: hidden;
  white-space: nowrap;
  font-family: var(--font-family);
  margin: 0;
  padding-left: 30px;
  font-weight: bold;
}
.logo-animation {
  animation: bounce 2s infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.delete-cell {
  text-align: center;
  width: 30px;
  background: white;
  border-left: none;
  border-top: none;
  border-bottom: none;
}
.delete-cell i.fa-trash-can {
  cursor: pointer;
  opacity: 0.7;
}
.delete-cell i.fa-trash-can:hover {
  opacity: 1;
}
.delete-header {
  background: white;
  border-left: none;
  border-top: none;
  border-bottom: none;
}
.dropdown-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-right: 10px;
  padding-bottom: 5px;
}
.custom-dropdown-menu {
  position: absolute;
  background-color: #fff;
  border: 1px solid var(--table-headers-border);
  overflow-y: auto;
  max-height: 400px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  font-weight: normal;
}
.input-dropdown-td {
  box-sizing: border-box;
  background-color: var(--selected-cell-color);
}
.new-editable-input {
  border: none !important;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  outline: none;
}
.new-editable-input::placeholder {
  font-style: italic;
  color: black;
}
.new-editable-dropdown option {
  width: 100px;
  overflow: hidden;
}
.menu-item {
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  display: block ruby;
  height: 18px;
  font-size: 12px;
  align-content: center;
}
.menu-item:hover {
  background: #f2f2f2;
}
.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.modal {
  font-family: var(--font-family);
  background-color: white;
  padding: 20px;
  padding-top: 2px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  width: 280px;
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;
  border-radius: 12px;
  box-sizing: border-box;
  transition: all 0.3s ease;
}
.configure-monthly-button {
  margin-top: 2px;
  margin-right: 2px;
  margin-bottom: 2px;
  background: none;
  border: none;
  width: 50px;
  cursor: pointer;
  color: #535353;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: none;
}
.configure-monthly-button:hover {
  color: #b9b9b9;
}
.content-list {
  padding: 0;
}
.content-list .month-display-name {
  cursor: pointer;
  display: block;
  padding: 10px 10px;
  color: #4D4D4D;
  font-size: 12px;
  font-weight: 700;
  border-bottom: 1px solid #CCC;
  position: relative;
  transition: all 0.4s ease;
  font-weight: normal;
}
.content-list li i {
  position: absolute;
  top: 16px;
  right: 12px;
  font-size: 12px;
  transition: all 0.4s ease;
}
.content-list li.open i.fa-chevron-down {
  transform: rotate(180deg);
}
.submenu {
  display: none;
  font-size: 14px;
  padding: 0;
}
.submenu li {
  border-bottom: 1px solid #f2f2f2;
}
.submenu a {
  display: block;
  color: #8E8E8E;
  padding: 10px;
  padding-left: 30px;
  transition: all 0.25s ease;
  cursor: pointer;
}
.submenu a:hover {
  background: #f2f2f2;
  color: #4D4D4D;
}
#monthly-save-button {
  color: white;
  background-color: #4aa187;
  margin-top: 20px;
  cursor: pointer;
  font-size: 12px;
  width: 100%;
  border-radius: 5px;
  text-align: center;
  height: 30px;
}
#monthly-save-button:hover {
  background-color: #357e63;
}
.add-new-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.add-new-container.show {
  opacity: 1;
  visibility: visible;
}
.add-new-content {
  position: relative;
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
  min-width: 300px;
  max-width: 95%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  gap: 20px;
  transform: scale(0.8);
  transition: transform 0.3s ease-in-out;
}
.add-new-container.show .add-new-content {
  transform: scale(1);
}
.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 16px;
  cursor: pointer;
  color: #333;
  transition: color 0.2s;
}
.close:hover {
  color: #1f1f1f;
}
.popup-title {
  font-size: 18px;
  font-weight: 600;
  color: #333;
  margin: 0;
  text-align: center;
}
.popup-subtitle {
  font-size: 14px;
  font-weight: 400;
  color: #333;
  margin: 0;
  text-align: center;
  margin-bottom: 10px;
  font-style: italic;
}
.popup-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}
.form-group label {
  font-size: 12px;
  font-weight: 500;
  color: #555;
}
.form-group input,
.form-group select {
  width: 100%;
  padding: 5px 10px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  background: #f9f9f9;
  transition: all 0.3s ease;
}
.form-group input:not(:disabled):hover,
.form-group select:not(:disabled):hover {
  background-color: #f2f2f2;
}
.form-group input:focus,
.form-group select:focus {
  outline: none;
  border: 1px solid #9CAFAA;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}
.input-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}
.input-field {
  font-size: 14px;
  padding: 10px 40px 10px 15px;
  /* Space for chevron */
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  width: 100%;
  background: #f9f9f9;
  transition: all 0.3s ease;
}
.input-field:not(:disabled):hover {
  background-color: #f2f2f2;
}
.input-field:focus {
  outline: none;
  border: 1px solid #9CAFAA;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}
.fa-chevron-down,
.fa-chevron-up {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #8e8e8e;
  transition: transform 0.3s ease;
  padding-left: 10px;
}
.fa-chevron-up.visible,
.fa-chevron-down.hidden {
  transform: translateY(-50%) rotate(180deg);
  /* Smoothly rotate the chevron */
}
.add-new-dropdown-menu {
  position: absolute;
  top: calc(100% + 5px);
  /* Dropdown appears below input */
  left: 0;
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: none;
}
.add-new-dropdown-menu.visible {
  display: block;
}
.add-new-dropdown-menu .menu-item {
  padding: 10px 15px;
  font-size: 12px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.add-new-dropdown-menu .menu-item:hover {
  background-color: #f2f2f2;
}
.button-container {
  display: flex;
  justify-content: flex-end;
}

