p {
  font-size: 20px;
  font-weight: bold;
}
p em {
  background: yellow;
  padding: 5px;
}
.link {
  fill: none;
  stroke: #000;
  stroke-opacity: 0.2;
}
.link:hover {
  stroke-opacity: 0.5;
}
.chart {
  display: block;
  margin: auto;
  margin-top: 60px;
  font-size: 15px;
}
.watermark {
  font-size: 20px;
  text-align: center;
  text-decoration: underline;
  /*margin-top: 50px;*/
  color: blue;
}
.subscribeheader {
  font-size: 20px;
  text-align: center;
  text-decoration: underline;
  /*margin-top: 50px;*/
  color: blue;
}
.subscribe {
  font-size: 20px;
  text-align: center;
  text-decoration: underline;
  /*margin-top: 50px;*/
  color: blue;
  margin-left: 76px;
}
.unsubscribe {
  font-size: 20px;
  text-align: center;
  text-decoration: underline;
  /*margin-top: 50px;*/
  color: blue;
  cursor: pointer;
}
.activateTrial {
  font-size: 20px;
  /*text-align:center;*/
  text-decoration: underline;
  margin-top: 50px;
  color: blue;
}
.licenseKey {
  font-size: 20px;
  margin-right: 50px;
  color: black;
  /*text-align: center;*/
}
.licenseKeyMessage {
  font-size: 20px;
  margin-right: 50px;
  color: black;
  /*text-align: center;*/
}
p {
  font-size: 20px;
  font-weight: bold;
}
p em {
  background: yellow;
  padding: 5px;
}
.cls-1 {
  fill: #fff;
}
.cls-2 {
  fill: #f5f4f2;
}
.cls-3 {
  fill: #117865;
}
.cls-4 {
  stroke: #828282;
  stroke-width: 2px;
}
.cls-4,
.cls-5,
.cls-6,
.cls-7,
.cls-8,
.cls-9 {
  fill: none;
}
.cls-4,
.cls-8,
.cls-9,
.cls-10,
.cls-11 {
  stroke-miterlimit: 10;
}
.cls-5,
.cls-6,
.cls-7 {
  stroke-linecap: round;
  stroke-linejoin: round;
}
.cls-5,
.cls-7 {
  stroke: #000;
}
.cls-12,
.cls-10,
.cls-11 {
  fill: #f3f2f1;
}
.cls-6 {
  stroke-width: 5px;
}
.cls-6,
.cls-9 {
  stroke: #117865;
}
.cls-7 {
  stroke-width: 1.7px;
}
.cls-13 {
  fill: #8a8886;
}
.cls-8 {
  stroke: #8a8886;
  stroke-width: 2.5px;
}
.cls-10 {
  filter: url(#drop-shadow-2);
}
.cls-10,
.cls-11 {
  stroke: #e4e3e1;
}
.cls-14 {
  fill: #ffb50e;
}
.cls-15 {
  fill: #e1dfdd;
}
.cls-11 {
  filter: url(#drop-shadow-1);
}
.cls-16 {
  fill: #cecdcb;
}
.cls-17 {
  fill: red;
}
.cls-18 {
  fill: #d2d0ce;
}
.st0 {
  fill: #F3F2F1;
}
.st1 {
  fill: none;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.st2 {
  fill: #D2D0CE;
}
.st3 {
  fill: #117865;
}
.st4 {
  fill: none;
  stroke: #8A8886;
  stroke-width: 2.5;
  stroke-miterlimit: 10;
}
.st5 {
  fill: #F5F4F2;
}
.st6 {
  fill: #8A8886;
}
.st7 {
  enable-background: new    ;
}
.st8 {
  fill: none;
  stroke: #000000;
  stroke-width: 1.7;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.st9 {
  fill: none;
  stroke: #117865;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.st10 {
  fill: #E1DFDD;
}
.st11 {
  fill: none;
  stroke: #828282;
  stroke-width: 2;
  stroke-miterlimit: 10;
}
.st12 {
  fill: #F3F2F1;
  stroke: #E4E3E1;
  stroke-miterlimit: 10;
}
.st13 {
  fill: #FFFFFF;
}
.st14 {
  fill: #CECDCB;
}
.st15 {
  fill: none;
  stroke: #117865;
  stroke-miterlimit: 10;
}
.st16 {
  fill: #FFB50E;
}
.st17 {
  fill: #FF0000;
}

