.item {
  position: absolute;
  text-align: left;
  transition: top 0.5s, opacity 0.5s;
  font-size: 16px;
  color: black;
  background-color: #ddd;
  padding: 3px 6px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.container:has(.selected) .item:not(.selected) {
  opacity: 0.4;
}

