* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  backdrop-filter: unset !important;
}
table {
  background: #fff;
  border-collapse: separate !important;
  border-spacing: 0;
}
thead {
  background: #fff;
  margin: 0;
  position: sticky;
  top: -2px;
  z-index: 40;
}
ul > li {
  font-size: 16px;
  padding: 2px 0;
  display: flex;
  align-items: center;
  gap: 4px;
}
#sandbox-host {
  background: #fff;
  overflow: auto !important;
  position: relative;
}
input:focus,
button:focus,
select:focus {
  outline: none;
}
.dragging {
  width: 200px !important;
}
.hiddenBlock ~ div:last-of-type {
  display: none !important;
}
input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  outline: none;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  background-color: transparent;
  pointer-events: none;
}
.slider-track {
  width: 100%;
  height: 3px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  border-radius: 5px;
}
input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 5px;
}
input[type="range"]::-moz-range-track {
  -moz-appearance: none;
  height: 5px;
}
input[type="range"]::-ms-track {
  appearance: none;
  height: 5px;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  background-color: #21bf73;
  cursor: pointer;
  margin-top: -3px;
  pointer-events: auto;
  border-radius: 50%;
}
input[type="range"]::-moz-range-thumb {
  cursor: pointer;
  border-radius: 50%;
  background-color: #21bf73;
  pointer-events: auto;
}
input[type="range"]::-ms-thumb {
  appearance: none;
  cursor: pointer;
  border-radius: 50%;
  background-color: #21bf73;
  pointer-events: auto;
}
input[type="range"]:active::-webkit-slider-thumb {
  background-color: #ffffff;
  border: 3px solid #21bf73;
}
.draggable {
  top: auto !important;
  left: auto !important;
}
th,
.th {
  position: relative;
}
.resizer {
  position: absolute;
  top: 0;
  height: 100%;
  width: 5px;
  cursor: col-resize;
  user-select: none;
  touch-action: none;
}
.resizer.ltr {
  right: 0;
}
.resizer.rtl {
  left: 0;
}

.formulas-component {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  gap: 10px;
}
.formulas-header {
  display: flex;
  align-items: center;
  gap: 8px;
}
.formulas-body {
  display: flex;
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 5px;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}
.formulas-body-content {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.formulas-body button {
  width: 100%;
  padding: 5px 0;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 500;
}
.formulas-body-content-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.formulas-body-content-input textarea,
.formulas-body-content-input input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  pointer-events: auto;
  outline: none;
}
.error-message {
  color: red;
  font-size: 11px;
}
.error-box {
  border: 1px solid red !important;
}
.formulas-body-content-select {
  display: flex;
  flex-direction: column;
  margin-top: -6px;
}
.formulas-body-content-option {
  border-left: #ccc 1px solid;
  border-right: #ccc 1px solid;
  border-bottom: #ccc 1px solid;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
}
.formulas-body-content-option:hover {
  background-color: #ccccccad;
}
.btn-clear-formula:hover {
  color: red;
}

.container-form-select {
  position: relative;
  width: 100%;
  display: flex;
}
.input-form-select {
  flex: 1;
  border-radius: 4px;
  padding: 8px 4px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 13px;
  color: #444444;
  width: 100%;
}
.input-form-select-error {
  border-color: red !important;
}
.options-list-select {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0;
  list-style: none;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
}
.option-item-select {
  padding: 8px;
  cursor: pointer;
}
.option-item-select:hover {
  background-color: #f0f0f0;
}
.icon-form-select {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
  color: #888;
}

.main-page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.box-header-container {
  width: 100%;
}
.box-header {
  display: inline-flex;
  flex-direction: column;
  gap: 3px;
  padding: 5px;
  background-color: #f0f0f0;
  border-radius: 5px;
}
.box-header span {
  font-size: 14px;
}
.box-filter-container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
}
.box-date-time {
  display: flex;
  align-items: center;
  gap: 5px;
}
.box-date-time b {
  font-size: 14px;
}
.box-more-filter {
  width: 150px;
  padding: 5px 10px;
  position: relative;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.more-filters-title {
  color: #000;
  font-size: 16px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.box-more-filter:hover {
  border: 1px solid #4f46e5;
}
.more-filters-body {
  position: absolute;
  z-index: 1000;
  top: 105%;
  right: 0;
  border: 1px solid #ddd;
  background-color: white;
  padding: 10px;
  display: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.arrow-up-filter {
  margin-top: 10px;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #ccc transparent;
}
.box-more-filter:hover .more-filters-body {
  display: block;
}
.more-filters-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: white;
}
.box-filter-select {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 5px;
}
.box-table-container {
  flex: 1;
  border: 1px solid #ccc;
  margin-top: 5px;
  border-radius: 5px;
}
@media only screen and (max-width: 600px) {
  .box-filter-container {
    flex-wrap: wrap;
  }
  .logo-small span {
    display: none;
  }
}
.loading-container {
  position: fixed;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: grid;
  place-items: center;
}
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #fff;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.logo-small {
  position: fixed;
  gap: 3px;
  align-items: center;
  top: 5px;
  z-index: 1000;
  color: #5f5e5e;
  filter: grayscale(100%);
  opacity: 0.4;
  cursor: pointer;
  font-size: 12px;
}
.logo-small img {
  width: 17px;
}
.logo-small:hover {
  opacity: 1;
  filter: grayscale(0%);
  color: #4f46e5;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.ui-container-lock {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: grid;
  place-items: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
}
.ui-container-lock button {
  padding: 5px 10px;
  border: 2px solid #4f46e5;
  border-radius: 5px;
  cursor: pointer;
  color: #4f46e5;
  background-color: transparent;
  outline: none;
}
.ui-container-lock button:hover {
  background-color: #4f46e5;
  color: white;
  transition: all 0.3s ease-in-out;
}

.form-select-category {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 2px;
  flex-wrap: wrap;
  font-weight: bold;
}
.form-select-category-Form {
  display: flex;
  align-items: center;
  gap: 5px;
}
.form-select-category-Form select {
  padding: 2px;
  min-width: 120px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 3px 2px;
  font-weight: bold;
}

.select-popover {
  width: 150px;
  padding: 4px 8px;
  position: relative;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}
.select-box {
  color: #000;
  font-size: 16px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
  font-size: 15px;
}
.select-popover:hover {
  border: 1px solid #4f46e5;
}
.popover-content {
  width: 160px;
  position: absolute;
  border: 1px solid #ddd;
  padding: 10px;
  display: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  z-index: 1000;
  background-color: white;
  border-radius: 5px;
}
.arrow-up {
  margin-top: 10px;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #ccc transparent;
}
.select-popover:hover .popover-content {
  display: block;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.content span {
  font-size: 14px;
  font-weight: 500;
}
.content input {
  outline: none;
  padding: 5px 10px;
  border: 0.8px solid #ccc;
  border-radius: 5px;
}
.check-box-container {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  gap: 10px;
}
.check-box-container::-webkit-scrollbar {
  width: 4px;
  height: 2px;
}
.check-box-container::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: calc(15px / 2);
}
.checkbox-item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 3px 0px;
}
.checkbox-element {
  accent-color: #4f46e5;
}
.position-bottom {
  top: 105%;
  left: 50%;
  transform: translateX(-50%);
}
.position-left {
  top: 0;
  right: 102%;
}

.bg-no-data {
  width: 100%;
  height: 100vh;
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.bg-no-data-content {
  display: flex;
  justify-content: flex-start;
}
.bg-no-data-content-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  margin-left: 15px;
}
.bg-no-data-content-item img {
  width: 30px;
}
.bg-no-data-content-item span {
  font-size: 10px;
  font-weight: 600;
  color: #4f46e5;
}
.guideline {
  width: 100%;
  background-color: #f6f6f6;
  padding: 30px 10%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}
.divider {
  width: 100%;
  border: 0.5px solid #ccc;
}
.guideline strong {
  white-space: nowrap;
}
.guideline-content {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.links-container {
  padding-left: 20px;
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 12px;
}
.guideline span {
  font-size: 18px;
  font-weight: 600;
}
.cycle-class {
  position: relative;
  padding-left: 20px;
}
.cycle-class span {
  font-weight: 500;
  font-size: 16px;
}
.cycle-class::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 5px;
  height: 5px;
  background-color: black;
  border-radius: 50%;
}

.container-popup-enter-license-key {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  background: rgba(0, 0, 0, 0.3);
  z-index: 99999;
}
.popup-enter-license-key {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  background-color: white;
  width: 330px;
  border-radius: 5px;
}
.popup-enter-license-key-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #eee;
}
.popup-enter-license-key-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px 15px 15px 15px;
}
.popup-enter-license-key-body textarea {
  padding: 5px 5px;
  border-radius: 5px;
  resize: none;
  background-color: transparent;
  width: 100%;
  border: 1px solid #cecbcb;
  font-size: 16px;
  outline: none;
}
.popup-enter-license-key-body button {
  width: 100%;
  border: 1px solid #4f46e5;
  padding: 5px 5px;
  border-radius: 5px;
  background-color: transparent;
  color: #4f46e5;
  cursor: pointer;
}
.popup-enter-license-key-body button:hover {
  background-color: #4f46e5;
  color: white;
}
.success-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  flex-direction: column;
  height: 50%;
  gap: 20px;
}
.checkmark {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #4bb71b;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px #4bb71b;
  animation: fill 0.4s ease-in-out 0.4s forwards, scale 0.3s ease-in-out 0.9s both;
  position: relative;
  top: 5px;
  right: 5px;
  margin: 0 auto;
}
.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #4bb71b;
  fill: #fff;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}
.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}
@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #4bb71b;
  }
}
.chip {
  display: inline-block;
  padding: 2px 10px;
  border-radius: 15px;
  background-color: #f0f0f0;
  color: #333;
  font-size: 11px;
  text-transform: capitalize;
  letter-spacing: 1px;
}
.chip-time {
  background-color: #ff765b42;
  color: #fc6446;
}

.container-popup-start-trial-free {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  background: rgba(0, 0, 0, 0.3);
  z-index: 99999;
}
.popup-start-trial-free {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  background-color: white;
  border-radius: 5px;
}
.popup-start-trial-free-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #eee;
}
.popup-start-trial-free-body {
  padding: 15px;
}
.popup-start-trial-free-body button {
  width: 100%;
  border: 1px solid #4f46e5;
  padding: 4px 4px;
  font-size: 13px;
  border-radius: 5px;
  background-color: transparent;
  color: #4f46e5;
  cursor: pointer;
}
.popup-start-trial-free-body button.fill-button {
  background-color: #4f46e5;
  color: white;
}
.popup-start-trial-free-body button:hover {
  background-color: #e5e7eb;
}
.popup-start-trial-free-body button.fill-button:hover {
  background-color: #4338ca;
}

.table-data-container {
  display: flex;
  flex: 1;
  height: 100%;
  flex-direction: column;
}
.table-data-body {
  flex: 1;
  overflow: hidden;
  position: relative;
}
.table-data-body-content {
  position: absolute;
  width: 100%;
  height: 100%;
}
.table-data-body-pivot {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 100;
}
.table-data-body-pivot-content {
  width: 60%;
  height: 100%;
  background-color: white;
  border-radius: 10px 0 0 10px;
  padding: 8px;
  transition: all 0.3s linear;
}
.table-data-body-math {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 100;
}
.table-data-body-math-content {
  width: 50%;
  height: 100%;
  background-color: white;
  border-radius: 10px 0 0 10px;
  padding: 8px;
  transition: all 0.3s linear;
}
.open-pivot {
  transform: translateX(0);
}
.open-math {
  transform: translateX(0);
}
.table-data-footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px;
  background-color: #f7f6f4;
  border-top: 1px solid #ccc;
}
.table-data-footer-left {
  font-size: 14px;
}
.table-data-footer-right {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer-right-button {
  display: flex;
  padding: 3px 10px;
  align-items: center;
  gap: 4px;
  border-radius: 5px;
  cursor: pointer;
}
.button-outline {
  background-color: white;
  font-weight: 500;
}
.button-fill {
  background-color: #ffa600;
  color: #fff;
  font-weight: 500;
  border: none;
  box-shadow: none;
}
.table-data-body-manage-columns {
  position: absolute;
  width: calc(100%);
  height: calc(100%);
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 100;
}
.open-manage-columns {
  transform: translateX(0);
}
.table-data-body-manage-columns-content {
  max-height: 100%;
  background-color: white;
  border-radius: 10px;
  width: 300px;
  position: absolute;
  bottom: 0;
  padding: 8px;
  overflow-y: auto;
  overflow-x: hidden;
}
.table-data-body-manage-columns-content::-webkit-scrollbar {
  width: 4px;
}
.table-data-body-manage-columns-content::-webkit-scrollbar-thumb {
  background-color: #bbbbbb;
  border-radius: 2px;
}
.table-data-body-pivot-no-data {
  width: 50%;
  height: 100%;
  transition: all 0.3s linear;
}
.table-data-body-math-no-data {
  width: 60%;
  height: 100%;
  transition: all 0.3s linear;
}
@media only screen and (max-width: 1200px) {
  .table-data-body-pivot-content {
    width: 90%;
  }
  .table-data-body-math-content {
    width: 75%;
  }
}
@media only screen and (max-width: 600px) {
  .table-data-footer {
    height: auto;
    flex-wrap: wrap;
    align-items: center;
  }
  .table-data-footer-right {
    flex-wrap: wrap;
  }
  .table-data-footer-left {
    font-size: 16px;
    white-space: nowrap;
  }
  .table-data-body-pivot-no-data {
    width: 0%;
  }
  .table-data-body-math-no-data {
    width: 0%;
  }
  .table-data-body-pivot-content,
  .table-data-body-math-content {
    width: 100%;
  }
}
.box-chevron-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: grid;
  place-items: center;
  border: #aaa solid 1px;
  margin-left: -9px;
  height: 35px;
  background-color: white;
  z-index: 999;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  font-size: 13px;
}
.box-chevron-right:hover {
  background-color: #e9e9e9cb;
  color: #6b6969;
}

.accordion {
  cursor: pointer;
  padding: 6px 8px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: space-between;
}
.accordion span {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
}
.active,
.accordion:hover {
  background-color: #efeeed;
}
.panel {
  width: 100%;
  background-color: white;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion-content-item {
  margin-top: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  font-weight: 500;
}

.math-tab-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.tab-list {
  display: flex;
  padding-bottom: 10px;
}
.tab-item {
  flex: 1;
  padding: 10px;
  text-align: center;
  color: #344054;
  cursor: pointer;
  transition: background-color 0.3s, border-bottom 0.3s;
  margin-bottom: 6px;
}
.tab-item.active {
  color: #10141a;
  border-bottom: 2px solid #007bff;
}
.tab-item:not(.active):hover {
  background-color: #e5e5e5;
}
.math-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  gap: 10px;
  overflow: auto;
  flex: 1;
}
.math-container::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: #fff;
}
.math-container-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.math-container-content-title {
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 10px;
  font-weight: 500;
}
.math-container-content-box {
  flex: 1;
  border-radius: 5px;
  border: 1px solid #ccc;
  overflow-y: auto;
}
.math-container-content-box::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #ccc;
}
.hovered {
  border: 1px solid #4f46e5;
}
@media only screen and (max-width: 600px) {
  .math-container {
    flex-direction: row;
  }
  .math-container-content {
    flex-direction: column;
  }
}
.tooltip-text {
  background-color: black;
  color: #fff;
  text-align: center;
  font-size: 14px;
  border-radius: 6px;
  padding: 5px;
  position: fixed;
  white-space: nowrap;
  z-index: 9999;
  top: 0;
  left: 0;
}

.pivot-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  width: 100%;
  position: relative;
}
.pivot-item-content {
  display: flex;
  align-items: center;
  gap: 5px;
}
.pivot-item:hover {
  cursor: pointer;
  background-color: rgba(87, 87, 87, 0.096);
}

.pivot-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  gap: 10px;
  overflow: auto;
}
.pivot-container::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: #fff;
}
.pivot-container-content {
  width: 33%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.pivot-container-content-title {
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 10px;
  font-weight: 500;
}
.pivot-container-content-box {
  flex: 1;
  border-radius: 5px;
  border: 1px solid #ccc;
  overflow-y: auto;
}
.pivot-container-content-box::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #ccc;
}
.hovered {
  border: 1px solid #4f46e5;
}
@media only screen and (max-width: 600px) {
  .pivot-container {
    flex-direction: row;
  }
  .pivot-container-content {
    flex-direction: column;
  }
}
.tooltip-text {
  background-color: black;
  color: #fff;
  text-align: center;
  font-size: 14px;
  border-radius: 6px;
  padding: 5px;
  position: fixed;
  white-space: nowrap;
  z-index: 9999;
  top: 0;
  left: 0;
}

.container-popup-conditional {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  background: rgba(0, 0, 0, 0.3);
  z-index: 99999;
}
.popup-conditional {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  background-color: white;
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 5px;
}
.popup-conditional-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #dde3e9;
  padding: 5px 10px 0 10px;
  gap: 10px;
}
.popup-conditional-body {
  padding: 15px;
  flex: 1;
  max-height: 0;
}
.popup-conditional-body button {
  margin-top: 20px;
  width: 100%;
  border: 1px solid #4f46e5;
  padding: 5px 5px;
  border-radius: 5px;
  background-color: transparent;
  color: #4f46e5;
  cursor: pointer;
}
.popup-conditional-body button:hover {
  background-color: #4f46e5;
  color: white;
}
.popup-conditional-body-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.popup-conditional-body-form select {
  padding: 6px;
  border-radius: 5px;
  border: 1px solid #acabab;
  width: 30%;
  color: #605e5c;
}
.popup-conditional-body-form-gradient {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
}
.popup-conditional-body-form-gradient-body {
  display: flex;
  justify-content: space-between;
}
.popup-conditional-body-form-gradient-body-content-color {
  display: flex;
  gap: 6px;
  align-items: center;
  margin-top: 10px;
}
.popup-conditional-body-form-gradient-body-content-color-select {
  padding: 6px;
  border-radius: 5px;
  border: 1px solid #acabab;
  width: 200px;
  color: #605e5c;
}
.popup-conditional-body-form-gradient-body-content-input {
  padding: 6px;
  border-radius: 2px;
  border: 1px solid #acabab;
  width: 150px;
  color: #605e5c;
  margin-top: 10px;
}
.popup-conditional-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px 10px 10px;
}
.popup-conditional-footer button {
  padding: 3px 10px;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}
.rules-component {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.rules-component-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}
.rules-component-header button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  gap: 5px;
  margin: 0;
}
.rule-condition {
  width: 100%;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 5px;
}
.rule-condition-item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.rule-condition-item select {
  padding: 5px;
  width: 120px;
  outline: none;
  border-radius: 2px;
  border: 1px solid #acabab;
}
.rule-condition-item input {
  padding: 5px;
  width: 70px;
  outline: none;
  border-radius: 2px;
  border: 1px solid #acabab;
}
.rule-condition-item-icon {
  display: flex;
  align-items: center;
  gap: 8px;
}
@media (max-width: 868px) {
  .rule-condition {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 668px) {
  .rule-condition {
    grid-template-columns: repeat(1, 1fr);
  }
}
.condition-item {
  padding: 6px 10px 7px 10px;
  border-radius: 8px 8px 0 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.sort-icon {
  opacity: 0;
  z-index: 2;
}
.header-table-component {
  margin-right: 14px;
}
.header-table-component:hover .sort-icon {
  opacity: 1 !important;
}
.sort-active {
  opacity: 1;
}
.table-component-root {
  flex: 1;
  overflow: auto;
  height: 100%;
}
.table-component-root::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.table-component-root::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: calc(15px / 2);
}

.custom-number-input::-webkit-inner-spin-button,
.custom-number-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.custom-number-input {
  -moz-appearance: textfield;
}
.box-filter-content {
  min-width: 150px;
  position: absolute;
  bottom: -460%;
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 8px;
  background-origin: padding-box;
  z-index: 9999;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.box-select {
  width: "100%";
  margin-bottom: "0.5rem";
  border: "1px solid #e2e8f0";
  border-radius: "0.25rem";
  padding: "0.25rem";
}

.expand-width {
  animation: expandWidth 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
}
@keyframes expandWidth {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    min-width: 200px;
    opacity: 1;
  }
}

