.eg-white-bg {
  background-color: #fafafa !important;
}
.eg-yellow-bg {
  background-color: yellow !important;
  color: #0d0e0e !important;
}
.eg-hidden {
  display: none !important;
}
.eg-readonly {
  background-color: #ededed;
}
.eg-button {
  background-image: linear-gradient(#f7f8fa, #e7e9ec);
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, 0.6) 0 1px 0 inset;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember", Arial, sans-serif;
  font-size: 14px;
  height: 20px;
  font-size: 13px;
  outline: 0;
  overflow: hidden;
  padding: 0px 5px 0px 5px;
  margin: 0px 1px 0px 1px;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}
.eg-button:active {
  border-bottom-color: #a2a6ac;
}
.eg-button:active:hover {
  border-bottom-color: #a2a6ac;
}
.eg-button:hover {
  border-color: #a2a6ac #979aa1 #82858a;
  color: red;
}
.eg-button:focus {
  border-color: #e77600;
  box-shadow: rgba(228, 121, 17, 0.5) 0 0 3px 2px;
  outline: 0;
}
.eg-button:active {
  box-shadow: 2px 2px 5px #0f1111;
}
.eg-grid-buttons {
  padding-bottom: 0px;
}
.eg-overlay {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
}
.eg-PowerAppLink {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}
.eg-overlay-content {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.eg-spinner {
  width: 75px;
  height: 75px;
  display: inline-block;
  border-width: 2px;
  border-color: black;
  border-top-color: #fff;
  animation: spin 1s infinite linear;
  border-radius: 100%;
  border-style: solid;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
#numRowsText {
  border-radius: 2px;
  border-color: lightgray !important;
  width: 60px;
  margin-left: 3px;
}
.eg-hidden {
  display: none !important;
}
.eg-context-menu {
  padding: 4px 0;
}
.eg-context-menu-item {
  padding: 6px 12px;
  cursor: pointer;
  font-size: 12px;
}
.eg-context-menu-item:hover {
  background-color: #eee;
}
.eg-context-menu-item.eg-hidden {
  display: none;
}
.eg-context-menu-separator {
  height: 1px;
  background-color: #ddd;
  margin: 4px 0;
  border: none;
}
.eg-context-menu-separator.eg-hidden {
  display: none;
}
.visualWrapper report {
  padding: 0px !important;
}
.ag-cell-value {
  opacity: 1 !important;
}
p {
  font-size: 20px;
  font-weight: bold;
}
p em {
  background: yellow;
  padding: 5px;
}

