.expandIcon {
  width: 12px;
  height: 7px;
  display: inline-block;
  vertical-align: middle;
  background-image: url(https://chartexpo.com/ChartExpoForGoogleSheetAddin/Images/v3/icon-collapse.png);
  background-repeat: no-repeat;
  /* margin-top: 15px; */
  /* margin-right: 5px; */
}
.collaspeIcon {
  width: 12px;
  height: 7px;
  background-image: url(https://chartexpo.com/ChartExpoForGoogleSheetAddin/Images/v3/icon-uncollapse.png);
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
}
.error_dialog {
  background: #fff;
  font: normal 13px Arial;
  padding: 10px;
  position: absolute;
  text-align: left;
  display: block;
  width: 256px;
  box-shadow: #000017 0px 2px 10px;
  border-radius: 3px;
  display: none;
  left: 37%;
  top: 40%;
  z-index: 9999999999999;
}
.error_dialog_icon {
  float: left;
  width: 40px;
  text-align: center;
  margin-top: 4px;
}
.error_dialog_content {
  float: left;
  width: 190px;
  padding-left: 12px;
  padding-right: 0px;
  padding-top: 4px;
  padding-bottom: 10px;
}
.error_dialog_title {
  color: #EE262C;
  font-size: 14px;
  font-weight: bold;
}
.error_dialog_message_detail {
  font-size: 12px;
  font-weight: normal;
}
.error_dialog_buttons {
  display: block;
  margin-top: 7px;
}
.error_dialog_close_icon {
  float: left;
  cursor: pointer;
}
.error_dialog_button_view {
  padding: 4px 15px 4px 15px;
  background-color: #F57A34;
  color: white;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  width: 80px;
}
.error_dialog_button_cancel {
  padding: 4px 15px 4px 15px;
  background-color: #e6e6e6;
  color: #717171;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-left: 10px;
  cursor: pointer;
  width: 80px;
}
.btnSectionReset {
  cursor: pointer;
}
.disabledElement {
  opacity: 0.3;
  pointer-events: none;
}
#PropertyWindow {
  width: 245px;
  background-color: white;
  border: 1px solid gainsboro;
  display: none;
  position: fixed;
  z-index: 1111111;
}
#propertytitleDiv {
  height: 30px;
  text-align: center;
  background-color: #616161;
}
#Propertytitle {
  color: white;
  font-size: 14px;
  float: left;
  font-weight: bold;
  border-right: none;
  margin-top: 7px;
  margin-left: 12px;
}
#PropertyWindowSourceTargetNodes {
  width: 400px;
  background-color: white;
  border: 1px solid gainsboro;
  display: none;
  position: fixed;
  z-index: 1111111;
}
#PropertyWindowSourceTargetNodes .controlsection {
  padding-top: 3px;
  line-height: 47px;
  cursor: pointer;
  border-bottom: 1px solid #ECECEC;
  margin-left: 10px;
  margin-right: 10px;
  text-align: left;
}
#PropertyWindowSourceTargetNodes .lableColumn {
  width: 60%;
  display: inline-block;
}
#PropertyWindowSourceTargetNodes .controlColumn {
  display: inline-block;
  width: 38%;
}
#PropertyWindowSourceTargetNodes .controlColumn select {
  width: 100%;
  display: inline-block;
  height: 30px;
}
#PropertyWindowSourceTargetNodes #propertytitleDiv {
  height: 36px;
  text-align: center;
  background-color: #616161;
}
#PropertyWindowSourceTargetNodes #CancelDivSourceTarget {
  background-color: white;
  float: left;
  border-radius: 25px;
  border: 1px solid darkorange;
  height: 20px;
  cursor: pointer;
  font-size: 12px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 5px;
  padding-top: -10px;
  margin-left: 10px;
  margin-top: 15px;
  font-weight: bold;
  padding-top: 2px;
}
#PropertyWindowSourceTargetNodes #btnApplySourceTarget {
  background-color: darkorange;
  border-radius: 25px;
  border: 1px solid darkorange;
  padding-top: 2px;
  height: 20px;
  float: left;
  cursor: pointer;
  font-size: 12px;
  margin-bottom: 5px;
  padding-top: -10px;
  margin-top: 15px;
  font-weight: bold;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
::-webkit-scrollbar-thumb {
  background-color: lightgrey;
  /* background-clip: padding-box; */
  border: solid transparent;
  border-width: 1px 1px 1px 6px;
  min-height: 28px;
  padding: 100px 0 0;
}
::-webkit-scrollbar-thumb {
  border-width: 1px 1px 1px 2px;
}
::-webkit-scrollbar-track {
  border-width: 0 1px 0 6px;
}
::-webkit-scrollbar-track {
  background-clip: padding-box;
  border: solid transparent;
  border-width: 0 0 0 4px;
}
#propertyContentDiv {
  background-color: white;
  margin-top: -2px;
  overflow-y: auto;
}
.navSection {
  /* background-color: #F9FAFC; */
  line-height: 35px;
  cursor: pointer;
  border-bottom: 1px solid #ECECEC;
  margin-left: 10px;
  margin-right: 10px;
  text-align: left;
}
.catogoryChart {
  /* list-style: none; */
  padding-left: 0;
  display: none;
}
#controlButtons {
  display: flex;
  justify-content: center;
}
.propertyContentDiv div {
  margin-right: 2px;
  border: 1px solid #dcdcdc;
  padding: 2px;
  cursor: move;
  display: inline-block;
  min-width: 20px;
  text-align: center;
  margin-top: 2px;
}
.txtBox_multiLine,
.txtBox_singleLine {
  font-size: 12px;
  width: 162px;
  outline: none;
  border: 1px solid gainsboro;
  background-color: white;
  text-align: left;
  padding-left: 5px;
  margin-top: 5px;
  border-radius: 5px;
  height: 25px;
  margin-left: 10px;
}
#ApplyDiv {
  background-color: darkorange;
  border-radius: 25px;
  border: 1px solid darkorange;
  padding-top: 2px;
  height: 20px;
  float: left;
  cursor: pointer;
  font-size: 12px;
  margin-bottom: 5px;
  padding-top: -10px;
  margin-top: 15px;
  font-weight: bold;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
#CancelDiv {
  background-color: white;
  float: left;
  border-radius: 25px;
  border: 1px solid darkorange;
  height: 20px;
  cursor: pointer;
  font-size: 12px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 5px;
  padding-top: -10px;
  margin-left: 10px;
  margin-top: 15px;
  font-weight: bold;
  padding-top: 2px;
}
.operateButton {
  background-color: darkorange;
  border-radius: 25px;
  border: 1px solid darkorange;
  height: 45px;
  float: left;
  cursor: pointer;
  font-size: 15px;
  margin-bottom: 5px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
.navsubsection {
  color: #EC8549;
  text-align: center;
  line-height: 26px;
  /* font-family: Myriad Pro Set Text; */
  font-size: 14px;
  padding-left: 5px;
  font-weight: bold;
}
p {
  font-size: 20px;
  font-weight: bold;
}
p em {
  background: yellow;
  padding: 5px;
}
.node rect {
  cursor: default;
  fill-opacity: 0.9;
  shape-rendering: crispEdges;
}
.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}
.link {
  fill: none;
  stroke: #000;
  stroke-opacity: 0.2;
}
.link:hover {
  stroke-opacity: 0.5;
}
.chart {
  display: block;
  margin: auto;
  margin-top: 60px;
  font-size: 15px;
}
.watermark {
  font-size: 20px;
  text-align: center;
  text-decoration: underline;
  /*margin-top: 50px;*/
  color: blue;
}
.subscribeheader {
  font-size: 20px;
  text-align: center;
  text-decoration: underline;
  /*margin-top: 50px;*/
  color: blue;
}
.subscribe {
  font-size: 20px;
  text-align: center;
  text-decoration: underline;
  /*margin-top: 50px;*/
  color: blue;
  margin-left: 76px;
}
.unsubscribe {
  font-size: 20px;
  text-align: center;
  text-decoration: underline;
  /*margin-top: 50px;*/
  color: blue;
  cursor: pointer;
}
.activateTrial {
  font-size: 20px;
  /*text-align:center;*/
  text-decoration: underline;
  margin-top: 50px;
  color: blue;
}
.licenseKey {
  font-size: 20px;
  margin-right: 50px;
  color: black;
  /*text-align: center;*/
}
.licenseKeyMessage {
  font-size: 20px;
  margin-right: 50px;
  color: black;
  /*text-align: center;*/
}
p {
  font-size: 20px;
  font-weight: bold;
}
p em {
  background: yellow;
  padding: 5px;
}
.node rect {
  cursor: default;
  fill-opacity: 0.9;
  shape-rendering: crispEdges;
}
.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}
.link {
  fill: none;
  stroke: #000;
  stroke-opacity: 0.2;
}
.link:hover {
  stroke-opacity: 0.5;
}
.chart {
  display: block;
  margin: auto;
  margin-top: 60px;
  font-size: 15px;
}
.watermark {
  font-size: 20px;
  text-align: center;
  text-decoration: underline;
  /*margin-top: 50px;*/
  color: blue;
}
.subscribeheader {
  font-size: 20px;
  text-align: center;
  text-decoration: underline;
  /*margin-top: 50px;*/
  color: blue;
}
.subscribe {
  font-size: 20px;
  text-align: center;
  text-decoration: underline;
  /*margin-top: 50px;*/
  color: blue;
  margin-left: 76px;
}
.unsubscribe {
  font-size: 20px;
  text-align: center;
  text-decoration: underline;
  /*margin-top: 50px;*/
  color: blue;
}
.activateTrial {
  font-size: 20px;
  /*text-align:center;*/
  text-decoration: none;
  margin-top: 50px;
  color: blue;
}
.licenseKey {
  font-size: 20px;
  margin-right: 50px;
  color: black;
  /*text-align: center;*/
}
.licenseKeyMessage {
  font-size: 20px;
  margin-right: 50px;
  color: black;
  /*text-align: center;*/
}

