.landingPage {
  height: 100%;
  width: 100%;
}
.diagramView {
  height: 100%;
  width: 100%;
  border: 1px solid #E6E6E6;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.diagramContainer {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
}
#sandbox-host > :first-child {
  height: 100%;
  width: 100%;
}
#sandbox-host > :first-child > :first-child {
  height: 100%;
  width: 100%;
}
#mappingPaneContainer > :first-child {
  height: 100%;
  width: 100%;
}
#embed-iframe {
  border: none;
  height: 100%;
  width: 100%;
}
.fileSelectionContainer,
.fileSelectionInput {
  background-color: #F8F8F8;
  height: 100%;
  width: 100%;
}
.urlInput {
  margin-left: 20px;
  margin-right: 20px;
}
.iconUrl {
  display: inline-flex;
  padding-top: 8px;
}
#urlInputHeader {
  font-size: 14px;
  font-family: "Segoe UI Semibold";
  padding-left: 4px;
  margin-top: 10px;
}
#urlInputHint {
  font-size: 14px;
  font-family: "Segoe UI";
  margin-top: 8px;
  margin-bottom: 8px;
}
#urlErrorDisplay {
  color: #a80000;
  margin-top: 8px;
  min-height: 42px;
}
.urlErrorContainer {
  padding-top: 4px;
}
#startPageIcon {
  font-size: 32px;
  height: 32px;
  padding: 4px;
  margin-left: -4px;
  color: #336699;
}
.urlConnectButton {
  margin-top: 16px;
}
.urlConnectButton .ms-Button--primary {
  margin-left: 2px;
  padding-left: 10px;
  padding-right: 10px;
}
.urlErrorIcon {
  font-size: 16px;
  margin-right: 4px;
}
.urlErrorText {
  display: inline;
  font-size: 12px;
  font-family: "Segoe UI";
  vertical-align: top;
}
.moreInfoIcon {
  font-size: 16px;
}
.moreInfo {
  margin-top: 32px;
  display: flex;
  font-size: 14px;
  font-family: "Segoe UI";
}
.moreInfoContent {
  padding-left: 4px;
  margin-top: -3px;
}
.visualInfo {
  padding-top: 8px;
}
#mappingPaneContainer {
  background-color: white;
  height: 100%;
  cursor: auto;
  font-size: 14px;
  font-family: "Segoe UI Semibold";
  color: #333333;
}
.paneHeader {
  position: relative;
  background-color: #E6E6E6;
  height: 40px;
  cursor: pointer;
}
.paneBody {
  max-width: 288px;
  padding-left: 16px;
}
.paneTitle {
  margin-left: 48px;
}
.disabled {
  color: #a6a6a6 !important;
  background-color: #f4f4f4 !important;
  cursor: not-allowed !important;
}
.disabledText {
  color: #a6a6a6 !important;
}
.paneExpanded {
  display: block;
  width: 320px;
  height: 100%;
  overflow-x: hidden;
  border-left: 1px solid #E6E6E6;
}
.paneCollapsed {
  background-color: #E6E6E6;
  display: block;
  width: 30px;
  height: 100%;
  border-left: 1px solid #E6E6E6;
}
.paneCollapsed:hover,
.paneToggleRotated:hover {
  background-color: #D2D2D2;
}
.paneHidden {
  display: none;
}
.paneTitleRotated {
  transform: rotate(90deg);
  margin-top: 15px;
  white-space: nowrap;
}
.paneToggle {
  position: absolute;
  top: 0px;
  left: 0px;
}
.paneToggle .ms-Button {
  background-color: #E6E6E6;
  height: 40px;
}
.paneToggleRotated {
  width: 100%;
  height: 40px;
  background-color: #E6E6E6;
  border: none;
}
div#paneToggleRotatedContainer:focus {
  border: thin solid black;
}
.verticalAlign {
  position: relative;
}
.verticalCenter {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}
.horizontalCenter {
  margin: auto !important;
}
.wellHeader {
  padding: 16px 0px;
  font-size: 13px;
  font-family: "Segoe UI Semibold";
}
.wellBody {
  background-color: white;
  border: 1px dotted lightgrey;
  padding: 8px 8px 0px 8px;
  font-size: 13px;
  font-family: "Segoe UI";
}
.wellField {
  background-color: white;
  padding: 8px;
  margin-bottom: 8px;
  cursor: pointer;
}
.wellFieldHeader {
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.wellField.show {
  border: 1px solid lightgrey;
}
.wellFieldExpanded {
  background-color: #eff6fc;
  border: none !important;
  height: 100%;
  padding: 8px;
}
.collapseButton {
  right: 15px;
  top: 50%;
  transform: translate(50%, -50%);
  position: absolute;
}
.optionRow {
  height: 30px;
  margin-top: 8px;
}
.toggleButton {
  right: 0px;
}
.optionRow .ms-Toggle {
  margin: 0px;
}
.optionRow .ms-Slider-container .ms-Label {
  width: auto;
}
.labelInput {
  right: 0px;
  width: 121px;
}
.optionRow .ms-TextField {
  margin: 0px;
}
.show {
  display: block;
}
.hide {
  display: none;
}
.paneToggleRotated.ms-Button,
.cbvButton.ms-Button {
  min-width: 0px;
  padding: 0px;
}
.selectID {
  height: 40px;
}
.dgDropdown {
  right: 0px;
}
.idDropdown {
  overflow: hidden;
  padding-top: 8px;
  padding-bottom: 8px;
  right: 0px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 65%;
}
.mappingHint {
  font-size: 13px;
  font-family: "Segoe UI";
  margin-top: 16px;
}
.idCheckboxList {
  display: inline-block;
  margin-top: 24px;
  width: 100%;
}
.idCheckbox {
  display: flex;
  float: left;
  width: 100%;
}
.idCheckbox {
  padding-left: 8px;
}
.idHeader {
  padding-bottom: 8px;
}
.checkboxLabel {
  overflow: hidden;
  padding-left: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 13px;
  font-family: "Segoe UI";
}
.licensingCheckboxCallout,
.mappingCheckboxCallout {
  padding: 16px;
  width: 240px;
}
.unlinkedRows {
  background-color: #F9E385;
  border: 1px solid #FFCC66;
}
.unlinkedRow {
  background-color: #F9E385;
}
.selectedCheckbox {
  background-color: #cde6f7;
}
.ms-Dropdown {
  font-size: 13px;
  font-family: "Segoe UI";
}
.calloutTitle {
  margin-top: -16px;
  font-family: "Segoe UI WestEuropean", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  color: #333333;
  font-weight: 300;
}
.calloutMessage {
  margin-top: -8px;
  font-family: "Segoe UI WestEuropean", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 12px;
  color: #333333;
  font-weight: 300;
}
.calloutButtonContainer {
  float: right;
}
.calloutButton {
  margin-right: 8px;
}
.calloutButton .ms-Button {
  padding-left: 16px;
  padding-right: 16px;
}
.ms-Dropdown-items {
  max-height: 290px;
}
.ms-Dropdown-container {
  min-width: 80px;
}
.cbvRow {
  display: flex;
  margin-bottom: 8px;
}
.cbvRowItem {
  width: 100px;
  min-height: 32px;
  margin-right: 16px;
}
.cbvRowItemHeader {
  min-height: 32px;
  margin: 5px 0px;
}
.fromHeader {
  left: 0px;
}
.toHeader {
  left: 90px;
}
.colorHeader {
  left: 174px;
}
.cbvColorItem {
  margin-right: 16px;
}
.colorButton {
  display: flex;
  box-sizing: border-box;
  height: 32px;
  width: 32px;
  border: 1px solid #c8c8c8;
  max-width: 100%;
  cursor: pointer;
}
.colorSelected {
  width: 24px;
  margin: 4px;
  max-height: 100%;
}
.dgError {
  margin-top: 8px;
  margin-right: 10px;
  color: #a80000;
}
.showLabel {
  height: 20px;
  width: 50px;
  right: 20px;
}
.fontSizeSlider {
  height: 30px;
  width: 120px;
}
.applyButton {
  width: 80px;
  margin: 5px;
}
.cbvButton {
  background: transparent;
  width: 32px;
}
.cbvButtonIcon {
  background: transparent;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#addButtonIcon {
  width: 215px;
  left: 108px;
  display: flex;
}
.AddIcon {
  font-size: x-large;
}
.overlayPositionDropdown {
  min-width: 50%;
}
.dgTypeDropdown {
  width: 35%;
}
.disabledControl,
.disabledControl .ms-TextField-field {
  color: #666666;
}
.newColorRange .ms-Button,
.newColorRange .ms-Button:active,
.newColorRange .ms-Button:hover {
  background-color: #eff6fc;
  border: none;
  width: 215px;
}
.cbvDeleteButton .ms-Button,
.cbvDeleteButton .ms-Button:active,
.cbvDeleteButton .ms-Button:hover {
  background-color: #eff6fc;
  border: none;
}
.cbvRow .ms-Button:active .cbvButtonIcon .ms-Icon,
.cbvRow .ms-Button:hover .cbvButtonIcon .ms-Icon,
.cbvRow .ms-Button:hover .newRangeText,
.cbvRow .ms-Button:active .newRangeText {
  background-color: #eff6fc;
  color: #0078d7;
  border: none;
}
.newRangeText {
  font-size: 12px;
  font-family: "Segoe UI";
  padding-top: 4px;
  padding-left: 4px;
  white-space: nowrap;
}
#messageBarContainer {
  position: absolute;
  width: 100%;
}
#fileSelectionMessageBarContainerDiv {
  position: absolute;
  width: 100%;
}
#largeNoOfShapesMessageBarContainer,
#copyLinkFailureMessageBarConatiner {
  display: block;
}
#messageBarContainer .ms-MessageBar-text {
  font-size: 13px;
}
#messageBarContainer .ms-Button-label {
  font-size: 14px;
  font-weight: normal;
}
#messageBarContainer .ms-Button {
  margin-top: 8px;
}
.ms-CommandBarItem-iconColor {
  color: black;
}
.ms-CommandBarItem-iconColor:active {
  background-color: #dadada;
}
.visioCommandBar {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 40px;
  width: 60px;
}
.visioCommandBar :first-child {
  background-color: transparent;
  align-items: center;
}
.copyLinkSuccessMessage {
  color: white;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 8px 16px 8px 16px;
  border-radius: 10px;
  font-size: 14px;
  font-family: "Segoe UI";
}
.changeLinkCancelButton {
  background-color: #c8c8c8;
  border-color: #c8c8c8;
  margin-left: 8px;
}
.changeLinkCancelButton.ms-Button:active,
.changeLinkCancelButton.ms-Button:hover {
  background-color: #a6a6a6;
  border-color: #a6a6a6;
}
.changeLinkCancelButton.ms-Button:active .ms-Button-label {
  color: #333333;
}
#licensingControls {
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 32px;
  background-color: #F2C811;
  right: 8px;
}
.licensingCalloutHost {
  position: absolute;
  width: 32px;
  height: 32px;
  right: 8px;
}
#licensingControls i {
  font-size: 16px;
  padding-left: 8px;
  padding-top: 8px;
}
.calloutAddOnsContainer a:link,
a:visited {
  text-decoration: none;
  margin-right: 16px;
}


/*# sourceMappingURL=visual.css.map*/