:root {
  --background-color-chonky: #FFFFFF;
  --font-color-chonky: #5A5A5A;
  --icon-color-chonky: none;
  --font-family-chonky: "wf_standard-font, helvetica, arial, sans-serif";
  --font-size: 12px;
}
button[title="Actions"] {
  display: none;
}
.chonky-extraInfoSpan {
  display: none;
}
.chonky-activeButton {
  color: var(--font-color-chonky) !important;
}
.chonky-chonkyRoot {
  border: none !important;
  background-color: var(--background-color-chonky) !important;
}
.chonky-icon-override {
  color: var(--font-color-chonky) !important;
  font-size: var(--font-size-chonky) !important;
  min-width: auto !important;
  margin-right: 8px;
}
.chonky-text-override {
  font-size: var(--font-size-chonky) !important;
}
.chonky-infoText-override {
  height: 30px;
  font-size: var(--font-size-chonky) !important;
  font-family: var(--font-family-chonky) !important;
  line-height: 30px !important;
  margin-left: 12px !important;
}
.chonky-searchFieldInputInner-override {
  height: 26px !important;
  margin: 0;
  padding: 0 8px 0 0 !important;
  font-size: var(--font-size-chonky) !important;
  font-family: var(--font-family-chonky) !important;
  line-height: 26px !important;
  -webkit-appearance: none;
}
.chonky-toolbarRight,
.chonky-toolbarLeft {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 6px !important;
  padding-top: 6px !important;
  border-bottom: var(--font-color-chonky) solid 1px;
  border-top: var(--font-color-chonky) solid 1px;
}
.chonky-fileListWrapper {
  padding-top: 8px !important;
}
[class^="baseBreadcrumb"],
[class^="Mui"],
[class^="chonky-fileListEmpty"],
.chonky-searchFieldInput,
.chonky-activeButton,
.chonky-chonkyRoot,
.chonky-infoText {
  color: var(--font-color-chonky) !important;
  font-family: var(--font-family-chonky) !important;
  font-size: var(--font-size-chonky) !important;
}
[class^="listFileEntry"] {
  font-family: var(--font-family-chonky) !important;
  font-size: var(--font-size-chonky) !important;
}
.fa-fw,
[class^="svg-inline"] {
  color: var(--icon-color-chonky) !important;
  font-family: var(--font-family-chonky) !important;
  font-size: var(--font-size-chonky) !important;
}
.MuiButton-root.Mui-disabled {
  text-decoration-color: var(--font-color-chonky) !important;
}

