.hoverDiv,
.cardDiv,
.lineChartDiv {
  position: absolute;
  left: 0;
  top: 0;
}
.lineChartDiv {
  display: none;
}
.freeText,
.freeText3 {
  position: absolute;
  font-size: 100px;
  color: #BEE3BE;
  transform: rotate(-45deg);
  opacity: 0.3;
}
.freeText2,
.freeText6 {
  opacity: 0.1;
  color: #000;
}
.freeText4,
.freeText5 {
  opacity: 0.3;
  color: #FFF;
}
.d3-tip {
  position: absolute;
  opacity: 0;
  box-sizing: border-box;
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 2px;
  pointer-events: none;
  z-index: 5;
}
.cardDiv {
  position: absolute;
  min-height: 50px;
  min-width: 30px;
}

