p {
  font-size: 20px;
  font-weight: bold;
}
p em {
  background: yellow;
  padding: 5px;
}
.tooltip {
  position: absolute;
  z-index: 1000;
  /* High z-index to ensure visibility */
  opacity: 0;
  /* Start invisible, to be managed by D3 transitions */
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 3px;
  font-size: 14px;
  white-space: nowrap;
  /* Prevents text wrapping */
}
.tooltip .close-tooltip {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 5px;
  /* Adjusted for better spacing */
  font-size: 16px;
  color: #aaa;
  pointer-events: auto;
  /* Ensure the close button receives click events */
}

