.instruction-title {
  font-weight: bold;
  font-size: medium;
  margin: 15px;
  padding: 5px;
}
.instruction-step {
  margin: 15px;
  padding: 5px;
}
.instruction-step2 {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 0px;
  padding: 5px;
}
.note-step {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  padding: 5px;
}
.input-token {
  height: 20px;
  margin: 15px;
  padding: 10px;
  width: 50%;
}
.button-submit {
  background-color: Black;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  margin: 5px;
  padding: 10px;
  text-align: center;
}
.button-submit:disabled,
.button-submit[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}
#forge-viewer {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #F0F8FF;
}
#loader {
  background-color: #F0F8FF;
  width: 100%;
  height: 100%;
  margin: 0;
}
.spinner {
  background-color: #F0F8FF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid #eee;
  border-top-color: #666;
  animation: spinner 0.8s linear infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1turn);
  }
}
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(1turn);
  }
}

