.ring_primaryMeasureSum,
.ring_secondaryMeasureSum {
  max-width: 80%;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
}
.ring_primaryMeasureIndicator,
.ring_secondaryMeasureIndicator {
  position: absolute;
  float: left;
  margin-left: 1px;
}
.ring_polyline {
  fill: none;
  stroke: grey;
  stroke-width: 1px;
  opacity: 0.4;
}
.ring_ringTitle {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.ring_pContainer {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
}
.ring_totalText,
.ring_totalValue {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  vertical-align: middle;
  margin: 0;
  white-space: nowrap;
}
.ring_secondaryText,
.ring_secondaryValue {
  margin: 0;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
}
.ring_errorMessage {
  text-align: center;
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  top: 45%;
  width: 100%;
  position: absolute;
}
.ring_legend .legendTitle {
  font-family: "Segoe UI", wf_segoe-ui_semibold, helvetica, arial, sans-serif;
  font-weight: 500;
  fill: #666666;
}
.ring_legend .legendItem {
  font-family: "Segoe UI", wf_segoe-ui_normal, helvetica, arial, sans-serif;
  cursor: pointer;
}
.ring_arc {
  cursor: pointer;
}

