p {
  font-size: 20px;
  font-weight: bold;
}
p em {
  background: yellow;
  padding: 5px;
}
.searchInput {
  margin: 0 15px 0 0;
  border: 10px solid #ccc;
  border-radius: 4px;
  padding-right: 25px;
}
.searchButton {
  border: none;
  margin-left: 15px;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  transition: all 0.5s ease;
}
.search-button-hover {
  position: relative;
}
.search-button-hover::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  pointer-events: none;
}
.clear-button {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
}
.operator-button {
  border: 0;
  cursor: pointer;
  outline: none;
  transition: all 0.5s ease;
  min-width: 35px;
  text-align: center;
}
.and-button {
  padding: 3px;
  margin-left: 3px;
  vertical-align: top;
  margin-top: 0;
}
.or-button {
  padding: 3px;
  vertical-align: bottom;
  margin-left: -35px;
}

