.coluna {
  display: flex;
}
.background-matrix-color {
  background-color: white;
}
.level {
  display: flex;
}
.initial-cell-size {
  min-width: 50px;
  min-height: 16px;
  max-height: 100px;
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 0%;
}
.level-padding {
  padding-left: 10px;
  width: auto;
  height: auto;
}
.default-cell-size {
  width: 85px;
  height: 25px;
  max-height: 100px;
  box-sizing: border-box;
  border-radius: 0%;
  overflow: hidden;
}
.cell-descendant {
  width: 85px;
  height: 25px;
}
.empty-cell-size {
  width: 10px;
  height: auto;
  min-width: 10px;
}
.top-cell-size {
  width: auto;
  height: 25px;
  overflow: hidden;
}
.fw-bold {
  font-weight: 700;
}
.table-input {
  width: 85px;
  height: 25px;
  background-color: transparent;
  border: transparent;
  border-radius: 0%;
  text-align: end;
  box-sizing: border-box;
  font-size: 12px;
}
.border-left {
  border-left: 1px solid gray;
  border: transparent;
}
.margin-left {
  margin-left: 10px;
}
.padding-div-cells {
  padding: 1px 2px;
}
.color-buttons {
  color: gray;
}
button {
  cursor: pointer;
}
div {
  cursor: default;
}
.button-icon {
  cursor: pointer;
}
* {
  box-sizing: border-box;
  touch-action: manipulation;
}
.toolbar-buttons {
  border: none;
  background-color: #d0d3d8;
  height: 20px;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}
.toolbar-buttons:hover {
  background-color: #b5b9bd;
}
.popup-splashing-button {
  background-color: #6c757d;
  border: none;
  color: white;
  padding: 10px 20px;
  display: inline-grid;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 8px;
  width: 150px;
}
.popup-splashing-button:hover {
  background-color: #5a6268;
}
.popup-cancel-splashing {
  border: none;
  position: absolute;
  display: block;
  color: black;
  background: transparent;
  top: 10px;
  right: 10px;
  min-width: 20px;
  min-height: 20px;
  z-index: 5;
}
.popup-cancel-splashing:hover {
  background-color: transparent;
}
.cancel-icon {
  font-size: 14px;
  user-select: none;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9998;
}
.popup-content {
  background-color: #fff;
  padding: 30px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 9999;
  position: relative;
  border-radius: 5px;
}
.popup-error-button {
  background-color: #555;
  color: #fff;
  border: none;
  margin-top: 1px;
  padding: 5px 13px;
  border-radius: 5px;
  cursor: pointer;
}
.popup-error-button:hover {
  background-color: #333;
}
.input-without-border:focus {
  outline: none;
  border: none;
}
#visual-container {
  position: relative;
  background-color: #FFFFFF;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
#toolbar-container {
  position: static;
  display: flex;
  z-index: 10;
  background-color: #FFFFFF;
  border-bottom: 1px solid white;
  width: 100%;
  height: 20px;
  outline: none;
}
#matrix-container {
  position: static;
  height: calc(100% - 20px) !important;
  width: 100%;
}
#content-container {
  position: relative;
  height: 100%;
  width: 100%;
  line-height: 1;
  -webkit-font-smoothing: antialiased !important;
  text-rendering: optimizeLegibility !important;
  -webkit-text-size-adjust: none;
}
#view {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#view-layout {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#names-container {
  height: 25px;
}
#empty-rectangle {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
#header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#header-view {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#header-scroll-placeholder {
  position: relative;
  height: 100%;
}
#header-content {
  position: absolute;
  top: 0;
}
.column-data {
  padding-left: 5px;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  flex-shrink: 0;
  display: grid;
  text-overflow: ellipsis;
  align-items: center;
}
.title-splashing {
  margin-top: 0px;
  margin-bottom: 10px;
}
#row-header {
  position: absolute;
  left: 0;
  overflow: hidden;
  width: 100%;
}
#row-header-view {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#row-header-scroll-placeholder {
  position: relative;
  width: 100%;
}
#row-header-content {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  overflow: hidden;
}
.row-text {
  width: 100%;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  flex-shrink: 0;
  display: inline-block;
  text-overflow: ellipsis;
}
#values {
  position: absolute;
  overflow: hidden;
}
#values-view {
  position: relative;
  overflow: auto;
  width: 100%;
  height: 100%;
}
#values-scroll-placeholder {
  position: relative;
}
#values-content {
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  top: 0;
  left: 0;
}
.values-data {
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  flex-shrink: 0;
  display: inline-block;
  text-overflow: ellipsis;
  line-height: normal;
}
.row {
  display: flex;
  white-space: nowrap;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
#loading-icon {
  font-size: 20px;
  color: black;
}
#error-icon {
  font-size: 20px;
  color: #d11515;
}
.error-info-popup {
  z-index: 9999;
  position: fixed;
  background-color: rgba(50, 50, 50, 0.9);
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  max-width: 250px;
  text-align: left;
  font-size: 16px;
  color: white;
  line-height: 1.6;
}
.helpLink {
  border: 2px solid #80B0E0;
  color: #80B0E0;
  line-height: 20px;
  background-color: #FFFFFF;
  transition: all 900ms ease;
}
.helpLink:hover {
  background-color: #DDEEFF;
  color: #5080B0;
  border-color: #5080B0;
  transition: all 250ms ease;
  cursor: pointer;
}
.helpLink.hidden {
  display: none;
}

