p {
  font-size: 20px;
  font-weight: bold;
}
p em {
  background: yellow;
  padding: 5px;
}
table {
  /* Target your table element */
  table-layout: fixed;
  width: 100%;
}
table,
th,
td {
  border-collapse: collapse;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 0;
  padding-right: 0;
  font-size: 12px;
  border: 1px solid;
  text-align: center;
  border: none;
}
.list-container {
  width: 1000px;
  /* Set a fixed width for the container */
  white-space: nowrap;
  /* Prevent list items from wrapping */
}
ul li {
  display: inline-block;
  margin: 0 10px;
}
.value-table {
  border: 1px solid;
  border-color: black;
}

