html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: transparent !important;
}
svg {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: transparent !important;
}
#arc {
  fill: none !important;
}

