p {
  font-size: 20px;
  font-weight: bold;
}
p em {
  background: yellow;
  padding: 5px;
}
#c2SPCannotation {
  width: 405px;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  display: none;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: scroll;
  background: rgba(0, 0, 0, 0.5);
}
.tooltipoverlay {
  position: fixed;
  margin: auto;
  width: 100%;
  top: 0;
  opacity: 0;
  z-index: -1;
  text-align: center;
}
.modal-outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.modal-middle {
  display: table-cell;
  vertical-align: middle;
}
.modal-inner {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  position: relative;
  background-color: white;
  padding: 10px 25px 30px 25px;
  box-shadow: 3px 9px 29px 1px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}
.modal-inner-export {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 90%;
  position: relative;
  background-color: white;
  padding: 10px 25px 30px 25px;
  box-shadow: 3px 9px 29px 1px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}
.modal-inner {
  cursor: default;
}
.modal-buttons {
  display: flex;
  flex-wrap: wrap;
}
button {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  background-color: #0092C8;
  border-radius: 4px;
  border: none;
  color: #fff;
  padding: 5px 10px 4px 10px;
  display: inline-block;
  transition: 0.2s all ease;
  margin-right: 5px;
  margin-bottom: 5px;
}
button:hover {
  cursor: pointer;
}
.bttn-close {
  position: absolute;
  top: 10px;
  right: 5px;
  background: none;
  color: #111;
}
.bttn-close::after {
  position: relative;
  top: 2px;
  content: ' ×';
  color: #777;
}
.bttn-export,
.bttn-nochange {
  color: #111;
  background: none;
}
h1 {
  font-weight: 400;
  margin-top: 20px;
  margin-top: 10px;
}
h3 {
  font-weight: 500;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.bttn-addtarget,
.bttn-markbase,
.bttn-markdefaultbase {
  background-color: #0092C8;
}
.bttn-addtarget:hover,
.bttn-markbase:hover,
.bttn-markdefaultbase:hover {
  background: #0092C8 linear-gradient(hsla(0, 0%, 100%, 0.2), transparent);
}
.bttn-ghost,
.bttn-shift,
.bttn-exeption {
  color: #0092C8;
  border: 1px solid #0092C8;
  background-color: #f6fbff;
  box-sizing: border-box;
}
.bttn-ghost:hover,
.bttn-shift:hover,
.bttn-exeption:hover {
  background: #f6fbff linear-gradient(hsla(0, 0%, 100%, 0.2), transparent);
}
.bttn-annotation:hover {
  background: #01bf75 linear-gradient(hsla(0, 0%, 100%, 0.2), transparent);
}
.bttn-filter:hover {
  background: #01bf75 linear-gradient(hsla(0, 0%, 100%, 0.2), transparent);
}
.left {
  text-align: center;
}
.annotationboxinput {
  width: 100%;
  height: 100px;
  border: 1px solid #0092C8;
  box-sizing: border-box;
  /* For IE and modern versions of Chrome */
  -moz-box-sizing: border-box;
  /* For Firefox                          */
  -webkit-box-sizing: border-box;
  box-shadow: inset 1px 2px 1px 0 #D6D6D6;
  padding: 5px;
}
.customtarget {
  width: 10%;
  height: 30px;
  border: 1px solid #0092C8;
  box-sizing: border-box;
  /* For IE and modern versions of Chrome */
  -moz-box-sizing: border-box;
  /* For Firefox                          */
  -webkit-box-sizing: border-box;
  box-shadow: inset 1px 2px 1px 0 #D6D6D6;
  padding: 2px;
  margin-right: 5px;
}
.LicenceText {
  text-align: center;
}
.bttn-annotation {
  background-color: #01bf75;
  margin-top: 10px;
}
.bttn-filter {
  background-color: #01bf75;
  margin-top: 10px;
}
.sbttn-annotation {
  background-color: #01bf75;
  display: none;
}
.sbttn-filter {
  background-color: #01bf75;
  display: none;
}
.AnnotationText {
  width: 100%;
}
.NoLicenceText {
  text-align: center;
}
.exportboxinput {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  /* For IE and modern versions of Chrome */
  -moz-box-sizing: border-box;
  /* For Firefox                          */
  -webkit-box-sizing: border-box;
}
.pointtitle {
  display: inline;
}
.focusmode {
  display: none;
}
/* Small annotation box*/
@media screen and (max-width: 589px), screen and (max-height: 333px) {
  .LicenceText {
    display: none;
  }
  h1 {
    font-weight: 400;
    margin-top: 0px;
    font-size: 20px;
  }
  h3 {
    font-weight: 400;
    margin-top: 0px;
    font-size: 15px;
  }
  .modal-inner {
    padding: 10px 25px 10px 25px;
  }
  .annotationboxinput {
    width: 100%;
    height: 50px;
    border: 1px solid #0092C8;
    box-sizing: border-box;
    /* For IE and modern versions of Chrome */
    -moz-box-sizing: border-box;
    /* For Firefox                          */
    -webkit-box-sizing: border-box;
    box-shadow: inset 1px 2px 1px 0 #D6D6D6;
    padding: 5px;
  }
  button {
    font-size: 10px;
  }
}
/* No Annotation*/
@media screen and (max-width: 389px) {
  .AnnotationText {
    display: none;
  }
  .bttn-annotation {
    display: none;
  }
  .bttn-filter {
    display: none;
  }
  .LicenceText {
    display: none;
  }
  .annotationboxinput {
    display: none;
  }
  .customtarget {
    display: none;
  }
  h1 {
    font-weight: 400;
    margin-top: 0px;
    font-size: 20px;
  }
  .modal-inner {
    padding: 10px 25px 10px 25px;
  }
  .sbttn-annotation {
    display: block;
  }
  .sbttn-filter {
    display: block;
  }
}
/* Focus mode text */
@media screen and (max-width: 240px), screen and (max-height: 240px) {
  .AnnotationText {
    display: none;
  }
  .bttn-annotation {
    display: none;
  }
  .bttn-filter {
    display: none;
  }
  .LicenceText {
    display: none;
  }
  .annotationboxinput {
    display: none;
  }
  .customtarget {
    display: none;
  }
  .modal-buttons {
    display: none;
  }
  .pointtitle {
    display: none;
  }
  .focusmode {
    display: inline;
  }
}


/*# sourceMappingURL=visual.css.map*/