.radial-grid {
  stroke: lightgray;
  stroke-dasharray: 2;
}
.angular-grid {
  stroke: lightgray;
  stroke-dasharray: 2;
}
.data-point {
  fill: steelblue;
}
.selectors {
  padding: 4px;
  margin-right: 8px;
  height: 36px;
}
.bar {
  fill: steelblue;
}

