.xaxis-labels {
  cursor: pointer;
}
.commonCells {
  cursor: pointer;
}
.landing-page-header {
  font-weight: bold;
  font-size: 20px;
}
.landing-page-text {
  display: block;
  font-weight: normal;
  font-size: 15px;
}

