#wrapper {
  margin: 15px;
  height: 80px;
  position: absolute;
  overflow: hidden;
  cursor: initial;
}
#wrapper1,
#wrapper2 {
  position: absolute;
  overflow: hidden;
  cursor: initial;
}
#textToDisplay {
  font-size: 20px;
  color: #000000;
  height: 100%;
  width: 700px;
  font-family: 'Segoe UI';
  text-align: center;
}
.slideArrows {
  width: 0px;
  height: 0px;
  border-color: #000000;
  position: absolute;
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
}
#prev {
  transform: rotate(-135deg);
  left: 5px;
  border-right: 10px solid #777380;
}
#prev:hover {
  border-right: 10px solid #15b96d;
}
#next {
  transform: rotate(45deg);
  right: 3px;
  border-right: 10px solid #777380;
}
#next:hover {
  border-right: 10px solid #15b96d;
}
#bottom {
  transform: rotate(-45deg);
  margin-top: 5px;
  border-top: 10px solid #777380;
}
#bottom:hover {
  border-top: 10px solid #15b96d;
}
#top {
  transform: rotate(135deg);
  top: -4px;
  margin-left: 10px;
  border-right: 10px solid #777380;
}
#top:hover {
  border-right: 10px solid #15b96d;
}
.containers {
  background: #efefef;
  border-left: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #333333;
  float: left;
  font-family: 'Segoe UI';
  font-weight: bold;
  height: 80px;
  cursor: initial;
}
.tliName {
  color: #043c74;
  font-size: 12px;
  height: 35px;
  margin-left: 5px;
  padding-top: 6px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.tliPrice {
  height: auto;
  margin-top: 1%;
  margin-left: 10px;
  margin-right: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
}
.tliChange {
  height: auto;
  margin-top: 1%;
  margin-right: 10px;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.tliChangePrice {
  height: auto;
  margin-top: 1%;
  margin-right: 10px;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.tliChangeNegative {
  color: #ff0000;
}
.tliChangeNeutral {
  color: #0000ff;
}
.tliChangePositive {
  color: #009900;
}
.tliChangePriceNegative {
  color: #ff0000;
}
.tliChangePriceNeutral {
  color: #0000ff;
}
.tliChangePricePositive {
  color: #009900;
}
.arrow {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  display: inline-block;
  height: 0;
  margin-top: 3%;
  margin-right: 10px;
  width: 0;
}
.arrowDown {
  border-top: 10px solid #f00;
}
.arrowUp {
  border-bottom: 10px solid #009900;
}
.indicator {
  background: #ffffff;
  display: inline-block;
  height: 5px;
  margin-right: 10px;
  overflow: hidden;
  width: 15px;
}
.indicatorKPIOne {
  margin-top: 1.4%;
}
.indicatorKPIThree {
  margin-top: 2%;
}
.neutral {
  background: #00f;
}
.fade-enter {
  opacity: 0;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease;
}
.fade-appear {
  opacity: 0;
}
.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 1000ms ease;
}
.fade-exit {
  opacity: 1;
}
.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 1000ms ease;
}


/*# sourceMappingURL=visual.css.map*/