p {
  font-size: 20px;
  font-weight: bold;
}
p em {
  background: yellow;
  padding: 5px;
}
body {
  font-family: Helvetica;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
}
.categoryLabel {
  font-family: Helvetica;
  font-size: 14px;
  font-weight: normal;
  color: black;
  background: rgba(0, 0, 0, 0) !important;
  border: none !important;
  box-shadow: none !important;
  padding: 5px;
  text-shadow: 1px 1px 1px white;
  text-align: right;
  margin-left: 5px;
}
.calloutValue {
  font-family: arial;
  font-size: 16px;
  font-weight: normal;
  color: blue;
  background: rgba(0, 0, 0, 0) !important;
  border: none !important;
  box-shadow: none !important;
  padding: 2px;
  text-shadow: 1px 1px 1px white;
  text-align: left;
}
.imageValue {
  max-width: 50%;
  max-height: 50%;
}
.cardTitle {
  font-family: Helvetica;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background: #000078;
  border: #00a2ff;
  border-style: solid;
  border-width: 2px;
  padding: 5px 10px;
  text-align: center;
  margin-top: 5px;
  margin-left: 5px;
  width: 250px;
}
.table {
  border-left: 2px solid grey;
  margin-top: 5px;
  margin-left: 8px;
  width: 100%;
}
.paneContent {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px;
}
.paneContent table:nth-child(even) {
  background-color: rgba(155, 153, 255, 0.2);
}
.tooltip {
  opacity: 0;
  font-family: arial;
  font-size: 14px;
  font-weight: normal;
  color: black;
  text-align: left;
  border: 1px solid black;
  padding: 1px 5px;
  background: rgba(255, 255, 255, 0.9);
  position: relative;
  z-index: 1;
  width: fit-content;
}
.watermark {
  position: absolute;
  top: 72px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  z-index: 20000;
}
.watermark span {
  font-size: 24px;
  font-weight: bold;
  color: blue;
  opacity: 0.2;
}

