p {
  font-size: 20px;
  font-weight: bold;
}
p em {
  background: yellow;
  padding: 5px;
}
.overlayCorner {
  position: absolute;
  bottom: 0px;
  right: 0px;
  font-size: 10px;
  padding: 0.2em 0.2em;
  background-color: #dddddd;
  z-index: 999;
}

