canvas,
.plan-container,
.fpe {
  width: 100%;
  height: 100% !important;
  max-height: 100% !important;
}
.plan-wrapper {
  position: relative;
  height: 100%;
}

#app {
  height: 100vh;
}
#legend {
  float: right;
  height: calc(15% - 40px);
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
#gradient-cont {
  position: relative;
  height: 100%;
  width: 100px;
}
#gradient-bar {
  height: 80%;
  width: 100px;
}
#min-value {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-50%, 100%);
}
#max-value {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(50%, 100%);
}
#default-cont {
  height: 100%;
  display: flex;
}
.default-wrapper {
  margin-left: 12px;
}
.default-wrapper span {
  margin-left: 4px;
  vertical-align: top;
}
.default-bars {
  display: inline-block;
  height: 80%;
  width: 30px;
}
.fullHeight {
  height: 100%;
}
.withLegend {
  height: 85%;
}
.fpe {
  height: 100%;
}
h3 {
  margin-top: 0;
}
#token-id-warning {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#token-id-warning p {
  font-weight: 500;
}

