body {
  font-family: Sans-serif;
  font-size: 11px;
}
.slice {
  cursor: pointer;
}
.slice .main-arc {
  stroke: #fff;
  stroke-width: 1px;
}
.slice .hidden-arc {
  fill: none;
}
.slice text {
  pointer-events: none;
  text-anchor: middle;
}
.legend {
  cursor: default;
}
#legendGroup {
  cursor: pointer;
}
.legendTitle {
  cursor: default;
}
.landingPageHeader {
  font-weight: bold;
  font-size: 20px;
}
.landingPageText {
  display: block;
  font-weight: normal;
  font-size: 15px;
}
.ring_polyline {
  fill: none;
  opacity: 0.4;
  stroke: #808080;
  stroke-width: 1px;
}
.mainSvg {
  cursor: default;
}

