p {
  font-size: 20px;
  font-weight: bold;
}
p em {
  background: yellow;
  padding: 5px;
}
::-webkit-scrollbar {
  height: 6px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
  -webkit-box-shadow: rgba(153, 150, 150, 0.3);
  border-radius: 3px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: rgba(113, 111, 111, 0.4);
  -webkit-box-shadow: rgba(188, 185, 185, 0.4);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(84, 82, 82, 0.5);
}
.parent {
  width: 100%;
  height: calc(100% - 60px);
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: 700;
  flex-direction: column;
  align-items: center;
}
.row {
  width: 510px;
  display: flex;
  padding: 10px;
}
.link {
  font-size: 24px;
  color: #547ff5;
  cursor: pointer;
  margin-left: 10px;
  text-decoration-line: underline;
}
#container {
  height: 30px;
  position: absolute;
  z-index: 999;
  bottom: 32px;
  right: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 2px 17px 0px;
  display: flex;
  background: #fff;
  line-height: 30px;
  padding: 10px;
}
.info {
  cursor: pointer;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 600;
}
.bnt {
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  color: #547ff5;
}
.parent {
  width: 100%;
  height: calc(100% - 60px);
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: 700;
  flex-direction: column;
  align-items: center;
}
.row {
  width: 510px;
  display: flex;
  padding: 10px;
}
.link {
  font-size: 24px;
  color: #547ff5;
  cursor: pointer;
  margin-left: 10px;
  text-decoration-line: underline;
}
.box {
  display: flex;
  flex-direction: column;
}
.box1 {
  display: flex;
  flex-direction: column-reverse;
}

