div {
  font-size: 5vh;
  font-weight: bold;
}
div em {
  /*background: yellow;*/
  padding: 5px;
}
.applyButton {
  flex: 1 1 auto;
}
.buttonContainer {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  height: 10vh;
}
.pasteContainer {
  display: flex;
  flex-direction: row;
  gap: 1vw;
}
.pasteArea {
  flex: 1 1 auto;
  padding: 1vw;
  justify-self: center;
  height: 80vh;
  width: 90vw;
}

