/* .unselecteditem {background-color: #FFFFFFB3;color: #444;padding: 10px;font-family:'Segoe UI';border: solid 0px #8080806b;margin: 5px;  } */
.color-picker,
.color-picker *,
.color-picker ::after,
.color-picker ::before,
.color-picker::after,
.color-picker::before {
  box-sizing: border-box;
}
.color-picker {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.5);
}
.color-picker > div {
  display: flex;
  height: 10em;
  border: 1px solid #000;
  color: #000;
}
.color-picker > div * {
  border-color: inherit;
  color: inherit;
}
.color-picker i {
  font: inherit;
  font-size: 12px;
}
.color-picker\:a,
.color-picker\:h,
.color-picker\:sv {
  background-size: 100% 100%;
  position: relative;
}
.color-picker\:a,
.color-picker\:h {
  width: 1.5em;
  border-left: 1px solid;
  cursor: ns-resize;
  overflow: hidden;
}
.color-picker\:a div,
.color-picker\:h div,
.color-picker\:sv div {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.color-picker\:a i,
.color-picker\:h i {
  display: block;
  height: 0.5em;
  position: absolute;
  top: -0.25em;
  right: 0;
  left: 0;
  z-index: 2;
}
.color-picker\:a i::before,
.color-picker\:h i::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 0.25em solid;
  border-top-color: transparent;
  border-bottom-color: transparent;
}
.color-picker\:sv {
  width: 10em;
  cursor: crosshair;
  overflow: hidden;
}
.color-picker\:sv i {
  display: block;
  width: 0.75em;
  height: 0.75em;
  position: absolute;
  top: -0.375em;
  right: -0.375em;
  z-index: 2;
}
.color-picker\:sv i::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid #fff;
  border-radius: 100%;
  box-shadow: 0 0 2px #000;
}
.color-picker\:a div {
  z-index: 2;
}
.color-picker\:a div + div {
  background-image: linear-gradient(45deg, #ddd 25%, transparent 25%, transparent 75%, #ddd 75%, #ddd 100%), linear-gradient(45deg, #ddd 25%, #fff 25%, #fff 75%, #ddd 75%, #ddd 100%);
  background-size: 0.5em 0.5em;
  background-position: 0 0, 0.25em 0.25em;
  z-index: 1;
}
.color-picker\:h div {
  background-image: linear-gradient(to top, red 0, #ff0 17%, #0f0 33%, #0ff 50%, #00f 67%, #f0f 83%, red 100%);
}
.color-picker\:sv div + div {
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
}
.color-picker\:sv div + div + div {
  background-image: linear-gradient(to top, #000, rgba(0, 0, 0, 0));
}
.color-picker\:a,
.color-picker\:h,
.color-picker\:sv {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
p {
  font-size: 12px;
}
#contentDiv {
  transition: width 0.5s;
  transition-timing-function: ease;
  cursor: default;
}
#contentDiv [vaction] {
  cursor: pointer;
}
#settingsDiv {
  height: 100%;
  right: 0px;
  margin-left: 5px;
  width: 275px;
  bottom: 0px;
  position: absolute;
  border-left: solid 3px #f2c811;
  background: white;
  transition: right 0.5s;
  transition-timing-function: ease;
  z-index: 1;
  display: flex;
  flex-flow: column;
}
#ybut {
  float: left;
  background-color: #f2c811;
  margin-left: -1px;
  padding-left: 12px;
  width: 60px;
  text-align: left;
  transition: all 0.5s;
  transition-timing-function: ease;
}
.condiv {
  flex: 1 1 auto;
  overflow: auto;
  right: 0px;
  top: 67px;
  left: 0px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.tab {
  overflow: hidden;
  border-bottom: 1px solid #ccc;
}
/* Style the buttons inside the tab */
.tab button {
  background-color: rgba(255, 255, 255, 0);
  float: left;
  border: none;
  border-bottom: solid 3px white;
  outline: none;
  cursor: pointer;
  padding: 8px;
  transition: 0.3s;
  font-size: 12px;
  height: 34px;
}
label {
  font-size: 12px;
  line-height: 30px;
  display: block;
}
.detail {
  text-align: right;
  display: block;
  padding-left: 20px;
  margin-top: -30px;
  min-height: 30px;
}
/* Change background color of buttons on hover */
.tab button:hover {
  border-bottom: solid 3px rgba(128, 128, 128, 0.5);
}
/* Create an active/current tablink class */
.tab button.active {
  border-bottom: solid 3px #f2c813;
}
/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px;
  border-top: none;
  font-size: 12px;
  animation: 100ms both fadeInLeft;
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(120px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.proptitle {
  font-size: 14px;
  font-weight: 500;
  margin: 15px 0px 5px;
  color: #383838;
}
.textinput {
  padding: 0px 0px 0px 6px;
  height: 26px;
  border: solid 0px #c8c8c8;
  background-color: #efefef;
  font-size: 11px;
  margin: 2px;
  outline: none;
}
.textinput:disabled {
  color: #9e9e9e;
}
button {
  padding: 2px 5px;
  height: 25px;
  text-align: center;
  border: solid 1px #c8c8c8;
  background-color: #efefef;
  color: darkslategrey;
  font-size: 11px;
  vertical-align: middle;
  outline: none;
}
.fxinput {
  border-radius: 1px 11px 11px 1px;
  width: 16px;
  background-color: #efefef;
  letter-spacing: -2px;
  font-size: 10px;
  height: 25px;
  margin: -1px 0px 1px 0px;
  padding: 0px 2px 0px 0px;
  border: none;
}
.fxinput:hover {
  filter: brightness(90%);
  /* background-color: #e1dfdd; */
}
.yel {
  background-color: #f2c811;
}
.sel {
  height: 26px;
  filter: grayscale(1);
  padding-left: 2px;
  /* font-size: 12px; */
}
input[type=number]::-webkit-inner-spin-button {
  opacity: 1;
  top: 0px;
  right: 0px;
  bottom: 0px;
  margin: 0px;
  padding: 0px;
}
input[type=text] {
  font-size: 12px;
}
.formatpane {
  margin: 10px;
  /* padding-top: 5px; */
  overflow-x: hidden;
  animation: 100ms both fadeInL;
}
@keyframes fadeInL {
  0% {
    opacity: 0;
    transform: translateX(120px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.paneTitle {
  font-size: 16px;
  font-weight: 500;
  padding: 34px 10px 8px 14px;
  color: #605e5c;
  border-bottom: solid 1px #a19f9f;
  margin: 0px 0px 0px 3px;
}
.navbar {
  width: 100%;
  flex: 0 1 auto;
}
.navbar a {
  float: right;
  text-align: center;
  padding: 5px;
  color: #605e5c;
  font-size: 11px;
}
.navbar a:hover {
  color: #181818;
}
/* .active {
  background-color: #f2c811;
} */
.agac {
  position: absolute;
  background-color: #80808080;
  width: 0.8px;
  bottom: 15px;
  top: -8px;
  margin-left: 0px;
}
.childs {
  position: relative;
  margin-left: 15px;
}
.childs .layeritem:before {
  content: "";
  background-color: #80808080;
  position: absolute;
  left: 0px;
  height: 1px;
  width: 8px;
  margin-top: 8px;
  z-index: -10;
}
.layeritem {
  font-size: 13px;
  background-color: #edebe9;
  border-radius: 3px;
  margin: 8px 8px;
  padding: 8px;
  height: 16px;
  width: auto;
}
#settingsDiv [type=defs] {
  display: none;
}
.layeritem:hover {
  background-color: #afadab;
}
#changeimage {
  border: none;
}
/* The Modal (background) */
.modal {
  position: absolute;
  z-index: 1;
  padding-top: 120px;
  padding-bottom: 20px;
  left: 0;
  top: 0;
  bottom: 0px;
  width: 100%;
  overflow: auto;
  background-color: #ffffffab;
}
/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #bbbbbb;
  width: 75%;
}
.modal-content > button {
  padding: 4px;
  min-width: 18px;
  margin: 0px 0px 0px 6px;
}
.modal-content > .avd > .textarea {
  background-color: white;
  margin: 4px;
  height: 100px;
  width: 190px;
  resize: vertical;
  padding: 4px;
  border: solid 1px #c8c8c8;
  font-size: 13px;
  font-family: monospace;
  outline: none;
  overflow-y: scroll;
}
.formulapreview {
  margin: 12px 4px;
  padding-right: 2px;
  text-align: right;
  font-size: 16px;
  font-weight: 600;
  color: #afafaf;
  height: 28px;
  overflow-y: overlay;
  word-break: break-all;
}
/* The Close Button */
.close,
.apply,
.reset {
  width: 62px;
  font-weight: bold;
  margin: 0px 2px;
}
.apply:disabled {
  color: #9e9e9e;
}
.close:hover,
.apply:hover,
.reset:hover {
  background-color: #c5c5c5;
}
/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.247);
  border-radius: 2px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
@keyframes uparrow {
  0% {
    transform: translateY(0);
    opacity: 0.7;
  }
  100% {
    transform: translateY(-0.4em);
    opacity: 0.9;
  }
}
.arrow {
  border-color: transparent;
  border-style: solid;
  border-width: 0px 10px;
  display: block;
  height: 0;
  opacity: 0.4;
  transform-origin: 50% 50%;
  width: 0;
  top: 10px;
  right: 0px;
  position: absolute;
  animation: uparrow 0.6s infinite alternate ease-in-out;
  border-bottom: 10px solid #555555;
}
.arrow > span {
  position: absolute;
  left: -140px;
  background-color: #555555;
  color: white;
  padding: 10px;
  margin-top: 16px;
  right: -10px;
}
.colorDot {
  border: solid 1px gray;
  border-radius: 14px;
  height: 13px;
  width: 13px;
  margin-left: 3px;
  vertical-align: unset;
}
.colorButton {
  font-size: 10px;
  border: none;
  padding: 0px 4px;
  margin-right: 2px;
  margin-top: -1px;
  height: 26px;
}
.colorButton:disabled {
  color: gray;
}
.propInput {
  text-align: left;
  border: none;
  color: #e8e8e8;
  margin-left: 5px;
  width: 100px;
}
.tooltip {
  position: relative;
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  margin-left: 2px;
}
.tooltiptext {
  visibility: hidden;
  width: 180px;
  left: -90px;
  background-color: #5b5b5b;
  color: #ffffff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 110%;
  line-height: normal;
  transition: opacity 0.3s;
}
.tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -2.5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
/* button group css */
/* .buttongroup{text-align: right;} */
.buttongroup label {
  margin: 0px 2px;
  border: 0px;
  padding: 3px 4px;
  display: inline;
  color: gray;
}
.buttongroup label:hover {
  border-bottom: 2px solid #9e9e9e;
}
.buttongroup > input {
  display: none;
}
.buttongroup > input:checked + label {
  border-bottom: 2px solid #5c5c5c;
  color: #5c5c5c;
}
.galleryitem {
  display: flex;
  border-radius: 5px;
  border: solid 1px #e9e9e9;
  width: 90%;
  height: 75px;
  padding: 3px;
  margin: 0px 0px 6px 6px;
  font-size: 10px;
  background: #f3f2f152;
}
.galleryitem > span {
  padding: 12px;
  font-size: 11px;
}
.galleryitem:hover {
  background-color: #f2c811;
  border: solid 1px #f2c811;
  /* transform: scale(1.05); */
}
.im {
  flex: 1 0 auto;
  background-size: cover;
  width: 106px;
}
.buttonhalf {
  background-color: #f2c811;
  border-radius: 3px;
  padding: 6px;
  text-align: center;
  margin: 5px 5px 5px 0px;
  width: 95px;
  display: inline-block;
}
.pcr-app .pcr-interaction .pcr-save {
  background: #656565 !important;
}
.pcr-color-preview:before,
.pcr-palette:before {
  opacity: 0.2;
}
.yellowbt {
  font-size: 14px;
  background-color: #f2c811;
  border-radius: 3px;
  padding: 10px;
  text-align: center;
}
.yellowbt:hover {
  background-color: #ffcf00;
}
.hide {
  display: none;
}
.tablecontainer {
  max-width: 300px;
  overflow: auto;
}
.ttable {
  font-size: 11px;
  display: flex;
  flex-direction: column;
  height: 200px;
  margin-bottom: 5px;
}
.ttrow {
  display: flex;
  flex-direction: row;
  width: max-content;
}
.ttrow > div {
  border: 2px solid #eeeeee;
  padding: 6px;
  font-weight: normal;
  width: 80px;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ttrow > div:first-child {
  width: 30px;
}
.tthead {
  background: black;
  color: white;
}
.tcell.cat:not(.yel) {
  background-color: #feffef;
}
.tcell:hover {
  border: 2px dashed black;
  cursor: pointer;
  background-color: #f2c811;
}
#contentDiv .opa30 {
  opacity: 0.3;
}
#contentDiv.editmode .clone {
  pointer-events: none;
}
#contentDiv:not(.editmode) .pointernone {
  pointer-events: none;
}
/*
 *  Power BI Visualizations
 *
 *  Copyright (c) Microsoft Corporation
 *  All rights reserved.
 *  MIT License
 *
 *  Permission is hereby granted, free of charge, to any person obtaining a copy
 *  of this software and associated documentation files (the ""Software""), to deal
 *  in the Software without restriction, including without limitation the rights
 *  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 *  copies of the Software, and to permit persons to whom the Software is
 *  furnished to do so, subject to the following conditions:
 *
 *  The above copyright notice and this permission notice shall be included in
 *  all copies or substantial portions of the Software.
 *
 *  THE SOFTWARE IS PROVIDED *AS IS*, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 *  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 *  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 *  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 *  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 *  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 *  THE SOFTWARE.
 */
.clearCatcher {
  fill-opacity: 0;
}
p {
  font-size: 20px;
}
p em {
  background: yellow;
  padding: 5px;
}

/*! Pickr 1.8.1 MIT | https://github.com/Simonwep/pickr */
.pickr {
  position: relative;
  overflow: visible;
  transform: translateY(0);
}
.pickr * {
  box-sizing: border-box;
  outline: none;
  border: none;
  -webkit-appearance: none;
}
.pickr .pcr-button {
  position: relative;
  height: 2em;
  width: 2em;
  padding: 0.5em;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
  border-radius: 0.15em;
  background: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" stroke="%2342445A" stroke-width="5px" stroke-linecap="round"><path d="M45,45L5,5"></path><path d="M45,5L5,45"></path></svg>') no-repeat 50%;
  background-size: 0;
  transition: all 0.3s;
}
.pickr .pcr-button:before {
  background: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 2"><path fill="white" d="M1,0H2V1H1V0ZM0,1H1V2H0V1Z"/><path fill="gray" d="M0,0H1V1H0V0ZM1,1H2V2H1V1Z"/></svg>');
  background-size: 0.5em;
  z-index: -1;
  z-index: auto;
}
.pickr .pcr-button:after,
.pickr .pcr-button:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.15em;
}
.pickr .pcr-button:after {
  transition: background 0.3s;
  background: var(--pcr-color);
}
.pickr .pcr-button.clear {
  background-size: 70%;
}
.pickr .pcr-button.clear:before {
  opacity: 0;
}
.pickr .pcr-button.clear:focus {
  box-shadow: 0 0 0 1px hsla(0, 0%, 100%, 0.85), 0 0 0 3px var(--pcr-color);
}
.pickr .pcr-button.disabled {
  cursor: not-allowed;
}
.pcr-app *,
.pickr * {
  box-sizing: border-box;
  outline: none;
  border: none;
  -webkit-appearance: none;
}
.pcr-app button.pcr-active,
.pcr-app button:focus,
.pcr-app input.pcr-active,
.pcr-app input:focus,
.pickr button.pcr-active,
.pickr button:focus,
.pickr input.pcr-active,
.pickr input:focus {
  box-shadow: 0 0 0 1px hsla(0, 0%, 100%, 0.85), 0 0 0 3px var(--pcr-color);
}
.pcr-app .pcr-palette,
.pcr-app .pcr-slider,
.pickr .pcr-palette,
.pickr .pcr-slider {
  transition: box-shadow 0.3s;
}
.pcr-app .pcr-palette:focus,
.pcr-app .pcr-slider:focus,
.pickr .pcr-palette:focus,
.pickr .pcr-slider:focus {
  box-shadow: 0 0 0 1px hsla(0, 0%, 100%, 0.85), 0 0 0 3px rgba(0, 0, 0, 0.25);
}
.pcr-app {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 10000;
  border-radius: 0.1em;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0s 0.3s;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
  box-shadow: 0 0.15em 1.5em 0 rgba(0, 0, 0, 0.1), 0 0 1em 0 rgba(0, 0, 0, 0.03);
  left: 0;
  top: 0;
}
.pcr-app.visible {
  transition: opacity 0.3s;
  visibility: visible;
  opacity: 1;
}
.pcr-app .pcr-swatches {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.75em;
}
.pcr-app .pcr-swatches.pcr-last {
  margin: 0;
}
@supports (display:grid) {
  .pcr-app .pcr-swatches {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, 1.75em);
  }
}
.pcr-app .pcr-swatches > button {
  font-size: 1em;
  position: relative;
  width: calc(1.75em - 5px);
  height: calc(1.75em - 5px);
  border-radius: 0.15em;
  cursor: pointer;
  margin: 2.5px;
  flex-shrink: 0;
  justify-self: center;
  transition: all 0.15s;
  overflow: hidden;
  background: transparent;
  z-index: 1;
}
.pcr-app .pcr-swatches > button:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 2"><path fill="white" d="M1,0H2V1H1V0ZM0,1H1V2H0V1Z"/><path fill="gray" d="M0,0H1V1H0V0ZM1,1H2V2H1V1Z"/></svg>');
  background-size: 6px;
  border-radius: 0.15em;
  z-index: -1;
}
.pcr-app .pcr-swatches > button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--pcr-color);
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 0.15em;
  box-sizing: border-box;
}
.pcr-app .pcr-swatches > button:hover {
  filter: brightness(1.05);
}
.pcr-app .pcr-swatches > button:not(.pcr-active) {
  box-shadow: none;
}
.pcr-app .pcr-interaction {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 -0.2em;
}
.pcr-app .pcr-interaction > * {
  margin: 0 0.2em;
}
.pcr-app .pcr-interaction input {
  letter-spacing: 0.07em;
  font-size: 0.75em;
  text-align: center;
  cursor: pointer;
  color: #75797e;
  background: #f1f3f4;
  border-radius: 0.15em;
  transition: all 0.15s;
  padding: 0.45em 0.5em;
  margin-top: 0.75em;
}
.pcr-app .pcr-interaction input:hover {
  filter: brightness(0.975);
}
.pcr-app .pcr-interaction input:focus {
  box-shadow: 0 0 0 1px hsla(0, 0%, 100%, 0.85), 0 0 0 3px rgba(66, 133, 244, 0.75);
}
.pcr-app .pcr-interaction .pcr-result {
  color: #75797e;
  text-align: left;
  flex: 1 1 8em;
  min-width: 8em;
  transition: all 0.2s;
  border-radius: 0.15em;
  background: #f1f3f4;
  cursor: text;
}
.pcr-app .pcr-interaction .pcr-result::-moz-selection {
  background: #4285f4;
  color: #fff;
}
.pcr-app .pcr-interaction .pcr-result::selection {
  background: #4285f4;
  color: #fff;
}
.pcr-app .pcr-interaction .pcr-type.active {
  color: #fff;
  background: #4285f4;
}
.pcr-app .pcr-interaction .pcr-cancel,
.pcr-app .pcr-interaction .pcr-clear,
.pcr-app .pcr-interaction .pcr-save {
  width: auto;
  color: #fff;
}
.pcr-app .pcr-interaction .pcr-cancel:hover,
.pcr-app .pcr-interaction .pcr-clear:hover,
.pcr-app .pcr-interaction .pcr-save:hover {
  filter: brightness(0.925);
}
.pcr-app .pcr-interaction .pcr-save {
  background: #4285f4;
}
.pcr-app .pcr-interaction .pcr-cancel,
.pcr-app .pcr-interaction .pcr-clear {
  background: #f44250;
}
.pcr-app .pcr-interaction .pcr-cancel:focus,
.pcr-app .pcr-interaction .pcr-clear:focus {
  box-shadow: 0 0 0 1px hsla(0, 0%, 100%, 0.85), 0 0 0 3px rgba(244, 66, 80, 0.75);
}
.pcr-app .pcr-selection .pcr-picker {
  position: absolute;
  height: 18px;
  width: 18px;
  border: 2px solid #fff;
  border-radius: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.pcr-app .pcr-selection .pcr-color-chooser,
.pcr-app .pcr-selection .pcr-color-opacity,
.pcr-app .pcr-selection .pcr-color-palette {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  flex-direction: column;
  cursor: grab;
  cursor: -webkit-grab;
}
.pcr-app .pcr-selection .pcr-color-chooser:active,
.pcr-app .pcr-selection .pcr-color-opacity:active,
.pcr-app .pcr-selection .pcr-color-palette:active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}
.pcr-app[data-theme=monolith] {
  width: 14.25em;
  max-width: 95vw;
  padding: 0.8em;
}
.pcr-app[data-theme=monolith] .pcr-selection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}
.pcr-app[data-theme=monolith] .pcr-selection .pcr-color-preview {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.5em;
}
.pcr-app[data-theme=monolith] .pcr-selection .pcr-color-preview:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 2"><path fill="white" d="M1,0H2V1H1V0ZM0,1H1V2H0V1Z"/><path fill="gray" d="M0,0H1V1H0V0ZM1,1H2V2H1V1Z"/></svg>');
  background-size: 0.5em;
  border-radius: 0.15em;
  z-index: -1;
}
.pcr-app[data-theme=monolith] .pcr-selection .pcr-color-preview .pcr-last-color {
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  border-radius: 0.15em 0 0 0.15em;
  z-index: 2;
}
.pcr-app[data-theme=monolith] .pcr-selection .pcr-color-preview .pcr-current-color {
  border-radius: 0 0.15em 0.15em 0;
}
.pcr-app[data-theme=monolith] .pcr-selection .pcr-color-preview .pcr-current-color,
.pcr-app[data-theme=monolith] .pcr-selection .pcr-color-preview .pcr-last-color {
  background: var(--pcr-color);
  width: 50%;
  height: 100%;
}
.pcr-app[data-theme=monolith] .pcr-selection .pcr-color-palette {
  width: 100%;
  height: 8em;
  z-index: 1;
}
.pcr-app[data-theme=monolith] .pcr-selection .pcr-color-palette .pcr-palette {
  border-radius: 0.15em;
  width: 100%;
  height: 100%;
}
.pcr-app[data-theme=monolith] .pcr-selection .pcr-color-palette .pcr-palette:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 2"><path fill="white" d="M1,0H2V1H1V0ZM0,1H1V2H0V1Z"/><path fill="gray" d="M0,0H1V1H0V0ZM1,1H2V2H1V1Z"/></svg>');
  background-size: 0.5em;
  border-radius: 0.15em;
  z-index: -1;
}
.pcr-app[data-theme=monolith] .pcr-selection .pcr-color-chooser,
.pcr-app[data-theme=monolith] .pcr-selection .pcr-color-opacity {
  height: 0.5em;
  margin-top: 0.75em;
}
.pcr-app[data-theme=monolith] .pcr-selection .pcr-color-chooser .pcr-picker,
.pcr-app[data-theme=monolith] .pcr-selection .pcr-color-opacity .pcr-picker {
  top: 50%;
  transform: translateY(-50%);
}
.pcr-app[data-theme=monolith] .pcr-selection .pcr-color-chooser .pcr-slider,
.pcr-app[data-theme=monolith] .pcr-selection .pcr-color-opacity .pcr-slider {
  flex-grow: 1;
  border-radius: 50em;
}
.pcr-app[data-theme=monolith] .pcr-selection .pcr-color-chooser .pcr-slider {
  background: linear-gradient(90deg, red, #ff0, #0f0, #0ff, #00f, #f0f, red);
}
.pcr-app[data-theme=monolith] .pcr-selection .pcr-color-opacity .pcr-slider {
  background: linear-gradient(90deg, transparent, #000), url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 2"><path fill="white" d="M1,0H2V1H1V0ZM0,1H1V2H0V1Z"/><path fill="gray" d="M0,0H1V1H0V0ZM1,1H2V2H1V1Z"/></svg>');
  background-size: 100%, 0.25em;
}


/*# sourceMappingURL=visual.css.map*/