.main-content {
  border: 3px solid #444444;
  background: #ffffff;
  box-sizing: border-box;
}
.container {
  margin: 0 auto;
  padding-top: 10px;
}
.header {
  height: 40px;
  background: #444444;
  width: 100%;
}
.header p {
  text-align: center;
  color: #ffffff;
  font-size: 24px;
  margin: 0;
}
.world-legend-container {
  position: absolute;
  bottom: 5px;
  left: 5px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.world-legend-container .legend {
  display: flex;
  width: 100%;
  margin-bottom: 5px;
  align-items: center;
}
.world-legend-container .legend .color {
  width: 50px;
  height: 50px;
  margin-right: 5px;
}
.world-legend-container .legend .year {
  font-weight: bold;
}
.datamaps-popup {
  position: absolute;
  top: 20%;
  width: 250px;
  left: calc(50% - 125px);
  background: #ffffff;
  border: 2px solid #444444;
  font-size: 18px;
  padding: 30px;
}
.datamaps-popup a {
  word-break: break-word;
}
.datamaps-popup .close-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  border: 2px solid #444444;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-wrap {
  display: flex;
  width: 100%;
}
.container-wrap .region-map-wrap {
  flex: 1;
  margin-right: 10px;
  margin: 0 auto;
}
.container-wrap .region-map-wrap .region-header {
  height: 70px;
  background: #4b5062;
  background: linear-gradient(180deg, #4b5062 0%, #5c6378 100%);
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.container-wrap .region-map-wrap .region-header p {
  margin: 0;
}
.container-wrap .highlights {
  flex: 1;
}
.container-wrap .highlights .highlights-header {
  height: 70px;
  background: #4b5062;
  background: linear-gradient(180deg, #4b5062 0%, #5c6378 100%);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.container-wrap .highlights .highlights-content li {
  list-style-type: inherit;
}
.regional-legend-container {
  position: absolute;
  bottom: 0;
  left: 0px;
  overflow: auto;
  display: flex;
  box-sizing: border-box;
  padding-left: 10px;
}
.regional-legend-container .legend {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  align-items: center;
  margin-right: 15px;
}
.regional-legend-container .legend .color {
  width: 50px;
  height: 50px;
  margin-right: 5px;
}
.regional-legend-container .legend .year {
  font-weight: bold;
}
@media print {
  body {
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
  }
}

