p {
  font-size: 20px;
  font-weight: bold;
}
p em {
  background: yellow;
  padding: 5px;
}
.unsubscribe {
  font-size: 20px;
  text-align: center;
  text-decoration: underline;
  /*margin-top: 50px;*/
  color: blue;
  cursor: pointer;
}
.activateTrial {
  font-size: 20px;
  margin-top: 50px;
  color: blue;
}

