.globeMapView {
  width: 100%;
  height: 100%;
  position: relative;
}
.controls-container {
  position: fixed;
  right: 5px;
  bottom: 5px;
  z-index: 1000;
  pointer-events: none;
}
.controls {
  pointer-events: all;
  width: 145;
  height: 145;
}
.control circle {
  fill: white;
  stroke: gray;
  opacity: 0.5;
}
.control path,
.control rect {
  fill: gray;
}

