/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
code[class*="language-"],
pre[class*="language-"] {
  color: black;
  background: none;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}
pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  text-shadow: none;
  background: #b3d4fc;
}
@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}
/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f5f2f0;
}
/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}
.token.punctuation {
  color: #999;
}
.token.namespace {
  opacity: 0.7;
}
.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #905;
}
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #690;
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #9a6e3a;
  /* This background color was intended by the author of this theme. */
  background: hsla(0, 0%, 100%, 0.5);
}
.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}
.token.function,
.token.class-name {
  color: #DD4A68;
}
.token.regex,
.token.important,
.token.variable {
  color: #e90;
}
.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}

th.sticky {
  position: sticky;
  top: 0;
}
#codejar-css-editor {
  height: 100%;
  width: 100%;
}
#sandbox-host[overflow='scroll'] {
  overflow: auto !important;
}
#sandbox-host[overflow='scrollX'] {
  overflow-x: auto !important;
}
#sandbox-host[overflow='scrollY'] {
  overflow-y: auto !important;
}
.xpedited-default-styling:not(.off) html {
  overflow: auto;
  height: auto;
  font-family: "Segoe UI", sans-serif;
}
.xpedited-default-styling:not(.off) p {
  margin: 5px 0 0 0;
}
.xpedited-default-styling:not(.off) table {
  border-collapse: collapse;
  width: 100%;
  font-size: 15px;
}
.xpedited-default-styling:not(.off) table th {
  text-align: left;
  padding: 5px;
  background-color: #F2F2F2;
  height: 60px;
  color: #808080;
  font-weight: normal;
}
.xpedited-default-styling:not(.off) table th.sorted-asc:after {
  content: " ▲";
}
.xpedited-default-styling:not(.off) table th.sorted-desc:after {
  content: " ▼";
}
.xpedited-default-styling:not(.off) table td {
  padding: 5px;
}
.xpedited-default-styling:not(.off) table tr {
  border-bottom: 2px solid #D5D2CE;
}
.xpedited-default-styling:not(.off) table tr:last-of-type {
  border: none;
}
.xpedited-default-styling:not(.off) table tr.selected {
  background-color: #f5f5f5;
}
.xpedited-default-styling:not(.off) table tr:hover:not(.selected) {
  background-color: #FCFCFC;
}
.xpedited-default-styling:not(.off) div.empty-state {
  text-align: center;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  display: flex;
}
.xpedited-default-styling:not(.off) div.empty-state div {
  display: inline-block;
  margin: auto auto;
}
.xpedited-default-styling:not(.off) .pagination {
  margin-top: 10px;
  text-align: center;
}
.xpedited-default-styling:not(.off) .btn-pagination {
  border-radius: 10%;
  display: inline-block;
  color: #B8BEC0;
  background: none;
  border: 1px solid #B8BEC0;
  padding: 6px 10px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  margin: 0 5px;
}
.xpedited-default-styling:not(.off) .btn-pagination.current {
  background: #6DA0E1;
  border: none;
  color: white;
}
.xpedited-default-styling:not(.off) img {
  border-radius: 4px;
  max-width: 100px;
  vertical-align: middle;
}
.xpedited-default-styling:not(.off) header {
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.xpedited-default-styling:not(.off) dd {
  margin: 0;
  padding: 0;
  font-weight: 600;
}
.xpedited-default-styling:not(.off) dt {
  color: #808080;
  float: left;
  clear: left;
}
.xpedited-default-styling:not(.off) dt::after {
  content: ":\00a0";
}

