:root {
  --tooltipFontSize: 13px;
  --tooltipMaxWidth: 300px;
  --selectedNodeColor: #000000;
  --nodeBorderColor: #7c7c7c;
  --visualBorderColor: #606060;
  --visualBorderWidth: 3px;
  --nodeBorderWidth: 1px;
  --highlightBarColor: red;
  --selectedHighlightBarColor: blue;
}
html {
  border: var(--visualBorderColor) solid var(--visualBorderWidth);
  border-radius: 2px;
  height: calc(100vh - 2 * var(--visualBorderWidth));
  width: calc(100vw - 2 * var(--visualBorderWidth));
}
body {
  cursor: default !important;
}
svg {
  width: 100vw;
  height: 100vh;
}
.node {
  stroke-width: var(--nodeBorderWidth);
  stroke: var(--nodeBorderColor);
  fill: transparent;
}
.selectedNode {
  stroke: var(--selectedNodeColor);
}
.duplicateNode {
  stroke: #ff0000;
}
.highlightBar {
  fill: var(--highlightBarColor);
}
.selectedNode_g .highlightBar {
  fill: var(--selectedHighlightBarColor);
}
.tooltip {
  position: absolute;
  background-color: white;
  box-shadow: 0px 0px 10px lightgray;
  padding: 10px;
  pointer-events: none;
  font-size: var(--tooltipFontSize);
  max-width: var(--tooltipMaxWidth);
}
.copyValueMenu {
  position: absolute;
  background-color: white;
  box-shadow: 0px 0px 4px #b4b4b4;
  padding: 7px 10px;
  padding-top: 5px;
  font-size: var(--tooltipFontSize);
  max-width: var(--tooltipMaxWidth);
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s ease;
  animation-name: fadeInOppacity;
  animation-duration: 0.8s;
  animation-timing-function: ease-out;
}
.copyValueMenu:hover {
  background-color: #f0f0f0;
}
.copyFeedback {
  position: absolute;
  background-color: #4caf50;
  color: white;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 12px;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  /* Move the elment by -50% of its width -> centering it */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 0.3s ease;
}
.copyFeedback.fade-out {
  opacity: 0;
}
.link {
  stroke: #999;
  stroke-opacity: 0.6;
  fill: none;
}
.label {
  fill: #333;
  pointer-events: none;
}
.textSelectionTspan {
  user-select: text;
  pointer-events: auto;
}
#errorMessageLabel {
  display: inline-block;
  color: red;
  font-weight: bold;
  font-size: 16px;
  position: absolute;
  top: 10vh;
  left: 45px;
  right: 45px;
  text-align: left;
  pointer-events: auto;
  user-select: text;
  background-color: rgba(255, 255, 255, 0.925);
}
#warningMessageLabel {
  display: inline-block;
  color: red;
  font-weight: bold;
  font-size: 14px;
  position: absolute;
  bottom: 15px;
  left: 15px;
  right: 15px;
  text-align: left;
  pointer-events: auto;
  user-select: text;
  background-color: rgba(255, 255, 255, 0.925);
}
.sizeMeasureCanvas {
  display: none;
}
.expandingNode {
  animation-name: fadeInOppacity;
  animation-duration: 0.4s;
  animation-timing-function: ease-out;
}
.loader {
  border: 9px solid #f3f3f3;
  /* Light grey */
  border-top: 9px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1.8s linear infinite, fadeInOppacity 0.75s linear;
  pointer-events: none;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeInOppacity {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
.landingPage_LicenseDiv {
  display: inline-block;
  color: #636363;
  background-color: #e1e1e1;
  border: 2px #e1e1e1 solid;
  border-radius: 999px;
  padding: 3px;
  padding-left: 7px;
  padding-right: 7px;
}
.biAutomationLink {
  display: block;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
.landingPageHeader {
  display: flex;
  align-items: center;
  margin: 10px;
}
.landingPageHeader h1 {
  margin: 0;
  margin-left: 5px;
}
.landingPageTitle {
  margin: 0;
  margin-left: 5px;
  margin-bottom: 10px;
  font-size: 26px;
}
.landingPageDiv {
  overflow-y: auto;
  max-height: 100%;
  margin: 5px;
}
.gotToOurWebsiteParagraph {
  margin-top: 7px;
}
.gotToOurWebsiteParagraph span,
.gotToOurWebsiteParagraph a {
  display: inline;
}
.carouselContainer {
  display: flex;
  align-items: center;
  vertical-align: middle;
}
.carousel {
  flex-grow: 1;
  margin: 5px;
  overflow: hidden;
}
.carousel-content {
  display: flex;
  transition: transform 0.5s ease;
}
.carousel-item {
  min-width: 100%;
}
.carouselContainer button {
  height: 80px;
  width: 24px;
  border-radius: 999px;
  border: none;
  background-color: rgba(211, 211, 211, 0.3);
  font-size: 40px;
  padding: 0;
  text-align: center;
  text-overflow: visible;
  margin: 5px;
  padding: 1px;
  padding-top: 0;
  padding-bottom: 4px;
}
.carouselContainer button:hover {
  background-color: rgba(211, 211, 211, 0.5);
}
.carousel-content h1 {
  font-size: 26px;
}
.carousel-content h2 {
  font-size: 16px;
}
.loaderContainer {
  position: absolute;
  display: flex;
  pointer-events: none;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.clickable {
  cursor: pointer;
}

