.tick line {
  opacity: 0.1;
  stroke-width: 2;
  stroke-dasharray: 5 5;
}
.container {
  position: absolute;
  top: 0;
  margin: 0;
}
.helpLink {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.helpLink:hover {
  background-color: #45a049;
}

