html,
body {
  position: absolute;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.infonice-message-box {
  position: absolute;
  /* Stay in place */
  z-index: 20000;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: #000000;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  display: flex;
  align-items: center;
}
.infonice-message-box-body {
  position: relative;
  background-color: #e0e0e0;
  margin: auto;
  /* 15% from the top and centered */
  padding: 10px;
  border: 1px solid #888;
  align-self: center;
  min-width: 250px;
  min-height: 100px;
}
.infonice-message-box-close {
  color: #aaa;
  float: right;
  right: 10px;
  top: 10px;
  position: absolute;
  cursor: pointer;
}
.infonice-message-box-seperator {
  margin: 6px 0 0 0;
  border-top: 1px solid #999;
}
.infonice-message-box-control-area {
  display: flex;
  justify-content: flex-end;
}
.infonice-message-box-control-area > button {
  margin: 4px;
}
/*Overall Layout*/
div.infonice-layout-container {
  position: relative;
}
div.infonice-layout-version {
  z-index: 1000;
  position: absolute;
  left: 0px;
  bottom: 0px;
  font-size: xx-small;
  opacity: 0;
}
div.infonice-layout-version:hover {
  opacity: 0.3;
}
div.infonice-layout-toolbar {
  z-index: 1000;
  position: absolute;
  right: 0px;
  top: 0px;
}
.infonice-layout-toggle {
  position: absolute;
  z-index: 10000;
  top: 10px;
  right: 22px;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: 32px 32px;
  background-position: center center;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAIAAAD8GO2jAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAflJREFUeNrsls1LAlEUxS1CcTEtbAq0jVqhLXSKUqESMoPI2gbRfxfRpqAPIS3oY6EJqREaqJOhLrQon4IOJc6iOvWgXdrUc+dbPQXvufd37r2+nmKxqNVqVZ05jUajD9F1Ol2HBKrVaq+qw6cr0Pb0/e1nhFRC4UtcrFbLuNXCXuDp+blMKrIslx4ec/nC4oJHo1EzQ5RI3Mavb8ZGR3h+AB/z+cLm1jYzDwAnLYqrvqVs9l6SJEGw4cvPUkoPbAROzy8AJJUWXU6HXq9PpTK4oBSe5xkIRGNxs8lYlyRCiMlsrFSqG+trV9GYb3mJgQeAAD8Fuz0Ujni9nrMzlDKfzohOx1Q/x/3Xg2ZTDl1GkCkQuedm8rkCZQJJp2OawaCh68ctFsTFHfnC5wnBRiUZTDLSbMoyoCMuHKY+X0XjkGwB57cCn3DCEUQMBE/cszPfPkOS9uh/BQLBY0BPJJPDBsPXHBDqMyQZLDsMLcwEB2omoKN/qORPfalAgA4t4h4FTyh6wW6j/QNKDNZ1mRAEQqbDBj3dnYM8TyXZrGuQwbbBZdHrgasatWb/0N9icSquACjEu+z+gZ+KwWcURDcomwqQ6cvLa61W39nde3t/4zhupd1YKf7DcTmnhwZBnleERYHA5ITQfbZ0Bdp2EV7YeAN37vn+IcAASNj2nXziQ68AAAAASUVORK5CYII=);
}
.infonice-layout-container:hover .infonice-layout-toggle {
  opacity: 1;
  transition: opacity 0s;
}
.infonice-layout-container:not(hover) .infonice-layout-toggle {
  opacity: 0;
  transition: opacity 0.5s linear;
}
div.infonice-layout-workarea {
  width: 100%;
  height: 100%;
  position: relative;
}
div.infonice-layout-chartarea {
  height: 100%;
  overflow: auto;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}
div.infonice-layout-panel {
  background-color: lightgray;
  width: 260px;
  height: 100%;
  float: right;
  position: relative;
}
div.infonice-layout-closepanel {
  position: absolute;
  top: 5px;
  right: 2px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: center center;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAASNJREFUeNrElm0NwjAQhtkZAAk4YBImAQmgAAULITOAA5CABCQMJ0zBuCYtodB1va9wyZsu/fM865q7VeM4Lv5ZEB5OXbdzsQYio8acIwHc2OJycbGUcHBc7phDkAgn4DYf/tlE4gO+xAyY61vg2LZPXBoriQS8QWYf3QEriRw8ErCQmIP/CGhKlMCTAhoSpfBJAYkEBZ4V4EhQ4bMCFAkOvEigRIILd1VRhhGCVh608Vt7TM+FkwUmJAYunCWQkSDDi+9AotY+odwJ1KL/AUGTEXVMkLZXadsGCdx9c2nbBglcY3aAFC6VAM3BwpEAzcHCkQBNOEcCtOFUCbCAUyTACl4qAZbwEonvO6AOz0jE49ifwsICnhjl7iVv7P8BzXoJMAARqUKKMRmFqwAAAABJRU5ErkJggg==);
}
div.infonice-close-dialog {
  position: absolute;
  top: 2px;
  right: 18px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: center center;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAASNJREFUeNrElm0NwjAQhtkZAAk4YBImAQmgAAULITOAA5CABCQMJ0zBuCYtodB1va9wyZsu/fM865q7VeM4Lv5ZEB5OXbdzsQYio8acIwHc2OJycbGUcHBc7phDkAgn4DYf/tlE4gO+xAyY61vg2LZPXBoriQS8QWYf3QEriRw8ErCQmIP/CGhKlMCTAhoSpfBJAYkEBZ4V4EhQ4bMCFAkOvEigRIILd1VRhhGCVh608Vt7TM+FkwUmJAYunCWQkSDDi+9AotY+odwJ1KL/AUGTEXVMkLZXadsGCdx9c2nbBglcY3aAFC6VAM3BwpEAzcHCkQBNOEcCtOFUCbCAUyTACl4qAZbwEonvO6AOz0jE49ifwsICnhjl7iVv7P8BzXoJMAARqUKKMRmFqwAAAABJRU5ErkJggg==);
}
div.infonice-layout-tablist {
  display: none;
}
div.infonice-layout-tab {
  float: left;
  margin-left: 4px;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}
div.infonice-layout-tab.selected {
  background-color: #e6e6e6;
}
div.infonice-layout-editorlist {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
div.infonice-layout-editor {
  background: #e6e6e6;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
div.infonice-layout-editor-title {
  height: 30px;
  background-color: #2f2f2f;
  color: white;
  padding-left: 10px;
  line-height: 30px;
  font-family: 'Segoe UI';
  font-size: 14px;
}
div.infonice-layout-editor-content {
  position: absolute;
  width: 100%;
  top: 30px;
  bottom: 0px;
}
line.infonice-smallmultiple-vseparator {
  stroke: lightgray;
  stroke-width: 1;
}
line.infonice-smallmultiple-hseparator {
  stroke: lightgray;
  stroke-width: 1;
}
.nav-bar {
  font-family: 'Segoe UI';
  font-size: 12px;
  padding: 4px 10px;
}
.nav-bar select {
  border: 0;
  height: 24px;
  font-size: 12px;
}
.nav-bar a {
  color: steelblue;
  cursor: pointer;
  text-decoration: none !important;
}
.nav-bar a:hover {
  color: rebeccapurple;
  cursor: pointer;
}
.settings-sections {
  margin-left: 6px;
}
.setting-item-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.setting-item-list-item {
  margin: 2px 8px;
  padding: 2px;
  list-style: none;
}
.setting-item-title {
  display: inline-block;
  width: 120px;
  font-family: 'Segoe UI';
  font-size: 12px;
  color: #777;
}
.btn-reset-colors {
  margin-left: 8px;
  font-size: 12px;
  padding: 4px;
  border: 1px solid #aaa;
}
/***********************************************************/
/*********************InfoNice Styles Begin ****************/
/***********************************************************/
.infonice-settings-pane {
  background-color: #EEE;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 260px;
  border-top: 1px solid #ddd;
  -ms-touch-action: none;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: 'Segoe UI';
  font-size: 12px;
}
.infonice-settings-pane input {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 0;
}
.infonice-settings-pane select {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 0;
}
.infonice-mark-editing-header {
  position: absolute;
  left: 4px;
  height: 22px;
  right: 4px;
  top: 2px;
}
.infonice-mark-editing-header button {
  width: 24px;
  height: 24px;
}
.infonice-mark-editing-toolbar {
  position: absolute;
  left: 4px;
  top: 2px;
}
.infonice-mark-editing-toolbar button {
  margin: 2px;
  width: 24px;
  height: 24px;
  border: 0;
  padding: 0;
  background-color: #EEE;
  color: #777;
}
.infonice-mark-editing-toolbar button:not(:disabled):hover {
  background-color: #ccc;
}
.infonice-mark-editing-toolbar button:disabled {
  opacity: 0.5;
}
.infonice-mark-editing-toolbar button:disabled:hover {
  background-color: #E6E6E6;
}
.infonice-mark-editing-toolbar button.down {
  background-color: #aaa;
}
.infonice-mark-editing-toolbar button.down:hover {
  background-color: #aaa;
}
.infonice-mark-editing-toolbar select {
  background-color: #ccc;
  border: 0;
  height: 24px;
  width: 70px;
  margin: 2px;
  vertical-align: middle;
}
.infonice-mark-editing-toolbar > div,
.infonice-mark-editing-toolbar > span,
.infonice-mark-editing-toolbar > button,
.infonice-mark-editing-toolbar > select,
.infonice-mark-editing-toolbar > input {
  vertical-align: middle;
}
.infonice-mark-editing-canvas {
  position: absolute;
  /*background-color: #ddd;*/
  left: 28px;
  height: 192px;
  right: 28px;
  top: 36px;
  /*border: 1px solid #aaa;*/
}
.infonice-mark-settings {
  position: absolute;
  left: 0px;
  top: 250px;
  bottom: 0px;
  right: 0px;
  overflow-y: auto;
  background-color: #999;
  /*-moz-box-shadow: inset 0 0 3px #000000;
    -webkit-box-shadow: inset 0 0 3px #000000;
    box-shadow: inset 0 0 3px #000000;*/
}
.infonice-mark-settings button {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 0;
}
.infonice-mark-settings-empty-message {
  font-size: 14px;
  color: #eee;
  margin: 8px;
}
.infonice-mark-settings-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.infonice-mark-settings-header {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 24px;
  background-color: #666;
  padding-top: 0;
}
.infonice-mark-settings-header-item {
  display: inline-block;
  padding: 4px 8px;
  cursor: pointer;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  color: #ccc;
}
.infonice-mark-settings-header-item.selected {
  font-weight: bold;
  color: #eee;
}
.infonice-mark-settings-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 24px;
  background-color: #eee;
}
.infonice-mark-settings-page-container {
  position: absolute;
  left: 1px;
  right: 1px;
  top: 1px;
  bottom: 1px;
}
.infonice-mark-settings-page {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  visibility: hidden;
}
.infonice-toggle-btn-grp label {
  font-size: 12px;
}
.infonice-toggle-btn-grp {
  margin: 2px 0;
}
.infonice-toggle-btn {
  text-align: center;
  margin: 2px 2px;
  color: #000;
  padding: 0.4em 0.6em;
  background-color: #eee;
  border-radius: 4px;
  display: inline-block;
  border: solid 2px #eee;
  cursor: pointer;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.infonice-toggle-btn-grp.joint-toggle .infonice-toggle-btn {
  margin: 2px 0;
  border-radius: 0;
}
.infonice-toggle-btn-grp.joint-toggle .infonice-toggle-btn:first-child {
  margin-left: 2px;
  border-radius: 4px 0px 0px 4px;
}
.infonice-toggle-btn-grp.joint-toggle .infonice-toggle-btn:last-child {
  margin-right: 2px;
  border-radius: 0px 4px 4px 0px;
}
.infonice-toggle-btn:hover {
  border: solid 2px #a0d5dc;
}
.infonice-toggle-btn.success {
  border: solid 2px #777;
}
.infonice-toggle-btn.h-center {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAG1JREFUeNpi/P//P0Njc/MBBgYGewbSwMH62loHJgYKAQuULgBiARL1fgARjCAvUMMFYAAMiwZiNAH93oDVAJAckRbDDaA4ECkOA+pE46BISAuA+ACJeh/QJCE5EJmQDuBKSPuJjX6qRSNAgAEAlMUjjiD7N6gAAAAASUVORK5CYII=);
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  padding: 0;
}
.infonice-toggle-btn.h-left {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAGJJREFUeNpibGhq+s9AOnCsr609AGIwMVAIWECmkaHvAozB+P//f8pc0Njc3ECMQqCfG3B5oZ5Iy7AaQHEgUhwGlEcjMBAHPiE1kqHvAVUTkgORCekALi/sJzbKaRKNAAEGALWKH1C7+fslAAAAAElFTkSuQmCC);
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  padding: 0;
}
.infonice-toggle-btn.h-right {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFJJREFUeNpi/P//PwMINDY3OwCp/QwkAiYGCgELEvsCEDuSagAjzAvUcAEKAIZJA0UGAEE9XQKR4jCgXjQOioT0AOSQQZWQHChNSPvpEogAAQYA0jEYqbB6QqAAAAAASUVORK5CYII=);
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  padding: 0;
}
.infonice-toggle-btn.h-stretch {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHFJREFUeNpi/P//P8NAAiaGAQajDmBB5qSnp2MkiJkzZzJSagk+cwdnFDQ0NNDEMmzmDq40QGz8Dd9cgA34+vpSbMnmzZtHC6IhnAbwxd/ICAFa1QWjJeFoSThaEI2WhKMl4WijFAYYRzunA+0AgAADAJKvKuVaqdAgAAAAAElFTkSuQmCC);
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  padding: 0;
}
.infonice-toggle-btn.v-middle {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIVJREFUeNpi/P//PwMlgImBQkCxASyNzc0JQNqhvrY2Acgm2T8sQDwBxABqViDLBSDbQQygCx4ADWkk2QCgxgtAjQJQ/gFSDWBsaGpaAKQNoC55T04sGFAUC0hh8AHoFUdyDICF/gWYYaSGwQcoG+SV++SEQQEQbwBFIzlhwDj0MxNAgAEAlPoocef369cAAAAASUVORK5CYII=);
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  padding: 0;
}
.infonice-toggle-btn.v-top {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHlJREFUeNpibGhqWsDAwGAAxA5A/J6BRMAE1awAxAIMZAAWqM0C9bW1Dxqbmx3JMYAByXYHcgw4APIC0HaQV+rJMeAClP2BnDBg/P//PwMlgAXqdANgIC4Asg+QGwb8UM325BhQAGJAo/Eg3cOAiYFCMGoAAwNAgAEAVmYiTQmHT90AAAAASUVORK5CYII=);
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  padding: 0;
}
.infonice-toggle-btn.v-bottom {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIBJREFUeNpi/P//PwMlgImBQjBqAAMDS2NzcwKIUV9buwDIPkCqAYwNTU0fgDQ/ECsC8X2SXQDEDkBsAHTBA6ALDpLsAkoTEigMFoBcAHXJe3JiAaRZAYgFyHIB1GYFaBg0kmMACHyA0gfIMQCkSQFoO8gr+8kx4AKaK0gCAAEGAO9+JG5F10qAAAAAAElFTkSuQmCC);
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  padding: 0;
}
.infonice-toggle-btn.v-stretch {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIBJREFUeNpi/P//PwMlgImBQjBqAAMDS2NzcwKIUV9buwDIPkCqAYwNTU0fgDQ/ECsC8X2SXQDEDkBsAHTBA6ALDpLsAkoTEigMFoBcAHXJe3JiAaRZAYgFyHIB1GYFaBg0kmMACHyA0gfIMQCkSQFoO8gr+8kx4AKaK0gCAAEGAO9+JG5F10qAAAAAAElFTkSuQmCC);
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  padding: 0;
}
.infonice-tool-button {
  width: 32px;
  height: 32px;
  border: 1px solid #bbb;
  border-radius: 3px;
  background: #ddd;
  margin-left: 4px;
  padding: 0;
  line-height: 32px;
  z-index: 10;
}
.infonice-tool-button:hover {
  border: 1px solid #48f6f1;
}
.infonice-tool-button:active {
  border: 1px solid #a0d5dc;
}
.infonice-property-item {
  margin-top: 4px;
  margin-bottom: 6px;
  margin-left: 8px;
  margin-right: 4px;
  display: flex;
  align-items: center;
  min-height: 32px;
}
.infonice-property-item:first-child {
  margin-top: 10px;
}
.infonice-property-item > div,
.infonice-property-item > span,
.infonice-property-item > button,
.infonice-property-item > select,
.infonice-property-item > input {
  vertical-align: middle;
}
.infonice-property-item label {
  font-weight: normal;
}
.infonice-property-content {
  margin-left: 0px;
  flex-grow: 1;
  flex-shrink: 1;
}
.infonice-property-content > div,
.infonice-property-content > span,
.infonice-property-content > button,
.infonice-property-content > select,
.infonice-property-content > input {
  vertical-align: middle;
  margin-right: 4px;
}
.infonice-property-content > input {
  width: 80px;
  height: 24px;
}
.infonice-property-content > select {
  width: 100px;
  height: 24px;
}
.infonice-property-content > input[type='checkbox'] {
  width: 40px;
}
.infonice-property-title {
  font-size: 12px;
  color: #777;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 110px;
  align-content: flex-end;
}
.infonice-extended-property-item {
  min-height: 32px;
}
.infonice-extended-property-item > .infonice-property-item {
  min-height: 24px;
}
.infonice-dropdown {
  position: relative;
  display: inline-block;
}
.infonice-dropdown-button {
  border: 1px solid #ababab;
  background: #ddd;
  line-height: 32px;
  height: 32px;
  cursor: pointer;
  padding: 0 0.75em;
}
.infonice-dropdown-button:hover,
.infonice-dropdown-button:focus {
  background: #eee;
}
.infonice-dropdown-content {
  display: none;
  position: fixed;
  right: 0px;
  min-width: 280px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 20000;
}
.infonice-dropdown-content.show {
  display: block;
}
.infonice-dropdown-button .caret {
  display: inline-block;
  width: 0px;
  height: 0px;
  margin-left: 4px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.infonice-tab {
  position: relative;
  border: 1px solid gray;
  width: 350px;
  height: 300px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.infonice-tab-header-container {
  position: absolute;
  width: 100px;
  top: 0px;
  bottom: 0px;
  background-color: #ccc;
}
.infonice-tab-content-container {
  position: absolute;
  left: 100px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  background-color: #eee;
  overflow-x: hidden;
  overflow-y: scroll;
}
.infonice-tab-header-item {
  padding: 0.6em 1em;
  background-color: #ccc;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  font-size: 11px;
}
.infonice-tab-header-item:hover {
  background-color: #ddd;
}
.infonice-tab-header-item.selected {
  background-color: #eee;
}
.infonice-tab-content-item {
  margin: 8px;
  font-size: 10px;
}
.infonice-items-view-container {
  position: absolute;
  padding: 4px;
  top: 4px;
  bottom: 4px;
  background-color: #eee;
  left: 4px;
  right: 4px;
}
.infonice-items-view-item {
  position: relative;
  margin: 6px 6px 0px 0px;
  width: 42px;
  height: 42px;
  float: left;
  padding: 2px;
  cursor: pointer;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #999999;
}
.infonice-items-view-item:hover {
  background-color: #ccc;
}
.infonice-items-view-item-thumbnail {
  /*position: absolute;
    left: 4px;
    top: 4px;*/
}
.infonice-items-view-item-title {
  position: absolute;
  bottom: 0px;
  font-size: 10px;
}
.infonice-property-editor-length-text {
  width: 80px;
  padding: 0;
  height: 24px;
  /*line-height: 24px;*/
}
.infonice-property-editor-length-select {
  width: 50px;
  margin-left: 4px;
  padding: 0px;
  height: 24px;
  /*line-height: 24px;*/
}
.infonice-btn-insert-shape {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAARVJREFUeNqMU8ERgjAQBCZ/sALpQDoQOqAESvCjb976wQ4owRKwA+0AOrAD3NXFySABbmYnmVxub+9yMX3fey47HY9up8wsXThfLv5cAjM6iLEQLwQ+vBXmswQERtjfgD1wBxL5Q2ADspdLQaDghll1OQV4VgBP+ZwWAJUk53Ym7KkoBSIkKeYIcuDgaCAJS/pB0krtH0G40DAq2QHbqURmRaNjrRnJoCIdK+hwmM8QMOsVKhv1y1NZREYFNR0gacbPhbNEPRpUVCL8zUmADZlaPpetRJ3/ZB2ItVaWku8gKaAUeyhfp6B4YoCYsGBZxnqyoS77UunoS6nSY3/qN0o+M6QzH4nl1X8EGpZhLtqF543eAgwA38CB6w6TWaQAAAAASUVORK5CYII=);
  background-position: center center;
  background-repeat: no-repeat;
}
.infonice-btn-insert-text {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAKZJREFUeNpi+P//PwMIl5aUfADiCzA+sZiJAQjKSksDgNQDINYHshUYSAAsUBpkwAEk9gSgQTZA2oSgAUCFAlBNDlBXJIAMAGINIDYgoN+DBaqZAaqJAeaNru7uOUD2HHy6geouMEENWADU4ADCQPZFJEMJApAB/iADkMQWQL1BHCA12pAxKNph0fiEgUzABKX/UGoAw6gB5ANYZvoBSpZk6FcGCDAAZMZ/xviVPRQAAAAASUVORK5CYII=);
  background-position: center center;
  background-repeat: no-repeat;
}
.infonice-btn-insert-image {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAPlJREFUeNqcU9ENgyAURNMBHIERHMEROgIjUJv22+8mbRzBERyBERjBEdzAvqNHQhsbFZIX8pA73917FJf2NiulvMpbtRICtyyLyglgy6O/bK/3SsLGvMwou5HohER/EchBLdFtoV/Pxyibln1CXkCH7CgJH3AIUw3vOxpsBTCvyAkeaILPcqkhiWP0JHSocK0iEFQEe5ZoCcT5xBzSRiExawQ+ghOdA0gJstSN3Ere/xL8M8tTnhHQwBwS0UaPdm62EcZJ1DQsSjSUCK/0rjlIQTCTEkM1uwcp8QUdiab7Q5MoIBce0Kf8sE5H5zhOYEqAEXa5z/ktwABMipsL/TzkfwAAAABJRU5ErkJggg==);
  background-position: center center;
  background-repeat: no-repeat;
}
.infonice-btn-arrange {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAANNJREFUeNqsU8ENgzAMJKh7tN0kI7BBGaEP0jfv8ukIYQNGoJOETpL6kFMhy2mklkjGsXI+20diYoyVtm7OteR6Dvv7MHgNZySBTJReEn0IShVz58Z1XUP+UWo1Q3St6QOCI9nMVloJh5xmHYFYT8x6IRu5k0VUVjEHpQKAgRJGISISnxJcExCHgeMzsVp4jsO3M+SiA7T6IrNsnttvmbwS4yQccpb/f2NGRJu5SLMUEffAa+rnKspi0GDazLVqwHP7tBdrq8G0jwa7PKZfn/NbgAEARLqhjHD6GgAAAAAASUVORK5CYII=);
  background-position: center center;
  background-repeat: no-repeat;
}
.infonice-btn-delete {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAKJJREFUeNpi/P//PwM6KCstbQBS9WjCjV3d3Q3oahlBBgA1eAHZ05DEWYD4DxA/gPINgBhk00eYAqBhCjCFIHANSfEBBkyALObAgGYTyLQHQFccgLIbGPAAqPfggAmHoglQOgGIDZDF0AETDosMoDTInwJoYkQZQDQYNWAwG7AAKQk/QBNjwEjK6ACYnBdA6QPoYoQMACVdBwKuVkB2DUCAAQD5KzN3sxayTQAAAABJRU5ErkJggg==);
  background-position: center center;
  background-repeat: no-repeat;
}
.infonice-btn-settings {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACcAAAAoCAMAAAE9LCNEAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAzUExURQAAAH9/f39/f39/f39/f39/f39/f39/f319fX5+fn5+fn5+fn5+fn5+fn5+fn5+fn9/f7wYcMIAAAAQdFJOUwAQIDBAUGBwgI+fr7/P3+8jGoKKAAAACXBIWXMAABcRAAAXEQHKJvM/AAAB7ElEQVQ4T3VUCZaDIAxFa+tSldz/tPOXYLEz898TQhKyYynlwFemCKz4osxay1scIYAkrEJqaJxTMqm8YqVcvFeyR4pOkA9cFg8YcweiJjvgMWIlFfHkysgghqeIuSz4YivxkIJuzAVC0Ig+vQX0aaLA0OUNWhDQZ7x8Nqhu+PzM075rNfNBGj4J+rEyVOEGejC4kLmWg5tCZm2yfHTs9AElWE2PEjSYp4AO2UmGgTRRznqLHdyvs69jW9OFQGsOQ2URVioKKDMwxeo4BbFabeq7chPL5bFxEjsjorj5u+RgcjxYNRu2sF+hNzi2XxLuKzrN07vxeCRmy8XLGbSLiXPyAsE8VenPjDYgruxqMjhXKi/ANlYV39eEk97o4FZsKsBUp5eYFhpo9RiWJH5BRW1Jqa5Hjtgdm9Tg6r0+MyeV5MKiuAYN7B21j87y9HrHlCrEzcz+kIWpxWBPYiUHOLqX7KeScGpqMfBdiJYLYAPuoVMbOXM5rXkfUOMGvbVshsh0xMYD+4wA1ytPu7XMo87xac/x8wwyCGSWXRjQ96vnXbrtR5AYmyePwhn13DfzusJMMpboKnHldmzb/klU6Met/ZZ67MOTfemb11c/0f8ILrS0OfaN/nP4UK0ah8coU8in8j+Guk2+kSjlB4isLjt549K6AAAAAElFTkSuQmCC);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 16px;
}
.infonice-setting-section-title {
  background-color: #bbb;
  cursor: pointer;
  padding: 2px 2px 4px 2px;
  margin: 1px;
  font-size: 10px;
  font-weight: bold;
}
.infonice-setting-section-title:before {
  content: '';
  display: inline-block;
  width: 0px;
  height: 0px;
  margin-left: 4px;
  margin-bottom: 2px;
  margin-right: 4px;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.infonice-setting-section-title.collapsed {
  background-color: #777;
  color: #ccc;
  padding: 2px 2px 4px 2px;
}
.infonice-setting-section-title.collapsed:before {
  content: '';
  display: inline-block;
  width: 0px;
  height: 0px;
  margin-left: 4px;
  margin-bottom: 0px;
  margin-right: 4px;
  border-left: 4px solid;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}
.infonice-setting-section-content {
  display: block;
  background-color: #E6E6E6;
  margin: 0px 1px 4px 1px;
  padding: 2px 0;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
/***Begin Color Picker***/
.infonice-color-picker {
  padding: 4px 5px;
  cursor: pointer;
  border: 0;
  background-color: #ccc;
}
.infonice-color-picker:visited,
.infonice-color-picker:active,
.infonice-color-picker:focus {
  background-color: #ccc;
}
.infonice-color-picker.down {
  background-color: #aaa;
}
.infonice-color-picker > div,
.infonice-color-picker > span,
.infonice-color-picker > button,
.infonice-color-picker > select,
.infonice-color-picker > input {
  vertical-align: middle;
}
.infonice-color-picker .caret {
  display: inline-block;
  width: 0px;
  height: 0px;
  margin-left: 3px;
  border-top: 3px solid;
  border-right: 3px solid transparent;
  border-left: 3px solid transparent;
}
.infonice-color-picker-previewblock {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0;
}
.infonice-color-picker-txt-value {
  width: 80px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.infonice-color-picker-previewarea {
  padding: 4px;
}
.infonice-color-picker-previewarea > div,
.infonice-color-picker-previewarea > span,
.infonice-color-picker-previewarea > button,
.infonice-color-picker-previewarea > select,
.infonice-color-picker-previewarea > input {
  vertical-align: middle;
  margin-right: 2px;
}
.infonice-color-picker-palettearea {
  width: 195px;
  height: 159px;
  padding: 0px;
}
.infonice-color-picker-buttonarea {
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content: flex-end;
  padding: 4px;
}
.infonice-color-picker-buttonarea > button {
  margin-right: 4px;
}
.infonice-color-picker-buttonarea > button:last-of-type {
  margin-right: 0;
}
.infonice-btn-popup {
  position: relative;
  width: 32px;
  height: 32px;
  background-color: #ccc;
  border: 1px solid #999;
}
.infonice-btn-popup:hover,
.infonice-btn-popup:active {
  position: relative;
  width: 32px;
  height: 32px;
  background-color: #ccc;
  border: 1px solid #999;
}
.infonice-btn-popup.down {
  background-color: #aaa;
}
.infonice-popup-button {
  float: left;
  width: 32px;
  height: 32px;
  background-color: #ccc;
  border: 1px solid #999;
}
.infonice-popup-button:hover {
  border: 1px solid #ccc;
}
.infonice-popup {
  position: absolute;
  z-index: 10000;
  background-color: ButtonFace;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.infonice-popup input {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 0;
  background-color: white;
}
.infonice-popup select {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 0;
}
.infonice-popup button {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 0;
}
.infonice-popup-container {
  padding: 8px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: 1px solid #999;
}
.infonice-color-mainarea {
  padding: 4px;
}
.infonice-length-editor-text {
  padding: 0px;
  width: 60px;
  height: 22px;
  margin-right: 4px;
  border: 0;
}
.infonice-length-editor-text.error {
  border: solid 1px red;
}
.infonice-length-editor-select {
  padding: 0px;
  width: 60px;
  height: 22px;
  margin-right: 4px;
}
.infonice-color-picker-colorblock {
  display: inline-block;
  margin: 4px 0px 4px 2px;
  width: 18px;
  height: 18px;
  border: 1px solid transparent;
}
.infonice-color-picker-colorblock:hover {
  border: 1px solid #999;
}
.infonice-color-picker-transparent {
  background-position: 0px 0px, 15px 15px;
  background-image: linear-gradient(45deg, #999 25%, transparent 25%, transparent 75%, #999 75%, #999), linear-gradient(45deg, #999 25%, transparent 25%, transparent 75%, #999 75%, #999);
  background-size: 10px 10px;
  background-color: #f8f8f8;
}
.infonice-color-picker-hexcolorblock:hover {
  stroke: #a0d5dc;
  stroke-width: 1px;
}
.infonice-color-picker-hexcolorblock.selected {
  stroke: black;
  stroke-width: 1px;
}
.infonice-binder-header {
  background-color: #4b4b4b;
  color: #ccc;
}
.infonice-preview-block {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid gray;
  background-color: pink;
}
.infonice-category-item-container > div,
.infonice-category-item-container > span,
.infonice-category-item-container > button,
.infonice-category-item-container > select,
.infonice-category-item-container > input {
  margin: 4px 0 0 4px;
  vertical-align: middle;
}
.infonice-data-binder {
  display: inline-block;
  padding: 0;
  width: 26px;
  height: 26px;
  margin-right: 0;
  background-repeat: no-repeat;
  background-origin: padding-box;
  background-position: center;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAJCAYAAAA7KqwyAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAPBJREFUeNqMkS0SglAUhXlgsdm0yQ50BxKNuAI1msRkckRcgCwBmyarCZFklB1ItGnDhOc6hxmGMXBnvrmPd/8e96g8zzWxzXZrwrXWq9VdqxhiLbh+8Y2cqDgraYAEV+5LNQsk+Sy24U6Vnm/gSo6hDEMSlwwkoAkiazC4ycU1jjtwI/BkXIE2GCKWKNfzchZP0THQahheJUPnINVL/1WrmLkOj1291NWu24BL/VkD7MEYBFymqGASH9NeJZVkiEXEUmngUKIe2P0Z6NJPKkqJOcYlDDNs88AtiwIpt32UF0CNjGo8qMCH8Rled/4KMABWWVaBVs6MKgAAAABJRU5ErkJggg==);
}
.infonice-data-binder:hover {
  /*background-position: -1px -1px;*/
  /*border: 1px solid slateblue;*/
}
.infonice-data-binder:active {
  /*background-position: -1px -1px;*/
  /*border: 1px solid slateblue;*/
}
.infonice-data-binder.selected {
  padding: 0;
  width: 25px;
  height: 25px;
  margin-right: 0;
  background-repeat: no-repeat;
  background-origin: padding-box;
  background-position: center;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAJCAYAAADU6McMAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAPhJREFUeNpsUtENgjAULIR/GYEN6AY6ghuIE+gCRKEDiBswAhuIG5QNYAOdAO+SQxviS442713vXR+N5nk2jMq5M5YU8MSlLEflMyx71XZAD4yot0YRXeuapA7IzS8qoBEO5n8MFIXYK8GmlcCkvZGbPhAe1MjIUaEamxQU2apYQLUPrkDSm1dZ8l+bzlHwIZdFHNT8stE8joAFXjjUhCISfUvQxrqGkbWQ2GqgPHACeRc4YX4jnk90+EZrVGVnce1C1ExS1P3qBzz5iaFEkbuSuWa0lQBdVuBQMFsJTBqwiYJ3kqm71Xz4FvxqoFZvhW47/l7mPwIMAE9UYCeS4mT1AAAAAElFTkSuQmCC);
}
.infonice-data-binder.selected:hover {
  /*background-position: -1px -1px;*/
  /*border: 1px solid slateblue;*/
}
.infonice-data-binder.selected:active {
  /*background-position: -1px -1px;*/
  /*border: 1px solid slateblue;*/
}
.infonice-category-item-title {
  display: inline-block;
  width: 110px;
  padding-left: 8px;
  color: #777;
}
.infonice-measure-item-title {
  display: inline-block;
  width: 110px;
  padding-left: 8px;
  color: #777;
}
.infonice-measure-item-x {
  margin-left: 8px;
  display: inline-block;
  padding: 0;
  width: 24px;
  height: 28px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJlJREFUeNpi/P//PwMpgMXPz88BSG8AYodNmzZdwKYIqMYASB0A4gAmoKIDUA0HoBK4FG8AqWUCCQIZCdg0oSkGqWFgRPYDUMECkLUg50GFUBRjaEDSFAzlrkVWDAJMWPw4AYjZoHgCuiS6k+BuhgoFoIceEy4P4goIJlyhgSv0GH19fbEqxhIQYOfBnLQAl2Ikm0CaGAACDADLC1tj5PEpuAAAAABJRU5ErkJggg==);
  background-repeat: no-repeat;
  background-position: center;
}
.infonice-measure-container {
  padding-top: 4px;
  padding-left: 5px;
}
.infonice-measure-item-container {
  margin-top: 4px;
}
.infonice-measure-item-container > * {
  vertical-align: middle;
}
.infonice-button-area {
  /*background-color: #999;*/
}
.infonice-btn-ok {
  width: 50px;
  height: 24px;
  padding: 0;
  font-size: 14px;
  font-weight: normal;
  margin: 2px 0 2px 2px;
  cursor: pointer;
  background-color: transparent;
}
.infonice-btn-apply {
  width: 50px;
  height: 24px;
  border: solid 1px #aaa;
  padding: 0;
  font-size: 14px;
  font-weight: normal;
  margin: 2px 0 2px 2px;
  cursor: pointer;
  background-color: transparent;
}
.infonice-binder-title {
  padding-left: 6px;
  color: #ccc;
  font-weight: bold;
  font-size: 11px;
}
.infonice-category-container {
  padding-top: 4px;
  padding-left: 5px;
}
.infonice-binder-content {
  margin: 8px 0 0 8px;
  color: #777;
}
.infonice-image-picker-previewblock {
  display: inline-flex;
  width: 16px;
  height: 16px;
  margin: 0;
  align-items: center;
  -ms-align-content: center;
  -webkit-align-content: center;
  align-content: center;
}
.infonice-empty-message {
  margin: 6px 0 0 8px;
}
.infonice-file-importer {
  position: relative;
}
.infonice-file-importer-btn {
  display: inline-block;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  /*background-color: transparent;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAYVJREFUeNpi/P//PwMu4LDqWwCQAmEHIJZHk34IxAeAeMOBMK4NuMxgxGYB0GCQgQuwGIoLgCxLAFp0AF2CCYvhE4DUfmyG87AygjEWAFK7H6oXtwVABSBX5+NyZoIOKxjjAflQMzAtgNoej0unBDcjQ4gqCxiD2HhAPLJPmJDCPB+frkozdqxsPD5xQPbBAnyqDcSYGfRFEaEJYoPECACwmYz2K7+CkuF6fCpX+nAyiHOhBsvLb/8Zwrd8J2RJIBM0neMECdqsGIaDAEgMJEcABDBBMxFWAEqSoWosOHWD5HAkW3jaYcKXmXIMWRm48RgAkgOpwQPkmXDJqAgwMXgosBDMwiA1ILW4AE4T7nz4B0q+cD6wGEDP8USVIUwMNAZM0IKKVuAhE7TIpRU4ALJgAw0t2MAErSxoEUwPQWbDIjmBBhYkwFMRtCaaSEXDJ8JqNyakdF4ApBbi0vH193+sbCxgIdQszHwAlEjA5ZPJ53+DDQZhEBuPyxPoWukz0rrZAhBgAFqfg6+3SEeTAAAAAElFTkSuQmCC");
    background-position: center center;
    background-repeat: no-repeat;*/
  left: 0;
  top: 0;
  background-color: #999;
  width: 90px;
  height: 26px;
  font-size: 12px;
  text-align: center;
  line-height: 26px;
}
.infonice-file-importer-popup {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 28px;
  font-size: 12px;
  z-index: 10000;
  padding: 8px;
  background-color: #e1e1e1;
  border: 1px solid #999;
}
.infonice-file-importer-popup * {
  margin: 4px;
}
.infonice-file-uploader {
  display: inline-block;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  /*background-color: transparent;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAYVJREFUeNpi/P//PwMu4LDqWwCQAmEHIJZHk34IxAeAeMOBMK4NuMxgxGYB0GCQgQuwGIoLgCxLAFp0AF2CCYvhE4DUfmyG87AygjEWAFK7H6oXtwVABSBX5+NyZoIOKxjjAflQMzAtgNoej0unBDcjQ4gqCxiD2HhAPLJPmJDCPB+frkozdqxsPD5xQPbBAnyqDcSYGfRFEaEJYoPECACwmYz2K7+CkuF6fCpX+nAyiHOhBsvLb/8Zwrd8J2RJIBM0neMECdqsGIaDAEgMJEcABDBBMxFWAEqSoWosOHWD5HAkW3jaYcKXmXIMWRm48RgAkgOpwQPkmXDJqAgwMXgosBDMwiA1ILW4AE4T7nz4B0q+cD6wGEDP8USVIUwMNAZM0IKKVuAhE7TIpRU4ALJgAw0t2MAErSxoEUwPQWbDIjmBBhYkwFMRtCaaSEXDJ8JqNyakdF4ApBbi0vH193+sbCxgIdQszHwAlEjA5ZPJ53+DDQZhEBuPyxPoWukz0rrZAhBgAFqfg6+3SEeTAAAAAElFTkSuQmCC");
    background-position: center center;
    background-repeat: no-repeat;*/
  left: 0;
  top: 0;
  background-color: #999;
  width: 90px;
  height: 26px;
  font-size: 12px;
}
.infonice-file-uploader:hover {
  background-color: #aaa;
}
.infonice-file-uploader > div {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 0;
  text-align: center;
  line-height: 26px;
}
.infonice-file-uploader-input {
  cursor: pointer;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  font-size: 500px;
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
.infonice-visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.infonice-visuallyhidden.focusable:active,
.infonice-visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.infonice-popup-menu {
  list-style: none;
  text-indent: 0;
  margin: 0;
  padding: 0;
  border: 1px solid #999;
}
.infonice-popup-menu-item > a {
  display: block;
  padding: 4px;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 11px;
  color: #333;
}
.infonice-popup-menu-item > a:hover {
  background-color: #a0d5dc;
}
.infonice-popup-menu-item > a:visited {
  background-color: #a0d5dc;
}
.infonice-popup-menu-item > a:active {
  background-color: #a0d5dc;
}
.infonice-switch-button > input {
  visibility: hidden;
}
.infonice-switch-button-container {
  position: relative;
  top: -6px;
}
.infonice-switch-button-state {
  position: absolute;
  top: -7px;
  font-size: 11px;
  color: #777;
}
.infonice-switch-button {
  width: 30px;
  height: 2px;
  background: #808080;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 2px;
  position: relative;
  margin-left: 42px;
  margin-top: 12px;
}
.infonice-switch-button label {
  top: -6px;
  left: -3px;
  width: 34px;
  height: 18px;
  cursor: pointer;
  position: absolute;
}
.infonice-switch-button span {
  display: block;
  width: 14px;
  height: 14px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  position: absolute;
  top: -6px;
  left: -3px;
  background: #808080;
}
.infonice-switch-button input[type=checkbox]:checked + span {
  left: 17px;
}
.infonice-ui-page {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.infonice-header-panel {
  display: flex;
  flex-direction: column;
}
.infonice-header-panel-header {
  flex-grow: 0;
}
.infonice-header-panel-content {
  flex-grow: 1;
  position: relative;
}
.infonice-fill-parent {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
/***********************************************************/
/*********************InfoNice Styles End*******************/
/***********************************************************/

