html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.loading-screen {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  box-sizing: border-box;
}
.loading-screen #loadingScreen {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.loading-screen .header-section {
  display: flex;
  flex-direction: column;
}
.loading-screen .header-section .header-image {
  align-self: center;
  max-width: 100%;
}
.loading-screen .information {
  background-color: #f8f4f4;
  padding: 20px;
}
.loading-screen .information .title {
  display: flex;
  justify-content: center;
}
.loading-screen .information .title .title-title {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
}
.loading-screen .information .info-cards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}
@media (max-width: 768px) {
  .loading-screen .information .info-cards-container {
    justify-content: center;
  }
}
.loading-screen .information .info-cards-container .info-card {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #fff;
  padding: 10px;
  align-items: center;
  justify-content: center;
  transition: background-color 500ms ease;
  box-sizing: border-box;
  flex: 1 1 250px;
  max-width: 300px;
  min-width: 200px;
  margin-bottom: 40px;
}
.loading-screen .information .info-cards-container .info-card:hover {
  background-color: #f8941c;
  cursor: pointer;
}
.loading-screen .information .info-cards-container .info-card:hover button {
  background-color: #fff;
  color: #f8941c;
}
.loading-screen .information .info-cards-container .info-card:hover button::after {
  content: '→';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  transition: 1s all ease-in-out;
}
.loading-screen .information .info-cards-container .info-card:hover button span {
  visibility: hidden;
}
.loading-screen .information .info-cards-container .info-card .info-card-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.loading-screen .information .info-cards-container .info-card .info-card-content .info-card-image {
  max-width: 100px;
  width: auto;
  height: auto;
  flex-shrink: 1;
}
.loading-screen .information .info-cards-container .info-card .info-card-content p {
  max-width: 350px;
  text-align: left;
  margin: 0 5px;
}
.loading-screen .information .info-cards-container .info-card button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #f8941c;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 500ms ease, color 500ms ease;
  text-align: center;
  overflow: hidden;
}
.steps-header {
  display: flex;
  justify-content: center;
  margin: 15px;
}
.steps-header .steps-title {
  background-color: #f8941c;
  color: white;
  padding: 0px 15px;
  border-radius: 10px;
}
.step-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
  padding-top: 50px;
  text-align: center;
  position: relative;
  box-sizing: border-box;
}
.step-section .step-number {
  position: absolute;
  top: -40px;
  right: 70%;
}
.step-section .step-number .step-label {
  color: #fff;
  background-color: #587c94;
  padding: 2px 15px;
  border-radius: 5px;
  width: 70px;
}
.step-section .step-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.step-section .step-content .step-image {
  max-width: 50%;
  height: auto;
  object-fit: contain;
}
.step-section .step-content .step-desc {
  max-width: 300px;
  text-align: center;
}


