p {
  font-size: 20px;
  font-weight: bold;
}
p em {
  background: yellow;
  padding: 5px;
}
svg {
  /* font-size: 8px;
    border:1px solid black;*/
  -webkit-font-smoothing: antialiased;
}
text {
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}
rect.background {
  fill: none;
  pointer-events: all;
}
rect:hover {
  fill-opacity: 1;
}
.rtPropText {
  font-family: Arial;
  font-size: 11px;
  font-weight: normal;
  color: #666;
}
#chartDiv_plotAreamenuDiv table {
  background-color: white !important;
}
.bar {
  fill: #4572a7;
  /*cursor:pointer;*/
  fill-opacity: 0.7;
}
.barSelected {
  fill: maroon;
}
.barNoDrill {
  fill: #4572a7;
  fill-opacity: 0.7;
}
.x {
  width: 20px;
}
.tick {
  fill: none;
  stroke: #666;
}
.tick text {
  stroke-width: 0!important;
}
.barMargin {
  margin: 5px;
}
.pvToolTip {
  position: absolute;
  height: auto;
  z-index: 99999;
}
.pvToolTip p div h4 {
  font-family: Arial !Important;
}
.cToolTip {
  position: fixed;
  height: auto;
}
line.tick {
  stroke: #666;
  stroke-width: 1;
  fill: none;
  opacity: 0.5;
}
g.negativePartition line {
  stroke: #666;
  stroke-width: 1;
  fill: none;
  opacity: 0.5;
}
.hidden {
  display: none;
  z-index: 99999;
}
.brush .extent {
  fill: steelblue;
  fill-opacity: 0.125;
}
.brush .resize path {
  fill: #eee;
  stroke: #666;
}
.arc path {
  stroke: #fff;
}
.backNavigation {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
  fill: #666;
}
path.domain {
  fill: none;
  shape-rendering: crispEdges;
  opacity: 0.5;
}
.path {
  stroke: steelblue;
  stroke-width: 2;
  fill: none;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}
.tick {
  fill: none;
  shape-rendering: crispEdges;
}
.circle {
  fill: #fa1321;
}
.circleHover {
  fill: #4cff00;
}
circle.hover {
  fill: #4cff00;
}
.circleScatterPlot {
  stroke: black;
  fill: white;
}
.circleScatterPlotHover {
  stroke: black;
  fill: red;
}
circleScatterPlot.hover {
  stroke: black;
  fill: white;
}
.areaChartCircle {
  fill: #fa1321;
  opacity: 0;
}
.areaChartCircleHover {
  fill: #fa1321;
  opacity: 1;
}
.pathHover {
  stroke: #4cff00;
  fill: none;
  stroke-width: 3px;
  opacity: 1;
}
table.HierarichalDataTable {
  min-width: 100px;
  min-height: 100px;
  border-collapse: collapse;
  border-left: 1px solid #909090;
  border-top: 1px solid #909090;
  border-right: 1px solid #909090;
  border-bottom: 1px solid #909090;
  table-layout: fixed;
}
.HierarichalDataTable th div {
  padding-left: 12px;
}
th.col {
  border-top: 1px solid #909090;
  background: #f9f9f9;
  text-align: left;
  color: black;
}
.col_null {
  background: #909090;
}
.row {
  border-top: 1px solid #909090;
  background: #f9f9f9;
}
.HierarichalDataTable th.row_header {
  border-top: 1px solid #909090;
  border-bottom: 1px solid #909090;
  border-left: 1px solid #909090;
  border-right: 1px solid #909090;
  text-align: left;
  vertical-align: top;
  padding: 4px;
  border-bottom: 1px solid #d5d5d5;
  background: #0165b1;
  font-size: smaller;
  font-weight: normal;
  color: white;
}
.HierarichalDataTable th.col_header {
  border-top: 1px solid #909090;
  border-bottom: 1px solid #909090;
  border-left: 1px solid #909090;
  border-right: 1px solid #909090;
  text-align: justify;
  vertical-align: top;
  padding: 4px;
  border-bottom: 1px solid #d5d5d5;
  background: #0165b1;
  font-size: smaller;
  font-weight: normal;
  /*color: black;*/
}
th.row_null {
  background: #f9f9f9;
  border-top: 1px solid #909090;
  border-bottom: 1px solid #909090;
  min-width: 17px;
}
.HierarichalDataTable td.data {
  border-left: 1px solid #909090;
  border-top: 1px solid #909090;
  border-right: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
  font-size: smaller;
  /*overflow-wrap:normal;*/
  /*word-break: break-all;*/
  /*white-space: nowrap;*/
  color: black;
  padding: 0px 3px 3px 3px;
}
td.align_rigth {
  text-align: right;
}
.heirarchal-table-summary-col {
  background-color: #6d93e5;
  font-size: smaller;
  font-weight: normal;
  color: white;
}
.heirarchal-table-summary-row {
  background-color: #6d93e5;
  font-size: smaller;
  font-weight: normal;
  color: white;
}
.heirarichal-table-summary-cell {
  background-color: #F1F4F9;
  font-size: smaller;
  font-weight: normal;
  color: white;
}
td.align_reft {
  text-align: left;
}
tr.d0 td {
  background-color: #E3E7E8;
  /*#CED3D6color: black;*/
}
tr.d0 th {
  background-color: #E3E7E8;
  /*color: black;*/
}
tr.d1 td {
  background-color: #9999CC;
  /*color: black;*/
}
.cellHover:hover {
  background-color: #dadad7;
}
div.scrollWrapper {
  float: left;
  overflow: visible !important;
  overflow: scroll;
  height: 150px;
}
table.scrollable {
  width: 450px;
  margin-right: 0 !important;
  margin-right: 16px;
  border-collapse: separate;
}
.hieararchaltable_image {
  width: 10px;
  /*height: 12px;*/
  float: left;
  cursor: pointer;
}
table.scrollable th {
  border-top: 1px solid #999999;
  border-left: 1px solid #999999;
  border-bottom: 1px solid #999999;
  padding: 5px;
  background: #f7f7f7;
  position: relative;
}
table.scrollable tbody {
  height: 150px;
  overflow: auto;
}
table.scrollable tr {
  height: 0px;
}
table.scrollable td {
  border-left: 1px solid #999999;
  border-bottom: 1px solid #999999;
  text-align: center;
}
.show-all-col-dimensions {
  float: right;
  margin-top: 1px;
  vertical-align: top;
  cursor: pointer;
}
.show-all-row-dimensions {
  float: left;
  margin-bottom: 1px;
  vertical-align: bottom;
  cursor: pointer;
}
.arrow-up {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  margin-bottom: 3px;
  border-bottom: 4px solid gray;
}
.arrow-down {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid gray;
}
.arrow-up-selected {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  margin-bottom: 3px;
  border-bottom: 4px solid black;
}
.arrow-down-selected {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid black;
}
/*Hierachal table CSS*/
.wcG text:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
  cursor: pointer;
}
/* CSS for osgraph widget */
.osgraph text.label {
  fill: #000000;
  cursor: pointer;
}
.osgraph line {
  stroke: #000000;
  /*stroke-dasharray: 1 2;*/
}
.osgraph g.in rect.bar {
  fill: #d72335;
}
.osgraph g.in text.number {
  fill: #d72335;
}
/* fill path in Area chart */
.area {
  fill: steelblue;
}
/* CSS for brush */
.brush .extent {
  stroke: #fff;
  fill-opacity: 0.125;
  /*shape-rendering: crispEdges;*/
}
.enableDisableBrushText {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
  fill: #666;
}
.brush .resize path {
  fill: #eee;
  stroke: #666;
}
.my-class-table {
  background-color: #0165b1;
  color: white;
}
.tablewiget tr:nth-child(even) td {
  background-color: #D0DBF2;
}
.tablewiget tr:nth-child(odd) td {
  background-color: white;
}
.tablewiget tbody tr td {
  text-align: center;
}
.tablewiget thead tr th {
  background-color: #3B5999;
  color: white;
}
table.tablewiget tr.even td.sorting_1 {
  background-color: #D0DBF2;
  padding: 2px 2px 2px 2px;
}
table.tablewiget tr.odd td.sorting_1 {
  background-color: white;
  padding: 2px 2px 2px 2px;
}
/*Css for Sankey Chart*/
.node rect {
  cursor: pointer;
  fill-opacity: 0.9;
  /*shape-rendering: crispEdges;*/
}
.node text {
  pointer-events: none;
  text-shadow: 0px 0px 0px;
  /*font-weight:bold;*/
}
.nodeMoveAble rect {
  cursor: pointer;
  fill-opacity: 0.9;
  /*shape-rendering: crispEdges;*/
  min-height: 5px;
  min-width: 5px;
}
.nodeMoveAble text {
  pointer-events: none;
  text-shadow: 0px 0px 0px;
  /*font-weight:bold;*/
}
.nodeHoverClass {
  stroke: #fa1321;
}
.link {
  fill: none;
  stroke: #000;
  /*stroke-opacity: .5;*/
}
.opacityOver {
  stroke-opacity: 0.8;
}
.link:hover {
  stroke-opacity: 0.7;
}
.linkHide {
  fill: none;
  stroke: #000;
  stroke-opacity: 0;
}
.divLable_Left span {
  display: block;
}
#dvChartComp_divLable_Left span {
  display: block;
}
#dvChartComp_divLable_Right span {
  display: block;
}
#dvChart_divLable_Right span {
  display: block;
}
.nodetreemap {
  border: 1px solid white;
  /*font: 10px/12px sans-serif;*/
  overflow: hidden;
  position: absolute;
  /*text-indent: 2px;*/
}
.filledPositiveHover {
  /*fill: #93ec93;*/
  fill: black;
}
.filledNeutralHover {
  fill: #7a7979;
}
.filledNegitiveHover {
  fill: #fc7272;
}
.divSparkLine {
  margin-top: -450px;
  margin-left: 20px;
  background: #fff;
  z-index: 5000000;
}
.tblSparkLine {
  width: 780px;
  /*height:450px;*/
  /*margin-top:-450px;
    margin-left:20px;*/
  /*background:#dcdcdc;*/
  border-collapse: collapse;
  z-index: 5000000;
}
.tblSparkLine td {
  border-bottom: 1px solid black !important;
}
.tblSparkLine thead tr td {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  /*border-bottom: 1px solid #fff;*/
}
.tblSparkLine tbody tr td {
  height: 40px;
  border: 0px;
  font-size: 10px;
  /*border-bottom: 1px solid #fff;*/
  text-align: center;
}
.paggerInput {
  background-repeat: repeat-x !important;
  border: 1px solid #DDDDDD !important;
  color: #333333 !important;
  padding: 5px 3px !important;
  font-size: 11px !important;
  font-family: Tahoma, Arial, Helvetica, sans-serif !important;
}
/*Hierarchical Grid CSS Start*/
.hrtable {
  /*border: 2px solid transparent;*/
  border-bottom: 0px none;
  border-spacing: 0px;
}
.hrtable thead tr {
  /*background:#3b5999;
color:#fff;
font-family:Arial;*/
  /*font-size:12px;*/
  height: 25px;
}
.hrtable tr td {
  border-right: 1px solid #d5d5d5;
  padding: 0 5px 0 5px;
  /*font-family:Arial;
font-size:12px;*/
}
.hrtable tr td:first-child {
  border-right: 0px solid #d5d5d5;
  padding: 0px 0 0 5px;
  /*padding:3px 0 0 5px;*/
}
.hrtable tr td:last-child {
  border-right: 0px solid #d5d5d5;
  padding: 0 5px 0 5px;
}
.hrtable tfoot tr td {
  padding: 0 0 0 0;
}
.even td {
  padding: 0 0 0 0 !important;
}
.even {
  background-color: #eee;
}
.hrtable tbody {
  overflow-y: scroll;
}
.hrtable tbody tr td {
  vertical-align: middle;
}
.hrtableChild tr td {
  padding: 0 0 0 5px !important;
}
.hrtableChild tfoot tr td {
  padding: 0 0 0 0 !important;
}
pando {
  cursor: pointer;
  width: 10px;
  background-repeat: no-repeat;
  background-position: center;
}
.expandoo {
  cursor: pointer;
  width: 10px;
  background-repeat: no-repeat;
  background-position: center;
}
.pager {
  /*background:#3b5999;*/
  width: 100%;
  height: 22px;
  color: #fff;
  text-align: center;
  vertical-align: bottom;
  /*margin-top:2px;*/
  margin-bottom: 2px;
}
.pager select {
  float: left;
  margin-top: 3px;
  width: 48px;
  margin-left: 2px;
  height: 18px;
  font-size: 12px !important;
  padding: 0 0 0 0 !important;
}
.pager .pagerInfo {
  cursor: default;
  /*line-height: 1.9;
                font-size: 10px;*/
  width: 50%;
  text-align: left;
  padding-left: 5px;
  max-width: 155px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: table-cell;
  float: none;
  vertical-align: middle;
  height: 25px;
}
.pagerControls {
  float: right;
  /*border: 1px solid #fff;177width*/
  width: auto;
  height: 18px;
  margin-top: -18px;
  /*margin-right:-4px;*/
}
.pagerControls span {
  cursor: pointer;
  float: left;
  /*font-size: 10px;*/
  font-family: arial;
  margin-right: 11px;
  /*color: #fff;*/
  font-weight: bold;
  pointer-events: all;
}
.pagerControls .N {
  margin-left: 0px;
  max-width: 22px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
/*.hrtable tbody,thead {
    display:block;
    margin:0;
}

.hrtable tbody {
    height:auto;
    overflow-y:scroll;
    overflow-x:hidden;
}

.hrtable tbody tr td {
width:1%;

}*/
.hrtableChild {
  margin-bottom: 8px !important;
}
.hrtableChild thead tr {
  height: 18px;
}
/*.hrtable thead tr th {
width:1%;

}*/
.sortingNotationDesc {
  display: inline-block;
  border-top: 4px solid #5c5b5b;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  /*position: absolute;*/
  margin: 5px 0 0 5px;
}
.sortingNotationAsc {
  display: inline-block;
  border-bottom: 4px solid #5c5b5b;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  margin: 5px 0 0 5px;
}
.firstDisable {
  color: gray !important;
  cursor: default !important;
  pointer-events: none !important;
}
.previousDisable {
  color: gray !important;
  cursor: default !important;
  pointer-events: none !important;
}
.nextDisable {
  color: gray !important;
  cursor: default !important;
  pointer-events: none !important;
}
.lastDisable {
  color: gray !important;
  cursor: default !important;
  pointer-events: none !important;
}
.showInfo {
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.draggable {
  cursor: move;
}
.settingsMenu {
  border: 1px solid gray;
  width: 250px;
  height: auto;
  background-color: white;
}
.settingsMenuHeader {
  background-color: lightgray;
  padding: 4px;
}
.group {
  font-size: 12px;
  margin: 5px;
}
.groupHeader {
  border-bottom: 1px solid gray;
  margin-bottom: 5px;
  font-size: 14px;
  font-family: Arial;
}
.runtimeProp {
  font-size: 13px;
  font-family: arial;
  padding-left: 7px;
}
.mainBody {
  overflow-y: hidden;
}
.mainBody:hover {
  overflow-y: auto;
}
.table-search.dataTable {
  margin: 0 auto;
  clear: both;
  height: 20%;
}
.table-search.dataTable tbody tr td {
  text-align: left;
  margin-left: 5px;
  padding-left: 9px !important;
  padding-right: 5px;
  font-size: small;
}
.table-search.dataTable thead th {
  padding: 3px 18px 3px 10px;
  font-size: small;
  background-color: #ffffff;
  text-align: center;
  height: 18px;
  text-align: left;
  border: none;
  cursor: default;
}
.table-search.dataTable tbody tr {
  background-color: #eff4ff;
  text-align: center;
  height: 30px;
  font-size: 14px;
  font-weight: normal;
  color: #3b5999;
  text-align: left;
}
.table-search.dataTable tfoot th {
  padding: 3px 18px 3px 10px;
  border-top: 1px solid black;
  font-weight: bold;
}
.table-search.dataTable td.center,
.table-search.dataTable td.dataTables_empty {
  text-align: center;
}
.table-search.dataTable tr.odd {
  background-color: #f8f8f8;
}
.table-search.dataTable tr.even {
  background-color: #ffffff;
}
.table-search.dataTable tr.odd td.sorting_1 {
  background-color: #f8f8f8;
}
.table-search.dataTable tr.odd td.sorting_2 {
  background-color: #f8f8f8;
}
.table-search.dataTable tr.odd td.sorting_3 {
  background-color: #f8f8f8;
}
.table-search.dataTable tr.even td.sorting_1 {
  background-color: #ffffff;
}
.table-search.dataTable tr.even td.sorting_2 {
  background-color: #ffffff;
}
.table-search.dataTable tr.even td.sorting_3 {
  background-color: #ffffff;
}
.dataTables_wrapper {
  position: relative;
  clear: both;
  *zoom: 1;
}
.dataTables_length {
  float: left;
  padding-bottom: 5px;
  margin-top: 7px;
  margin-left: 6px;
}
.dataTables_filter {
  float: right;
  text-align: right;
  margin-top: 7px;
  margin-right: 8px;
}
.dataTables_info {
  clear: both;
  float: left;
  margin-left: 6px;
}
.table-search.dataTable th:active {
  outline: none;
}
.table-search.dataTable th {
  background-color: #c6d3f0;
}
.dataTables_scroll {
  clear: both;
}
.dataTables_scrollBody {
  *margin-top: -1px;
  height: 100px;
  -webkit-overflow-scrolling: touch;
  border-bottom: 1px solid #B8B8B8;
}
.list1,
.list2,
.list4,
.list7 {
  width: 25%;
  float: left;
}
.list1 ul li,
.list2 ul li,
.list4 ul li,
.list7 ul li {
  list-style: none;
}
.list1 ul li h3,
.list2 ul li h3,
.list4 ul li h3,
.list7 ul li h3 {
  text-align: center;
  height: 16px;
  width: 16px;
  margin-top: 9px;
  margin-left: 7px;
  border: 1px solid #e2e2e2;
}
.chord {
  fill-opacity: 0.67;
}
path.arc {
  fill: transparent;
}
.node {
  font-size: 10px;
}
.node:hover {
  fill: #1f77b4;
}
.link {
  fill: none;
  stroke-opacity: 0.9;
  pointer-events: none;
}
.link.source,
.link.target {
  stroke-opacity: 1;
  stroke-width: 2px;
}
.node.target {
  fill: #d62728 !important;
}
.link.source {
  stroke: #d62728;
}
.node.source {
  fill: #2ca02c;
}
.link.target {
  stroke: #2ca02c;
}
.product {
  font-family: Calibri;
  font-size: 14px;
  color: #45B7EB;
  float: left;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #eae9e9;
}
.product0,
.middleDiv0 {
  background-color: #ecf6ee;
}
.product1,
.middleDiv1 {
  background-color: #fdecec;
}
.product2,
.middleDiv2 {
  background-color: #ffedd0;
}
.product3,
.middleDiv3 {
  background-color: #e9e4ee;
}
.product4,
.middleDiv4 {
  background-color: #f8e9d5;
}
.middleDiv > div {
  border: 1px solid #eae9e9;
}
.middleDiv0 > div {
  border: 1px solid #2bb23e;
  -webkit-box-shadow: #FFFFFF 0px 0px 2px inset;
  -moz-box-shadow: #FFFFFF 0px 0px 2px inset;
  box-shadow: #FFFFFF 0px 0px 2px inset;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-color: #58b083;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#A0D5AB), to(#58B083));
  background-image: -webkit-linear-gradient(top, #A0D5AB, #58B083);
  background-image: -moz-linear-gradient(top, #A0D5AB, #58B083);
  background-image: -ms-linear-gradient(top, #A0D5AB, #58B083);
  background-image: -o-linear-gradient(top, #A0D5AB, #58B083);
  background-image: linear-gradient(to bottom, #A0D5AB, #58B083);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#A0D5AB, endColorstr=#58B083);
}
.middleDiv1 > div {
  border: 1px solid #fe9f9f;
  -webkit-box-shadow: #FFFFFF 0px 0px 2px inset;
  -moz-box-shadow: #FFFFFF 0px 0px 2px inset;
  box-shadow: #FFFFFF 0px 0px 2px inset;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-color: #ec7f7f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fbd1d1), to(#ec7f7f));
  background-image: -webkit-linear-gradient(top, #fbd1d1, #ec7f7f);
  background-image: -moz-linear-gradient(top, #fbd1d1, #ec7f7f);
  background-image: -ms-linear-gradient(top, #fbd1d1, #ec7f7f);
  background-image: -o-linear-gradient(top, #fbd1d1, #ec7f7f);
  background-image: linear-gradient(to bottom, #fbd1d1, #ec7f7f);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#fbd1d1, endColorstr=#ec7f7f);
}
.middleDiv2 > div {
  border: 1px solid #ffa70f;
  -webkit-box-shadow: #FFFFFF 0px 0px 2px inset;
  -moz-box-shadow: #FFFFFF 0px 0px 2px inset;
  box-shadow: #FFFFFF 0px 0px 2px inset;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-color: #ffa303;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffc467), to(#ffa303));
  background-image: -webkit-linear-gradient(top, #ffc467, #ffa303);
  background-image: -moz-linear-gradient(top, #ffc467, #ffa303);
  background-image: -ms-linear-gradient(top, #ffc467, #ffa303);
  background-image: -o-linear-gradient(top, #ffc467, #ffa303);
  background-image: linear-gradient(to bottom, #ffc467, #ffa303);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ffc467, endColorstr=#ffa303);
}
.middleDiv3 > div {
  border: 1px solid #a88dc4;
  -webkit-box-shadow: #FFFFFF 0px 0px 2px inset;
  -moz-box-shadow: #FFFFFF 0px 0px 2px inset;
  box-shadow: #FFFFFF 0px 0px 2px inset;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-color: #8e79a5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ccc0d9), to(#8e79a5));
  background-image: -webkit-linear-gradient(top, #ccc0d9, #8e79a5);
  background-image: -moz-linear-gradient(top, #ccc0d9, #8e79a5);
  background-image: -ms-linear-gradient(top, #ccc0d9, #8e79a5);
  background-image: -o-linear-gradient(top, #ccc0d9, #8e79a5);
  background-image: linear-gradient(to bottom, #ccc0d9, #8e79a5);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ccc0d9, endColorstr=#8e79a5);
}
.middleDiv4 > div {
  border: 1px solid #d4a665;
  -webkit-box-shadow: #FFFFFF 0px 0px 2px inset;
  -moz-box-shadow: #FFFFFF 0px 0px 2px inset;
  box-shadow: #FFFFFF 0px 0px 2px inset;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-color: #9b7f5f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f3d4ac), to(#9b7f5f));
  background-image: -webkit-linear-gradient(top, #f3d4ac, #9b7f5f);
  background-image: -moz-linear-gradient(top, #f3d4ac, #9b7f5f);
  background-image: -ms-linear-gradient(top, #f3d4ac, #9b7f5f);
  background-image: -o-linear-gradient(top, #f3d4ac, #9b7f5f);
  background-image: linear-gradient(to bottom, #f3d4ac, #9b7f5f);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f3d4ac, endColorstr=#9b7f5f);
}
.SCORE .text,
.TOPICS_BY_SCORE .text,
.TOPICS_OVER_TIME .text,
.SENTIMENT_OVER_TIME .text {
  font-family: Calibri;
  font-size: 14px;
  color: #FFFFFF;
}
.TOPIC_COMPARISON,
.SENTIMENT_COMPARISON,
.RATING_COMPARISON,
.TOPIC_SPECTRA {
  border: 1px solid #25a7d8;
  -webkit-box-shadow: #FFFFFF 0px 0px 2px inset;
  -moz-box-shadow: #FFFFFF 0px 0px 2px inset;
  box-shadow: #FFFFFF 0px 0px 2px inset;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-color: #25a7d8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#78cbfd), to(#39b0e5));
  background-image: -webkit-linear-gradient(top, #78cbfd, #39b0e5);
  background-image: -moz-linear-gradient(top, #78cbfd, #39b0e5);
  background-image: -ms-linear-gradient(top, #78cbfd, #39b0e5);
  background-image: -o-linear-gradient(top, #78cbfd, #39b0e5);
  background-image: linear-gradient(to bottom, #78cbfd, #39b0e5);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#78cbfd, endColorstr=#39b0e5);
}
.TOPIC_COMPARISON span,
.SENTIMENT_COMPARISON span,
.RATING_COMPARISON span,
.TOPIC_SPECTRA span {
  font-family: Calibri;
  font-size: 14px;
  color: #FFFFFF;
  padding-left: 10px;
}
.force_node text.shadow {
  stroke: #fff !important;
  stroke-width: 3px;
  stroke-opacity: 0.8;
}
#info {
  position: absolute;
  background: #fff;
  background: -webkit-linear-gradient(top, #fff, #ccc, #fff);
  font-family: Verdana, sans-serif;
  font-size: 10pt;
  padding: 3pt;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border: thin solid #aaa;
  border-radius: 6px;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}
#info.hidden {
  display: none;
}
.gridsquare {
  margin: 0px;
  /*outline: 1px solid black;*/
  display: block;
  float: left;
  background: #FFFFFF;
}
#tooltipContainer {
  line-height: 1 !important;
  text-align: left !important;
}
.multiAxisLine-tooltip-container {
  font-family: Calibri;
  font-size: 12px;
  background-color: #FFFFFF;
  box-shadow: #d8d8d8 0px 4px 10px;
  pointer-events: none;
  position: absolute;
  padding: 3px 10px 4px 10px;
  z-index: 999;
}
path.slice {
  stroke-width: 2px;
}
polyline {
  opacity: 0.5;
  stroke: black;
  stroke-width: 2px;
  fill: none;
}
.cls-1 {
  fill: #fff;
}
.cls-2 {
  fill: #fff;
}
.cls-1x {
  fill: #fff;
}
.cls-2x {
  fill: #fff;
}
.cls-3 {
  fill: #117865;
}
.cls-4 {
  stroke: #828282;
  stroke-width: 2px;
}
.cls-4,
.cls-5,
.cls-6,
.cls-7,
.cls-8,
.cls-9 {
  fill: none;
}
.cls-4,
.cls-8,
.cls-9,
.cls-10,
.cls-11 {
  stroke-miterlimit: 10;
}
.cls-5,
.cls-6,
.cls-7 {
  stroke-linecap: round;
  stroke-linejoin: round;
}
.cls-5,
.cls-7 {
  stroke: #000;
}
.cls-12,
.cls-10,
.cls-11 {
  fill: #f3f2f1;
}
.cls-6 {
  stroke-width: 5px;
}
.cls-6,
.cls-9 {
  stroke: #117865;
}
.cls-7 {
  stroke-width: 1.7px;
}
.cls-13 {
  fill: #8a8886;
}
.cls-8 {
  stroke: #8a8886;
  stroke-width: 2.5px;
}
.cls-10 {
  filter: url(#drop-shadow-2);
}
.cls-10,
.cls-11 {
  stroke: #e4e3e1;
}
.cls-14 {
  fill: #ffb50e;
}
.cls-15 {
  fill: #e1dfdd;
}
.cls-11 {
  filter: url(#drop-shadow-1);
}
.cls-16 {
  fill: #cecdcb;
}
.cls-17 {
  fill: red;
}
.cls-18 {
  fill: #d2d0ce;
}
.st0 {
  fill: #F3F2F1;
}
.st1 {
  fill: none;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.st2 {
  fill: #D2D0CE;
}
.st3 {
  fill: #117865;
}
.st4 {
  fill: none;
  stroke: #8A8886;
  stroke-width: 2.5;
  stroke-miterlimit: 10;
}
.st5 {
  fill: #F5F4F2;
}
.st6 {
  fill: #8A8886;
}
.st7 {
  enable-background: new    ;
}
.st8 {
  fill: none;
  stroke: #000000;
  stroke-width: 1.7;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.st9 {
  fill: none;
  stroke: #117865;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.st10 {
  fill: #E1DFDD;
}
.st11 {
  fill: none;
  stroke: #828282;
  stroke-width: 2;
  stroke-miterlimit: 10;
}
.st12 {
  fill: #F3F2F1;
  stroke: #E4E3E1;
  stroke-miterlimit: 10;
}
.st13 {
  fill: #FFFFFF;
}
.st14 {
  fill: #CECDCB;
}
.st15 {
  fill: none;
  stroke: #117865;
  stroke-miterlimit: 10;
}
.st16 {
  fill: #FFB50E;
}
.st17 {
  fill: #FF0000;
}

